/* CSS declarations go here */
body {
  display: block;
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

/* DropDown Space*/
.el-popper[x-placement^='bottom'] {
  margin-top: 5px !important;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

// Changelog
.changelog {
  div {
    h1 {
      border-bottom: 1px solid #eaecef;
    }
    ul {
      li {
        color: #606266;
      }
    }
  }
}

/* Login Form*/
.login-textbox {
  .el-input__inner {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: none;
    color: #ffffff;
  }
}

/* Element Dropdown */
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

// Icon
.el-icon-caret-bottom {
  font-size: 12px;
}

.icon-white {
  color: white;
}

.header-item-margin {
  margin-left: 15px;
}

/* Element textarea font */
.el-textarea__inner {
  font-size: 12px;
}

// Fieldset
fieldset {
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #606266;
  font-size: 14px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 22px;
  padding: 10px 15px;
}

fieldset legend {
  color: #606266;
  font-weight: 500;
}

/* Soft Remove*/
.soft-remove {
  color: #f56c6c;
  text-decoration: line-through;
}

/* Custom Select Opt*/
.custom-select-opts-left {
  float: left;
}

.custom-select-opts-right {
  float: right;
  color: #8492a6;
  font-size: 12px;
  font-style: italic;
}

/* Action Dropdown */
.soft-remove-action {
  color: #f56c6c;
  /* background-color: #fdf6ec; */
}

.restore-action {
  color: #409eff;
}

.remove-action {
  color: #f56c6c;
}

// Fix Collapse-List Width
.el-container {
  flex-basis: 0 !important;
}

// Table Toolbar
.table-toolbar {
  margin-bottom: 10px;
}

// Text Style
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

// Text bold
.text-bold {
  font-weight: bold;
}

// Text italic
.text-italic {
  font-style: italic;
}

// Link
a.page-link {
  color: #409eff;
  text-decoration: none;
}
a.page-link:hover {
  text-decoration: underline;
}

// AG Grid: Header Alignment
.ag-theme-balham .ag-header-cell-label {
  display: inline !important;
}
.ag-theme-balham .ag-header-cell-label > span {
  float: none !important;
}
.ag-theme-balham .ag-header-cell-label span {
  height: 33% !important;
}
