@laptop: ~'only screen and (min-width: 1025px) and (max-width: 1367px)';
@tablet: ~'only screen and (min-width: 720px) and (max-width: 1025px)';

/* Restaurant Style */
// Home

.home-tab {
  .el-tabs__header {
    margin: 0;
  }
}

// Change vertical-align in el-upload
.ul-upload > .el-upload-list--picture-card {
  vertical-align: unset;
}
// change width-height color picker
.custom-color-picker > .el-color-picker__trigger {
  height: 50px !important;
  width: 50px !important;
}
.ul-upload > .el-upload--picture-card {
  width: 100px;
  height: 100px;
}

/*  ==========
          Sale scss
    =========
*/

// Invoice tab
.invoice-tab > .el-tabs__header {
  width: calc(~'100% - 130px');
  padding-top: 5px;
  position: relative;
  z-index: 1000;
  left: 110px;
  background: #fff;
  border-bottom: 1px solid #b0bec5 !important;
  @media (max-width: 1025px) {
    width: calc(~'100% - 120px');
    padding-top: 5px;
    left: 105px;
  }

  .el-tabs__new-tab {
    height: 25px;
    position: relative;
    width: 25px;
    line-height: 20px;
    font-size: 25px;
    border-width: 2px;
    border-color: #9e9e9e;
    color: #14a76c;
    margin: 5px 5px 5px 5px;
  }
  .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav {
    border: 1px solid #b0bec5;
    border-left: 0;
    border-bottom: 0;
    .el-tabs__item {
      border-left: 1px solid #b0bec5;
    }
  }
}
.invoice-tab > .el-tabs__header .el-tabs__item.is-active {
  text-decoration: none;
}
.invoice-tab
  > .el-tabs__header
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav
  > .el-tabs__item {
  height: 35px;
  line-height: 35px;
  @media (max-width: 1025px) {
    padding: 0 10px;
    font-size: 12px;
  }
}

// Display none button close when hover
.invoice-tab > .el-tabs__header .el-tabs__item > .el-icon-close {
  width: 15px !important;
  margin-left: 0px !important;
  width: 17px !important;
  height: 15px !important;
  color: red !important;
  font-size: 17px !important;
  @media (max-width: 1025px) {
    // top: -2px !important;
  }
}

.invoice-tab
  > .el-tabs__new-tab
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav
  > .el-tabs__item.is-active:hover
  .el-icon-close {
  display: inline-block !important;
}
.invoice-tab > .el-tabs__header .el-tabs__item.is-closable:hover {
  padding-left: 20px !important;
  padding-right: 20px !important;
  @media (max-width: 1025px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.invoice-tab > .el-tabs__header > .el-tabs__nav-wrap > {
  .el-tabs__nav-prev {
    width: 30px;
    line-height: 25px;
    i {
      height: 100%;
      line-height: 35px;
      font-size: 30px;
    }
  }

  .el-tabs__nav-next {
    width: 30px;
    line-height: 25px;
    i {
      height: 100%;
      line-height: 35px;
      font-size: 30px;
    }
  }

  .el-tabs__nav-scroll {
    margin: 0 7px 0 7px;
    @media (max-width: 1025px) {
      margin: 0 10px 0 10px;
    }
  }
}

// Category Tab
.category-tab
  > .el-tabs__header
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav
  > .el-tabs__item {
  height: 30px;
  line-height: 30px;
  font-size: 14px;

  @media (max-width: 1025px) {
    font-size: 12px;
    padding: 0 15px;
    height: 25px;
    line-height: 25px;
  }
}
.category-tab > .el-tabs__header {
  // overflow-x: auto;
  .el-tabs__nav-wrap {
    &::after {
      height: 1px;
      background-color: #b0bec5;
    }
    .el-tabs__nav-prev {
      width: 30px;
      height: 25px;
      line-height: 25px;
      i {
        height: 100%;
        line-height: 25px;
        font-size: 25px;
      }
    }
  }

  .el-tabs__nav-next {
    width: 30px;
    height: 25px;
    line-height: 25px;
    i {
      height: 100%;
      line-height: 25px;
      font-size: 25px;
    }
  }

  .el-tabs__nav-scroll {
    overflow-x: auto;
    margin: -3px 7px 0 7px;
    @media (max-width: 1025px) {
      margin: 0 10px 0 10px;
    }
  }
}
// Search
.search-panel > .el-input > {
  .el-input__inner {
    height: 30px;
    border: 1px solid #b0bec5;
    line-height: 1px;
    @media (max-width: 1025px) {
      font-size: 12px;
      height: 25px;
      line-height: 25px;
      padding-left: 20px;
      padding-right: 5px;
    }
  }
  .el-input__prefix {
    @media (max-width: 1025px) {
      left: 0;
    }
    .el-input__icon {
      line-height: 25px;
      width: 20px;
    }
  }
}

// Feature
.customer-change-popover {
  border: 1px solid #409eff !important;
  .popper__arrow {
    border-top-color: #409eff !important;
  }
  .customer-change-select {
    .el-input {
      input {
        border: 1px solid #409eff !important;
      }
    }
  }
}

/*  ==========
          Sale Table scss
    =========
*/
.order-table .sale-table-header {
  th {
    @media (max-width: 1025px) {
      padding: 3px !important;
    }
    .cell {
      font-size: 14px;
      color: #3e4144 !important ;

      @media (max-width: 1025px) {
        font-size: 12px;
        padding: 0;
      }
    }
  }
  .el-table-column--selection {
    .cell {
      padding: 0 !important;
      padding-left: 10px !important;
    }
  }
}

// sale cell table padding
.order-table .sale-cell-table {
  cursor: pointer;
  td {
    padding: 0 0 !important;
    @media (max-width: 1025px) {
      padding: 0 !important;
    }
    .cell {
      padding-left: 2px !important;
      padding: 5px 5px 5px 2px;
      @media (max-width: 1025px) {
        padding: 3px 3px 0px 1px !important;
      }
    }
  }
  .el-table-column--selection {
    .cell {
      padding: 0 !important;
      padding-left: 9px !important;
      @media (max-width: 1025px) {
        padding-left: 12px !important;
      }
    }
  }
}

.table-card .el-card__body {
  padding: 0;
}
.rest-card .el-card__body {
  padding: 0;
}
// Check print exist
.order-table .disabled-row {
  cursor: not-allowed;
  td {
    background: rgba(243, 243, 242, 0.5) !important;
    padding: 0 !important;
  }
  .cell {
    padding-left: 2px !important;
    padding: 5px 5px 5px 2px;
    @media (max-width: 1025px) {
      padding: 3px 3px 0px 1px !important;
    }
  }
  .el-table-column--selection {
    .cell {
      padding: 0 !important;
      padding-left: 9px !important;
      @media (max-width: 1025px) {
        padding-left: 12px !important;
      }
    }
  }
}
.order-table {
  border-bottom: 1px solid #14a76c !important;
  position: relative;
  overflow: auto;
}

/*  ==========
          Print Table scss
    =========
*/
.el-table .header-row-table-invoice th {
  padding: 0 !important;
  .cell {
    // text-align: center !important;
    font-weight: bold !important;
    color: #000 !important ;
    padding: 0 !important;
    font-size: 12px !important;
  }
}

.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.el-table {
  .cell-table-invoice {
    .cell {
      text-align: right !important;
    }
  }
  .cell-table-invoice-center {
    .cell {
      text-align: center !important;
    }
  }
}

.el-table .row-table-invoice td {
  padding: 0 !important;
  .cell {
    color: #333 !important;
    padding: 0 3px !important;
    font-size: 13px !important;
  }
}
.table-panel {
  .table-btn {
    span {
      word-wrap: break-word;
      line-height: 15px;
      vertical-align: middle;
      white-space: normal;
    }
  }
}
// Receipt Dialog
.receipt-dialog {
  .el-dialog {
    width: 50% !important;
    @media (max-width: 1025px) {
      width: 70% !important;
    }
    .el-dialog__body {
      @media (max-width: 1025px) {
        padding-top: 10px !important;
      }
    }
  }
}

// Popover background in sale form
.popover-customer {
  background-color: #f3f6f9;
}

// Discount input in sale form

.discount-input .el-input input {
  height: 24px;
  border-radius: 15px;
  border: 1px solid #14a76c;
}

// Sale receipt
.right-side .el-form-item {
  @media @laptop {
    margin-bottom: 10px !important;
  }

  @media @tablet {
    margin-bottom: 3px !important;
  }
  .el-form-item__label {
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    @media @tablet {
      font-size: 13px;
      line-height: 30px;
    }
  }

  .el-form-item__content {
    @media @tablet {
      line-height: 17px;
    }
  }
}

.input .el-input {
  .el-input__inner {
    color: #196fd2;
    font-size: 15px;
    border: 1px solid;
    border-color: rgba(30, 126, 229, 0.3);
    background-color: rgba(30, 126, 229, 0.05);
    &:focus {
      border-color: #1d82e7;
      color: #196fd2;
    }
    @media (max-width: 1025px) {
      height: 25px;
    }
  }
}

.input {
  .el-input__inner {
    color: #196fd2;
    font-size: 13px;
    border: 1px solid;
    border-color: rgba(30, 126, 229, 0.3);
    background-color: rgba(30, 126, 229, 0.05);
    &:focus {
      border-color: #1d82e7;
      color: #196fd2;
    }
    @media (max-width: 1025px) {
      height: 25px !important;
    }
  }
  .el-input__prefix {
    .el-input__icon {
      @media (max-width: 1025px) {
        line-height: 17px !important;
      }
    }
  }
}

.feature-btn {
  .el-card__body {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

// Product form

.product-dialog {
  .el-dialog {
    margin-top: 10vh !important;
    width: 65%;
    @media (max-width: 1025px) {
      margin-top: 5vh !important;
      width: 70%;
    }
  }
}

// Purchase form
.purchase-payment-dialog {
  .el-dialog {
    margin-top: 10vh !important;
    width: 65%;
    @media (max-width: 1025px) {
      margin-top: 5vh !important;
      width: 70%;
    }
  }
}

.invoice-tab > .el-tabs__header > .el-tabs__nav-wrap .el-tabs__nav-scroll {
  margin: 0 !important;
  .el-tabs__nav {
    .el-tabs__item {
      &:hover {
        color: #14a76c;
      }
    }
    .is-active {
      color: #14a76c;
    }
  }
}
.category-tab
  > .el-tabs__header
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav {
  .el-tabs__item:last-child {
    padding-right: 0px !important;
  }
  .el-tabs__item {
    &:hover {
      color: #14a76c;
    }
  }
  .is-active {
    color: #14a76c;
  }
  .el-tabs__active-bar {
    background-color: #14a76c;
  }
}
.category-tab
  > .el-tabs__header
  > .el-tabs__nav-wrap
  > .el-tabs__nav-scroll
  > .el-tabs__nav
  > .el-tabs__item:nth-child(2) {
  padding-left: 0px !important;
}

// Scroll

.vb {
  .vb-dragger {
    min-height: 15px !important;
    z-index: 5;
    width: 10px;
    right: 0px;
    cursor: pointer;
    .vb-dragger-styler {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotate3d(0, 0, 0, 0);
      transform: rotate3d(0, 0, 0, 0);
      -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out,
        height 100ms ease-out;
      transition: background-color 100ms ease-out, margin 100ms ease-out,
        height 100ms ease-out;
      margin: 5px 5px 5px 0;
      border-radius: 20px;
      display: block;
      margin: 0px;
      height: 100%;
      margin: 0px;
      background-color: rgba(20, 167, 108, 0.2);
    }
  }
}
.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(20, 167, 108, 0.9);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(20, 167, 108, 0.9);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(20, 167, 108, 0.9);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(20, 167, 108, 0.9);
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  @media @tablet {
    width: 6px;
    height: 5px;
  }
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(20, 167, 108, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 20px;
  background-color: rgba(20, 167, 108, 0.3);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 3px;
  background-color: rgba(20, 167, 108, 0.3);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(20, 167, 108, 0.6);
}

.avatar-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409eff;
    }
  }
  .el-upload-list {
    width: 100px !important;
    li {
      transition: none;
    }
  }
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  line-height: 100px !important;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  display: block;
}

.data-upload {
  .el-upload-list {
    width: 360px !important;
    li {
      transition: none;
    }
  }
}

.card-content {
  .el-card__body {
    padding: 15px;
  }
}

.user-avatar-upload {
  .el-upload-list {
    display: none;
  }
}
