<template>
  <div class="aside-menu-layout">
    <el-menu
      :default-active="activeMenu"
      text-color="#fff"
      @select="handleMenuSelect"
    >
      <div class="aside-menu-group-title">Blog</div>

      <el-menu-item index="blog.post">
        <i class="fas fa-comments aside-menu-icon"></i>
        <span>Post</span>
      </el-menu-item>
      <el-menu-item index="blog.map">
        <i class="fas fa-map-marker-alt aside-menu-icon"></i>
        <span>Map</span>
      </el-menu-item>
      <el-menu-item index="blog.report">
        <i class="fas fa-print aside-menu-icon"></i>
        <span>Report</span>
      </el-menu-item>

      <el-menu-item index="blog.setting">
        <i class="fas fa-cogs aside-menu-icon"></i>
        <span>Setting</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'AsideMenu',
  props: {
    activeMenu: {
      type: String,
      default: '',
    },
  },
  computed: {
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['blogger'])
    },
  },
  methods: {
    handleMenuSelect(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>