<template>
  <div>
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="70px"
    >
      <el-form-item
        label="Name"
        prop="name"
        class="form-item"
      >
        <el-input v-model="form.name"></el-input>
      </el-form-item>

      <el-form-item
        label="Telephone"
        prop="telephone"
        class="form-item"
      >
        <el-input v-model="form.telephone"></el-input>
      </el-form-item>

      <el-form-item
        label="Address"
        prop="address"
        class="form-item"
      >
        <el-input v-model="form.address"></el-input>
      </el-form-item>
    </el-form>

    <span
      slot="footer"
      style="float:right"
    >
      <el-button
        type="primary"
        @click="submitForm"
      >Save</el-button>
      <el-button @click="handleClosePopup">Cancel</el-button>
    </span>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findOneGuest, insertGuest } from '../../api/guests/methods'

export default {
  name: 'AddCustomer',
  data() {
    return {
      loading: false,
      form: {
        name: '',
        address: '',
        telephone: '',
      },
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    }
  },

  methods: {
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          insertGuest
            .callPromise({ doc: this.form })
            .then(result => {
              if (result) {
                this.loading = false
                this.getCustomer(result)
                this.handleClosePopup()
                Msg.success()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },

    // Get Customer After Insert
    getCustomer(cutomerId) {
      this.loading = true
      findOneGuest
        .callPromise({ selector: { _id: cutomerId } })
        .then(result => {
          if (result) {
            this.$emit('customer-doc', result)
            this.resetForm()
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    handleClosePopup() {
      this.$emit('close-popup')
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style scoped>
.form-item {
  margin-bottom: 20px;
}
</style>
