<template>
  <div :class="hide()">
    <!--Fieldset-->
    <fieldset class="total-fieldset">
      <!--Table List-->
      <legend>{{ $t('rest.setting.title.product') }}:</legend>
      <el-form
        v-loading.body="loading"
        ref="form"
        :model="form"
      >
        <el-table
          :data="form.items"
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column
            :label="$t('rest.formLabel.no')"
            type="index"
            width="40px"
          >
            y</el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.name')"
            prop="productId"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.productId'"
                :prop="'items.' + scope.$index + '.productId'"
                :rules="rules.productId"
                class="form-item"
              >
                <el-select
                  v-model="scope.row.productId"
                  size="mini"
                  filterable
                  placeholder="Select"
                  style="width:100%"
                  @change="handleProductChange(scope.row)"
                >
                  <el-option
                    v-for="item in productList"
                    :key="item.productId"
                    :label="item.name"
                    :value="item.productId"
                    :disabled="item.disabled"
                  ></el-option>
                </el-select>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.price')"
            prop="price"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.price'"
                :prop="'items.' + scope.$index + '.price'"
                :rules="rules.price"
                class="form-item"
              >
                <span>{{ $numeral(scope.row.price).format('0.00') }}</span>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.discountRate')"
            prop="discount"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.discount'"
                :prop="'items.' + scope.$index + '.discount'"
                :rules="rules.discount"
                :controls="false"
                class="form-item"
              >
                <el-input-number
                  v-model="scope.row.discount"
                  :precision="0"
                  :min="0"
                  :max="100"
                  :controls="false"
                  size="mini"
                  style="width:100%"
                  @change="handleDiscountChange(scope.row)"
                ></el-input-number>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.amount')"
            prop="amount"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.amount'"
                :prop="'items.' + scope.$index + '.amount'"
                :rules="rules.amount"
                :controls="false"
                class="form-item"
              >
                <span>{{ $numeral(scope.row.amount).format('0.00') }}</span>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.actions')"
            prop="itemId"
            width="70px"
          >
            <template slot-scope="scope">
              <el-button
                v-if="form.items.length>=2"
                type="text"
                icon="el-icon-delete"
                class="remove-icon"
                @click="removeItem(scope.row)"
              >
              </el-button>
              <el-button
                v-if="(form.items.length - 1) === scope.$index"
                type="text"
                icon="el-icon-circle-plus"
                class="add-icon"
                @click="addItem"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
    </fieldset>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findOneProduct } from '../../api/products/methods'

export default {
  name: 'ProductList',
  props: {
    items: {
      type: Array,
      default: function() {
        return []
      },
    },
    productOpts: {
      type: Array,
      default: function() {
        return []
      },
    },
    hideComponent: {
      type: Boolean,
      default: function() {
        return false
      },
    },
    multiItemDiscount: {
      type: Number,
      default: 0,
    },
    submitEvent: {
      type: Number,
      default: 0,
    },
  },
  data() {
    this.productList = _.cloneDeep(this.productOpts)
    return {
      loading: false,
      removeAction: false,
      productList: [],
      form: {
        items: this.items,
      },
      rules: {
        productId: [{ required: true }],
        price: [{ required: true }],
      },
    }
  },
  computed: {},
  watch: {
    productOpts: {
      handler: function(val) {
        _.forEach(val, o => {
          o.productId = o._id
        })
        this.productList = _.cloneDeep(val)
      },
      deep: true,
    },
    items: {
      handler: function(val) {
        this.form.items = val
        let productOpts = _.cloneDeep(this.productOpts)
        let items = _.cloneDeep(this.form.items)
        this.productList = _.pullAllBy(productOpts, items, 'productId')

        this.$nextTick(() => {
          this.emitToParent()
        })
      },
      deep: true,
    },
    multiItemDiscount(val) {
      this.updateItemDiscount(val)
    },
    submitEvent(val) {
      this.submitForm()
    },
  },
  created() {
    window.addEventListener('keyup', this.handleKeyUp)
  },
  mounted() {},
  destroyed() {
    // remove keyup fuction
    window.removeEventListener('keyup', this.handleKeyUp)
  },
  methods: {
    // Hid component when form type == Invoice
    hide() {
      if (this.hideComponent == true) {
        return 'hide'
      } else {
        return ''
      }
    },
    handleProductChange(row) {
      findOneProduct
        .callPromise({ _id: row.productId })
        .then(result => {
          if (result) {
            row.price = result.price
            row.amount = result.price
            this.handleDiscountChange(row)
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    handleDiscountChange(row) {
      this.$nextTick(() => {
        if (row.discount == undefined) {
          row.discount = 0
        }
        // Calculate discount
        let discountEachPrice = (row.price * row.discount) / 100
        let amountAfterDiscount = row.price - discountEachPrice

        // Assign value to amount
        row.amount = _.round(amountAfterDiscount, 2)
      })
    },
    updateItemDiscount(discount) {
      this.form.items.forEach(o => {
        o.discount = discount
        this.handleDiscountChange(o)
      })
    },
    submitForm() {
      this.$refs.form.validate(valid => {
        this.$emit('submit-form', valid)
      })
    },
    addItem() {
      this.form.items.push({
        productId: '',
        price: 0,
        discount: this.multiItemDiscount,
        amount: 0,
      })
    },
    removeItem(item) {
      const index = this.form.items.indexOf(item)

      if (index !== -1) {
        this.removeAction = index < this.form.items.length - 1 ? true : false

        this.$nextTick(() => {
          this.form.items.splice(index, 1)
          this.emitToParent()
        })
      }
    },
    // On keyup fuction
    handleKeyUp(event) {
      if (this.hideComponent == false) {
        if (event.keyCode == 13 && event.ctrlKey) {
          this.addItem()
        }
      }
    },
    emitToParent() {
      this.$emit('item-change', this.form.items)
    },
  },
}
</script>

<style scoped>
.el-form-item--small.el-form-item {
  margin-bottom: 0px;
}
.form-item {
  margin-bottom: 0px;
}

.hide {
  display: none;
}

.add-icon {
  color: #409eff;
}

.remove-icon {
  color: #f56c6c;
}
</style>
