<template>
  <div>
    <!--Fieldset-->
    <fieldset>
      <!--Table List-->
      <legend>Ingredients:</legend>
      <el-form
        v-loading.body="loading"
        ref="form"
        :model="form"
      >
        <el-table
          :data="form.items"
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column
            :label="$t('rest.formLabel.no')"
            type="index"
            width="40px"
          >
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.name')"
            prop="ingredientId"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.ingredientId'"
                :prop="'items.' + scope.$index + '.ingredientId'"
                :rules="rules.ingredientId"
                class="form-item"
              >
                <el-select
                  v-model="scope.row.ingredientId"
                  filterable
                  size="mini"
                  placeholder="Select"
                  style="width:100%"
                  @change="handleIgrediendChange(scope.row)"
                >
                  <el-option
                    v-for="item in ingredientList"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id"
                    :disabled="item.disabled"
                  ></el-option>
                </el-select>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.quantity')"
            prop="qty"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.qty'"
                :prop="'items.' + scope.$index + '.qty'"
                :rules="rules.qty"
                class="form-item"
              >
                <el-input-number
                  v-model="scope.row.qty"
                  :min="0"
                  controls-position="right"
                  size="mini"
                  style="width:100%"
                  @focus="onFocus"
                  @blur="handleQtyBlur(scope.row)"
                  @change="handleQtyChange(scope.row)"
                ></el-input-number>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.cost')"
            prop="cost"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.cost'"
                :prop="'items.' + scope.$index + '.cost'"
                :rules="rules.cost"
                class="form-item"
              >
                <el-input-number
                  v-model="scope.row.cost"
                  :min="0"
                  :precision="2"
                  :controls="false"
                  size="mini"
                  style="width:100%"
                  @focus="onFocus"
                  @blur="handleCostBlur(scope.row)"
                  @change="handleCostChange(scope.row)"
                ></el-input-number>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.markupValue')"
            prop="markupVal"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.markupVal'"
                :prop="'items.' + scope.$index + '.markupVal'"
                :rules="rules.markupVal"
                class="form-item"
              >
                {{ $numeral( scope.row.markupVal).format('0,0.00') }}
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.amount')"
            prop="amount"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.amount'"
                :prop="'items.' + scope.$index + '.amount'"
                :rules="rules.amount"
                class="form-item"
              >
                {{ $numeral( scope.row.amount).format('0,0.00') }}
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.actions')"
            prop="itemId"
            width="70px"
          >
            <template slot-scope="scope">
              <el-button
                v-if="form.items.length>=1"
                type="text"
                icon="el-icon-delete"
                class="remove-icon"
                @click="removeItem(scope.row)"
              >
              </el-button>
              <el-button
                v-if="(form.items.length - 1) === scope.$index"
                type="text"
                icon="el-icon-circle-plus"
                class="add-icon"
                @click="addItem"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-form>

      <el-button
        v-if="form.items.length==0 "
        type="primary"
        class="btn-add-new"
        icon="el-icon-plus"
        size="mini"
        @click="addItem"
      >Add New</el-button>
    </fieldset>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findOneProduct } from '../../api/products/methods'
export default {
  name: 'IngredientList',
  props: {
    items: {
      type: Array,
      default: function() {
        return []
      },
    },
    ingredientOpts: {
      type: Array,
      default: function() {
        return []
      },
    },
    submitEvent: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      loading: false,
      removeAction: false,
      readOnly: true,
      ingredientList: _.cloneDeep(this.ingredientOpts),
      form: {
        items: this.items,
      },
      rules: {
        ingredientId: [{ required: true }],
        markupVal: [{ required: true }],
        qty: [{ required: true }],
        price: [{ required: true }],
        amount: [{ required: true }],
      },
      value: 0,
    }
  },
  computed: {
    markupVal() {
      let markupVal = 0
      this.items.forEach(o => {
        markupVal += o.markupVal
      })
      return markupVal
    },
    total() {
      let amount = 0
      this.items.forEach(o => {
        amount += parseFloat(o.amount)
      })

      return amount
    },
  },
  watch: {
    ingredientOpts: {
      handler: function(val) {
        this.ingredientList = _.cloneDeep(val)
      },
      deep: true,
    },
    items: {
      handler: function(val) {
        setTimeout(() => {
          this.form.items = val
          this.ingredientList = _.cloneDeep(this.ingredientOpts)
          let items = _.cloneDeep(this.form.items)
          _.forEach(this.ingredientList, o => {
            _.forEach(items, i => {
              if (i.ingredientId == o._id) {
                o.disabled = true
              }
            })
          })
          // Form items
          this.$nextTick(() => {
            this.emitToParent()
          })
        }, 100)
      },

      deep: true,
    },
    submitEvent(val) {
      this.submitForm()
    },
  },
  created() {
    window.addEventListener('keyup', this.handleKeyUp)
  },
  mounted() {},
  destroyed() {
    // remove keyup fuction
    window.removeEventListener('keyup', this.handleKeyUp)
  },
  methods: {
    // Change
    handleIgrediendChange(row) {
      findOneProduct
        .callPromise({ _id: row.ingredientId })
        .then(result => {
          if (result) {
            row.cost = result.cost
            row.markupVal = result.markupVal
            row.originalMarkupVal = result.markupVal
            row.amount = result.price

            this.$nextTick(() => {
              this.amountChange()
            })
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Focus
    onFocus(event) {
      event.target.select()
    },
    // Qty Blur
    handleQtyBlur(row) {
      if (row.qty == undefined) {
        row.qty = 1
      }
    },
    // Qty Change
    handleQtyChange(row) {
      this.$nextTick(() => {
        let markupVal = 0
        for (let i = 0; i < row.qty; i++) {
          markupVal += row.originalMarkupVal
        }
        row.markupVal = markupVal
        row.amount = row.qty * row.cost + row.markupVal
        this.$nextTick(() => {
          this.amountChange()
        })
      })
    },
    // Cost Change
    handleCostBlur(row) {
      if (row.cost == undefined) {
        row.cost = 0
      }
    },
    // Cost change
    handleCostChange(row) {
      this.$nextTick(() => {
        row.amount = row.cost * row.qty + row.markupVal
        this.$nextTick(() => {
          this.amountChange()
        })
      })
    },
    submitForm() {
      this.$refs.form.validate(valid => {
        this.$emit('submit-form', valid)
      })
    },
    // Add Item
    addItem() {
      this.form.items.push({
        ingredientId: '',
        markupVal: 0,
        qty: 1,
        cost: 0,
        amount: 0,
      })
    },
    removeItem(item) {
      const index = this.form.items.indexOf(item)

      if (index !== -1) {
        this.removeAction = index < this.form.items.length - 1 ? true : false

        this.$nextTick(() => {
          this.form.items.splice(index, 1)
          this.emitToParent()
          this.amountChange()
        })
      }
    },
    // On keyup fuction
    handleKeyUp(event) {
      if (event.keyCode == 13 && event.ctrlKey) {
        this.addItem()
      }
    },
    emitToParent() {
      this.$emit('item-change', this.form.items)
    },
    amountChange() {
      this.$emit('item-total', this.total)
    },
  },
}
</script>

<style scoped>
fieldset {
  padding-bottom: 15px;
}
.el-form-item--small.el-form-item {
  margin-bottom: 0;
}
.form-item {
  margin-bottom: 0px;
}

.add-icon {
  color: #409eff;
}

.remove-icon {
  color: #f56c6c;
}
.btn-add-new {
  position: absolute;
  right: 15px;
}
</style>
