<template>
  <div>
    <!--Fieldset-->
    <fieldset class="total-fieldset">
      <!--Table List-->
      <legend>{{ $t('rest.setting.title.product') }}:</legend>
      <el-form
        v-loading.body="loading"
        ref="form"
        :model="form"
      >
        <el-table
          :data="form.items"
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column
            :label="$t('rest.formLabel.no')"
            type="index"
            width="40px"
          >
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.name')"
            prop="productId"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.productId'"
                :prop="'items.' + scope.$index + '.productId'"
                :rules="rules.productId"
                class="form-item"
              >
                <el-select
                  v-model="scope.row.productId"
                  filterable
                  size="mini"
                  placeholder="Select"
                  style="width:100%"
                  @change="handleProductChange(scope.row)"
                >
                  <el-option
                    v-for="item in productList"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id"
                    :disabled="item.disabled"
                  ></el-option>
                </el-select>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.quantity')"
            prop="qty"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.qty'"
                :prop="'items.' + scope.$index + '.qty'"
                :rules="rules.qty"
                class="form-item"
              >
                <el-input-number
                  v-model="scope.row.qty"
                  :min="0"
                  controls-position="right"
                  size="mini"
                  style="width:100%"
                  @focus="onFocus"
                  @change="handleQtyChange(scope.row)"
                ></el-input-number>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.cost')"
            prop="cost"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.cost'"
                :prop="'items.' + scope.$index + '.cost'"
                :rules="rules.cost"
                class="form-item"
              >
                <el-input-number
                  v-model="scope.row.cost"
                  :min="0"
                  :precision="2"
                  controls-position="right"
                  size="mini"
                  style="width:100%"
                  @focus="onFocus"
                  @change="handleCostChange(scope.row)"
                ></el-input-number>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.formLabel.amount')"
            prop="amount"
          >
            <template slot-scope="scope">
              {{ $numeral(scope.row.amount).format('0,0.00') }}
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.actions')"
            prop="itemId"
            width="70px"
          >
            <template slot-scope="scope">
              <el-button
                v-if="form.items.length>=2"
                type="text"
                icon="el-icon-delete"
                class="remove-icon"
                @click="removeItem(scope.row)"
              >
              </el-button>
              <el-button
                v-if="(form.items.length - 1) === scope.$index"
                type="text"
                icon="el-icon-circle-plus"
                class="add-icon"
                @click="addItem"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
    </fieldset>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findOneProduct } from '../../api/products/methods'

export default {
  name: 'ProductList',
  props: {
    items: {
      type: Array,
      default: function() {
        return []
      },
    },
    productOpts: {
      type: Array,
      default: function() {
        return []
      },
    },
    submitEvent: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      loading: false,
      removeAction: false,
      productList: _.cloneDeep(this.ingredientOpts),
      form: {
        items: this.items,
      },
      rules: {
        productId: [{ required: true }],
        qty: [{ required: true }],
        cost: [{ required: true }],
        amount: [{ required: true }],
      },
    }
  },
  computed: {
    total() {
      let total = 0
      this.items.forEach(o => {
        total += o.amount
      })
      return total
    },
  },
  watch: {
    productOpts: {
      handler: function(val) {
        this.productList = _.cloneDeep(val)
      },
      deep: true,
    },
    items: {
      handler: function(val) {
        setTimeout(() => {
          this.form.items = val
          this.productList = _.cloneDeep(this.productOpts)
          let items = _.cloneDeep(this.form.items)
          _.forEach(this.productList, o => {
            _.forEach(items, i => {
              if (i.productId == o._id) {
                o.disabled = true
              }
            })
          })
          // form items
          this.$nextTick(() => {
            this.emitToParent()
          })
        }, 100)
      },
      deep: true,
    },
    submitEvent(val) {
      this.submitForm()
    },
  },
  created() {
    window.addEventListener('keyup', this.handleKeyUp)
  },
  mounted() {},
  destroyed() {
    // remove keyup fuction
    window.removeEventListener('keyup', this.handleKeyUp)
  },
  methods: {
    // Product change
    handleProductChange(row) {
      findOneProduct
        .callPromise({ _id: row.productId })
        .then(result => {
          if (result) {
            row.cost = result.cost
            row.amount = row.qty * row.cost
            this.$nextTick(() => {
              this.totalChange()
            })
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Focus
    onFocus(event) {
      event.target.select()
    },
    // Qrt change
    handleQtyChange(row) {
      this.$nextTick(() => {
        if (row.qty == undefined) {
          row.qty = 1
        }

        row.amount = row.qty * row.cost
        this.$nextTick(() => {
          this.totalChange()
        })
      })
    },
    // Amount change
    handleCostChange(row) {
      this.$nextTick(() => {
        if (row.amount == undefined) {
          row.amount = 0
        }
        row.amount = row.qty * row.cost
        this.$nextTick(() => {
          this.totalChange()
        })
      })
    },
    submitForm() {
      this.$refs.form.validate(valid => {
        this.$emit('submit-form', valid)
      })
    },
    addItem() {
      this.form.items.push({
        productId: '',
        qty: 1,
        cost: 0,
        amount: 0,
      })
    },
    removeItem(item) {
      const index = this.form.items.indexOf(item)

      if (index !== -1) {
        this.removeAction = index < this.form.items.length - 1 ? true : false

        this.$nextTick(() => {
          this.form.items.splice(index, 1)
          this.emitToParent()
          this.totalChange()
        })
      }
    },
    // On keyup fuction
    handleKeyUp(event) {
      if (event.keyCode == 13 && event.ctrlKey) {
        this.addItem()
      }
    },
    emitToParent() {
      this.$emit('item-change', this.form.items)
    },
    totalChange() {
      this.$emit('item-total', this.total)
    },
  },
}
</script>

<style scoped>
.el-form-item--small.el-form-item {
  margin-bottom: 0;
}
.form-item {
  margin-bottom: 0px;
}

.add-icon {
  color: #409eff;
}

.remove-icon {
  color: #f56c6c;
}
</style>
