<template>
  <div>
    <!--Fieldset-->
    <fieldset class="total-fieldset">
      <!--Table List-->
      <legend>Purchases:</legend>
      <el-form
        v-loading.body="loading"
        ref="form"
        :model="form"
      >
        <el-table
          :data="form.items"
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column
            :label="$t('rest.formLabel.no')"
            type="index"
          >
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.purchase')"
            prop="_id"
          >
            <template slot-scope="scope">
              {{ scope.row._id }}
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.openAmount')"
            prop="openAmount"
          >
            <template slot-scope="scope">
              {{ $numeral(scope.row.openAmount).format('0,0.00') }}
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.payAmount')"
            prop="payAmount"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.payAmount'"
                :prop="'items.' + scope.$index + '.payAmount'"
                :rules="rules.payAmount"
                class="form-item"
              >
                <el-input-number
                  v-model="scope.row.payAmount"
                  :min="0"
                  :max="scope.row.openAmount"
                  :precision="2"
                  controls-position="right"
                  size="mini"
                  style="width:100%"
                  @focus="onFocus"
                  @change="handlePayAmountChange(scope.row)"
                ></el-input-number>
              </el-form-item>
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.memo')"
            prop="memo"
          >
            <template slot-scope="scope">
              <el-form-item
                :key="scope.$index + '.memo'"
                :prop="'items.' + scope.$index + '.memo'"
                :rules="rules.memo"
                class="form-item"
              >
                <el-input
                  v-model="scope.row.memo"
                  :placeholder="$t('rest.formLabel.descriptionAboutWaive')"
                  size="mini"
                  style="width:100%"
                ></el-input>
              </el-form-item>
            </template>
          </el-table-column>

        </el-table>
      </el-form>
    </fieldset>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

export default {
  name: 'PurchaseList',
  props: {
    items: {
      type: Array,
      default: function() {
        return []
      },
    },
    purchaseOpts: {
      type: Array,
      default: function() {
        return []
      },
    },
  },
  data() {
    return {
      loading: false,
      removeAction: false,
      form: {
        items: this.items,
      },
      rules: {
        payAmount: [{ required: true }],
      },
    }
  },
  watch: {
    items: {
      handler: function(val) {
        this.form.items = val
        this.$nextTick(() => {
          this.emitToParent()
        })
      },
      deep: true,
    },
  },
  mounted() {},
  methods: {
    // Focus
    onFocus(event) {
      event.target.select()
    },
    handlePayAmountChange(row) {
      if (row.payAmount == undefined) {
        row.payAmount = 0
      }
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    removeItem(item) {
      const index = this.form.items.indexOf(item)

      if (index !== -1) {
        this.removeAction = index < this.form.items.length - 1 ? true : false

        this.$nextTick(() => {
          this.form.items.splice(index, 1)
          this.emitToParent()
        })
      }
    },
    emitToParent() {
      this.$emit('item-change', this.form.items)
    },
  },
}
</script>

<style scoped>
.el-form-item--small.el-form-item {
  margin-bottom: 0;
}
.form-item {
  margin-bottom: 0px;
}

.remove-icon {
  color: #f56c6c;
  text-align: center;
}
</style>
