<template>
  <div>
    <component
      :is="currentModal"
      :visible="modalVisible"
      :select-order-list="selectOrderList"
      :order-doc="orderDoc"
      :general-guest="generalGuestId"
      :employee-id="employeeId"
      :visible-add-customer="true"
      :base-currency="baseCurrency"
      :exchange="exchange"
      :update-total-receipt="true"
      @active-tab="handleActiveTabChange"
      @get-data="handleDataChange"
      @get-guest="handleGuestFind"
      @customer-name="handleCurrentGuestChange"
      @modal-close="handleModalClose"
    >
    </component>

    <div class="left-side">
      <el-row>
        <!-- Items List -->
        <el-col :span="24">
          <el-table
            ref="orderListTable"
            :data="orderList"
            :height="tableHeight"
            :header-row-class-name="tableHeaderRowClassName"
            :row-class-name="tableRowClassName"
            :empty-text="$t('rest.noData')"
            fit
            class="order-table"
            style="width: 100%;"
            @row-click="handleClickRow"
            @selection-change="handleSelectListChange"
          >
            <el-table-column
              :selectable="selectableRow"
              type="selection"
              width="40"
            >
            </el-table-column>

            <el-table-column :label="$t('rest.tableLabel.item')">
              <template slot-scope="scope">
                <!-- Name -->
                <p class="order-name-text">{{ scope.row.itemName }}
                  <!-- If Extra Food -->
                  <span v-if="scope.row.extraItemDoc && scope.row.extraItemDoc.length">
                    <span
                      v-for="item in scope.row.extraItemDoc"
                      :key="item._id"
                    > + {{ item.itemName }}
                    </span>
                  </span>

                  <!-- Qty -->
                  <span
                    :class="{'animateClass': isActive === scope.$index, 'animateClassMultiple':scope.row.animate == true,}"
                    class="order-qty-text"
                  >
                    x{{ scope.row.qty }}
                  </span>
                </p>
                <!-- Price -->
                <span class="order-price-text">{{ $numeral(scope.row.price).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }} {{ baseCurrency.symbol }}</span>
                <!-- Discount -->
                <span class="order-dis-text"> | {{ $t('rest.tableLabel.discount') }}
                  <span class="order-price-text">{{ scope.row.discount }}%</span>
                </span>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.tableLabel.total')"
              fixed="right"
              header-align="right"
              width="110px"
            >
              <template slot-scope="scope">
                <p class="order-amount-text">{{ $numeral(itemAmount(scope.row)).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }} {{ baseCurrency.symbol }}</p>
              </template>
            </el-table-column>
          </el-table>
          <!-- End Table -->
        </el-col>

        <!-- total and  calculate div -->
        <div v-click-outside="handleOutsideDiscount">
          <!-- Total -->
          <div class="order-total-panel">
            <p class="order-total-text">{{ $t('rest.tableLabel.subTotal') }}:&nbsp;
              <span class="sub-total-text">{{ $numeral(subTotal).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }} {{ baseCurrency.symbol }}</span>
            </p>
            <!-- Discount by Persentage -->
            <div class="discount-panel">
              <p class="discount-text">
                {{ $t('rest.sale.dis') }} | %
              </p>
              <el-input-number
                v-model="discountRate"
                :min="0"
                :max="100"
                :controls="false"
                class="discount-input"
                size="mini"
                @change="handleDiscountRateChange"
                @focus="handleDiscountRateFocus"
              ></el-input-number>
            </div>
            <!-- Discount by Value -->
            <div class="discount-panel">
              <p class="discount-text">
                {{ $t('rest.sale.dis') }} | {{ baseCurrency.symbol }}&nbsp;
              </p>
              <el-input-number
                v-model="discountValue"
                :min="0"
                :controls="false"
                :precision="2"
                class="discount-input"
                size="mini"
                @change="handleDiscountValueChange"
                @focus="handleDiscountValueFocus"
              ></el-input-number>
            </div>
            <!-- Final Total -->
            <p class="order-total-text">{{ $t('rest.tableLabel.total') }}:&nbsp;
              <span class="sub-total-text">{{ $numeral(total).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }} {{ baseCurrency.symbol }}</span>
            </p>
          </div>
          <!-- Calculate panel -->
          <el-col
            :span="13"
            class="calculate-panel"
          >
            <!-- start btn -->
            <el-row>
              <el-col
                v-click-outside="handleOutSideCalculate"
                :span="15"
                class="feature-col"
              >
                <el-row>
                  <el-col
                    :span="24"
                    class="calc-wrapper"
                  >
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('1')"
                      >1</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('2')"
                      >2</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('3')"
                      >3</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        :type=" calcType == 'qty' ? 'primary' : 'default'"
                        class="btn-calculate"
                        @click="handleClickCalulateType('qty')"
                      >{{ $t('rest.sale.qty') }}</el-button>
                    </el-col>
                  </el-col>

                  <el-col
                    :span="24"
                    class="calc-wrapper-2"
                  >
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('4')"
                      >4</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('5')"
                      >5</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('6')"
                      >6</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        :type=" calcType == 'dis' ? 'primary' : 'default'"
                        class="btn-calculate"
                        @click="handleClickCalulateType('dis')"
                      >{{ $t('rest.sale.dis') }}</el-button>
                    </el-col>
                  </el-col>

                  <el-col
                    :span="24"
                    class="calc-wrapper-2"
                  >
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('7')"
                      >7</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('8')"
                      >8</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('9')"
                      >9</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        :type=" calcType == 'price' ? 'primary' : 'default'"
                        class="btn-calculate"
                        @click="handleClickCalulateType('price')"
                      >{{ $t('rest.sale.price') }}</el-button>
                    </el-col>

                  </el-col>

                  <el-col
                    :span="24"
                    class="calc-wrapper-2"
                  >
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('.')"
                      >.</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        @click="handleClickCalulateNumber('0')"
                      >0</el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        class="btn-calculate"
                        icon="el-icon-delete"
                        @click="handleClickDelete('delete')"
                      ></el-button>
                    </el-col>
                    <el-col :span="6">
                      <el-button
                        :type=" calcType == 'negative' ? 'primary' : 'default'"
                        class="btn-calculate"
                        @click="handleClickCalulateType('negative')"
                      >-</el-button>
                    </el-col>

                  </el-col>
                </el-row>
              </el-col>

              <!-- end btn -->
              <el-col
                :span="9"
                class="print-col"
              >
                <el-row>
                  <el-col :span="12">
                    <div
                      class="printer-panel border-right"
                      @click="handlePrintToKitchen"
                    >
                      <span class="printer-span ">
                        <i class="fas fa-utensils printer-icon"></i>
                        <p class="printer-text ">{{ $t('rest.sale.chef') }}</p>
                      </span>
                    </div>
                  </el-col>

                  <el-col :span="12">
                    <div
                      class="printer-panel"
                      @click="handlePrintBill"
                    >
                      <span class="printer-span">
                        <i class="fas fa-print printer-icon"></i>
                        <p class="printer-text">{{ $t('rest.sale.print') }}</p>
                      </span>
                    </div>
                  </el-col>
                </el-row>
              </el-col>

              <!-- Receipt -->
              <el-col
                :span="9"
                class="print-col"
              >
                <div
                  class="payment-div underline-from-center"
                  @click="handleSaleReceipt"
                >
                  <div class="payment-icon-wrap">
                    <i class="fas fa-dollar-sign payment-icon"></i>
                    <p class="payment-text">{{ $t('rest.sale.payment') }}</p>
                  </div>
                </div>
              </el-col>
            </el-row>
          </el-col>
        </div>
        <!-- // End -->
      </el-row>
      <!-- // End Payment div -->

      <div class="feature-card">
        <div
          :value="true"
          absolute
          color="transparent"
          class="feature-bottom-nav"
        >

          <button
            class="feature-btn overline-from-center"
            @click="handleMergeOrder"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.merge') }}</span>
              <i class="feature-btn-icon fa fa-sign-in-alt"></i>
            </div>
          </button>

          <button
            class="feature-btn overline-from-center"
            @click="handleTransferOrder"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.transfer') }}</span>
              <i class="feature-btn-icon  fas fa-exchange-alt"></i>
            </div>
          </button>

          <button
            class="feature-btn overline-from-center"
            @click="handleSplitOrder"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.splite') }}</span>
              <i class="feature-btn-icon fas fa-columns"></i>
            </div>
          </button>

          <button
            class="feature-btn  overline-from-center"
            @click="handleChangeTable"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.changeTable') }}</span>
              <i class="feature-btn-icon fas fa-share-square"></i>
            </div>
          </button>

          <button
            class="feature-btn overline-from-center"
            @click="handleGuestCount"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.guest') }}: ({{ numOfGuest }})</span>
              <i class="feature-btn-icon fa fa-users"></i>
            </div>
          </button>

          <el-popover
            v-model="visibleGuestPopup"
            :title="`${$t('rest.sale.customerChange')}`"
            placement="top-start"
            popper-class="customer-change-popover"
            width="auto"
            trigger="click"
          >

            <el-select
              v-model="guestSelected"
              class="customer-change-select"
              filterable
              @change="handleGuestChange"
            >
              <el-option
                v-for="item in guestOpts"
                :key="item._id"
                :label="item.name"
                :value="item._id"
              >
                <span
                  v-if="item.name == 'General'"
                  class="el-icon-star-off customer-label"
                > {{ item.name }}</span>
                <span
                  v-else
                  class="customer-label"
                >{{ item.name }}</span>
              </el-option>
            </el-select>
            <span
              class=" add-new-customer-text"
              @click="handleAddNewCustomer"
            ><i class="fa fa-user-plus"></i> {{ $t('rest.formLabel.new') }}</span>

            <button
              slot="reference"
              class="feature-btn overline-from-center"
            >
              <div class="feature-btn-content">
                <span class="feature-btn-text">{{ $t('rest.sale.customer') }}: ({{ currentGuestName }})</span>
                <i class="feature-btn-icon fas fa-user-circle"></i>
              </div>
            </button>
          </el-popover>

          <button
            class="feature-btn overline-from-center"
            @click="handleCancelCopy"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.cancelAndCopy') }}</span>
              <i class="feature-btn-icon far fa-copy"></i>
            </div>
          </button>

          <button
            class="feature-btn overline-from-center"
            @click="handleCancel"
          >
            <div class="feature-btn-content">
              <span class="feature-btn-text">{{ $t('rest.sale.cancel') }}</span>
              <i class="feature-btn-icon fas fa-trash"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
    <!-- end left -->
  </div>

</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import math from 'mathjs'
import Vue from 'vue'
import vOutsideEvents from 'vue-outside-events'
Vue.use(vOutsideEvents)

// Notify
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Component(s)
import SaleMerge from '../pages/SaleMerge.vue'
import SaleTransfer from '../pages/SaleTransfer.vue'
import SaleSplit from '../pages/SaleSplit.vue'
import SaleTableChange from '../pages/SaleTableChange.vue'
import SaleReceipt from '../pages/SaleReceipt.vue'
import SaleGuestNew from '../pages/SaleGuestNew.vue'
import SaleGuestCount from '../pages/SaleGuestCount.vue'

// Guest methods
import { findGuests } from '../../api/guests/methods'
// Exchange
import { findOneExchange } from '../../../../api/exchanges/methods'

import {
  updateSale,
  updateOnPrint,
  updateSaleDetail,
  removeSaleDetail,
  cancelCopySale,
} from '../../api/sales/methods'

export default {
  name: 'SaleList',
  components: {
    SaleMerge,
    SaleTransfer,
    SaleSplit,
    SaleReceipt,
    SaleGuestNew,
    SaleTableChange,
  },
  props: {
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
    orderList: {
      type: Array,
      default: function() {
        return []
      },
    },
    baseCurrency: {
      type: Object,
      default: function() {
        return {}
      },
    },
    generalGuestId: {
      type: String,
      default: '',
    },
    currentGuestName: {
      type: String,
      default: '',
    },
    employeeId: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      options: {
        height: 'calc(100vh - 390px)',
        size: 7,
      },
      // Animate table
      isActive: null,

      //Check if calculating data
      calculated: false,
      //
      calcValue: '',
      calcType: 'qty',
      negative: false,
      // Value for type = negative
      negativeVal: '',
      // Exchange
      exchange: null,
      // animateRow: '',
      tableHeight: 'calc(100vh - 380px)',
      selectOrderList: [],
      activeTab: '',
      // Model
      currentModal: null,
      modalVisible: false,
      // Discount
      focusDiscount: '',
      discountRate: 0,
      discountValue: 0,
      // Guest
      visibleGuestPopup: false,
      guestSelected: '',
      guestOpts: [],
      guestId: '',
      numOfGuest: 1,

      // remove selection
      removeDoc: [],
      // update
      updateDetail: false,
    }
  },

  // Computed
  computed: {
    // Sub Total
    subTotal() {
      let subTotal = 0
      // Clone list
      let orderList = _.cloneDeep(this.orderList)
      // Foreach
      orderList.forEach(o => {
        subTotal = _.round((subTotal += o.amount), 2)
        // If Extrafood
        if (o.extraItemDoc && o.extraItemDoc.length) {
          o.extraItemDoc.forEach(e => {
            subTotal = _.round((subTotal += e.amount), 2)
          })
        }
      })

      if (this.baseCurrency.base == 'KHR') {
        return _.ceil(subTotal, -2)
      } else {
        return subTotal
      }
    },

    // Total
    total() {
      let total = _.round(this.subTotal - this.discountValue, 2)

      if (this.baseCurrency.base == 'KHR') {
        return _.ceil(total, -2)
      } else {
        return total
      }
    },
  },

  // Watch
  watch: {
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
        this.numOfGuest = val.numOfGuest
        this.getGuests()

        //  Watch Discount
        this.discountRate = val.discountRate
        this.discountValue = val.discountValue
      },
      deep: true,
    },

    orderList: {
      handler: function(val) {
        this.orderList = val
      },
      deep: true,
    },

    selectOrderList: {
      handler: function(val) {
        this.selectItems()
        this.selectOrderList = val
      },
      deep: true,
    },

    baseCurrency: {
      handler: function(val) {
        this.baseCurrency = val
      },
      deep: true,
    },

    currentGuestName(val) {
      this.currentGuestName = val
    },

    employeeId: {
      handler: function(val) {
        this.employeeId = val
      },
      deep: true,
    },

    activeTab: {
      handler: function(val) {
        this.activeTabChange(val)
      },
      deep: true,
    },

    subTotal(val) {
      let discountRate = this.discountRate
      if (discountRate !== 0) {
        this.handleDiscountRateChange(discountRate)
      }
    },

    total(val) {
      this.orderDoc.total = val
    },

    calcValue(val, oldVal) {
      if (this.calcType == 'negative') {
        this.negativeVal = val - oldVal
      }
    },
  },
  // Created
  created() {},

  // Mounted
  mounted() {
    this.getExchange()
  },

  // Methods
  methods: {
    //  Table row total
    itemAmount(row) {
      let newAmount = row.amount
      if (row.extraItemDoc && row.extraItemDoc.length) {
        row.extraItemDoc.forEach(o => {
          newAmount += o.amount
        })
      }
      return newAmount
    },
    // Get guests opts
    getGuests() {
      this.loading = true
      findGuests
        .callPromise({
          selector: { _id: { $ne: this.orderDoc.guestId } },
          options: { sort: { _id: -1 } },
        })
        .then(result => {
          if (result) {
            this.guestOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          // Notify.error({ message: error })
        })
    },

    // Find Exchange
    getExchange() {
      this.loading = true
      findOneExchange
        .callPromise({}, { sort: { _id: -1 }, limit: 1 })
        .then(result => {
          if (result) {
            this.exchange = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          // Notify.error({ message: error })
        })
    },

    // Check row can select
    selectableRow(row) {
      if (row.checkPrint == false) {
        return true
      }
    },

    // Table method
    handleClickRow(row) {
      // check if user clicked calculate button
      if (this.calculated == true) {
        this.handleOutSideCalculate()
        if (row.checkPrint == false) {
          this.$refs.orderListTable.toggleRowSelection(row)
        }
      } else {
        if (row.checkPrint == false) {
          this.$refs.orderListTable.toggleRowSelection(row)
        }
      }
    },

    // Select table change
    handleSelectListChange(val) {
      this.focusDiscount = ''
      this.calcValue = ''
      this.selectOrderList = val
    },

    // When Discount rate is foucing
    handleDiscountRateFocus(event) {
      event.target.select()
      if (this.selectOrderList.length) {
        this.updateDetail = true
      }
      this.$refs.orderListTable.clearSelection()
      this.focusDiscount = 'rate'
    },

    // When Discount value is foucing
    handleDiscountValueFocus(event) {
      event.target.select()
      if (this.selectOrderList.length) {
        this.updateDetail = true
      }
      this.$refs.orderListTable.clearSelection()
      this.focusDiscount = 'amount'
    },

    //  When Discount rate is change
    handleDiscountRateChange(discountRate) {
      this.orderDoc.discountRate = discountRate
      this.$nextTick(() => {
        if (discountRate == undefined) {
          this.discountRate = 0
        }

        this.discountValue = _.floor(
          (this.discountRate * this.subTotal) / 100,
          2
        )

        // Order .value
        this.orderDoc.discountValue = this.discountValue
        let doc = {
          _id: this.orderDoc._id,
          discountRate: this.discountRate,
          discountValue: this.discountValue,
          total: this.total,
        }

        updateSale
          .callPromise({ doc: doc })
          .then(result => {
            if (result) {
              // this.$parent.getOrders()
            }
          })
          .catch(error => {
            // Notify.error({ message: error })
          })
      })
    },

    //  When Discount value is change
    handleDiscountValueChange(discountValue) {
      this.orderDoc.discountValue = discountValue
      this.$nextTick(() => {
        if (discountValue == undefined) {
          this.discountValue = 0
        }
        this.discountRate = 0

        let doc = {
          _id: this.orderDoc._id,
          discountRate: this.discountRate,
          discountValue: this.discountValue,
          total: this.total,
        }

        updateSale
          .callPromise({ doc: doc })
          .then(result => {
            if (result) {
              this.$parent.getOrders()
            }
          })
          .catch(error => {
            // Notify.error({ message: error })
          })
      })
    },
    //  Outside Doscount
    handleOutsideDiscount() {
      this.focusDiscount = ''
    },
    // Outside calculate div
    handleOutSideCalculate() {
      if (
        (this.selectOrderList.length && this.calcValue != '') ||
        this.updateDetail == true
      ) {
        // Update sale details
        let details = _.cloneDeep(this.selectOrderList)
        _.forEach(details, o => {
          o.amount = _.round(o.amount, 2)
        })
        let invoiceData = { _id: this.orderDoc._id, total: this.total }

        updateSaleDetail
          .callPromise({ details, invoiceData })
          .then(result => {
            if (result) {
              this.$parent.getOrders()
            }
          })
          .catch(error => {
            // Notify.error({ message: error })
          })
      }
      this.calcValue = ''
      this.calculated = false
      this.updateDetail = false
      this.removeDoc = []
    },

    // Press button
    handleClickDelete() {
      console.log('hi')
      if (this.calcValue != '') {
        this.calcValue = this.calcValue.slice(0, -1)
      }

      if (this.selectOrderList.length > 0) {
        this.updateDetail = true
        if (this.calcType == 'qty') {
          this.removeLastLenghtOnQty()
        } else if (this.calcType == 'dis') {
          this.removeLastLenghtOnDiscount()
        } else if (this.calcType == 'price') {
          this.removeLastLenghtOnPrice()
        }
      } else if (this.focusDiscount == 'rate') {
        // If discount rate focused
        let convertToString = this.discountRate.toString()
        let slice = convertToString.slice(0, -1)
        let checkLastString = slice[slice.length - 1]

        if (checkLastString == '.') {
          slice = slice.slice(0, -1)
          this.discountRate = slice
          this.calcValue = this.calcValue.slice(0, -1)
        }

        if (slice == '') {
          this.discountRate = 0
          this.handleDiscountRateChange(this.discountRate)
        } else {
          this.discountRate = slice
          this.handleDiscountRateChange(this.discountRate)
        }
      } else if (this.focusDiscount == 'amount') {
        // If discount value focused
        let convertToString = this.discountValue.toString()
        let slice = convertToString.slice(0, -1)
        let checkLastString = slice[slice.length - 1]

        if (checkLastString == '.') {
          slice = slice.slice(0, -1)
          this.discountValue = slice
          this.calcValue = this.calcValue.slice(0, -1)
        }

        if (slice == '') {
          this.discountValue = 0
          this.handleDiscountValueChange(this.discountValue)
        } else {
          this.discountValue = slice
          this.handleDiscountValueChange(this.discountValue)
        }
      }
    },

    // Remvoe last lenght on Qty
    removeLastLenghtOnQty() {
      let selectList = _.clone(this.selectOrderList)
      // Foreach selecet list
      _.forEach(this.selectOrderList, o => {
        let convertToString = o.qty.toString()
        let slice = convertToString.slice(0, -1)

        if (o.qty == 1) {
          this.removeDoc.push(o)
          // Pull array
          this.orderList = _.pull(this.orderList, o)
          selectList = _.pull(selectList, o)

          // call remove
          if (selectList.length == 0) {
            this.deleteDetails(true)
          }
        } else if (slice == '') {
          let qty = 1
          let amountBeforeDiscount = qty * o.price
          let discount = (amountBeforeDiscount * o.discount) / 100

          let amount = _.round(amountBeforeDiscount - discount, 2)

          // Update client data
          o.qty = qty
          o.amount = amount
          // If extra items
          if (o.extraItemDoc && o.extraItemDoc.length) {
            o.extraItemDoc.forEach(e => {
              let discountEachPrice = (e.price * e.discount) / 100
              let priceAfterDiscount = e.price - discountEachPrice

              // Update amount
              e.amount = _.round(qty * priceAfterDiscount, 2)
            })
          }
        } else {
          let qty = parseFloat(slice)
          let amountBeforeDiscount = qty * o.price
          let discount = (amountBeforeDiscount * o.discount) / 100
          let amount = _.round(amountBeforeDiscount - discount, 2)

          // Update client data
          o.qty = qty
          o.amount = amount

          // If extra item
          if (o.extraItemDoc && o.extraItemDoc.length) {
            o.extraItemDoc.forEach(e => {
              let discountEachPrice = (e.price * e.discount) / 100
              let priceAfterDiscount = e.price - discountEachPrice

              // Update amount
              e.amount = _.round(qty * priceAfterDiscount, 2)
            })
          }
        }
      })
      this.selectOrderList = selectList
    },

    // Remvoe last lenght on qty
    removeLastLenghtOnDiscount() {
      let selectList = _.clone(this.selectOrderList)

      _.forEach(this.selectOrderList, o => {
        let convertToString = o.discount.toString()
        let slice = convertToString.slice(0, -1)
        let checkLastString = slice[slice.length - 1]

        if (checkLastString == '.') {
          slice = slice.slice(0, -1)
          o.discount = slice
          this.calcValue = this.calcValue.slice(0, -1)
        }
        if (slice == '') {
          let dis = 0
          let qty = o.qty
          let amountBeforeDiscount = qty * o.price
          let discount = (amountBeforeDiscount * dis) / 100
          let amount = amountBeforeDiscount - discount

          // Update client data
          o.discount = dis
          o.amount = amount
        } else {
          let dis = parseFloat(slice)
          let qty = o.qty
          let amountBeforeDiscount = qty * o.price
          let discount = (amountBeforeDiscount * dis) / 100
          let amount = amountBeforeDiscount - discount

          // Update client data
          o.discount = dis
          o.amount = amount
        }
      })
      this.selectOrderList = selectList
    },

    // Remvoe last lenght on Price
    removeLastLenghtOnPrice() {
      let selectList = _.clone(this.selectOrderList)

      _.forEach(this.selectOrderList, o => {
        let convertToString = o.price.toString()
        let slice = convertToString.slice(0, -1)
        let checkLastString = slice[slice.length - 1]

        if (checkLastString == '.') {
          slice = slice.slice(0, -1)
          o.price = slice
          this.calcValue = this.calcValue.slice(0, -1)
        }

        if (slice == '') {
          let price = 0
          let qty = o.qty
          let amountBeforeDiscount = qty * price
          let discount = (amountBeforeDiscount * o.discount) / 100
          let amount = amountBeforeDiscount - discount

          // Update client data
          o.price = price
          o.amount = amount
        } else {
          let price = parseFloat(slice)
          let qty = o.qty
          let amountBeforeDiscount = qty * price
          let discount = (amountBeforeDiscount * o.discount) / 100
          let amount = amountBeforeDiscount - discount

          // Update client data
          o.price = price
          o.amount = amount
        }
      })
      this.selectOrderList = selectList
    },

    // Remove sale details
    deleteDetails(removeAll = false) {
      this.$nextTick(() => {
        let detail = this.removeDoc
        let invoiceData = { _id: this.orderDoc._id, total: this.total }

        removeSaleDetail
          .callPromise({ detail: detail, invoiceData: invoiceData })
          .then(result => {
            if (result) {
              this.removeDoc = []
              if (removeAll == true) {
                this.$parent.getOrders()
              }
            }
          })
          .catch(error => {
            this.removeDoc = []
            // Notify.error({ message: error })
          })
      })
    },

    // Click Calculate Type
    handleClickCalulateType(type) {
      this.calcType = type
      this.calcValue = ''
    },

    //////////////////
    //    Calulator
    //////////////////
    handleClickCalulateNumber(val) {
      if (this.selectOrderList.length > 0) {
        this.calculated = true
        this.calculatedChange(this.calculated)

        // Plus string
        let firstValue = val
        this.calcValue += firstValue

        // Client update
        if (this.calcType == 'qty') {
          // Update on qty
          this.updateSaleDetailOnQty()
        } else if (this.calcType == 'dis') {
          // Update on discount
          this.updateSaleDetailOnDiscount()
        } else if (this.calcType == 'price') {
          // Update on price
          this.updateSaleDetailOnPrice()
        } else if (this.calcType == 'negative') {
          // Update on negative type
          this.updateSaleDetailOnNegative()
        }
      } else if (this.focusDiscount == 'rate') {
        let firstValue = val
        this.calcValue += firstValue
        this.discountRate = this.calcValue
        this.handleDiscountRateChange(this.discountRate)
      } else if (this.focusDiscount == 'amount') {
        let firstValue = val
        this.calcValue += firstValue
        this.discountValue = this.calcValue
        this.handleDiscountValueChange(this.discountValue)
      }
    },

    // update on qty
    updateSaleDetailOnQty() {
      // convert sting to number

      this.calcValue = parseFloat(this.calcValue)

      if (isNaN(this.calcValue) === true) {
        this.calcValue = 1
      }

      _.forEach(this.selectOrderList, o => {
        let qty = this.calcValue
        let amountBeforeDiscount = qty * o.price
        let discount = (amountBeforeDiscount * o.discount) / 100
        let amount = _.round(amountBeforeDiscount - discount, 2)

        // if extra detail
        if (o.extraItemDoc && o.extraItemDoc.length) {
          o.extraItemDoc.forEach(e => {
            let discountEachPrice = (e.price * e.discount) / 100
            let priceAfterDiscount = e.price - discountEachPrice

            // Update amount
            e.amount = _.round(qty * priceAfterDiscount, 2)
          })
        }
        // Update client data
        o.qty = qty
        o.amount = amount
      })
      this.calcValue = this.calcValue.toString()
    },

    // update on Discount
    updateSaleDetailOnDiscount() {
      this.calcValue = parseFloat(this.calcValue)

      // Check is number == NaN
      if (isNaN(this.calcValue) === true) {
        this.calcValue = 0
      }

      if (this.calcValue > 100) {
        this.calcValue = 100
      }

      _.forEach(this.selectOrderList, o => {
        let qty = o.qty
        let amountBeforeDiscount = math
          .multiply(math.bignumber(qty), math.bignumber(o.price))
          .toNumber()
        // Discount
        let discount = math
          .chain(math.bignumber(amountBeforeDiscount))
          .multiply(math.bignumber(this.calcValue))
          .divide(math.bignumber(100))
          .done()
          .toNumber()
        // Amount
        let amount = amountBeforeDiscount - discount
        // Update client data
        o.discount = this.calcValue
        // Math Round
        o.amount = _.round(amount, 2)
      })

      this.calcValue = this.calcValue.toString()
    },

    // update on Price
    updateSaleDetailOnPrice() {
      let calcValue = parseFloat(this.calcValue)
      if (isNaN(calcValue) === true) {
        calcValue = 0
      }
      // convert sting to number
      _.forEach(this.selectOrderList, o => {
        let qty = o.qty
        let amountBeforeDiscount = math
          .multiply(math.bignumber(qty), math.bignumber(calcValue))
          .toNumber()
        // Discount
        let discount = math
          .chain(math.bignumber(amountBeforeDiscount))
          .multiply(math.bignumber(o.discount))
          .divide(math.bignumber(100))
          .done()
          .toNumber()
        // Amount
        let amount = amountBeforeDiscount - discount
        // Update client data
        o.price = calcValue
        o.amount = _.round(amount, 2)
      })
    },

    // Update on negative
    updateSaleDetailOnNegative() {
      this.calcValue = parseFloat(this.calcValue)

      if (isNaN(this.calcValue) === true) {
        this.calcValue = 0
      }

      // convert string to number
      this.$nextTick(() => {
        if (this.negativeVal == '') {
          this.negativeVal = this.calcValue
        } else {
          this.negativeVal = this.negativeVal
        }

        _.forEach(this.selectOrderList, o => {
          // Check qty
          if (this.negativeVal < o.qty) {
            let qty = o.qty - this.negativeVal
            let amountBeforeDiscount = math
              .multiply(math.bignumber(qty), math.bignumber(o.price))
              .toNumber()
            // Discount
            let discount = math
              .chain(math.bignumber(amountBeforeDiscount))
              .multiply(math.bignumber(o.discount))
              .divide(math.bignumber(100))
              .done()
              .toNumber()

            // Amount
            let amount = amountBeforeDiscount - discount

            // Update client data
            o.qty = qty
            o.amount = _.round(amount, 2)
            // If extra item
            if (o.extraItemDoc && o.extraItemDoc.length) {
              o.extraItemDoc.forEach(e => {
                let discountEachPrice = (e.price * e.discount) / 100
                let priceAfterDiscount = e.price - discountEachPrice
                // Update amount
                e.amount = _.round(qty * priceAfterDiscount, 2)
              })
            }
          }
        })
        this.calcValue = this.calcValue.toString()
      })
    },
    // Header row class
    tableHeaderRowClassName() {
      return 'sale-table-header'
    },
    // Row class for check print true
    tableRowClassName({ row }) {
      if (row.checkPrint == true) {
        return 'disabled-row'
      } else {
        return 'sale-cell-table'
      }
    },

    // handle click print
    handlePrintToKitchen() {
      if (this.selectOrderList.length > 0) {
        this.$router.push({
          name: 'rest.invoiceToKitchen',
          params: {
            orderDoc: this.orderDoc,
            orderList: this.selectOrderList,
            guestId: this.generalGuestId,
          },
        })
      } else {
        Notify.warning({
          message: `${this.$t('rest.messages.noItemTo')} ${this.$t(
            'rest.messages.print'
          )}!`,
        })
      }
    },

    // handle click print
    handlePrintBill() {
      if (this.orderList.length) {
        updateOnPrint
          .callPromise({ _id: this.orderDoc._id })
          .then(result => {
            if (result) {
              this.activeTab = result
              this.$parent.getOrders()

              this.$router.push({
                name: 'rest.invoice',
                params: {
                  orderDoc: this.orderDoc,
                  guestId: this.generalGuestId,
                  exchange: this.exchange,
                  employeeId: this.employeeId,
                  baseCurrency: this.baseCurrency,
                  receiptPrint: false,
                },
              })
            }
          })
          .catch(error => {
            // Notify.error({ message: error })
          })
      } else {
        Notify.warning({
          message: `${this.$t('rest.messages.noItemTo')} ${this.$t(
            'rest.messages.print'
          )}!`,
        })
      }
    },

    // Open Sale receipt
    handleSaleReceipt() {
      if (this.calculated == true) {
        // Let calculate data run first
        this.handleOutSideCalculate()
        // open receipt page
        this.currentModal = SaleReceipt
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else {
        if (this.orderList.length) {
          this.currentModal = SaleReceipt
          this.$nextTick(() => {
            this.modalVisible = true
          })
        } else {
          Notify.warning({
            message: this.$t('rest.messages.invoiceEmpty'),
          })
        }
      }
    },

    //  Open Merge Order
    handleMergeOrder() {
      if (this.orderList.length && this.calculated === false) {
        this.currentModal = SaleMerge
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (this.orderList.length === 0) {
        Notify.warning({
          message: `${this.$t('rest.messages.noItemTo')} ${this.$t(
            'rest.messages.merge'
          )}!`,
        })
      }
    },

    // Open Transfer
    handleTransferOrder() {
      if (this.selectOrderList.length && this.calculated === false) {
        this.currentModal = SaleTransfer
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else {
        Notify.warning({
          message: `${this.$t('rest.messages.noItemSelectTo')} ${this.$t(
            'rest.messages.transfer'
          )}!`,
        })
      }
    },

    // Splite Order
    handleSplitOrder() {
      if (this.selectOrderList.length && this.calculated === false) {
        this.currentModal = SaleSplit
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else {
        Notify.warning({
          message: `${this.$t('rest.messages.noItemSelectTo')} ${this.$t(
            'rest.messages.splite'
          )}!`,
        })
      }
    },

    // Change Table
    handleChangeTable() {
      this.currentModal = SaleTableChange
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Guest Count
    handleGuestCount() {
      this.currentModal = SaleGuestCount
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Guest Change
    handleGuestChange(guestId) {
      let doc = {
        _id: this.orderDoc._id,
        guestId: guestId,
      }

      updateSale
        .callPromise({ doc: doc })
        .then(result => {
          if (result) {
            this.$parent.getOrders()
            this.visibleGuestPopup = false
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },
    handleAddNewCustomer() {
      this.guestSelected = ''
      this.currentModal = SaleGuestNew
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    //  Cancel and Copy
    handleCancelCopy() {
      this.$confirm(
        `${this.$t('rest.tableLabel.invoice')} ${this.orderDoc._id} ${this.$t(
          'rest.messages.willBeCancelAndCopy'
        )}, ${this.$t('rest.messages.askForContinue')}`,
        'Warning',
        {
          confirmButtonText: 'Ok',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          const doc = {
            date: new Date(),
            type: this.orderDoc.type,
            status: this.orderDoc.status,
            statusDate: {
              open: new Date(),
            },
            discountRate: this.orderDoc.discountRate,
            discountValue: this.orderDoc.discountValue,
            total: this.orderDoc.total,
            totalReceived: this.orderDoc.totalReceived,
            tableId: this.orderDoc.tableId,
            guestId: this.orderDoc.guestId,
            numOfGuest: this.orderDoc.numOfGuest,
            employeeId: this.employeeId,
            billed: 0,
            refId: this.orderDoc._id,
          }
          let details = _.forEach(this.orderList, o => {
            o.checkPrint = false
          })
          cancelCopySale
            .callPromise({ doc: doc, details: details })
            .then(result => {
              if (result) {
                this.$parent.getOrders()
                this.activeTab = result
              }
            })
            .catch(error => {
              // Notify.error({ message: error })
            })
        })
        .catch(() => {
          return false
        })
    },

    //  Cancel Order
    handleCancel() {
      this.$confirm(
        `${this.$t('rest.tableLabel.invoice')} ${this.orderDoc._id} ${this.$t(
          'rest.messages.willBeCancel'
        )} ${this.$t('rest.messages.askForContinue')}`,
        'Warning',
        {
          confirmButtonText: 'Ok',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          let doc = {
            _id: this.orderDoc._id,
            status: 'Cancel',
            'statusDate.close': new Date(),
          }
          // Cancel
          updateSale
            .callPromise({
              doc: doc,
            })
            .then(result => {
              if (result) {
                this.$parent.getOrders()
              }
            })
            .catch(error => {
              // Notify.error({ message: error })
            })
        })
        .catch(() => {
          return false
        })
    },

    // Discount Rate Class
    cancelDiscountClass(row) {
      if (row.discountDetail) {
        if (row.discountDetail.discountType == 'Rate') {
          return 'cancel-text'
        }
      } else {
        return ''
      }
    },
    // Active Tab
    activeTabChange(val) {
      this.$emit('active-tab', val)
    },
    // Select Order List
    selectItems() {
      this.$emit('selected-item', this.selectOrderList)
    },
    // Calculate
    calculatedChange() {
      this.$emit('calculated', this.calculated)
    },

    // Active tab change
    handleActiveTabChange(val) {
      if (val == '0') {
        this.activeTabChange(val)
      } else {
        this.activeTabChange(val)
        this.activeTab = val
      }
    },
    // Data change
    handleDataChange() {
      this.$parent.getOrders()
    },
    // Guest Find
    handleGuestFind() {
      this.getGuests()
    },
    // Current customer change
    handleCurrentGuestChange(customer) {
      this.currentGuestName = customer
    },
    // Mondel close
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.$parent.getOrders()
      })
    },
    // End methods
  },
}
</script>


<style lang="less" scoped>
@import '{}/../../styles/saleStyle.less';
</style>




