<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      title="New Account Type"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item
              label="Nature type"
              prop="nature"
            >
              <el-select
                v-model="form.nature"
                style="width: 100%"
              >
                <el-option
                  v-for="item in natureOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              label="Code"
              prop="code"
            >
              <el-input
                ref="code"
                v-model="form.code"
              ></el-input>
            </el-form-item>
            <el-form-item
              label="Name"
              prop="name"
            >
              <el-input
                ref="name"
                v-model="form.name"
              ></el-input>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="Status"
              prop="status"
            >
              <el-select
                v-model="form.status"
                style="width: 100%"
              >
                <el-option
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              label="Memo"
              prop="memo"
            >
              <el-input
                v-model="form.memo"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >Save</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>

    </el-dialog>
  </div>
</template>

<script>
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import LookupValue from '../lib/lookup-value'

import {
  findOneAccountType,
  insertAccountType,
} from '../../api/account-types/methods'

export default {
  name: 'AccountTypeNew',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const validateCode = (rule, value, callback) => {
      if (value) {
        findOneAccountType
          .callPromise({ selector: { code: value } })
          .then(result => {
            if (result) {
              callback(new Error('Code exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateName = (rule, value, callback) => {
      if (value) {
        findOneAccountType
          .callPromise({ selector: { name: value } })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      loading: false,
      natureOpts: LookupValue.natureAccount,
      statusOpts: LookupValue.status,
      form: {
        code: '',
        name: '',
        nature: '',
        status: '',
        memo: '',
      },
      rules: {
        code: [
          { required: true, message: 'Code is required' },
          { validator: validateCode, trigger: 'blur' },
        ],
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        nature: [{ required: true, message: 'Nature is required' }],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  methods: {
    autofocus(refName) {
      this.$refs[refName].$el.querySelector('input').focus()
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          insertAccountType
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.resetForm()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
      this.autofocus('code')
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
