<template>
  <div class="changelog">
    <vue-markdown
      v-loading="loading"
      :source="changelogText"
    ></vue-markdown>
  </div>
</template>

<script>
// Markdown
import VueMarkdown from 'vue-markdown'
import { getChangelogMd } from '../../api/changelog/methods'

export default {
  name: 'Changelog',
  components: {
    VueMarkdown,
  },
  data() {
    return {
      loading: false,
      changelogText: '',
    }
  },
  mounted() {
    this.loadChangelog()
  },
  methods: {
    loadChangelog() {
      this.loading = true

      getChangelogMd
        .callPromise()
        .then(result => {
          this.loading = false
          this.changelogText = result
        })
        .catch(error => {
          console.log(error.reason)
        })
    },
  },
}
</script>

<style scoped lang="scss">
</style>
