<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      title="Edit Account Type"
      width="70%"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-row :gutter="20">
          <el-col :span="10">
            <el-form-item
              label="Account type"
              prop="accountTypeId"
            >
              <el-select
                v-model="form.accountTypeId"
                :placeholder="accountTypeLoading"
                style="width: 100%"
                @change="handleAccountTypeChange"
              >
                <el-option
                  v-for="item in lookupAccountType"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                  <span v-html="item.labelCustom"></span>
                </el-option>
              </el-select>
            </el-form-item>
            <fieldset style="height: 210px">
              <legend>Description:</legend>
              {{ accountTypeMemo }}
            </fieldset>
          </el-col>

          <el-col :span="14">
            <el-form-item
              label="Parent account"
              prop="parent"
            >
              <el-select
                v-model="form.parent"
                :placeholder="parentLoading"
                clearable
                style="width: 100%"
              >
                <el-option
                  v-for="item in parentAccountOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                  <span v-html="item.labelCustom"></span>
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              label="Account code"
              prop="code"
            >
              <el-input
                v-model="form.code"
                placeholder="eg. 11010"
              ></el-input>
            </el-form-item>

            <el-form-item
              label="Account name"
              prop="name"
            >
              <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item
              label="Status"
              prop="status"
            >
              <el-select
                v-model="form.status"
                style="width: 100%"
              >
                <el-option
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              label="Memo"
              prop="memo"
            >
              <el-input
                v-model="form.memo"
                type="textarea"
              ></el-input>
            </el-form-item>

            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
              >
                Save
              </el-button>
              <el-button @click="handleModalClose">Cancel</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Libs
import LookupValue from '../lib/lookup-value'

import {
  lookupAccountType,
  lookupChartAccount,
} from '../../utils/lookup-methods'
import {
  findOneChartAccount,
  updateChartAccount,
} from '../../api/chart-accounts/methods'

export default {
  name: 'ChartOfAccountEdit',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const _id = this.updateDoc._id
    const validateCode = (rule, value, callback) => {
      if (value) {
        findOneChartAccount
          .callPromise({
            selector: { _id: { $ne: _id }, code: value },
            options: {},
          })
          .then(result => {
            if (result) {
              callback(new Error('Code exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateName = (rule, value, callback) => {
      if (value) {
        findOneChartAccount
          .callPromise({
            selector: { _id: { $ne: _id }, name: value },
            options: {},
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      loading: false,
      accountTypeLoading: 'Select',
      parentLoading: 'Select',
      lookupAccountType: [],
      accountTypeMemo: 'Description of account type...',
      parentAccountOpts: [],
      statusOpts: LookupValue.status,
      form: this.updateDoc,
      rules: {
        accountTypeId: [
          { required: true, message: 'Account type is required' },
        ],
        code: [
          { required: true, message: 'Code is required' },
          { validator: validateCode, trigger: 'blur' },
        ],
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  mounted() {
    this.getAccountTypes()
  },
  methods: {
    getAccountTypes() {
      this.accountTypeLoading = 'Loading...'

      lookupAccountType
        .callPromise({
          status: 'Active',
        })
        .then(result => {
          this.lookupAccountType = result
          this.accountTypeLoading = 'Select'

          // Trigger account type change
          this.$nextTick(() => {
            const accountTypeId = this.updateDoc.accountTypeId
            this.handleAccountTypeChange(accountTypeId, false)
          })
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },
    handleAccountTypeChange(val, clearVal = true) {
      // Get Account Type Memo
      let accountType = _.find(this.lookupAccountType, { value: val })
      this.accountTypeMemo = accountType.memo || ''

      this.getChartAccounts(val, clearVal)
    },
    getChartAccounts(accountType, clearVal) {
      this.parentLoading = 'Loading...'

      lookupChartAccount
        .callPromise({
          accountTypeId: accountType,
          status: 'Active',
        })
        .then(result => {
          this.parentAccountOpts = result
          this.parentLoading = 'Select'

          this.$nextTick(() => {
            clearVal ? (this.form.parent = '') : ''
          })
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick data
          const doc = _.pick(this.form, [
            '_id',
            'accountTypeId',
            'parent',
            'code',
            'name',
            'status',
            'memo',
          ])
          updateChartAccount
            .callPromise(doc)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleModalClose()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
