<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      title="Edit Account Type"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-form-item
          label="Name"
          prop="name"
        >
          <el-input
            ref="name"
            v-model="form.name"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="Status"
          prop="status"
        >
          <el-select v-model="form.status">
            <el-option
              v-for="item in statusOpts"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Memo"
          prop="memo"
        >
          <el-input
            v-model="form.memo"
            type="textarea"
          ></el-input>
        </el-form-item>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >Save</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import LookupValue from '../lib/lookup-value'

import {
  findOneClassification,
  updateClassification,
} from '../../api/classifications/methods'

export default {
  name: 'ClassificationEdit',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const _id = this.updateDoc._id
    const validateName = (rule, value, callback) => {
      if (value) {
        findOneClassification
          .callPromise({ selector: { _id: { $ne: _id }, name: value } })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      loading: false,
      statusOpts: LookupValue.status,
      form: this.updateDoc,
      rules: {
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  methods: {
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          const doc = _.pick(this.form, ['_id', 'name', 'status', 'memo'])
          updateClassification
            .callPromise(doc)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleModalClose()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
