<template>
  <div>
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      label-width="170px"
    >
      <div class="tab-title">General</div>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item
            :rules="rules.name"
            label="Name"
            prop="general.name"
          >
            <el-input v-model="form.general.name"></el-input>
          </el-form-item>

          <el-form-item
            :rules="rules.address"
            label="Address"
            prop="general.address"
          >
            <el-input
              v-model="form.general.address"
              type="textarea"
            ></el-input>
          </el-form-item>

          <el-form-item
            :rules="rules.telephone"
            label="Telephone"
            prop="general.telephone"
          >
            <el-input v-model="form.general.telephone"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item
            :rules="rules.email"
            label="Email"
            prop="general.email"
          >
            <el-input v-model="form.general.email"></el-input>
          </el-form-item>

          <el-form-item
            :rules="rules.website"
            label="Website"
            prop="general.website"
          >
            <el-input v-model="form.general.website"></el-input>
          </el-form-item>

          <el-form-item
            :rules="rules.industry"
            label="Industry"
            prop="general.industry"
          >
            <el-select
              v-model="form.general.industry"
              placeholder="Industry"
              style="width: 100%"
            >
              <el-option
                v-for="item in industryOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <div class="tab-title">Account</div>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item
            :rules="rules.baseCurrency"
            label="Base currency"
            prop="accounting.baseCurrency"
          >
            <el-select
              v-model="form.accounting.baseCurrency"
              placeholder="Base currency"
              style="width: 100%"
            >
              <el-option
                v-for="item in currencyOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item
            :rules="rules.decimalNumber"
            label="Decimal number"
            prop="accounting.decimalNumber"
          >
            <el-input v-model="form.accounting.decimalNumber"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item
            :rules="rules.accountingIntegration"
            label="Accounting integration"
            prop="accounting.accountingIntegration"
          >
            <el-switch v-model="form.accounting.accountingIntegration"></el-switch>
          </el-form-item>

        </el-col>
      </el-row>

      <div class="tab-title">Other</div>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item
            :rules="rules.dateFormat"
            label="Date format"
            prop="other.dateFormat"
          >
            <el-select
              v-model="form.other.dateFormat"
              placeholder="Date format"
              style="width: 100%"
            >
              <el-option
                v-for="item in dateFormatOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item
            :rules="rules.lang"
            label="Language"
            prop="other.lang"
          >
            <el-radio-group v-model="form.other.lang">
              <el-radio
                v-for="item in langOpts"
                :key="item.value"
                :label="item.value"
              >{{ item.label }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>

      <div class="tab-title">Customize Invoice</div>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item
            :rules="rules.facebookPage"
            label="Facebook page"
            prop="other.facebookPage"
          >
            <el-input v-model="form.other.facebookPage"></el-input>
          </el-form-item>

          <el-form-item
            label="Thank Text"
            prop="other.thankText"
          >
            <el-input v-model="form.other.thankText"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item
            :rules="rules.wifiPass"
            label="Wifi password"
            prop="other.wifiPass"
          >
            <el-input v-model="form.other.wifiPass"></el-input>
          </el-form-item>

          <el-form-item
            label="Footer Address"
            prop="other.footerAddress"
          >
            <el-input v-model="form.other.footerAddress"></el-input>
          </el-form-item>

        </el-col>
      </el-row>
      <!--Submit Form-->
      <el-row>
        <el-col :span="12">
          <el-form-item>
            <el-button
              style="margin-top:20px;"
              type="primary"
              @click="submitForm"
            >Save Changes
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
  </div>
</template>

<script>
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findOneCompany, updateCompany } from '../../api/company/methods'
import LookupValue from '../lib/lookup-value'

export default {
  name: 'Company',
  data() {
    return {
      loading: false,
      industryOpts: LookupValue.industry,
      currencyOpts: LookupValue.currency,
      dateFormatOpts: LookupValue.dateFormat,
      langOpts: LookupValue.lang,
      form: {
        general: {
          name: '',
          address: '',
          telephone: '',
          email: '',
          website: '',
          industry: '',
        },
        accounting: {
          baseCurrency: 'USD',
          decimalNumber: 2,
          accountingIntegration: true,
        },
        other: {
          dateFormat: 'dd/MM/yyyy',
          lang: 'en',
          footerAddress: '',
          wifiPass: '',
          thankText: '',
          facebookPage: '',
        },
      },
      rules: {
        name: [{ required: true, message: 'Name is required' }],
        address: [{ required: true, message: 'Address is required' }],
        telephone: [{ required: true, message: 'Telephone is required' }],
        industry: [{ required: true, message: 'Industry is required' }],
        baseCurrency: [
          {
            required: true,
            message: 'Base currency date is required',
          },
        ],
        decimalNumber: [
          {
            required: true,
            message: 'Decimal number date is required',
          },
        ],
        dateFormat: [
          {
            required: true,
            message: 'Date format date is required',
          },
        ],
        facebookPage: [
          {
            max: 50,
            message: 'Length should be under 50',
            trigger: 'blur',
          },
        ],
        wifiPass: [
          {
            max: 20,
            message: 'Length should be under 20',
            trigger: 'blur',
          },
        ],
      },
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findOneCompany
        .callPromise()
        .then(result => {
          this.form = result
          this.$nextTick(() => (this.loading = false))
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          updateCompany
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          Msg.error('Please check any tabs')
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.tab-title {
  font-size: 18px;
  font-weight: 400;
  color: #1f2f3d;
  margin-bottom: 15px;
}
</style>
