<template>
  <div>
    <h3>Khmer Font</h3>
    <div class="kh-moul">Moul: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-moulpali">Moulpali: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត
    </div>
    <div class="kh-fasthand">Fasthand: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត
    </div>
    <div class="kh-freehand">Freehand: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត
    </div>
    <div class="kh-metal">Metal: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-content">Content: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត
    </div>
    <div class="kh-battambang">Battambang: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត
    </div>
    <div class="kh-bokor">Bokor: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-siemreap">Siemreap: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត
    </div>

    <h3>Company Info</h3>
    <vue-json-pretty
      :data="company"
      :deep="1"
    />
    <h3>Current User</h3>
    <vue-json-pretty
      :data="currentUser"
      :deep="1"
    />
    <h3>Current User Full Name</h3>
    {{ userFullName }}

    <h3>Current Branch</h3>
    <vue-json-pretty
      :data="currentBranch"
      :deep="1"
    />

    <h3>Current Branch ID</h3>
    {{ currentBranchId }}

    <h3>Branch Permissions</h3>
    <vue-json-pretty
      :data="branchPermissions"
      :deep="1"
    />

    <h3>Branch Permission Opts</h3>
    <vue-json-pretty
      :data="branchPermissionOpts"
      :deep="1"
    />

    <h3>Check User is in roles</h3>
    ['super', 'admin']: {{ userIsInRole }}

    <h3>NProgress</h3>
    <el-button @click="handleNProgressbar">NProgress</el-button>

    <h3>Vue Progress</h3>
    <el-button @click="handleVueProgressbar">Vue Progress</el-button>

    <h3>Count UP</h3>
    <div>
      <i-count-up
        :start-val="start"
        :end-val="end"
        :decimals="2"
        :duration="2.5"
        :options="options"
      ></i-count-up>
    </div>
    <el-button @click="changeEnd">Change Value</el-button>

    <h3>
      Convert String to Number<br>
      <el-checkbox v-model="parseIntCheck">Pars Integer</el-checkbox>
    </h3>
    <ul>
      <li
        v-for="item in numStr"
        :key="item"
      >
        {{ item }} -> {{ strToNum(item) }}
      </li>
    </ul>

    <h3>Vue Plugin: Lodash, Moment, Numeral</h3>
    <div>{{ $_.upperCase('Rabbit Tech') }}</div>
    <div>{{ $moment().format('dd/mm/yyyy') }}</div>
    <div>{{ $numeral(123.456).format('$0,0.00') }}</div>

    <h3>Font Awesome in Element Input</h3>
    <el-input
      placeholder="Enter password"
      suffix-icon=" fas fa-camera-retro"
    ></el-input>

    <h3>Input Mask</h3>
    <el-input
      v-money="money"
      v-model.lazy="inputMask"
    ></el-input>
    {{ inputMask }}
    <el-input
      v-mask="999,999.99"
      v-model="inputMask2"
    ></el-input>
    {{ inputMask2 }}

    <h3>Faker.js</h3>
    <el-button @click="changeFaker">Faker</el-button>
    Country: {{ fakerValue }}

    <h3>Font Awesome 5</h3>
    <i
      class="fa fa-camera-retro"
      @click="alert('Hi')"
    ></i>
    <i class="fa fa-address-book"></i>
    <i class="fa fa-font-awesome"></i>
    <i class="fab fa-500px"></i>
    <i
      class="fas fa-chess"
      @click="handleIconClick"
    ></i>

    <h3>Transition</h3>
    <el-button
      type="primary"
      @click="showTransition = !showTransition"
    >Click to transition</el-button>
    <el-collapse-transition>
      <div v-show="showTransition">
        <div class="transition-box">
          Element, a Vue 2.0 based component library for developers, designers and product managers
        </div>
      </div>
    </el-collapse-transition>

    <h3>Test WrapAsync</h3>
    <el-button
      type="primary"
      @click="handleWrapAsync"
    >
      WrapAsync
    </el-button>
    {{ wrapAsync }}

    <h3>Dynamic Collection</h3>
    <el-button @click="handleDynamicCollection">Dynamic</el-button>
    {{ dynamicCollection }}

    <h3>Raw Collection (Aggregate)</h3>
    <el-button
      :loading="rawCollectionLoading"
      @click="handleRawCollection"
    >Raw Collection</el-button>
    <vue-json-pretty
      :data="rawCollection"
      :deep="1"
    />

    <h3>Current Timezone (Server)</h3>
    <el-button @click="handleCurrentTimezone">Get Current Timezone</el-button>
    <p>{{ currentTimezone }}</p>

    <h3>Date to String (Mongo - Timezone), It have problem while time before 07:00 AM</h3>
    <el-button
      :loading="timezoneLoading"
      @click="handleTimezoneTest"
    >Timezone</el-button>
    <vue-json-pretty
      :data="timezoneTest"
      :deep="1"
    />

    <h3>Copy to Clipboard</h3>
    <el-button @click="handleCopy">Copy</el-button>
    {{ tableHeaderChecked }}
    <div id="my-copy">
      <el-table
        :data="tableDataCopy"
        style="width: 100%"
      >
        <el-table-column
          prop="date"
          label="Date"
          width="180"
        >
        </el-table-column>
        <el-table-column
          v-if="showHeader('Name')"
          prop="name"
          label="Name"
          width="180"
        >
        </el-table-column>
        <el-table-column
          v-if="showHeader('Address')"
          prop="address"
          label="Address"
        >
        </el-table-column>
        <el-table-column :render-header="rendeTableHeader">
        </el-table-column>
      </el-table>
    </div>
    <h3>Upload Files</h3>
    <el-upload
      :on-change="handleFileChange"
      :on-preview="handleFilePreview"
      :on-remove="handleFileRemove"
      :auto-upload="false"
      :file-list="fileData"
      class="upload-demo"
      action=""
      multiple
      list-type="picture"
    >
      <el-button
        size="small"
        type="primary"
        @click="handleFileChange"
      >Click to upload</el-button>
      <div
        slot="tip"
        class="el-upload__tip"
      >jpg/png files with a size less than 500kb</div>
    </el-upload>

    <h3>Wrap Current Time</h3>
    <div>
      <el-date-picker
        v-model="wrapDate"
        type="date"
        format="dd/MM/yyyy"
      >
      </el-date-picker>
      <el-date-picker
        v-model="wrapPickerDate"
        :picker-options="pickerOpts"
        type="daterange"
        format="dd/MM/yyyy"
        start-placeholder="Start Date"
        end-placeholder="End Date"
      >
      </el-date-picker>
    </div>
    <div>
      <el-button @click="handleWrapCurrentTime">Wrap Current Time</el-button>
    </div>
    {{ $moment(wrapDate).format('DD/MM/YYYY H:m:s') }}<br> {{ $moment(wrapPickerDate[0]).format('DD/MM/YYYY H:m:s') }} To {{ $moment(wrapPickerDate[1]).format('DD/MM/YYYY H:m:s') }}

    <h3>Collect JS</h3>
    {{ collectData }}
    <el-button @click="avgCollect">Collect Avg</el-button>
    {{ collectAvg }}

  </div>
</template>

<script>
import _ from 'lodash'
import numeral from 'numeral'
import ICountUp from 'vue-countup-v2'
import faker from 'faker'
// import moment from 'moment'
import moment from 'moment-timezone'
import { mapState } from 'vuex'

import NProgress from 'nprogress'
import AwesomeMask from 'awesome-mask'
import { VMoney } from 'v-money'
import collect from 'collect.js'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import wrapCurrentTime from '/imports/ui/lib/wrap-current-time'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'

// Json Pretty
import VueJsonPretty from 'vue-json-pretty'

import {
  wrapAsyncTest,
  dynamicCollectionTest,
  rawCollectionTest,
  timezoneTest,
  getCurrentTimezone,
} from '../../api/testing/methods'

// Component
import TableHeaderComponent from './TableHeaderComponent.vue'

import Files from '/imports/api/files/files'
import { findImageData } from '../../api/files/methods'

export default {
  name: 'Demo',
  components: {
    ICountUp,
    VueJsonPretty,
    ReportLayout,
    TableHeaderComponent,
  },
  directives: {
    mask: AwesomeMask,
    money: VMoney,
  },
  data() {
    return {
      // Animate number
      start: 0,
      end: 123.45,
      // Count UP
      options: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: '',
      },
      // Convert string to num
      parseIntCheck: false,
      numStr: [
        123.45,
        '123.56',
        '123.45abc',
        '123.a56',
        'ab123.45c',
        'btb123.02',
        'BTB-123.15',
        'BTB:123.54',
      ],
      inputMask: 123456.789,
      inputMask2: 123456.789,
      money: {
        decimal: '.',
        thousands: ',',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false /* doesn't work with directive */,
      },
      // Casual
      fakerValue: faker.address.country(),
      // Transition
      showTransition: false,
      // WrapAsync
      wrapAsync: '',
      // Dynamic Collection
      dynamicCollection: '',
      //  Raw collection (Aggregate)
      rawCollectionLoading: false,
      rawCollection: [],
      // Timezone test
      timezoneTest: [],
      timezoneLoading: false,
      currentTimezone: '',
      // Copy to clipboard
      tableDataCopy: [
        {
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
      ],
      tableHeaderChecked: ['Name'],
      fileData: [],
      // Wrap current time
      pickerOpts: dateRangePickerOpts,
      wrapDate: moment().toDate(),
      wrapPickerDate: [moment().toDate(), moment().toDate()],
      // Collection JS
      collectData: [1, 2, 3, 4, 5],
      collectAvg: '',
    }
  },
  computed: {
    ...mapState({
      company(state) {
        return state.app.company
      },
      currentUser(state) {
        return state.app.currentUser
      },
      currentBranch(state) {
        return state.app.currentBranch
      },
      branchPermissions(state) {
        return state.app.branchPermissions
      },
    }),
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    branchPermissionOpts() {
      return this.$store.getters['app/branchPermissionOpts']
    },
    // Check use is in roles
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
  },
  created() {
    this.getFileData()
  },
  mounted() {},
  methods: {
    handleNProgressbar() {
      NProgress.start()

      // Use setTimeout for demo
      setTimeout(() => {
        NProgress.done()
      }, 1000)
    },
    handleVueProgressbar() {
      this.$Progress.start()

      // Use setTimeout for demo
      setTimeout(() => {
        this.$Progress.finish()
      }, 1000)
    },
    changeEnd() {
      this.end = _.random(1, 500)
    },
    // Count UP
    strToNum(val) {
      if (this.parseIntCheck) {
        return parseInt(numeral(val).value())
      }

      return numeral(val).value()
    },
    handleIconClick() {
      alert('I')
    },
    handleWrapAsync() {
      wrapAsyncTest
        .callPromise()
        .then(result => {
          if (result) {
            this.wrapAsync = result
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleDynamicCollection() {
      dynamicCollectionTest
        .callPromise('counters')
        .then(result => {
          if (result) {
            this.dynamicCollection = result
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleRawCollection() {
      this.rawCollectionLoading = true

      rawCollectionTest
        .callPromise({})
        .then(result => {
          if (result) {
            this.rawCollection = result
            this.rawCollectionLoading = false
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleTimezoneTest() {
      this.timezoneLoading = true
      timezoneTest
        .callPromise({})
        .then(result => {
          if (result) {
            this.timezoneTest = result
            this.timezoneLoading = false
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleCurrentTimezone() {
      getCurrentTimezone
        .callPromise()
        .then(result => {
          if (result) {
            this.currentTimezone = result
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleCopy() {
      this.$copyText(this.$el.querySelector('#my-copy').innerHTML) // or outerHTML?
      // this.$copyText(document.querySelector('#my-copy').innerHTML) // or outerHTML?
      // this.$copyText(document.querySelector('#my-copy').textContent) // Text
      Msg.success('Copy to Clipboard!')
    },
    rendeTableHeader(h, { column, $index }) {
      const self = this
      return h(TableHeaderComponent, {
        props: {
          tableHeaderChecked: self.tableHeaderChecked,
        },
        on: {
          headerCheck(val) {
            self.tableHeaderChecked = val
          },
        },
      })
    },
    showHeader(field) {
      return _.includes(this.tableHeaderChecked, field)
    },
    // File upload
    handleFileRemove(file, fileList) {
      Files.remove({ _id: file.id })
      console.log(file)
    },
    handleFilePreview(file) {
      console.log(file)
    },
    handleFileChange(file, fileList) {
      if (file && file.raw) {
        var files = []
        files.push(file.raw)
        _.forEach(files, file => {
          Files.insert(file, function(err, fileObj) {
            // Inserted new doc with ID fileObj._id, and kicked off the data upload using HTTP
            if (err) {
              // handle error
              console.log(err)
            } else {
              // handle success
              console.log('success')
            }
          })
        })
      }
    },
    getFileData() {
      findImageData
        .callPromise({})
        .then(result => {
          result.forEach(o => {
            this.fileData.push({ name: o.original.name, url: o.url, id: o._id })
          })
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Wrap current time
    handleWrapCurrentTime() {
      this.wrapDate = wrapCurrentTime(this.wrapDate)
      this.wrapPickerDate = wrapCurrentTime(this.wrapPickerDate)
    },
    // Form
    avgCollect() {
      this.collectAvg = collect([1, 3, 3, 7]).avg()
    },
    // Faker
    changeFaker() {
      return (this.fakerValue = faker.address.country())
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
.tran-icon {
  cursor: pointer;
}
</style>
