<template>
  <div class="app-grid">
    <!-- <div style="background: red; height: 100px">
      <div style="background: yellow; height: 90%"></div>
    </div> -->

    <div class="grid-header">
      <p>
        <el-button @click="addNew">Add New</el-button>
        <el-button @click="remove">Remove All</el-button>
      </p>
    </div>

    <div class="grid-content">
      <ag-grid-vue
        :column-defs="columnDefs"
        :row-data="rowData"
        :grid-options="gridOptions"
        class="ag-theme-balham"
        style="width: 100%; height: 100%;"
      >
      </ag-grid-vue>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import numeral from 'numeral'
import faker from 'faker'
import moment from 'moment'
import VueJsonPretty from 'vue-json-pretty'

// AG Grid
import { AgGridVue } from 'ag-grid-vue'
import 'ag-grid/dist/styles/ag-grid.css'
import 'ag-grid/dist/styles/ag-theme-balham.css'

// import 'ag-grid-enterprise'
import { LicenseManager } from 'ag-grid-enterprise/main'
LicenseManager.setLicenseKey(
  'Evaluation_License_Valid_Until__30_September_2018__MTUzODI2MjAwMDAwMA==b0211b0a791ee130b75eaa29a676124a'
)

// Local component
import Vue from 'vue/dist/vue.min.js'
let HeaderComponent = Vue.component('header-component', {
  template: `
    <div>Custom Name</div>
  `,
})

let CellComponent = Vue.component('cell-component', {
  mounted() {
    console.log(this.params) // Get params for AgGrid
  },
  methods: {
    formatter(type, value) {
      if (type === 'number') {
        return numeral(value).format('0,0.000')
      } else if (type === 'date') {
        return moment(value).format('DD/MM/YYYY')
      }
      return value
    },
  },
  template: `
    <div>{{formatter(this.params._type, this.params.value)}}</div>
  `,
})

import ActionComponent from './DemoAgGridAction.vue'

import { agGridData } from '../../api/testing/ag-grid'

export default {
  name: 'AgGrid',
  components: {
    VueJsonPretty,
    AgGridVue,
    ActionComponent,
  },
  data() {
    return {
      // Data
      columnDefs: [
        {
          headerName: '#',
          field: 'id',
          rowDrag: true,
        },
        {
          headerName: 'Name',
          field: 'name',
          headerComponentFramework: HeaderComponent,
          // headerComponentParams: { name: 'Rabbit' },
        },
        {
          headerName: 'Gender',
          field: 'gender',
          headerClass: 'text-center',
          cellStyle: { 'text-align': 'center' },
        },
        {
          headerName: 'DoB',
          field: 'dob',
          cellRendererFramework: CellComponent,
          cellRendererParams: {
            _type: 'date',
          },
          headerClass: 'text-center',
          cellStyle: { 'text-align': 'center' },
        },
        {
          headerName: 'Address',
          field: 'address',
        },
        {
          headerName: 'Telephone',
          field: 'telephone',
        },
        {
          headerName: 'Salary',
          field: 'salary',
          cellRendererFramework: CellComponent,
          cellRendererParams: {
            _type: 'number',
          },
          headerClass: 'text-right',
          cellStyle: { 'text-align': 'right' },
        },
        {
          headerName: 'Action',
          field: 'id',
          cellRendererFramework: 'ActionComponent',
          // cellRendererParams: {
          //   color: 'red',
          // },
        },
      ],
      rowData: [
        // { id: 0, name: 'Theara' }
      ],
      // Pro
      gridOptions: {
        enableColResize: true,
        // gridAutoHeight: true,
        enableSorting: true,
        rowDragManaged: true,
        animateRows: true,
        rowSelection: 'single',

        showToolPanel: false,
        toolPanelSuppressRowGroups: true,
        toolPanelSuppressValues: true,
        toolPanelSuppressPivots: true,
        toolPanelSuppressPivotMode: true,
        // enableFilter: true,
        // pagination: true, // Conflict with "rowDrag"
        // paginationPageSize: 10,

        frameworkComponents: {
          // ActionComponent,
        },
      },
    }
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
  },
  methods: {
    addNew() {
      this.gridOptions.api.showLoadingOverlay()

      agGridData
        .callPromise(50)
        .then(result => {
          if (result) {
            this.rowData = result
            this.gridOptions.api.hideOverlay()
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    remove() {
      this.rowData = []
    },
    onSelectionChanged() {
      alert(this.gridOptions.api.getSelectedRows())
    },
  },
}
</script>

<style lang="scss" scoped>
// Set height = 100%
.app-grid {
  // background: red;
  height: 100%;
  width: 100%;
  display: table;
}
.grid-header {
  // background-color: aquamarine;
  display: table-row;
}
.grid-content {
  // background-color: yellow;
  display: table-row;
}
.grid-header + .grid-content {
  height: 100%;
}
</style>
