<template>
  <div>
    <p>
      <el-button @click="getReportPDF">PDF</el-button>
    </p>

    <!-- <div
      id="render"
      style="width: 500px; height: 500px"
    ></div> -->

    <iframe
      width="402"
      height="346"
      frameborder="0"
      scrolling="no"
      src="https://view.officeapps.live.com/op/embed.aspx?src=http%3A%2F%2Fjsreport%2Enet%3A80%2Ftemp%2Fe63be6bf9dc7e4ecea92a23213d037ec%2Exlsx&wdAllowInteractivity=False&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"
    ></iframe>

  </div>
</template>

<script>
import _ from 'lodash'
import numeral from 'numeral'
import faker from 'faker'
import moment from 'moment'

import axios from 'axios'
import jsreport from 'jsreport-browser-client-dist'

export default {
  name: 'JSReport',
  data() {
    return {
      test: '<h2>Hi</h2>',
      reportRender: null,
    }
  },
  methods: {
    getReportPDF() {
      jsreport.serverUrl = 'http://192.168.1.102:5488'

      var request = {
        template: {
          shortid: 'SJtztNP4Q',
          engine: 'handlebars',
          recipe: 'html-to-xlsx',
        },
        data: {
          books: [
            {
              title: 'A',
              author: 'Theara',
              sale: '100',
            },
            {
              title: 'B',
              author: 'Theara',
              sale: '100',
            },
          ],
        },
      }

      //display report in the new tab
      jsreport.render('_blank', request)

      //display report in placeholder element
      // jsreport.render(document.getElementById('render'), request)

      //open download dialog for report
      // jsreport.download('myReport.pdf', request)

      // axios
      //   .get('/api/jsreport')
      //   .then(res => {
      //     console.log(res)
      //     this.reportRender = res.data
      //   })
      //   .catch(error => {
      //     console.log(error)
      //   })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
