<template>
  <div>
    <el-dropdown
      size="mini"
      split-button
      type="primary"
    >
      Mini
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>Action 1</el-dropdown-item>
        <el-dropdown-item>Action 2</el-dropdown-item>
        <el-dropdown-item>Action 3</el-dropdown-item>
        <el-dropdown-item>Action 4</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  name: 'TestActionComponent',
}
</script>

<style lang="scss" scoped>
</style>
