<template>
  <div>
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-position="left"
      label-width="150px"
    >
      <el-row :gutter="50">
        <el-col :span="12">
          <el-form-item
            label="Branch ID"
            prop="branchId"
          >
            <el-select v-model="form.branchId">
              <el-option
                v-for="item in branchPermissionOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
                </el-option>
            </el-select>
            </el-form-item>

            <el-form-item
              label="Code"
              prop="code"
            >
              <el-input
                ref="code"
                v-model="form.code"
                :autofocus="true"
                :placeholder="refNoLoading"
              >
                <el-button
                  slot="append"
                  icon=" fa fa-barcode"
                  @click="getNextRefNo"
                >
                  </el-button>
                  </el-input>
                  </el-form-item>
                  <el-form-item
                    label="Name"
                    prop="name"
                  >
                    <el-input
                      ref="name"
                      v-model="form.name"
                    ></el-input>
                      </el-form-item>
                      <el-form-item
                        label="Gender"
                        prop="gender"
                      >
                        <el-select v-model="form.gender">
                          <el-option
                            v-for="doc in genderOpt"
                            :key="doc.value"
                            :label="doc.label"
                            :value="doc.value"
                          ></el-option>
                        </el-select>
                        </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item
            label="Role"
            prop="role"
          >
            <el-select v-model="form.role">
              <el-option
                v-for="doc in roleOpt"
                :key="doc.value"
                :label="doc.label"
                :value="doc.value"
              ></el-option>
            </el-select>
            </el-form-item>

            <el-form-item
              label="Link User"
              prop="linkUser"
            >
              <el-select v-model="form.linkUser">
                <el-option
                  v-for="doc in linkUserOpt"
                  :key="doc._id"
                  :label="doc.username"
                  :value="doc._id"
                ></el-option>
              </el-select>
              </el-form-item>
              <el-form-item
                label="Status"
                prop="status"
              >
                <el-select v-model="form.status">
                  <el-option
                    v-for="doc in statusOpt"
                    :key="doc.value"
                    :label="doc.label"
                    :value="doc.value"
                  ></el-option>
                </el-select>
                </el-form-item>
        </el-col>
      </el-row>

      <!-- Tab -->
      <el-tabs
        v-model="activeTabs"
        type="border-card"
      >
        <el-tab-pane
          label="Address"
          name="employeeAddress"
        >
          <el-row :gutter="50">
            <el-col :span="12">
              <el-form-item
                ref="employeeAddress.phone"
                label="Phone"
                prop="employeeAddress.phone"
              >
                <el-input v-model="form.employeeAddress.phone"></el-input>
                </el-form-item>
                <el-form-item
                  label="Email"
                  prop="employeeAddress.email"
                >
                  <el-input
                    ref="employeeAddress.email"
                    v-model="form.employeeAddress.email"
                  ></el-input>
                    </el-form-item>

            </el-col>
            <el-col :span="12">
              <el-form-item
                label="Address"
                prop="employeeAddress.address"
              >
                <el-input
                  ref="employeeAddress.address"
                  :autosize="{minRows:4,maxRows:6}"
                  v-model="form.employeeAddress.address"
                  type="textarea"
                >
                  </el-input>
                  </el-form-item>
            </el-col>
          </el-row>
          </el-tab-pane>
          <el-tab-pane
            label="Account"
            name="employeeAccount"
          ></el-tab-pane>
            <el-tab-pane
              label="Payroll"
              name="employeePayroll"
            ></el-tab-pane>
              </el-tabs>

              <el-form-item style="text-align: right">
                <el-button
                  type="primary"
                  @click="saveForm"
                >
                  Save
                  </el-button>
                  <el-button @click="handleClose">Cancel</el-button>
              </el-form-item>
              </el-form>
  </div>
</template>


<script>
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import { getNextRef } from '/imports/utils/get-next-ref'

import LookUpValue from '../lib/lookup-value'
import { mapState } from 'vuex'

// User
import { findUsers } from '../../api/users/methods'
// Employee
import { insertEmployee, findOneEmployee } from '../../api/employees/methods'

export default {
  name: 'EmployeeNew',
  data() {
    // validate code not allow duplicate
    var validateCode = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('Code is requiered'))
      } else {
        setTimeout(() => {
          let selector = {
            code: value,
            branchId: this.form.branchId,
          }
          findOneEmployee
            .callPromise({ selector })
            .then(result => {
              if (result) {
                callback(new Error('This code is exist'))
              } else {
                callback()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        }, 100)
      }
    }
    return {
      genderOpt: LookUpValue.gender,
      statusOpt: LookUpValue.status,
      roleOpt: [
        { label: 'Employee', value: 'Employee' },
        { label: 'Collector', value: 'Collector' },
        { label: 'Sale Rep', value: 'SaleRep' },
      ],
      linkUserOpt: [],

      activeTabs: 'employeeAddress',
      refNoLoading: 'eg. 1',
      form: {
        branchId: '',
        code: '',
        name: '',
        gender: '',
        role: '',
        linkUser: '',
        status: '',
        employeeAddress: {
          phone: '',
          email: '',
          address: '',
        },
      },
      rules: {
        code: [{ validator: validateCode, trigger: 'change' }],
        name: [{ required: true }],
        gender: [{ required: true }],
        role: [{ required: true }],
        status: [{ required: true }],
      },
    }
  },
  computed: {
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    branchPermissionOpts() {
      return this.$store.getters['app/branchPermissionOpts']
    },
  },
  created() {
    this.form.branchId = this.currentBranchId
  },
  mounted() {
    this.getUsers()
    this.getNextRefNo()
  },
  methods: {
    getUsers() {
      findUsers
        .callPromise({ selector: {} })
        .then(result => {
          if (result) {
            this.linkUserOpt = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Auto generate employee code
    getNextRefNo() {
      this.refNoLoading = 'Loading....'

      getNextRef
        .callPromise({
          collectionName: 'employees',
          opts: {
            field: 'code',
            selector: {
              branchId: this.form.branchId,
            },
            paddingType: 'start',
            paddingLength: 4,
            paddingChar: '0',
            prefix: '',
          },
        })
        .then(result => {
          if (result) {
            this.form.code = result
            this.refNoLoading = 'eg. 1'
          }
        })
        .catch(error => {
          this.refNoLoading = 'eg. 1'
          Notify.error({ message: error })
        })
    },
    saveForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          insertEmployee
            .callPromise({ doc: this.form })
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.resetForm()
                this.$refs.code.$el.querySelector('input').focus()
              }
            })
            .catch(err => {
              this.loading = false
              Notify.error({ message: err })
            })
        } else {
          Notify.error({ message: 'Please check validation again...' })
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleClose() {
      this.$router.push({ name: 'app.employee' })
    },
  },
}
</script>

<style lang="scss" scoped>
.el-select {
  width: 100%;
}
</style>
