<template>
  <div>
    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    >
    </TableToolbar>

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="no"
      >
        <template slot-scope="scope">
          <span :class="softRemoveClassName(scope.row.removed)">
            <span v-if="title.prop === 'date'">
              {{ $moment(scope.row.date).format('DD/MM/YYYY') }}
            </span>
            <span v-else>{{ scope.row[title.prop] }}</span>
          </span>
        </template>
      </el-table-column>
      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="70"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>
<script>
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableToolbar from '/imports/ui/components/TableToolbar.vue'
import TableAction from '/imports/ui/components/TableAction.vue'

// Methods
import { findEmployees, removeEmployee } from '../../api/employees/methods'

export default {
  name: 'Employee',
  components: { TableToolbar, TableAction },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      // Datatable
      tableData: [],
      tableTitles: [
        { label: 'Code', prop: 'code' },
        { label: 'Name', prop: 'name' },
        { label: 'Gender', prop: 'gender' },
        { label: 'Role', prop: 'role' },
        { label: 'Link User', prop: 'linkUser' },
        { label: 'Status', prop: 'status' },
      ],
      tableFilters: [
        {
          prop: ['code', 'name', 'status'],
          value: '',
        },
      ],
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'code',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findEmployees
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          Notify.error({ message: err })
        })
    },

    // New Employee
    handleAddNew() {
      this.$router.push({ name: 'app.employeeNew' })
    },

    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    addNew() {
      this.$router.push({ name: 'app.employeeNew' })
    },
    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        actions.push('restore')
      } else {
        actions.push('remove')
      }
      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.$router.push({
        name: 'app.employeeEdit',
        params: { _id: row._id },
      })
    },

    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeEmployee,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.el-select {
  width: 100%;
}
</style>