<template>
  <div>
    <!-- Form -->
    <exchange-form
      :form-type="formType"
      :update-doc="updateDoc"
      @form-change="handleFormChange"
    ></exchange-form>

    <!-- Data Table -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span :class="softRemoveClassName(scope.row.removed)">
            <span v-if="title.prop === 'exDate'">
              {{ $moment(scope.row.exDate).format('DD/MM/YYYY') }}
            </span>
            <span v-else>{{ scope.row[title.prop] }}</span>
          </span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>

  </div>
</template>

<script>
import moment from 'moment'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import ExchangeForm from '/imports/ui/pages/ExchangeForm'
import { findExchanges, removeExchange } from '../../api/exchanges/methods'

export default {
  name: 'Exchange',
  components: { TableAction, ExchangeForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      updateDoc: null,
      tableData: [],
    }
  },
  computed: {
    // Check if user == admin || super
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },

    tableTitles() {
      let list = [
        { label: this.$t('rest.tableLabel.date'), prop: 'exDate' },
        { label: this.$t('rest.tableLabel.usd'), prop: 'usd' },
        { label: this.$t('rest.tableLabel.khr'), prop: 'khr' },
        { label: this.$t('rest.tableLabel.thb'), prop: 'thb' },
      ]
      return list
    },
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findExchanges
        .callPromise()
        .then(result => {
          this.loading = false
          this.tableData = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    handleCommand(command) {
      this[command.action](command.row)
    },
    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = [
        { label: this.$t('rest.tableLabel.edit'), value: 'edit' },
        { label: this.$t('rest.tableLabel.remove'), value: 'remove' },
      ]

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Update'
      this.updateDoc = row
    },

    remove(row) {
      if (this.userIsInRole == true) {
        this.$_removeMixin({
          meteorMethod: removeExchange,
          selector: { _id: row._id },
          successMethod: 'getData',
          loading: 'loading',
          title: row.title,
        })
      } else {
        Notify.error({ message: this.$t('rest.messages.accessDenied') })
      }
    },

    // Format
    dateFormatter(row, column, cellValue) {
      return moment(cellValue).format('DD/MM/YYYY')
    },
    handleFormChange() {
      this.formType = 'New'
      // this.updateDoc = null
      this.getData()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/main.scss';
</style>
