<template>
  <div>
    <fieldset>
      <legend>{{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }}</legend>
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        size="mini"
        label-position="left"
        label-width="70px"
      >
        <el-row :gutter="20">
          <el-col :span="10">
            <el-form-item
              :label="$t('rest.formLabel.date')"
              prop="exDate"
              label-width="100px"
            >
              <el-date-picker
                v-model="form.exDate"
                type="date"
                format="dd/MM/yyyy"
                width="100%"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>

          <el-col :span="10">
            <el-form-item
              :label="$t('rest.formLabel.base')"
              prop="base"
            >
              <el-input
                v-model="form.base"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item
              :label="$t('rest.formLabel.usd')"
              prop="usd"
            >
              <el-input-number
                v-model="form.usd"
                disabled
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="6">
            <el-form-item
              :label="$t('rest.formLabel.khr')"
              prop="khr"
            >
              <el-input-number
                ref="khr"
                v-model="form.khr"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="6">
            <el-form-item
              :label="$t('rest.formLabel.thb')"
              prop="thb"
            >
              <el-input-number
                v-model="form.thb"
                controls-position="right"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="6">
            <el-form-item label-width="0">
              <el-button
                type="primary"
                @click="submitForm"
              >{{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }}</el-button>
              <el-button
                v-if="formType === 'Update'"
                @click="handleCancel"
              >{{ $t('rest.btn.cancel') }}</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </fieldset>
  </div>
</template>

<script>
import moment from 'moment'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import wrapCurrentTime from '/imports/ui/lib/wrap-current-time'

import { upsertExchange } from '../../api/exchanges/methods'

export default {
  name: 'ExchangeNew',
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      loading: false,
      form: {
        base: 'USD',
        exDate: moment().toDate(),
        usd: 1,
        khr: 0,
        thb: 0,
      },
      rules: {
        exDate: [{ required: true }],
        usd: [{ required: true }],
        khr: [{ required: true }],
        thb: [{ required: true }],
      },
    }
  },
  watch: {
    updateDoc(val) {
      if (val) {
        this.form = val
        this.focusForm('khr')
      } else {
        this.form = {
          base: 'USD',
          exDate: moment().toDate(),
          usd: 1,
          khr: 0,
          thb: 0,
        }
      }
    },
  },
  mounted() {
    this.focusForm('khr')
  },
  methods: {
    focusForm(refName) {
      this.$refs[refName].$el.querySelector('input').focus()
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.exDate = wrapCurrentTime(this.form.exDate)

          upsertExchange
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleCancel()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.resetForm()
      this.focusForm('khr')
      this.$emit('form-change')
    },
  },
}
</script>

<style scoped>
</style>
