<template>
  <div>
    <index>
    </index>
  </div>
</template>

<script>
import { Meteor } from 'meteor/meteor'
import { mapState } from 'vuex'
// Component
import Index from '../../modules/rest/ui/pages/Index.vue'

export default {
  name: 'Home',
  components: { Index },
  data() {
    return { isDevelop: Meteor.isDevelopment }
  },
  computed: {
    ...mapState({
      currentUser(state) {
        return state.app.currentUser.roles
      },
    }),
  },
}
</script>

<style lang="scss" scoped>
</style>
