<template>
  <div>
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item
            label="Branch ID"
            prop="branchId"
          >
            <el-select v-model="form.branchId">
              <el-option
                v-for="item in branchPermissionOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item
            label="Date"
            prop="tranDate"
          >
            <el-date-picker
              v-model="form.tranDate"
              type="date"
              format="dd/MM/yyyy"
            >
            </el-date-picker>
          </el-form-item>

          <el-form-item
            label="Journal Type"
            prop="journalType"
          >
            <el-select
              v-model="form.journalType"
              filterable
            >
              <el-option
                v-for="item in journalTypeOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item
            label="Currency"
            prop="currency"
          >
            <el-select
              v-model="form.currency"
              filterable
            >
              <el-option
                v-for="item in currencyOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item
            label="Ref no."
            prop="refNum"
          >
            <el-input
              v-model="form.refNum"
              :placeholder="refNumLoading"
            >
              <el-button
                slot="append"
                icon=" fa fa-barcode"
                @click="getNextRefNum"
              >
              </el-button>
            </el-input>
          </el-form-item>
          <el-form-item
            label="Memo"
            prop="memo"
          >
            <el-input
              v-model="form.memo"
              type="textarea"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <!--Sub Items List-->
      <journal-detail
        :items="accountDetailsInit"
        :total-difference="totalDifference"
        :submit-event="submitEvent"
        @item-change="changeAccountDetail"
        @submit-form="submitForm"
      >
      </journal-detail>

      <el-row :gutter="10">
        <el-col :span="12">
          <fieldset class="total-fieldset">
            <legend>Total Debits:</legend>
            <span class="total">
              <i-count-up
                :start-val="0"
                :end-val="totalDebit"
                :decimals="2"
                :duration="0.5"
                :options="countUpOpts"
                :class="[totalValidateClassName]"
              >
              </i-count-up>
            </span>
          </fieldset>
        </el-col>

        <el-col :span="12">
          <fieldset class="total-fieldset">
            <legend>Total Credits:</legend>
            <span class="total">
              <i-count-up
                :start-val="0"
                :end-val="totalCredit"
                :decimals="2"
                :duration="0.5"
                :options="countUpOpts"
                :class="[totalValidateClassName]"
              >
              </i-count-up>
            </span>
          </fieldset>
        </el-col>
      </el-row>

      <el-form-item style="text-align: right">
        <el-button
          :disabled="saveBtnDisabled"
          type="primary"
          @click="submitEvent++"
        >
          Save
        </el-button>
        <el-button @click="handleCancel">Cancel</el-button>
      </el-form-item>

    </el-form>
  </div>
</template>

<script>
import moment from 'moment'
import ICountUp from 'vue-countup-v2'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import wrapCurrentTime from '/imports/ui/lib/wrap-current-time'
import { getNextRef } from '/imports/utils/get-next-ref'

// Libs
import LookupValue from '../lib/lookup-value'

import JournalDetail from '../components/JournalDetail.vue'
import { findOneJournal, insertJournal } from '../../api/journals/methods'

export default {
  name: 'JournalNew',
  components: { ICountUp, JournalDetail },
  data() {
    const validateRefNum = (rule, value, callback) => {
      if (value) {
        findOneJournal
          .callPromise({
            selector: {
              refNum: value,
              branchId: this.form.branchId,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Ref num is exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      countUpOpts: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: '',
      },
      loading: false,
      refNumLoading: 'eg. 1',
      journalTypeOpts: LookupValue.journalType,
      currencyOpts: LookupValue.currency,
      accountDetailsInit: [],
      accountDetails: [],
      submitEvent: 0,
      totalDebit: 0,
      totalCredit: 0,
      totalDifference: 0,
      form: {
        branchId: '',
        refNum: '',
        tranDate: moment().toDate(),
        journalType: 'General',
        currency: 'USD',
        amount: 0,
        memo: '',
      },
      rules: {
        refNum: [
          { required: true, message: 'Ref no. is required' },
          { validator: validateRefNum, trigger: 'blur' },
        ],
        tranDate: [{ required: true, message: 'Date is required' }],
        journalType: [{ required: true, message: 'Journal type is required' }],
        currency: [{ required: true, message: 'Currency is required' }],
        memo: [{ required: true, message: 'Memo is required' }],
      },
    }
  },
  computed: {
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    branchPermissionOpts() {
      return this.$store.getters['app/branchPermissionOpts']
    },
    totalValidateClassName() {
      if (
        this.totalDebit <= 0 ||
        this.totalCredit <= 0 ||
        this.totalDebit !== this.totalCredit
      ) {
        return 'error'
      }

      return 'success'
    },
    saveBtnDisabled() {
      return this.totalValidateClassName !== 'success' ? true : false
    },
  },
  created() {
    this.form.branchId = this.currentBranchId
  },
  mounted() {
    this.initAccountDetails()
    this.getNextRefNum()
  },
  methods: {
    initAccountDetails() {
      this.accountDetailsInit = [
        {
          chartAccountId: '',
          dr: 0,
          cr: 0,
          memo: '',
          classId: '',
          nameId: '',
        },
        {
          chartAccountId: '',
          dr: 0,
          cr: 0,
          memo: '',
          classId: '',
          nameId: '',
        },
      ]
    },
    changeAccountDetail(items) {
      let totalDebit = 0
      let totalCredit = 0
      items.forEach(item => {
        totalDebit += item.dr !== '' ? item.dr : 0
        totalCredit += item.cr !== '' ? item.cr : 0
      })

      this.totalDebit = totalDebit
      this.totalCredit = totalCredit
      this.totalDifference = totalDebit - totalCredit
      this.form.amount = totalDebit

      this.$nextTick(() => {
        this.accountDetails = items
      })
    },
    getNextRefNum() {
      this.refNumLoading = 'Loading....'

      getNextRef
        .callPromise({
          collectionName: 'journals',
          opts: {
            field: 'refNum',
            selector: {
              branchId: this.form.branchId,
            },
            paddingType: 'start',
            paddingLength: 4,
            paddingChar: '0',
            prefix: '',
          },
        })
        .then(result => {
          if (result) {
            this.form.refNum = result
            this.refNumLoading = 'eg. 1'
          }
        })
        .catch(error => {
          this.refNumLoading = 'eg. 1'
          Notify.error({ message: error })
        })
    },
    submitForm(childValidate) {
      this.$refs['form'].validate(valid => {
        if (valid && childValidate) {
          this.loading = true

          // Pick doc
          this.form.tranDate = wrapCurrentTime(this.form.tranDate)

          insertJournal
            .callPromise({
              doc: this.form,
              details: this.accountDetails,
            })
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.resetForm()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
      this.initAccountDetails()
      this.getNextRefNum()
    },
    handleCancel() {
      this.$router.push({ name: 'app.journal' })
    },
  },
}
</script>

<style lang="scss" scoped>
.total-fieldset {
  font-size: 20px;
}

.total {
  font-size: 30px;
  text-align: center;
  display: block;
  font-weight: bold;

  .success {
    color: #409eff;
  }

  .error {
    color: #f56c6c;
  }
}
</style>
