<template>
  <div>
    <!-- Toolbar Server-->
    <!-- <TableToolbar :col-span="{action:6, filter:9}">
      <template slot="action">
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleNew"
        >New</el-button>

      </template>
      <template slot="filter">
        <el-date-picker
          v-model="tableSearchDate"
          :picker-options="pickerOpts"
          type="daterange"
          format="dd/MM/yyyy"
          start-placeholder="Start"
          end-placeholder="End"
        >
        </el-date-picker>
        <el-button
          type="default"
          icon="el-icon-search"
          @click="tableSearchClick"
        >Search</el-button>
      </template>
    </TableToolbar> -->

    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    >
    </TableToolbar>

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <a
            v-if="title.prop === 'refNum'"
            href="#"
            class="page-link"
            @click="refNumClick(scope.row)"
          >{{ formatter(scope.row, title.prop) }}</a>
          <span v-else>{{ formatter(scope.row, title.prop) }}</span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <el-dropdown
            trigger="click"
            @command="tableActionClick"
          >
            <span class="el-dropdown-link">
              <i class="fa fa-bars"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item :command="{action:'edit', row:scope.row}">Edit</el-dropdown-item>
              <el-dropdown-item :command="{action:'remove', row:scope.row}">Remove</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </data-tables>

    <!-- <data-tables-server
      :loading="loading"
      :data="tableData"
      :total="tableTotal"
      :table-props="tableProps"
      :show-action-bar="false"
      :custom-filters="tableCustomFilters"
      @query-change="tableQueryChange"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span :class="classSoftRemove(scope.row.removed)">
            {{ formatter(title.prop, scope.row[title.prop]) }}
          </span>
        </template>
      </el-table-column>

      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <el-dropdown
            trigger="click"
            @command="handleCommand"
          >
            <span class="el-dropdown-link">
              <i class="fa fa-bars"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <span v-if="scope.row.removed">
                <el-dropdown-item
                  :command="{action: 'restore', row: scope.row}"
                  class="restore-action"
                >
                  Restore
                </el-dropdown-item>
                <el-dropdown-item
                  :command="{action: 'remove', row: scope.row}"
                  class="remove-action"
                >
                  Remove
                </el-dropdown-item>
              </span>
              <span v-else>
                <el-dropdown-item :command="{action: 'edit', row: scope.row}">Edit</el-dropdown-item>
                <el-dropdown-item
                  :command="{action: 'softRemove', row: scope.row}"
                  class="soft-remove-action"
                >
                  Soft Remove
                </el-dropdown-item>
              </span>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </data-tables-server> -->

  </div>
</template>

<script>
import moment from 'moment'
import numeral from 'numeral'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import removeMixin from '/imports/ui/mixins/remove'

// Table
import TableToolbar from '/imports/ui/components/TableToolbar.vue'

import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

import { getJournalsDataTable, removeJournal } from '../../api/journals/methods'

export default {
  name: 'Journal',
  components: { TableToolbar },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      // tableTotal: 0,
      tableTitles: [
        { prop: 'tranDate', label: 'Date' },
        { prop: 'refNum', label: 'NO.' },
        { prop: 'journalType', label: 'Type' },
        { prop: 'currency', label: 'Currency' },
        { prop: 'total', label: 'Amount' },
        { prop: 'memo', label: 'Memo' },
      ],
      tableFilters: [
        {
          prop: ['refNum', 'journalType', 'currency'],
          value: '',
        },
      ],
      // tableProps: {
      //     border: false,
      //     stripe: false,
      //     defaultSort: {
      //         prop: 'tranDate',
      //         order: 'descending'
      //     }
      // },
      // tableSearchDate: null,
      // pickerOpts: dateRangePickerOpts,
      // tableCustomFilters: [{ props: 'tableSearch', vals: 0 }],
      // tableInitialQuery: {
      //     type: 'init',
      //     page: 1,
      //     pageSize: 20,
      //     sortInfo: {prop: 'tranDate', order: 'descending'},
      //     filters: []
      // }
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'tranDate',
      order: 'descending',
    }
    // this.tableInitialQuery.sortInfo = {
    //   prop: 'tranDate',
    //   order: 'descending',
    // }
  },
  mounted() {
    this.getData(this.tableInitialQuery)
  },
  methods: {
    // Get data
    getData() {
      this.loading = true

      getJournalsDataTable
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // getData(tableQuery) {
    //   this.loading = true
    //   // Additional params
    //   const params = {
    //     date: this.tableSearchDate,
    //   }
    //   console.log('getData -> query, params', tableQuery, params)

    //   dataTableJournals
    //     .callPromise({ tableQuery, params })
    //     .then(result => {
    //       this.tableData = result.data
    //       this.tableTotal = result.total
    //       this.loading = false
    //     })
    //     .catch(error => {
    //       this.loading = false
    //       Notify.error({ message: error })
    //     })
    // },
    // tableSearchClick() {
    //   this.tableCustomFilters[0].vals += 1
    // },
    // tableQueryChange(tableQuery) {
    //   this.getData(tableQuery)
    // },
    // Column formatter, class
    formatter(row, column) {
      let value = row[column]
      if (column === 'tranDate') {
        value = moment(value).format('DD/MM/YYYY')
      } else if (column === 'total') {
        value = numeral(value).format('0,0.00')
      }

      return value
    },

    refNumClick(row) {
      console.log(row)
    },
    // Table action
    addNew() {
      this.$router.push({ name: 'app.journalNew' })
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.$router.push({
        name: 'app.journalEdit',
        params: { _id: row._id },
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeJournal,
        selector: { _id: row._id },
        successMethod: 'getData',
        successParams: this.tableInitialQuery,
        loading: 'loading',
        title: row.code,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
