<template>
  <div>
    <el-row
      :gutter="20"
      class="custom-row"
    >
      <div class="login-container">
        <div class="company">
          <img src="/images/logo.png">
          <div class="company-name">Rabbit Technology</div>
        </div>
        <div class="login-form">
          <div class="">
            <div class="login-input">
              <el-input
                ref="email"
                v-model="form.email"
                :autofocus="true"
                size="medium"
                prefix-icon=" fa fa-user"
                placeholder="Username/Email"
                class="login-textbox"
                @focus="selectAll"
              >
              </el-input>
            </div>
          </div>
          <div class="">
            <div class="login-input">
              <el-input
                ref="password"
                v-model="form.password"
                :type="passwordInputType"
                size="medium"
                prefix-icon=" fa fa-lock"
                placeholder="******"
                class="login-textbox"
                style="border:none;"
                @focus="selectAll"
                @keyup.enter.native="submitForm"
              >
                <i
                  slot="suffix"
                  :class="'el-input__icon fa fa-' + passwordVisibilityIcon"
                  style="cursor: pointer;"
                  @click="togglePasswordVisibility"
                > </i>
              </el-input>
            </div>
          </div>

          <div class="login-btn-panel">
            <el-button
              :loading="loadingBtn"
              size="medium"
              type="primary"
              class="login-btn"
              @click="submitForm"
            >
              <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;&nbsp;Login
            </el-button>
          </div>
        </div>
      </div>
    </el-row>

    <div class="footer">
      <div>
        {{ copyright }}
      </div>
    </div>
  </div>
</template>

<script>
import { Meteor } from 'meteor/meteor'
import moment from 'moment'
import { mapState } from 'vuex'

import Msg from '/imports/ui/lib/message'

// Release version
import release from '../release'

export default {
  data() {
    return {
      loadingBtn: false,
      passwordInputType: 'password',
      passwordVisibilityIcon: 'eye',
      form: {
        email: '',
        password: '',
      },
      copyright: `© 2014-${moment().format('YYYY')}
                  Rabbit Technology (V ${release})`,
    }
  },
  computed: {
    ...mapState({
      currentUser(state) {
        return state.app.currentUser
      },
    }),
    // Check if user == admin || super
    userIsInRoleAdmin() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
    // Check if user == admin || super || report
    userIsInRoleCashier() {
      return this.$store.getters['app/userIsInRole'](['cashier'])
    },
    // Check if user == admin || super || report
    userIsInRoleReporter() {
      return this.$store.getters['app/userIsInRole'](['reporter'])
    },
  },
  watch: {
    currentUser(val) {
      this.finishProgress('success', 1000)
    },
  },
  methods: {
    selectAll(event) {
      setTimeout(function() {
        event.target.select()
      }, 0)
    },
    togglePasswordVisibility() {
      if (this.passwordInputType === 'password') {
        this.passwordInputType = 'text'
        this.passwordVisibilityIcon = 'eye-slash'
      } else {
        this.passwordInputType = 'password'
        this.passwordVisibilityIcon = 'eye'
      }
    },
    submitForm() {
      this.startProgress()

      if (this.form.email && this.form.password) {
        Meteor.loginWithPassword(this.form.email, this.form.password, err => {
          if (err) {
            this.finishProgress('error')
          }
        })
      } else {
        this.finishProgress('error')
      }
    },
    startProgress() {
      this.loadingBtn = true
    },
    finishProgress(type, time = 300) {
      setTimeout(() => {
        this.loadingBtn = false
        this.$nextTick(() => {
          if (type == 'error') {
            Msg.error('Username/Email and Password is required!')
            this.$refs.email.$el.querySelector('input').focus()
          } else {
            Msg.success('You are login!')
            if (this.userIsInRoleAdmin || this.userIsInRoleCashier) {
              this.$router.push({ name: 'home' })
            } else if (this.userIsInRoleReporter) {
              this.$router.push({ name: 'rest.report' })
            }
          }
        })
      }, time)
    },
  },
}
</script>

<style lang="scss" scoped>
.line-space {
  margin-bottom: 15px;
}

.custom-row {
  width: 100%;
  margin: 0;
}

/* company info */

.company-container {
  height: 100vh;
  background-color: #000033;
  border: unset;
  .company-box {
    /* height: 50vh; */
    position: relative;
    /* padding: 20px; */
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
  }
}

.company {
  padding-top: 10%;
  width: 30%;
  margin: 0 auto;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
  }
}

.company-name {
  text-align: center;
  color: white;
  font-size: 3vh;
  margin-top: 1%;
  font-weight: 700;
}

.login-container {
  height: 100vh;
}

.login-container {
  .login-box {
    /*background: #ffffff33;*/
    height: auto;
    position: relative;
    /* padding: 20px; */
    width: 20%;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
  }
}

.login-form {
  padding: 1% 5% 5% 5%;
  width: 17%;
  margin: 0 auto;
}

.login-input {
  margin-top: 5%;
}

.login-btn-panel {
  height: 32px;
  margin-top: 5%;
  .el-button--primary,
  .login-btn {
    width: 100%;
    background-color: #ff782c;
    border: none;
    border-radius: 3px;
    font-size: 14 ផខ;
    /*letter-spacing: 1px;*/
    font-weight: 500;
    text-transform: uppercase;
  }
  .el-button--primary:hover,
  .login-btn:hover {
    background-color: #d35e1a;
  }
  .el-button--primary:focus,
  .login-btn:focus {
    background-color: #d35e1a;
  }
  .el-button--primary:active,
  .login-btn:active {
    background-color: #d35e1a;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #97a8be;
  font-size: 12px;
  text-align: center;
}

/*Fix Small Resolution*/
@media only screen and (max-width: 1600px) {
  .login-form {
    width: 20%;
  }
  .company img {
    width: 27%;
  }
  .company-name {
    font-size: 3.7vh;
    margin-top: 3%;
  }
}
@media only screen and (max-width: 1280px) {
  .company-name {
    font-size: 2.7vh;
    margin-top: 5%;
  }
}
</style>
