<template>
  <div class="collapse-list">
    <el-collapse v-model="activeName">
      <!--General-->
      <el-collapse-item name="General">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-globe"></i> General
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in generalSetting"
            :span="6"
            :key="index"
          >
            <span
              class="list-title"
              @click="handleLink(item.route)"
            >
              {{ item.title }}
            </span>
            <div class="list-memo">{{ item.memo }}</div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  name: 'Setting',
  data() {
    return {
      activeName: ['General', 'Item', 'Vendor', 'Customer'],
      generalSetting: [
        {
          route: 'app.accountType',
          title: 'Account Type',
          memo: `
            Accounting is the systematic and comprehensive 
            recording of financial transactions pertaining 
            to a business, and it also refers to the process 
            of summarizing, analyzing and reporting these 
            transactions to oversight agencies and tax collection entities.
          `,
        },
        {
          route: 'app.chartAccount',
          title: 'Chart of Account',
          memo: `
            Accounting is the systematic and comprehensive 
            recording of financial transactions pertaining 
            to a business, and it also refers to the process 
            of summarizing, analyzing and reporting these 
            transactions to oversight agencies and tax collection entities.
          `,
        },
        {
          route: 'app.classification',
          title: 'Classification',
          mome: `
            Accounting is the systematic and comprehensive 
            recording of financial transactions pertaining 
            to a business, and it also refers to the process 
            of summarizing, analyzing and reporting these 
            transactions to oversight agencies and tax collection entities.
          `,
        },
      ],
    }
  },
  methods: {
    handleLink(route) {
      this.$router.push({ name: route })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/collapse-list.scss';
</style>