<template>
  <div>
    <el-dropdown
      :hide-on-click="false"
      trigger="click"
    >
      <span class="el-dropdown-link">
        Actions
        <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-checkbox-group v-model="headerList">
          <el-dropdown-item>
            <el-checkbox label="Name"></el-checkbox>
          </el-dropdown-item>
          <el-dropdown-item>
            <el-checkbox label="Address"></el-checkbox>
          </el-dropdown-item>
        </el-checkbox-group>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  name: 'TableHeaderComponet',
  props: {
    tableHeaderChecked: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return { headerList: this.tableHeaderChecked }
  },
  watch: {
    tableHeaderChecked(val) {
      this.headerList = val
    },
    headerList(val) {
      setTimeout(() => {
        this.$emit('headerCheck', val)
      }, 300)
    },
  },
}
</script>
