<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :visible="modalVisible"
      :update-doc="updateDoc"
      @modal-close="handleModalClose"
    >
    </component>

    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    >
    </TableToolbar>

    <!-- Datatable -->

    <data-tables
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
      :loading="loading"
    >
      <el-table-column
        prop="profile.fullName"
        label="Full Name"
        sortable="custom"
      >
      </el-table-column>

      <el-table-column
        prop="username"
        label="Username"
        sortable="custom"
      >
      </el-table-column>

      <el-table-column
        prop="emails[0].address"
        label="Email"
        sortable="custom"
      >
      </el-table-column>

      <el-table-column
        prop="profile.status"
        label="Status"
        sortable="custom"
      >
      </el-table-column>

      <el-table-column
        :formatter="arrFormatter"
        prop="roles"
        label="Roles"
        sortable="custom"
      >
      </el-table-column>

      <el-table-column
        :formatter="arrFormatter"
        prop="profile.branchPermissions"
        label="Branch Permiss"
        sortable="custom"
      >
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="70"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>

    </data-tables>
  </div>
</template>

<script>
// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import removeMixin from '/imports/ui/mixins/remove'
import Notify from '/imports/ui/lib/notify'

// Table Action
import TableToolbar from '/imports/ui/components/TableToolbar.vue'
import TableAction from '/imports/ui/components/TableAction.vue'

import { findUsers, removeUser } from '../../api/users/methods'

import userNew from './UserNew'
import userEdit from './UserEdit'
export default {
  name: 'User',
  components: { TableToolbar, TableAction, userNew, userEdit },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      tableFilters: [
        {
          prop: ['username'],
          value: '',
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  computed: {
    userIsInSuperAdminRole() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
  },

  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'profile.fullName',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    // Check roles
    userIsInRole(roles) {
      return this.$store.getters['app/userIsInRole'](roles)
    },
    // Get data
    getData() {
      this.loading = true

      findUsers
        .callPromise({
          selector: { username: { $ne: 'super' } },
          options: { sort: { fullName: 1 } },
        })
        .then(result => {
          this.tableData = result

          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Add new
    addNew() {
      this.currentModal = userNew
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    // Table Action
    actionsList(row) {
      let actions = [{ label: 'Edit', value: 'edit' }]

      if (this.userIsInRole(['super'])) {
        actions.push({
          label: 'Remove',
          value: 'remove',
        })
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.updateDoc = row

      this.currentModal = userEdit
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeUser,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    arrFormatter(row, column, cellValue) {
      return JSON.stringify(cellValue)
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/main.scss';
</style>
