<template>
  <div>
    <span class="user-avatar">
      <avatar
        :username="userFullName"
        :src="imageUrl"
        :size="100"
      ></avatar>
    </span>
    <el-upload
      :auto-upload="false"
      :file-list="fileImageList"
      :on-change="handleImageChange"
      :class="userUploadClass"
      action=""
    >
      <el-button
        v-if="!imageUrl"
        size="small"
        type="primary"
      ><i class="fa fa-plus"></i> Picture</el-button>
    </el-upload>

    <el-button
      v-if="imageUrl"
      size="small"
      type="danger"
      class="btn-avatar-remove"
      @click="handleImageRemove"
    ><i class="fa fa-times"></i> Picture</el-button>

    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      label-width="200px"
    >
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item
            label="Full name"
            prop="fullName"
          >
            <el-input v-model="form.fullName"></el-input>
          </el-form-item>

          <el-form-item
            label="Username"
            prop="username"
          >
            <el-input
              v-model="form.username"
              :readonly="true"
            ></el-input>
          </el-form-item>
          <el-form-item
            label="Email"
            prop="email"
          >
            <el-input v-model="form.email"></el-input>
          </el-form-item>

          <el-form-item
            label="Old password"
            prop="oldPassword"
          >
            <el-input
              v-model="form.oldPassword"
              type="password"
            ></el-input>
          </el-form-item>

          <el-form-item
            label="New password"
            prop="password"
          >
            <el-input
              v-model="form.password"
              type="password"
            ></el-input>
          </el-form-item>

          <el-form-item
            label="New confirm password"
            prop="confirmPassword"
          >
            <el-input
              v-model="form.confirmPassword"
              type="password"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm"
            >
              Save Changes
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import _ from 'lodash'
import Avatar from 'vue-avatar'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import {
  validateUserExist,
  validateUserPassword,
} from '../../utils/validate-methods'
import {
  findOneUser,
  updateUser,
  findUserProfileImage,
} from '../../api/users/methods'

// Image Collection
import Images from '/imports/api/files/files'

export default {
  name: 'UserProfile',
  components: { Avatar },
  data() {
    const _id = this.$route.params._id

    // Custom validate
    const validateUsername = (rule, value, callback) => {
      if (value) {
        validateUserExist
          .callPromise({
            selector: {
              _id: { $ne: _id },
              username: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Username exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateEmail = (rule, value, callback) => {
      if (value) {
        validateUserExist
          .callPromise({
            selector: {
              _id: { $ne: _id },
              emails: { $elemMatch: { address: value } },
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Email exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateOldPassword = (rule, value, callback) => {
      if (value) {
        validateUserPassword
          .callPromise({ password: value })
          .then(result => {
            if (result.error) {
              callback(new Error('The old password is incorrect'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validatePassword = (rule, value, callback) => {
      if (value) {
        if (this.form.confirmPassword !== '') {
          this.$refs.form.validateField('confirmPassword')
        }
        callback()
      }
    }

    const validateConfirmPassword = (rule, value, callback) => {
      if (value && value !== this.form.password) {
        callback(new Error("The new password don't match!"))
      } else {
        callback()
      }
    }

    return {
      loading: true,
      form: {
        _id: '',
        fullName: '',
        username: '',
        email: '',
        status: '',
        oldPassword: '',
        password: '',
        confirmPassword: '',
        branchPermissions: [],
        roles: [],
        profilePic: '',
      },
      rules: {
        fullName: [{ required: true, message: 'Full name is required' }],
        username: [
          { required: true, message: 'Username is required' },
          {
            min: 5,
            max: 20,
            message: 'Length should be 5 to 20',
            trigger: 'blur',
          },
          { validator: validateUsername, trigger: 'blur' },
        ],
        email: [
          { required: true, message: 'Email is required' },
          { type: 'email', message: 'Email is not a valid email' },
          { validator: validateEmail, trigger: 'blur' },
        ],
        oldPassword: [
          { required: true, message: 'Old password is required' },
          {
            min: 6,
            message: 'Length should be greater than 6',
            trigger: 'blur',
          },
          { validator: validateOldPassword, trigger: 'blur' },
        ],
        password: [
          { required: true, message: 'New password is required' },
          {
            min: 6,
            message: 'Length should be greater than 6',
            trigger: 'blur',
          },
          { validator: validatePassword, trigger: 'blur' },
        ],
        confirmPassword: [
          { required: true, message: 'New confirm password is required' },
          {
            min: 6,
            message: 'Length should be greater than 6',
            trigger: 'blur',
          },
          { validator: validateConfirmPassword, trigger: 'blur' },
        ],
      },
      // Image
      imageUrl: '',
      fileImageList: [],
      fileImage: null,
      currentProfilePic: '',
    }
  },
  computed: {
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
    userUploadClass() {
      return this.imageUrl ? 'is-url user-avatar-upload' : 'user-avatar-upload'
    },
  },
  mounted() {
    this.getDataUpdate()
  },
  methods: {
    getDataUpdate() {
      this.loading = true
      const _id = this.$route.params._id

      findOneUser
        .callPromise({ _id })
        .then(result => {
          this.form = {
            _id: result._id,
            fullName: result.profile.fullName,
            username: result.username,
            email: result.emails[0].address,
            status: result.profile.status,
            oldPassword: '',
            password: '',
            confirmPassword: '',
            branchPermissions: result.profile.branchPermissions,
            roles: result.roles,
            profilePic: result.profile.profilePic,
          }
          // get profile pic
          this.getImage(result.profile.profilePic)

          this.$nextTick(() => (this.loading = false))
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // get Image
    getImage(imageId) {
      if (imageId) {
        findUserProfileImage
          .callPromise({ _id: imageId })
          .then(result => {
            if (result) {
              this.imageUrl = result.url
              this.fileImageList = [result]
              this.fileImage = result
              this.currentProfilePic = imageId
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    },

    handleImageChange(file) {
      const isJPG = file.raw.type === 'image/jpeg'
      // const isLt1M = file.size / 1024 / 1024 < 2
      if (!isJPG) {
        this.$message.error('Image / picture must be JPG format!')
        this.imageUrl = ''
        this.fileImageList = []
        this.fileImage = null
      }
      //  else if (!isLt1M) {
      //   this.$message.error('Image / picture size must be smaller than 1MB!')
      //   this.imageUrl = ''
      //   this.fileImageList = []
      //   // this.fileImage = null
      // }
      else {
        this.imageUrl = URL.createObjectURL(file.raw)
        this.fileImageList = [file]
        this.fileImage = file.raw
      }
    },
    handleImageRemove() {
      this.imageUrl = ''
      this.fileImageList = []
      this.fileImage = null
    },

    // delete image
    deleteCurrentProfilePic() {
      if (this.currentProfilePic) {
        Images.remove({ _id: this.currentProfilePic })
      }
    },

    update(data) {
      updateUser
        .callPromise({ user: data })
        .then(currentUser => {
          if (currentUser) {
            this.loading = false
            if (currentUser === 'logout') {
              this.$store.commit('app/logout', this)
            } else {
              Msg.success()
              this.handleCancel()
            }
          }
        })
        .catch(error => {
          this.loading = false

          Notify.error({ message: error.reason })
        })
    },

    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          // Make data
          const data = _.clone(this.form)
          delete data.oldPassword
          delete data.confirmPassword

          if (this.fileImage != null) {
            if (this.fileImage._id === undefined) {
              Images.insert(this.fileImage, (error, result) => {
                if (!error) {
                  // Image Id and Url
                  data.profilePic = result._id
                  // Delete current pro pic
                  this.deleteCurrentProfilePic()
                  // Update Data
                  this.update(data)
                } else {
                  Notify.error({ message: 'Insert image failed!' })
                }
              })
            } else {
              // Update Data
              this.update(data)
            }
          } else {
            // Delete current profile pic
            this.deleteCurrentProfilePic()
            // Image Id and Url
            data.profilePic = ''
            // Update Data
            this.update(data)
          }
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.$router.push({ name: 'app.user' })
    },
  },
}
</script>

<style lang="scss" scoped>
.user-avatar {
  display: inline-block;
  margin: 0px 0px 5px 200px;
  text-align: center;
}
.user-avatar-upload {
  display: block;
  margin: 0px 0px 20px 210px;
}
.is-url {
  margin-bottom: 0;
  height: 0;
}
.btn-avatar-remove {
  margin: 0px 0px 20px 210px;
}
</style>
