<template>
  <el-container class="app-container">
    <el-container>
      <!--Header-->
      <el-header class="header header-menu-layout">
        <div
          class="home-panel"
          @click="handlePushHome"
        >
          <p class="header-home-text">
            <i class="fa fa-chevron-left"></i>
            {{ $t('rest.menu.dashboard') }}
          </p>
        </div>

        <div class="title-panel">
          <span class="page-title">{{ $t('rest.sale.systemName') }}</span>
        </div>

        <!--Left-->
        <span class="menu-left">
        </span>

        <!--Right-->
        <div class="right-panel">
          <!-- User -->
          <user-setting></user-setting>
        </div>
      </el-header>

      <el-main class="content">
        <div>
          <!-- Router View -->
          <div class="router-view">
            <!-- route outlet -->
            <router-view></router-view>
          </div>
        </div>
      </el-main>

    </el-container>
  </el-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import UserSetting from '/imports/ui/layouts/UserSetting.vue'
import BranchSetting from '/imports/ui/layouts/BranchSetting.vue'

export default {
  name: 'SaleLayout',
  components: {
    UserSetting,
    BranchSetting,
  },
  data() {
    return {}
  },
  computed: {},
  methods: {
    handlePushHome() {
      this.$router.push({ name: 'home' })
    },
  },
}
</script>

<style lang="scss" scoped>
a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

/* Container */
.app-container {
  height: 100vh;
}

/* Aside */
.aside {
  background-image: url('/images/sidebar.png');

  .logo {
    // height: 60px;
    /*padding-bottom: 10px;*/
    text-align: center;
    /*border-bottom: 1px solid #636364;*/
    line-height: 25px;
    color: white;

    .logo-img {
      width: 80px;
      padding: 12px 0px 3px;
      cursor: pointer;
    }
  }
}

/* Header */
.header {
  // background-color: rgb(84, 92, 100);
  background-color: #2f3241;
  color: #303133;
  line-height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 55px !important;

  .home-panel {
    width: 215px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    &:hover {
      color: rgb(29, 233, 182);
    }
  }
  .header-home-text {
    font-size: 20px;
    display: inline;
  }
  .title-panel {
    width: calc(100vw - 500px);
    height: 53px;
    display: inline-block;
    text-align: center;
    .page-title {
      color: #fff;
      font-size: 20px;
      font-weight: normal;
      padding-right: 10px;
      line-height: 50px;
    }
  }
  .right-panel {
    width: 215px;
    height: 55px;
    text-align: right;
    float: right;
  }

  // .menu-left {
  //   position: absolute;
  // }

  // .menu-right {
  //   float: right;
  // }
}

/* Content */
.content {
  // padding: 15px 20px 0px;
  padding: 0px;
  background: #eee;

  .router-view {
    // min-height: calc(100vh - 70px);
    min-height: calc(100vh - 55px);
    background-color: #fbfbfb;
    margin: 0px 0px 0px;
    padding: 0;
    position: relative;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
}
</style>
