<template>
  <div>
    <!--Table List-->
    <el-form
      v-loading.body="loading"
      ref="form"
      :model="form"
    >
      <el-table
        :data="form.items"
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="No"
          width="40px"
        >
        </el-table-column>

        <el-table-column
          prop="chartAccountId"
          label="Account"
          min-width="200px"
        >
          <template slot-scope="scope">
            <el-form-item
              :prop="'items.' + scope.$index + '.chartAccountId'"
              :rules="rules.chartAccountId"
              class="form-item"
            >
              <el-select
                v-model="scope.row.chartAccountId"
                size="mini"
                filterable
                style="width: 100%"
                @change="handleChartAccountChange(scope.row)"
              >
                <el-option
                  v-for="doc in lookupChartAccount"
                  :key="doc.value"
                  :label="doc.label"
                  :value="doc.value"
                >
                  <span v-html="doc.labelCustom"></span>
                </el-option>
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="dr"
          label="DR"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.dr'"
              :prop="'items.' + scope.$index + '.dr'"
              :rules="rules.dr"
              class="form-item"
            >
              <el-input-number
                :min="0"
                v-model="scope.row.dr"
                controls-position="right"
                size="mini"
                @change="handleDrChange(scope.$index)"
              >
              </el-input-number>
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="cr"
          label="CR"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.cr'"
              :prop="'items.' + scope.$index + '.cr'"
              :rules="rules.cr"
              class="form-item"
            >
              <el-input-number
                :min="0"
                v-model="scope.row.cr"
                controls-position="right"
                size="mini"
                @change="handleCrChange(scope.$index)"
              >
              </el-input-number>
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="memo"
          label="Memo"
        >
          <template slot-scope="scope">
            <el-form-item
              :prop="'items.' + scope.$index + '.memo'"
              class="form-item"
            >
              <el-input
                v-model="scope.row.memo"
                size="mini"
              ></el-input>
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="classId"
          label="Class"
        >
          <template slot-scope="scope">
            <el-form-item
              :prop="'items.' + scope.$index + '.classId'"
              class="form-item"
            >
              <el-select
                v-model="scope.row.classId"
                size="mini"
                filterable
              >
                <el-option
                  v-for="doc in lookupClassification"
                  :key="doc.value"
                  :label="doc.label"
                  :value="doc.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>

        <!--<el-table-column prop="nameId" label="Name">-->
        <!--<template slot-scope="scope">-->
        <!--<el-form-item-->
        <!--:prop="'items.' + scope.$index + '.nameId'"-->
        <!--class="form-item"-->
        <!--&gt;-->
        <!--<el-select-->
        <!--v-model="scope.row.nameId"-->
        <!--size="small"-->
        <!--&gt;-->
        <!--<el-option-->
        <!--v-for="doc in nameOpts"-->
        <!--:key="doc.value"-->
        <!--:label="doc.label"-->
        <!--:value="doc.value"-->
        <!--&gt;-->
        <!--</el-option>-->
        <!--</el-select>-->
        <!--</el-form-item>-->
        <!--</template>-->
        <!--</el-table-column>-->

        <el-table-column
          prop="itemId"
          label="Action"
          width="70px"
        >
          <template slot-scope="scope">
            <el-button 
v-if="form.items.length > 2"
                       type="text"
                       icon="el-icon-delete"
                       class="remove-icon"
                       @click="removeItem(scope.row)"
            >
            </el-button>
            <el-button
              v-if="(form.items.length - 1) === scope.$index"
              type="text"
              icon="el-icon-circle-plus"
              class="add-icon"
              @click="addItem"
            >
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-form>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import {
  lookupChartAccount,
  lookupClassification,
} from '../../utils/lookup-methods'

export default {
  name: 'JournalDetail',
  props: {
    items: {
      type: Array,
      default: function() {
        return []
      },
    },
    totalDifference: {
      type: Number,
      default: 0,
    },
    submitEvent: {
      type: Number,
      default: 0,
    },
  },
  data() {
    // Validate
    const validateDr = (rule, value, callback) => {
      if (value < 0) {
        callback(new Error('Error'))
      } else {
        let splitVal = _.split(rule.field, '.')
        if (value === 0 && this.form.items[splitVal[1].cr] === 0) {
          callback(new Error('Error'))
        }
        callback()
      }
    }

    const validateCr = (rule, value, callback) => {
      if (value < 0) {
        callback(new Error('Error'))
      } else {
        let splitVal = _.split(rule.field, '.')
        if (value === 0 && this.form.items[splitVal[1].dr] === 0) {
          callback(new Error('Error'))
        }
        callback()
      }
    }

    return {
      loading: false,
      removeAction: false,
      //   items: [],
      lookupChartAccount: [],
      lookupClassification: [],
      nameOpts: [],
      form: {
        items: this.items,
      },
      rules: {
        chartAccountId: [{ required: true }],
        dr: [{ validator: validateDr, trigger: 'blur' }],
        cr: [{ validator: validateCr, trigger: 'blur' }],
      },
    }
  },
  watch: {
    items(val) {
      this.form.items = val
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    submitEvent(val) {
      this.submitForm()
    },
  },
  mounted() {
    this.getChartAccounts()
    this.getClassifications()
    this.getNames()
  },
  methods: {
    getChartAccounts() {
      lookupChartAccount
        .callPromise({
          status: 'Active',
          removed: { $ne: true },
        })
        .then(result => {
          this.lookupChartAccount = result
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },
    getClassifications() {
      lookupClassification
        .callPromise({
          status: 'Active',
          removed: { $ne: true },
        })
        .then(result => {
          this.lookupClassification = result
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },
    getNames() {
      // Get data from server
      this.nameOpts = [
        { label: 'Name A', value: 'Name A' },
        { label: 'Name B', value: 'Name B' },
        { label: 'Name C', value: 'Name C' },
      ]
    },
    addItem() {
      this.form.items.push({
        chartAccountId: '',
        memo: '',
        classId: '',
        nameId: '',
        dr: 0,
        cr: 0,
      })
    },
    removeItem(item) {
      const index = this.form.items.indexOf(item)

      if (index !== -1) {
        this.removeAction = index < this.form.items.length - 1 ? true : false

        this.$nextTick(() => {
          this.form.items.splice(index, 1)
          this.emitToParent()
        })
      }
    },
    handleChartAccountChange(row) {
      if (this.totalDifference > 0) {
        row.cr = this.totalDifference
      } else if (this.totalDifference < 0) {
        row.dr = -this.totalDifference
      }

      this.emitToParent()
    },
    handleDrChange(index) {
      this.form.items[index].cr = ''
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    handleCrChange(index) {
      this.form.items[index].dr = ''
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    submitForm() {
      this.$refs.form.validate(valid => {
        this.$emit('submit-form', valid)
      })
    },
    emitToParent() {
      this.$emit('item-change', this.form.items)
    },
  },
}
</script>

<style lang="scss" scoped>
.form-item {
  margin-bottom: 0px;
}

.add-icon {
  color: #409eff;
}

.remove-icon {
  color: #f56c6c;
}
</style>
