// Variable Sale Form
@laptop: ~'only screen and (min-width: 1026px) and (max-width: 1367px)';
@tablet: ~'only screen and (min-width: 720px) and (max-width: 1025px)';
@primary-color: #5004bd;
@primary-text-color: #0f966e;

.left-side {
  width: 20.83333%;
  float: left;
  @media @tablet {
    width: 25%;
  }
  .sale-side-bar {
    padding: 0 20px;
    padding-left: 0;
    margin: 0;
    @media @tablet {
      padding: 0 10px;
      padding-left: 0;
    }

    .side-bar-list {
      height: 70px !important;
      line-height: 70px !important;

      @media @tablet {
        height: 60px !important;
        line-height: 60px !important;
      }
      cursor: pointer;
      transition: border-color 0.3s, background-color 0.3s, color 0.3s;
      box-sizing: border-box;
      list-style: none;
      position: relative;
      margin: 0;
      color: #fff !important;
      font-size: 20px;
      vertical-align: middle;
      overflow: hidden;
      @media @tablet {
        font-size: 16px;
        padding: 0 10px;
        padding-left: 0;
      }
      &:hover {
        .icon-panel {
          margin-right: 20px;
          @media @tablet {
            margin-right: 7px;
          }
        }
      }
      .icon-panel {
        width: 80px;
        height: 75px;
        margin-right: 5px;
        display: inline-block;
        transition: all 0.7s ease-out;
        @media @tablet {
          width: 50px;
          height: 65px;
          margin-right: 0px;
        }
        i {
          margin-left: 5px;
          // margin-right: 7px;
          width: 50px;
          font-size: 30px;
          color: #fff !important;
          height: 50px;
          line-height: 50px;
          border-radius: 50%;
          padding-left: 10px;
          @media @tablet {
            width: 30px;
            font-size: 22px;
            height: 60px;
            line-height: 60px;
            padding-left: 5px;
          }
        }
        .small-with-icon-fix {
          padding-left: 8px;
        }
      }
    }

    .side-bar-list-1 {
      background-color: rgb(68, 138, 255) !important;
      &:hover {
        .icon-panel {
          background-color: rgb(94, 148, 241) !important;
        }
      }
    }
    .side-bar-list-2 {
      background-color: rgb(255, 71, 87) !important;
      &:hover {
        .icon-panel {
          background-color: rgb(235, 98, 109) !important;
        }
      }
    }

    .side-bar-list-3 {
      background-color: rgb(94, 53, 177) !important;
      &:hover {
        .icon-panel {
          background-color: rgb(113, 68, 202) !important;
        }
      }
    }
    .side-bar-list-last {
      border-bottom-right-radius: 30px;
    }
  }
}

.card {
  position: relative;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  font-size: 11px;
  margin: 10px 20px;
  margin-left: 0;
  border-radius: 10px;
  cursor: pointer;
  @media @laptop {
    margin: 10px 4px;
    margin-left: 0;
  }
  @media @tablet {
    margin: 10px 10px;
    margin-left: 0;
  }
  .printed-tag {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ec8c69;
    z-index: 10000;
    transform: rotate(40deg);
    top: -65px;
    left: -70px;
  }
  .card-content {
    position: relative;
    min-width: 213px;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    background: #fff;
    @media @laptop {
      min-width: 180px;
    }
    @media @tablet {
      min-width: 200px;
    }

    .table-text {
      font-size: 17px;
      font-style: normal;
      line-height: 20px;
      font-weight: 600;
      padding-bottom: 5px;
      display: block;
      text-align: center;
      span {
        padding-left: 1px;
        font-size: 20px;
      }
    }
    .invoice-text {
      font-size: 12px;
      font-style: normal;
      line-height: 20px;
      font-weight: 600;
      display: block;
      span {
        padding-left: 3px;
      }
    }
    .date-text {
      font-size: 12px;
      font-style: normal;
      line-height: 20px;
      font-weight: 600;
      display: block;
      span {
        padding-left: 3px;
      }
    }
    .receive-btn {
      width: 100%;
      font-size: 17px;
      font-weight: 600;
      padding: 7px 5px;
      margin-top: 10px;
      border: 0;
    }
  }
  .printed {
    border: 2px solid #e67e22;
    .receive-btn {
      background-color: #e67e22;
    }
  }
  .not-printed {
    border: 2px solid #27ae60;
    .receive-btn {
      background-color: #27ae60;
    }
  }
}

.rest-card-list-scroller {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  .rest-card-list {
    padding: 0 0;
    text-align: left;
    height: calc(~'100vh - 370px') !important;
    @media (max-width: 1025px) {
      height: calc(~'100vh - 310px') !important;
    }
    .rest-card-container {
      margin: 10px 10px;
      @media @laptop {
        margin: 10px 0px;
      }
      @media @tablet {
        margin: 0px 0;
      }
    }
  }
}

.table {
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-size: 11px;
  margin: 10px 20px;
  margin-left: 0;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 1025px) {
    margin: 10px 10px;
    margin-left: 0;
  }

  .rest-card {
    position: relative;
    width: 170px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid rgba(255, 140, 0, 0.9);

    @media (max-width: 1025px) {
      width: 150px;
    }
    .invoice-text {
      height: 30px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: 0;
      color: #fff;
      line-height: 30px;
      background-color: rgba(255, 140, 0, 0.9);
    }
    .background-open {
      background-color: #17c964 !important;
    }

    .background-closed {
      background-color: #ff1a0296 !important;
    }
    .content {
      height: 100%;
      padding: 10px;
      @media (max-width: 1025px) {
        padding: 5px 5px;
      }
      .wrapper {
        width: 100%;
        line-height: 20px;
        .label {
          font-size: 14px;
          span {
            position: absolute;
            left: 55px;
            font-size: 14px;
            color: rgba(255, 140, 0, 0.9);
            word-break: break-all;
          }
          .open-text {
            color: #17c964 !important;
          }
          .closed-text {
            color: #ff1a0296 !important;
          }
        }
      }
    }
    border: 1px solid #17c964 !important;
  }
  .border-open {
    border: 1px solid #17c964 !important;
  }
  .border-closed {
    border: 1px solid #ff1a0296 !important;
  }
}

.feature-card {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  right: 0;
  display: block;
  border-radius: 0;
  min-width: 0;
  text-decoration: none;

  @media @tablet {
    height: 50px;
  }
  .feature-bottom-nav {
    width: 100%;
    height: 100%;
    transform: translate(0);
    // position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.5, 1);
    background-color: transparent !important;
    border-color: transparent !important;

    @media @tablet {
    }
    .feature-btn {
      align-items: center;
      display: inline-flex;
      flex: 0 0 auto;
      font-size: 14px;
      justify-content: center;
      min-width: 88px;
      outline: 0;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
      position: relative;
      vertical-align: middle;
      user-select: none;
      box-shadow: none !important;
      font-weight: 400;
      height: 100%;
      max-width: 300px;
      min-width: 120px;
      padding: 0;
      text-transform: none;
      opacity: 1;
      width: 100%;
      flex-shrink: 1;
      box-sizing: border-box;
      border: 0;
      outline: 0;
      border-radius: 8px;
      margin: 0 15px;

      @media @tablet {
        padding: 2px 12px 2px;
        max-width: 200px;
        margin: 0 10px !important;
      }

      &:focus,
      &:hover,
      &:active {
        cursor: pointer;
      }

      &:before {
        border-radius: inherit;
        color: inherit;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0.12;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        width: 100%;
        border: 0;
      }

      .feature-btn-content {
        align-items: center;
        border-radius: inherit;
        color: inherit;
        display: flex;
        height: inherit;
        flex: 1 0 auto;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        white-space: nowrap;
        width: inherit;
        flex-direction: column-reverse;
        font-size: 12px;
        white-space: nowrap;
        will-change: font-size;
        font-size: 14px;

        .load {
          display: none;
          position: absolute;
          top: 40px;
          @media @tablet {
            position: absolute;
            top: 20px;
          }
        }

        .feature-btn-text {
          font-size: 15px;
          color: #fff;
          font-weight: bold;
          margin: 0 0 1px 0;
          position: absolute;
          top: 10px;
          line-height: 20px;

          @media @tablet {
            font-size: 13px;
            top: 5px;
            line-height: 10px;
          }
        }

        .feature-btn-icon {
          font-size: 25px;
          color: #fff;
          position: absolute;
          top: 43px;

          @media @tablet {
            font-size: 17px;
            position: absolute;
            top: 30px;
            line-height: 5px;
          }
        }
      }
    }
    .feature-btn-1 {
      background-color: rgb(0, 150, 136);
      box-shadow: 0 -2px 4px 0 rgba(0, 150, 136, 0.8) !important;

      // i {
      //   text-shadow: 2px 0 0 rgba(239, 108, 0, 0.3),
      //     0 0px 0 rgba(239, 108, 0, 0.3), 2px 0 0 rgba(239, 108, 0, 0.3),
      //     0 2px 0 rgba(239, 108, 0, 0.3), 1px -2px 0 rgba(239, 108, 0, 0.3);
      // }
      // .load {
      //   .spinner {
      //     .bubble-1 {
      //       background: #b388ff;
      //     }
      //     .bubble-2 {
      //       background: #ffff00;
      //     }
      //   }
      // }
      &:hover {
        .load {
          display: block;
        }
        i {
          display: none;
        }
        // box-shadow: 0 -3px 5px 0 rgba(1, 119, 107, 0.9) !important;
      }
    }
    .feature-btn-2 {
      background-color: rgb(255, 71, 87);
      box-shadow: 0 -2px 4px 0 rgba(255, 71, 87, 0.8) !important;

      // i {
      //   text-shadow: 2px 0 0 rgba(124, 179, 66, 0.33),
      //     0 0px 0 rgba(124, 179, 66, 0.3), 2px 0 0 rgba(124, 179, 66, 0.3),
      //     0 2px 0 rgba(124, 179, 66, 0.3), 1px -2px 0 rgba(124, 179, 66, 0.3);
      // }
      // .load {
      //   .spinner {
      //     .bubble-1 {
      //       background: #448aff;
      //     }
      //     .bubble-2 {
      //       background: #64dd17;
      //     }
      //   }
      // }

      &:hover {
        .load {
          display: block;
        }
        i {
          display: none;
        }
        // box-shadow: 0 -3px 5px 0 rgba(173, 37, 48, 0.9) !important;
      }
    }
    .feature-btn-3 {
      background-color: rgb(94, 53, 177);
      box-shadow: 0 -2px 4px 0 rgba(94, 53, 177, 0.8) !important;

      // i {
      //   text-shadow: 2px 0 0 rgba(209, 58, 103, 0.3),
      //     0 0px 0 rgba(209, 58, 103, 0.3), 2px 0 0 rgba(209, 58, 103, 0.3),
      //     0 2px 0 rgba(209, 58, 103, 0.3), 1px -2px 0 rgba(209, 58, 103, 0.3);
      // }
      // .load {
      //   .spinner {
      //     .bubble-1 {
      //       background: #f44336;
      //     }
      //     .bubble-2 {
      //       background: #18ffff;
      //     }
      //   }
      // }

      &:hover {
        .load {
          display: block;
        }
        i {
          display: none;
        }
        // box-shadow: 0 -2px 6px 0 rgba(94, 53, 177, 0.9) !important;
      }
    }
  }
}
