.invoice-container {
  position: relative;
  width: 100mm;
  min-height: 150px;
  display: block;
  padding: 0 5px;
  padding-right: 5px;
  margin: 0 auto;
  top: 20px;
  border: 1px solid #eee;

  .header {
    padding: 5px 5px 0px 5px;
    text-align: center;
    margin: 0;
    font-size: 17px;

    .company-name {
      font-size: 19px;
      margin: 0;
    }

    .location-name {
      margin: 0;
      margin-top: 0;
      font-size: 15px;
    }

    .tel-text {
      margin: 0;
      margin-top: 0;
      font-size: 12px;
    }

    .invoice-text {
      padding: 3px 3px 0px 5px;
      text-align: center;
      margin: 0;
      font-size: 17px;
    }
  }

  .table-content {
    // width: 100%;
    padding: 0;
    min-height: 100%;

    .left-side {
      width: 53%;
      display: inline-block;
      vertical-align: top;

      .text {
        font-size: 13px;
        text-align: left;
        margin: 0 0;
        word-wrap: break-word;
        display: block;
        line-height: 22px;
      }
    }

    .right-side {
      width: 45%;
      display: inline-block;
      vertical-align: top;

      .text {
        font-size: 13px;
        text-align: right;
        margin: 0 0;
        word-wrap: break-word;
        display: block;
        line-height: 22px;
      }
    }
  }

  .full-size-text {
    font-size: 13px;
    text-align: left;
    margin: 0 0;
    word-wrap: break-word;
    display: block;
    line-height: 22px;
  }

  .span-text {
    font-size: 13px;
    font-weight: normal;
  }

  .detail-content {
    width: 100%;
    min-height: 100px;
    display: inline-block;

    .content {
      position: relative;
      width: 60%;
      height: 100%;
      left: 40%;

      .text-panel {
        display: block;
      }
      .text {
        width: 100%;
        display: inline-block;
        margin: 0;
        text-align: left;
        font-size: 10px;
        font-weight: bold;
      }
      .sub-text {
        // width: 50%;
        float: right;
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        text-align: right;
        line-height: 21px;
      }
    }
  }
}

.detail-print-text {
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: left;
  line-height: 21px !important;
  font-size: 13px;
  font-weight: bold;
}

.order-name-text {
  margin: 0;
}
.detail-print-text {
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: left;
  line-height: 23px !important;
  font-size: 12px;
  font-weight: bold;
}

.pay-amount-text {
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: left;
  line-height: 23px !important;
  font-size: 14px;
  font-weight: bold;
}
.pay-amount-sub-text {
  display: inline-block;
  width: 50%;
  float: right !important;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  line-height: 25px;
  background-color: #e0e0e0;
  -webkit-print-color-adjust: exact;
}
//========= Footer
.thank-text {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
.footer-address {
  margin: 0;
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}
.power-by-text {
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
}
.hr-bottom {
  background-color: #fff;
  border-top: 1px dashed #8c8b8b;
}
hr {
  margin: 5px 0;
}
