// Variable --
@t-a : text-align;

// Use --
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

.el-icon-caret-bottom {
  font-size: 12px;
}

.icon-white {
  color: white;
}

.header-item-margin {
  margin-left: 15px;
}
// Text
.total-text-purchase {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid #64b5f6;
}
.total-text {
  font-size: 20px;
  text-align: left;
  margin-top: 0;
  margin-left: 120px;
  border-bottom: 1px solid #64b5f6;
  margin-bottom: 18px;
}
.price-text {
  font-size: 20px;
  text-align: left;
  margin-top: 0;
  margin-left: 120px;
  border-bottom: 1px solid #64b5f6;
  margin-bottom: 18px;
}
.open-amount-text {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
  padding-right: 10%;
}

.readonly-input {
  border: 1px solid #90caf9;
  border-radius: 4px;

  .text {
    display: block;
    @{t-a}: center;
    padding: 0px 50px 0 15px;
  }
}



.el-tabs--top.el-tabs--card .el-tabs__item:last-child,
.el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2) {
  padding-right: 0px !important;
}
