// Variable Sale Form
@laptop: ~'only screen and (min-width: 1026px) and (max-width: 1367px)';
@tablet: ~'only screen and (min-width: 720px) and (max-width: 1025px)';
@left-side-width: 380px;
@left-side-width-small: 300px;
@feature-panel-width: 200px;
@primary-color: #2f3241;
@primary-text-color: #14a76c;

// Left side
.left-side {
  width: @left-side-width;
  float: left;
  height: calc(~'100vh - 125px');
  position: fixed;
  top: 60px;
  border-right: 1px solid @primary-text-color;

  @media @tablet {
    width: @left-side-width-small;
    height: calc(~'100vh - 110px');
  }
}
.left-header-panel {
  width: 380px;
  height: 37px;
  left: 360px;
  z-index: 1111;
  top: 60px;
  padding: 0px;
  background: #cecece;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #bbb;
}
.left-header-row {
  width: 100%;
}

.order-table {
  @media @laptop {
    height: calc(~'100vh - 380px') !important;
  }
  @media @tablet {
    height: calc(~'100vh - 325px') !important;
  }
}

.feature-card {
  width: 100%;
  height: 57px;
  position: fixed;
  bottom: 0px;
  background-color: @primary-color;
  // border-top: 1px solid @primary-color;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: none;
  display: block;
  border-radius: 0;
  min-width: 0;
  text-decoration: none;

  @media @tablet {
    height: 40px;
  }
  .feature-bottom-nav {
    width: 100%;
    height: 100%;
    transform: translate(0);
    position: absolute;
    bottom: 0;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    left: 0;
    justify-content: center;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.5, 1);
    background-color: transparent !important;
    border-color: transparent !important;

    @media @tablet {
      height: 40px !important;
    }
  }
}

.feature-btn {
  align-items: center;
  border: 0;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 14px;
  justify-content: center;
  margin: 6px 8px;
  min-width: 88px;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  position: relative;
  vertical-align: middle;
  user-select: none;
  background: transparent !important;
  box-shadow: none !important;
  font-weight: 400;
  height: 100%;
  margin: 0;
  max-width: 168px;
  min-width: 80px;
  padding: 7px 12px 10px;
  text-transform: none;
  opacity: 1;
  width: 100%;
  flex-shrink: 1;
  box-sizing: border-box;
  outline: 0;
  color: #fff;

  &:hover {
    color: rgb(29, 233, 182);
  }
  @media @tablet {
    padding: 4px 12px 2px;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: #252834 !important;
    cursor: pointer;
  }

  &:before {
    border-radius: inherit;
    color: inherit;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    // opacity: 0.12;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    // width: 100%;
    border: 0;
  }

  .feature-btn-content {
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    height: inherit;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    width: inherit;
    flex-direction: column-reverse;
    font-size: 12px;
    white-space: nowrap;
    will-change: font-size;
    font-size: 14px;

    .feature-btn-text {
      font-size: 14px;

      @media @tablet {
        font-size: 11px;
      }
    }

    .feature-btn-icon {
      font-size: 20px;
      margin-bottom: 2px;

      @media @tablet {
        margin-bottom: 0px;
        font-size: 14px;
      }
    }
  }
}

.customer-label {
  font-size: 15px;
  font-weight: bold;
  color: #0c2461;
}

.order-name-text {
  font-size: 14px;
  line-height: 23px;
  word-break: keep-all;
  color: #424242;
  margin: 0;
  font-weight: bold;
  @media @laptop {
    font-size: 13px;
    line-height: 15px;
  }
  @media @tablet {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
  }
}
.order-amount-text {
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  color: @primary-text-color;
  margin: 0;

  @media @tablet {
    font-size: 13px;
  }
}
.order-qty-text {
  font-size: 17px;
  color: #e65100;
  @media @laptop {
    font-size: 14px;
  }

  @media @tablet {
    font-size: 14px;
  }
}
.sup-qty-text {
  color: #e65100;
}
.animateClass {
  color: #f4511e;
  font-size: 18px;
  @media @tablet {
    font-size: 15px;
  }
}
.order-price-text {
  font-size: 15px;
  color: @primary-text-color;

  @media @tablet {
    font-size: 13px;
  }
}
.order-dis-text {
  font-size: 15px;
  color: #757575;

  @media @tablet {
    font-size: 11px;
  }
}

.order-total-panel {
  width: calc(~'380px - 7px');
  height: 125px;
  float: right;
  position: fixed;
  bottom: 180px;

  @media @tablet {
    width: calc(~'380px - 85px');
    height: 105px;
    bottom: 155px;
  }
}

.order-total-text {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #3e4144;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;

  @media @tablet {
    font-size: 13px;
    height: 20px;
    margin-bottom: 2px;
  }
}

.sub-total-text {
  font-weight: bold;
  font-size: 18px;
  color: @primary-text-color;

  @media @tablet {
    font-size: 14px;
  }
}

.discount-panel {
  height: 28px;
  margin-bottom: 6px;
  text-align: right;

  @media @tablet {
    height: 25px;
    margin-bottom: 5px;
  }
}

.discount-text {
  font-size: 14px;
  line-height: 25px;
  margin: 0 0;
  color: #424242;
  margin-right: 5px;
  display: inline-block;

  @media @tablet {
    font-size: 12px;
  }
}

.discount-input {
  width: 100px;
  display: block;
  float: right;
}

.transfer-ul {
  padding-left: 15px;
}

// Calculate Style
.calculate-panel {
  width: 380px;
  height: 117px;
  position: fixed;
  bottom: 65px;

  @media @tablet {
    width: 300px;
    height: 105px;
    bottom: 50px;
  }
}

.feature-col {
  @media @tablet {
    width: 66.5%;
  }
}
.print-col {
  @media @tablet {
    width: 33.5%;
  }
}

.printer-panel {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  background: #fff;
  /* margin-left: -1px; */
  border: 1px solid @primary-text-color;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: #e3f2fd;
  }
  @media @tablet {
    height: 52px;
  }
}

.printer-panel > .printer-span {
  color: #757575;
  /* margin-top: 3px; */
  display: block;
  text-align: center;
  padding: 2px;

  @media @tablet {
    margin-top: 1px;
    padding: 2px;
    line-height: 17px;
  }
}

.printer-span > .printer-icon {
  font-size: 20px;
  color: @primary-text-color;
  padding-top: 3px;

  @media @tablet {
    font-size: 16px;
    padding-top: 5px;
  }
}
.printer-span > .printer-text {
  margin: 0px;
  color: #110d26;
  font-size: 15px;

  @media @tablet {
    font-size: 11px;
    margin-top: 5px;
  }
}

.payment-div {
  width: 100%;
  height: 57px;
  background-color: #fff;
  float: right;
  border: 1px solid @primary-text-color;
  border-left: 0;
  border-right: 0;
  display: block;
  &:hover {
    // box-shadow: 0 0px 15px 1px @primary-text-color;
    background-color: #e3f2fd;
  }
  @media @tablet {
    height: 51px;
  }
}

.payment-icon-wrap {
  display: block;
  text-align: center;

  @media @tablet {
    padding: 1px;
  }
}
.payment-icon {
  color: @primary-text-color;
  font-size: 25px;
  margin-top: 4px;

  @media @tablet {
    font-size: 20px;
    margin-top: 5px;
  }
}
.payment-text {
  margin: 0px;
  color: #110d26;
  font-size: 15px;
  line-height: 20px;
  @media @tablet {
    font-size: 13px;
  }
}

.calc-wrapper {
  margin: 0;
  border: 1px;
  border-style: solid;
  border-right: 0;
  border-color: @primary-text-color;

  .btn-calculate {
    width: 100%;
    height: 28px;
    padding: 0;
    color: #110d26;
    border-radius: 0;
    border: 0;
    font-size: 15px;
    vertical-align: top;
    border-right: 1px solid @primary-text-color;
    &:hover {
      background-color: #e3f2fd;
    }
    @media @tablet {
      height: 25px;
      font-size: 12px;
    }
  }
}
.btn-calculate.el-button--primary {
  background: @primary-text-color;
  color: #fff !important;
  &:hover {
    background: @primary-text-color !important;
  }
}

.calc-wrapper-2 {
  margin: 0;
  border: 1px;
  border-style: solid;
  border-right: 0;
  border-top: 0;
  border-color: @primary-text-color;

  .btn-calculate {
    width: 100%;
    height: 28px;
    padding: 0;
    color: #110d26;
    border-radius: 0;
    border: 0;
    font-size: 15px;
    vertical-align: top;
    border-right: 1px solid @primary-text-color;
    &:hover {
      background-color: #e3f2fd;
    }
    @media @tablet {
      height: 25px;
      font-size: 12px;
    }
  }
}

// Right side
.right-side {
  overflow: hidden;
  width: calc(~'100vw - 390px');
  float: right;
  @media @tablet {
    width: calc(~'100vw - 310px');
  }
}
.right-header-panel {
  width: calc(~'100vw - 420px');
  height: 30px;
  position: fixed;
  padding-right: 10px !important;
  z-index: 1000;
  top: 110px;
  padding: 0px;
  background: #fff;
  display: flex;
  flex-flow: row wrap;

  @media @tablet {
    width: calc(~'100vw - 335px');
    top: 110px;
    height: 25px;
  }
}

.table-panel {
  width: 100px;
  top: 60px;
  border-radius: 4px;
  position: fixed;
  @media @tablet {
    width: 90px;
    margin-left: 3px;
  }

  .table-btn {
    width: 100%;
    height: 35px;
    font-size: 13px;
    line-height: 5px;
    border-radius: 4px;
    border: 1px solid @primary-text-color;
    padding: 0;
    color: @primary-text-color;
    @media @tablet {
      margin: 0;
      font-size: 11px;
      font-weight: 600;
      padding: 9px 1px 9px 2px;
      max-width: 100px;
    }
    &:hover {
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

.category-wrapper {
  width: calc(~'100% - 280px');
  position: absolute;
  right: 0;

  @media @tablet {
    width: calc(~'100% - 225px');
  }
}

.all-category-panel {
  width: 100px;
  @media @tablet {
    width: 90px;
    margin-left: 3px;
  }
  .all-category-btn {
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 15px;
    background-color: transparent;
    border-color: @primary-text-color;
    color: @primary-text-color;
    transition: ease-in-out 0.3s;
    &:hover {
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
      background-color: @primary-text-color;
      color: #fff;
    }

    @media @tablet {
      font-size: 12px;
      padding: 5px 0;
      height: 25px;
    }
  }
  .primary-color {
    background-color: @primary-text-color;
    border-color: @primary-text-color;
    color: #fff;
    text-transform: uppercase;
  }
}
.category-tab {
  width: calc(~'100% - 10px');
  margin-left: 10px;
  @media @tablet {
    width: calc(~'100% - 10px');
  }
}
.search-panel {
  width: 165px;
  position: absolute;
  height: 30px;
  top: 0px;
  left: 110px;
  @media @tablet {
    width: 122px;
    left: 103px;
  }
}

.order-tab-pane {
  margin-top: 0;
  margin-bottom: 0;
}
// Product content
.content-container {
  width: calc(~'100vw - 410px');
  height: calc(~'100vh - 216px');
  margin-top: 40px;
  float: right;
  position: fixed;

  @media @tablet {
    width: calc(~'100vw - 320px');
    height: calc(~'100vh - 200px');
    margin-top: 40px;
  }
}
.product-list-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.product-list-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  margin-left: -5px;
  @media @tablet {
    margin-left: 0;
  }
}
.product-list {
  padding: 0px 0px;
  text-align: left;
}
.product {
  position: relative;
  width: 140px;
  height: 142px;
  vertical-align: top;
  display: inline-block;
  font-size: 11px;
  margin: 0 8px 10px 8px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .image-wrapper {
      img {
        transform: scale(1.1);
      }
    }
  }
  @media @laptop {
    width: 140px;
    height: 140px;
    margin: 0 7px 10px 7px;
  }
  @media @tablet {
    width: 105px;
    height: 125px;
    margin: 0 5px 6px 5px;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid #14a76c;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  .image {
    transition: transform 0.5s;
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center center;

    @media @laptop {
      height: 98px;
    }
    @media @tablet {
      height: 90px;
    }
  }
}

// Price tag.
.product-price-tag {
  position: absolute;
  min-width: 50px;
  font-size: 16px;
  font-weight: 600;
  top: 2px;
  right: 3px;
  line-height: 15px;
  padding: 4px 5px;
  vertical-align: top;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: rgba(47, 50, 65, 0.9);

  @media @tablet {
    min-width: 30px;
    font-size: 13px;
    height: 13px;
    top: 0px;
    right: 1px;
    line-height: 12px;
    padding: 3px 5px;
    border-radius: 3px;
  }
}

// Discount tag.
.product-discount-tag {
  position: absolute;
  min-width: 130px;
  font-size: 13px;
  font-weight: 600;
  bottom: -10px;
  height: 30px;
  left: -55px;
  line-height: 20px;
  padding: 5px 5px;
  text-align: center;
  color: #000;
  border-radius: 0;
  background: rgba(47, 50, 65, 0.3);
  transform: rotate(38deg);

  @media @tablet {
    font-size: 13px;
    height: 13px;
    bottom: -8px;
    height: 30px;
    left: -55px;
    line-height: 20px;
    padding: 3px 5px;
  }
}

// Name tag.
.product-name-content {
  height: 45px;
  margin: 3px 3px 0 3px;
  overflow: hidden;
  text-align: center;
  @media @tablet {
    height: 35px;
    line-height: 29px;
    margin: 2px 2px 0 2px;
  }
}

// Name text
.product-name {
  font-size: 13px;
  display: inline-block;
  color: #2d4256;
  word-wrap: break-word;
  line-height: 18px;
  vertical-align: middle;
  font-weight: 600;
  margin-bottom: 2px;
  width: 100%;

  @media @tablet {
    font-size: 11px;
    line-height: 15px;
    margin-top: 2px;
  }
}

// etc
.add-new-customer-text {
  color: #409eff;
  height: 30px;
  line-height: 28px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}
.border-right {
  border-right: 1px solid @primary-text-color;
}
.border-left {
  border-left: 1px solid @primary-text-color;
}

// Hover
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  border-color: @primary-text-color;
}
.payment-div:hover,
.payment-user:hover {
  cursor: pointer;
}

// Etc

.scroll-area {
  position: relative;
  margin: auto;
}

.animateClassMultiple {
  color: #000;
}
.cancel-text {
  color: rgba(217, 28, 28, 0.7) !important;
  text-decoration: line-through !important;
  text-decoration-color: rgba(217, 28, 28, 0.7) !important;
  margin-right: 5px;
}

.underline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #14a76c;
    height: 3px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    left: 0;
    right: 0;
  }
}
