@laptop: ~'only screen and (min-width: 1025px) and (max-width: 1367px)';
@tablet: ~'only screen and (min-width: 1px) and (max-width: 1025px)';

.field-set {
  padding: 0;
  border-radius: 3px;
  margin-bottom: 30px;
  border: 1px solid #409eff;
  background: #409eff;
  color: #fff;
}

.header-panel {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 auto;

  .header-title {
    display: inline-block;
    height: 100%;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    font-weight: 600;
    // text-decoration: underline;
  }
  .header-text {
    display: inline-block;
    height: 100%;
    font-size: 16px;
    line-height: 40px;
    padding: 0 0 0 2px;
    margin: 0;

    @media (max-width: 1025px) {
      font-size: 14px;
    }
  }
  .btn-customer-add {
    position: relative;
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 8px;
    margin-left: 5px;
    top: -1px;
    background: #fff;
    color: #409eff;

    @media (max-width: 1025px) {
      font-size: 14px;
    }
  }

  .exchange-title {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    margin: 0;

    @media (max-width: 1025px) {
      font-size: 17px;
    }
  }
  .exchange-wraper {
    height: 100%;
    overflow: hidden;

    .text {
      height: 100%;
      font-size: 16px;
      line-height: 32px;
      padding: 0 10px;
      margin: 0;
    }
  }
}

.right-side {
  .date-panel {
    width: 100%;
  }
  .panel {
    width: 100%;
    .text {
      color: #408cff;
      font-size: 20px;
      margin: 0;
      @media @laptop {
        font-size: 17px;
      }
      @media @tablet {
        font-size: 17px;
      }
    }
  }
}

.left-side {
  padding: 32px 20px 20px 10px;
  @media @laptop {
    padding: 32px 20px 20px 10px;
  }

  @media @tablet {
    padding: 30px 20px 20px 10px;
  }
}

.wrap {
  font-size: 20px;
  margin: 0;
  display: block;
  text-align: center;
  @media (max-width: 1025px) {
    font-size: 15px;
  }
}

.right {
  text-align: right;
}

.wrap-numpad {
  width: 90%;
  float: left;
  margin-bottom: 5px;
  height: 67px;
  overflow: hidden;
  @media @laptop {
    width: 95%;
    height: 60px;
  }

  @media @tablet {
    width: 95%;
    height: 45px;
  }
}

.numpad {
  width: 31%;
  padding: 10px 0;
  font-size: 30px;
  background-color: #fff;
  border: 1px solid #409eff;
  cursor: pointer;
  :hover {
    background-color: #e3f2fd;
  }

  @media @laptop {
    width: 31%;
    padding: 10px 0;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #409eff;
  }

  @media @tablet {
    width: 31%;
    padding: 6px 0;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #409eff;
  }
}

.btn-delete {
  padding: 10px 0;
  @media (max-width: 1025px) {
    padding: 5px 0;
  }
}

.receive-display {
  text-align: center;
  background: rgba(30, 126, 229, 0.05);
  font-size: 18px;
}

.receive-input {
  width: 100%;
  height: 28px;
  margin-right: 20px;
  padding-left: 10px;
  border-radius: 5px;
  color: #196fd2;
  font-size: 15px;
  border: 1px solid;
  border-color: rgba(30, 126, 229, 0.3);
  background-color: rgba(30, 126, 229, 0.05);
}

.receipt-btn {
  font-weight: 800;
  font-size: 15px;

  @media @tablet {
    font-weight: 800;
    font-size: 13px;
  }
}
.save-receipt-btn {
  font-weight: 800;
  font-size: 15px;
  padding: 9px 20px;

  @media @tablet {
    font-weight: 800;
    font-size: 13px;
  }
}
