// Variable
@laptop: ~'only screen and (min-width: 1026px) and (max-width: 1367px)';
@tablet: ~'only screen and (min-width: 0px) and (max-width: 1025px)';
@open-color: #17c964;
@busy-color: rgb(255, 174, 0);

.table-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: beige;
}
.content-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 40px;
}
.table-list-scroller {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.table-list {
  padding: 0 0;
  text-align: left;
  margin: 20px 20px 10px 20px;
  @media (max-width: 1025px) {
    margin: 10px 10px;
  }
}
.floor-container {
  margin: 20px 20px 10px 20px;
}

.table-tab-content {
  position: fixed;
  top: 110px;
  width: calc(~'100vw - 80px');
  height: calc(~'100vh - 150px');
  margin-top: 20px;
  @media @tablet {
    margin-top: 20px;
  }
}
.table {
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-size: 11px;
  margin: 10px 15px;
  margin-left: 0;
  border-radius: 5px;
  cursor: pointer;
  @media @tablet {
    margin: 10px 13px;
    margin-left: 0;
  }
}
.table-card {
  position: relative;
  min-width: 200px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  @media @laptop {
    min-width: 190px;
    height: 100px;
  }
  @media @tablet {
    min-width: 170px;
    height: 80px;
  }
}

.table-card-open {
  border: 1px solid @open-color;
}

.table-card-busy {
  border: 1px solid @busy-color;
}

.table-card-close {
  border: 1px solid #ff1a0296;
}

.el-card.is-hover-shadow:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.table-header {
  width: 100%;
  height: 31px;
  left: 0;
  top: 0;
  border-radius: 0px;
  @media (max-width: 1025px) {
    height: 25px;
  }

  .table-icon {
    font-size: 20px;
    margin: 4px 7px 0px 7px;
    font-weight: 600;
    padding: 2px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;

    @media @tablet {
      font-size: 15px;
      margin: 3px 5px 0px 5px;
    }
  }

  .table-header-text {
    font-size: 17px;
    font-style: normal;
    top: 6px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);

    @media tablet {
      font-size: 14px;
      top: 5px;
    }
  }
  .guest-count {
    float: right;
    height: 100%;
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    padding: 0 5px;
    font-style: unset;
    @media (max-width: 1025px) {
      font-size: 17px;
      line-height: 27px;
    }
    i {
      padding-right: 3px;
    }
  }
}

.status-open {
  background-color: @open-color;
}

.status-busy {
  background-color: @busy-color;
}

.status-close {
  background-color: #ff1a0296;
}

.table-name-panel {
  text-align: center;
  width: 100%;
  height: 69px;
  line-height: 69px;
  @media (max-width: 1025px) {
    height: 55px;
    line-height: 50px;
  }

  .table-name {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    left: 0;
    word-wrap: break-word;
    line-height: 20px;
    vertical-align: middle;
    @media (max-width: 1025px) {
      font-size: 15px;
      line-height: 17px;
    }
  }
}
