<template>
  <div class="aside-menu-layout">
    <el-menu
      :default-active="activeMenu"
      text-color="#fff"
      @select="handleMenuSelect"
    >
      <div class="aside-menu-group-title">Restaurant</div>

      <el-menu-item index="rest.saleTable">
        <i class="fas fa-cart-arrow-down aside-menu-icon"></i>
        <span>Sale</span>
      </el-menu-item>

      <el-menu-item index="rest.data">
        <i class="fas fa-table aside-menu-icon"></i>
        <span>Data</span>
      </el-menu-item>

      <el-menu-item index="rest.report">
        <i class="fas fa-print aside-menu-icon"></i>
        <span>Report</span>
      </el-menu-item>

      <el-menu-item index="rest.setting">
        <i class="fas fa-cogs aside-menu-icon"></i>
        <span>Setting</span>
      </el-menu-item>

      <el-menu-item index="rest.importData">
        <i class="fas fa-cogs aside-menu-icon"></i>
        <span>Import Data</span>
      </el-menu-item>
      </el-menu>
  </div>
</template>

<script>
export default {
  name: 'AsideMenu',
  props: {
    activeMenu: {
      type: String,
      default: '',
    },
  },
  computed: {
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['saller'])
    },
  },
  methods: {
    handleMenuSelect(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>