<template>
  <el-dropdown
    trigger="click"
    class="header-item"
  >
    <el-button type="text">
      <i class="far fa-envelope"></i>
      Message
    </el-button>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item>Message 1</el-dropdown-item>
      <el-dropdown-item>Message 2</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
export default {
  name: 'HeaderMenu',
}
</script>

<style lang="scss" scoped>

</style>
