<template>
  <span>
    <el-tooltip
      effect="dark"
      content="Setting"
      placement="bottom-end"
    >
      <el-dropdown
        trigger="click"
        class="header-item"
        @command="handleCommand"
      >
        <el-button type="text">
          <i class="fas fa-cogs setting"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="app.company">{{ $t('rest.menu.company') }}</el-dropdown-item>
          <el-dropdown-item command="app.branch">{{ $t('rest.menu.branch') }}</el-dropdown-item>
          <el-dropdown-item command="app.user">{{ $t('rest.menu.user') }}</el-dropdown-item>
          <el-dropdown-item
            command="app.changelog"
            divided
          >
            {{ $t('rest.menu.changeLog') }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-tooltip>
  </span>
</template>

<script>
export default {
  name: 'AdminSetting',
  computed: {
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
  },
  methods: {
    handleCommand(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/header-menu.scss';
.setting {
  color: #fff;
  &:hover {
    color: rgb(29, 233, 182);
  }
}
</style>