<template>
  <div>
    <!-- Dynamic layout -->
    <component :is="currentLayout"></component>

    <!-- Set progressbar -->
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import { Meteor } from 'meteor/meteor'
import { mapState } from 'vuex'

import Company from '../../api/company/company'
import Branches from '../../api/branches/branches'

// Layout
import layout from '/imports/layout'

export default {
  name: 'AppLayout',
  metaInfo: {
    title: 'Rabbit Tech',
  },
  meteor: {
    $subscribe: {
      ['app.company']: [],
      ['app.branches']() {
        let branches = this.currentUser
          ? this.currentUser.profile.branchPermissions
          : []
        return [{ _id: { $in: branches } }]
      },
    },
    meteorUser() {
      this.$store.commit('app/updateCurrentUser', Meteor.user())
    },
    company() {
      const company = Company.findOne()

      // Change lang
      this.$i18n.locale =
        company && company.other.lang ? company.other.lang : 'en'

      this.$store.commit('app/updateCompany', company)
    },
    branches() {
      const branches = Branches.find().fetch()
      this.$store.commit('app/updateBranchPermissions', branches)
    },
  },
  computed: {
    currentLayout() {
      const currentLayout = this.$route.meta.layout
        ? layout[this.$route.meta.layout]
        : layout.main

      return currentLayout
    },
    ...mapState({
      currentUser: state => state.app.currentUser,
    }),
  },
  mounted() {
    // Auto logout if tab/browser closed
    // window.addEventListener('beforeunload', this.leaving)
  },
  methods: {
    leaving() {
      this.$store.commit('app/logout', this)
    },
  },
}
</script>

<style lang="scss">
@import '~imports/ui/styles/main.scss';
@import '~imports/ui/styles/aside-menu.scss';
@import '~imports/ui/styles/header-menu.scss';
</style>

