<template>
  <span>
    <el-tooltip
      effect="dark"
      content="Branch"
      placement="bottom-end"
    >
      <el-dropdown
        trigger="click"
        class="header-item"
        @command="handleCommand"
      >
        <el-button
          type="text"
          class="branch"
        >
          <i class="fas fa-sitemap"></i>
          {{ currentBranch }}
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in branchPermissions"
            :key="item._id"
            :command="item"
          >
            {{ item._id }} : {{ item.shortName }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-tooltip>
  </span>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'BranchSetting',
  computed: {
    ...mapState({
      currentBranch(state) {
        const branch = state.app.currentBranch
        return branch && `${branch._id} : ${branch.shortName}`
      },
      branchPermissions(state) {
        return state.app.branchPermissions
      },
    }),
  },
  methods: {
    handleCommand(com) {
      this.$store.commit('app/updateCurrentBranch', com)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/header-menu.scss';
.current-branch {
  text-transform: uppercase;
}
.branch {
  color: #fff;
  &:hover {
    color: rgb(29, 233, 182);
  }
}
</style>