<template>
  <el-container class="container">
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</template>

<script>
export default {
  name: 'LoginLayout',
}
</script>

<style lang="scss" scoped>
.container {
  height: 100vh;
  background: url('/images/bg.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  .el-main {
    padding: 0;
    // background-color: rgba(44, 62, 80, 0.5);
  }
}
</style>
