<template>
  <el-container class="container">
    <el-container>
      <!--Header-->
      <el-header class="header header-menu-layout">
        <el-col
          :xs="1"
          :sm="1"
          :md="1"
          :lg="2"
          :xl="2"
        >
          <div class="no-content-height"></div>
        </el-col>
        <el-col
          :xs="22"
          :sm="22"
          :md="22"
          :lg="20"
          :xl="20"
        >
          <div class="logo">
            <img
              src="/images/logo.png"
              class="logo-img"
              @click="$router.push({name: 'home'})"
            >
            <span class="page-title">Rabbit</span>
          </div>

          <!--Left-->
          <span class="menu-left">

            <el-menu
              :default-active="linkActiveClass"
              class="rest-header-menu"
              mode="horizontal"
              background-color="#2f3241"
              text-color="#fff"
              active-text-color="#1DE9B6"
              @select="handleSelect"
            >
              <el-menu-item
                v-if="userIsInRoleAdmin||userIsInRoleCashier"
                index="home"
              >
                <i class="fas fa-tachometer-alt nav-icon"></i>{{ $t('rest.menu.dashboard') }}</el-menu-item>
              <el-menu-item
                v-if="userIsInRoleCashier"
                index="rest.saleTable"
              >
                <i class="fas fa-cart-plus nav-icon"></i>{{ $t('rest.menu.sale') }}</el-menu-item>
              <el-menu-item
                v-if="userIsInRoleAdmin"
                index="rest.data"
              >
                <i class="fas fa-list-alt nav-icon"></i>{{ $t('rest.menu.data') }}</el-menu-item>
              <el-menu-item
                v-if="userIsInRoleAdmin"
                index="rest.setting"
              >
                <i class="fas fa-cogs nav-icon"></i>{{ $t('rest.menu.setting') }}</el-menu-item>
              <el-menu-item
                v-if="userIsInRoleReporter"
                index="rest.report"
              >
                <i class="fas fa-print nav-icon"></i>{{ $t('rest.menu.report') }}</el-menu-item>
            </el-menu>
          </span>

          <!--Right-->
          <span class="menu-right">
            <!--Branch Setting-->
            <branch-setting v-if="userIsInRoleAdmin"></branch-setting>
            <!-- Admin Setting -->
            <admin-setting v-if="userIsInRoleAdmin"></admin-setting>
            <!-- User -->
            <user-setting></user-setting>
          </span>
        </el-col>
        <el-col
          :xs="1"
          :sm="1"
          :md="1"
          :lg="2"
          :xl="2"
        >
          <div class="no-content-height"></div>
        </el-col>
      </el-header>

      <!-- APP CONTENT -->
      <el-main class="app-content">
        <div>
          <el-row :gutter="10">
            <el-col
              :xs="1"
              :sm="1"
              :md="1"
              :lg="2"
              :xl="2"
            >
              <div class="no-content-height"></div>
            </el-col>
            <el-col
              :xs="22"
              :sm="22"
              :md="22"
              :lg="20"
              :xl="20"
            >
              <!-- Breadcrumb -->
              <div class="breadcrumb">
                <el-breadcrumb separator="/">
                  <el-breadcrumb-item
                    v-for="(bc, index) in breadcrumbMixin"
                    :key="index"
                    :to="bc.route"
                  >
                    <span v-if="bc.icon">
                      <i :class="bc.icon"></i>
                    </span>
                    {{ bc.title }}
                  </el-breadcrumb-item>
                </el-breadcrumb>
              </div>

              <!-- Router View -->
              <div class="router-view">
                <!-- route outlet -->
                <transition name="flip">
                  <router-view></router-view>
                </transition>
              </div>

              <!-- Footer -->
              <div class="footer">
                {{ copyright }}
              </div>
            </el-col>

            <el-col
              :xs="1"
              :sm="1"
              :md="1"
              :lg="2"
              :xl="2"
            >
              <div class="no-content-height"></div>
            </el-col>
          </el-row>
        </div>
      </el-main>

      <!-- End Container -->
    </el-container>
  </el-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

// Release version
import release from '../release'

// Breadcrum mixin
import BreadcrumsMixin from '../mixins/breadcrumbs'

import UserSetting from './UserSetting.vue'
import AdminSetting from './AdminSetting.vue'
import BranchSetting from './BranchSetting.vue'

import HeaderMenu from '../HeaderMenu.vue'
import AsideMenu from '../AsideMenu.vue'

// Module Menu
import navigation from '/imports/navigation'

export default {
  name: 'MainLayout',
  metaInfo() {
    return {
      title: this.pageTitle,
      titleTemplate: 'Rabbit - %s',
    }
  },
  components: {
    UserSetting,
    AdminSetting,
    BranchSetting,
    HeaderMenu,
    AsideMenu,
  },
  mixins: [BreadcrumsMixin],
  data() {
    return {
      activeIndex: 'home',
      headerMenus: navigation.header,
      asideMenus: navigation.aside,
      copyright: `
                  © 2014-${moment().format('YYYY')}
                  Rabbit Technology
                  (V ${release})
                  `,
    }
  },
  computed: {
    linkActiveClass() {
      const activeLink = this.$route.meta.linkActiveClass
        ? this.$route.meta.linkActiveClass
        : this.$route.name
      return activeLink
    },
    pageTitle() {
      let title = 'No TiTle'
      title = this.$route.meta.pageTitle
        ? this.$route.meta.pageTitle
        : this.$route.name
        ? _.startCase(this.$route.name)
        : title

      return title
    },
    // Check if user == admin || super
    userIsInRoleAdmin() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
    // Check if user == admin || super || cashier
    userIsInRoleCashier() {
      return this.$store.getters['app/userIsInRole']([
        'cashier',
        'admin',
        'super',
      ])
    },
    // Check if user == admin || super || report
    userIsInRoleReporter() {
      return this.$store.getters['app/userIsInRole']([
        'reporter',
        'admin',
        'super',
      ])
    },

    breadcrumbs() {
      let crumbs = []

      _.forEach(this.$route.matched, ({ meta, path, name }) => {
        const crumb = meta.breadcrumb
        if (crumb) {
          // Use `name` for route
          if (name) {
            crumb.to = { name: name }
            // Check params
            if (crumb.params) {
              crumb.to.params = _.pickBy(this.$route.params, (val, key) => {
                return _.includes(crumb.params, key)
              })
            }
            // Check query
            if (crumb.query) {
              crumb.to.query = _.pickBy(this.$route.query, (val, key) => {
                return _.includes(crumb.query, key)
              })
            }
          } else {
            // Use `path` for route
            // Check path is empty
            path = path ? path : '/'
            crumb.to = path
            // Check params
            if (crumb.params) {
              // Reduce crumb.to
              crumb.to = _.reduce(
                crumb.params,
                (result, val) => {
                  result = _.replace(
                    result ? result : path,
                    val,
                    this.$route.params[val]
                  )
                },
                ''
              )
            }
            // Check query
            if (crumb.query) {
              crumb.to.query = _.pickBy(this.$route.query, (val, key) => {
                return _.includes(crumb.query, key)
              })
            }
          }

          crumbs.push(crumb)
        }
      })

      return crumbs
    },
  },
  methods: {
    handleHomeSelect(name) {
      this.$router.push({ name })
    },
    handleSelect(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
.flip-enter-active {
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.flip-leave-active {
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-enter,
.flip-leave-to {
  position: absolute;
  -webkit-transform: scaleY(0) translateZ(0);
  transform: scaleY(0) translateZ(0);
  opacity: 0;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

/* Container */
.container {
  height: 100vh;
}

/* Aside */
.aside {
  // background-image: url('/images/sidebar.png');
  background-color: #424242;

  .logo {
    // height: 60px;
    /*padding-bottom: 10px;*/
    text-align: center;
    /*border-bottom: 1px solid #636364;*/
    line-height: 25px;
    color: white;
    display: inline-block;
    height: 54px;

    .logo-img {
      width: 45px;
      vertical-align: middle;
      // width: 80px;
      padding: 12px 0px 3px;
      cursor: pointer;
    }
  }
}

/* Header */
.header {
  background-color: #2f3241;
  color: #303133;
  line-height: 55px;
  border-bottom: solid 1px #e6e6e6;
  height: 55px !important;
  .logo {
    // height: 60px;
    /*padding-bottom: 10px;*/
    text-align: center;
    /*border-bottom: 1px solid #636364;*/
    line-height: 25px;
    color: white;
    display: inline-block;
    height: 54px;

    .logo-img {
      width: 45px;
      vertical-align: middle;
      // width: 80px;
      padding: 0px 0px 5px 0;
      cursor: pointer;
    }
    .page-title {
      font-size: 16px;
      font-weight: 300;
      padding-right: 40px;

      color: #fff;
    }
  }

  // For UnHeight div
  .no-content-height {
    min-height: 50px;
  }

  .menu-left {
    position: absolute;
    .rest-header-menu {
      li {
        height: 54px;
        line-height: 54px;
        color: #409eff;
        font-size: 14px;
        &:hover {
          background-color: rgba(204, 204, 204, 0.1) !important;
        }

        i {
          font-size: 14px;
          height: 54px;
          line-height: 51px;
          padding-right: 3px;
          color: #409eff;
        }
      }
    }
  }

  .menu-right {
    float: right;
  }
}

.nav-icon {
  color: #fff !important;
}
.is-active {
  .nav-icon {
    color: #1de9b6 !important;
  }
}
/* Content */
.app-content {
  padding: 15px 20px 0px;
  background: #eee;

  .breadcrumb {
    margin: 0px 0px 15px;
  }
  .no-content-height {
    min-height: 30px;
  }
  .router-view {
    min-height: calc(100vh - 190px);
    background-color: white;
    margin: 0px 0px 0px;
    padding: 25px 25px;
    position: relative;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    @media only screen and (min-width: 720px) and (max-width: 1025px) {
      padding: 15px 15px;
    }
  }

  .footer {
    text-align: center;
    font-size: 12px;
    color: #97a8be;
    padding: 14px 0 10px;
  }
}
</style>
