<template>
  <div>
    <!--REPORT-->
    <el-card class="report-card">
      <!--REPORT TOOLS-->
      <div
        slot="header"
        class="card-header"
      >
        <span class="header-left">
          <!--Show Part-->
          <el-dropdown
            :hide-on-click="false"
            trigger="click"
            placement="bottom-start"
          >
            <el-button type="text">
              Show
              <i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <!-- <span class="el-dropdown-link">
              Show
              <i class="el-icon-arrow-down el-icon--right"></i>
            </span> -->
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item
                v-for="(val, key) in showPart"
                :key="key"
              >
                <el-checkbox v-model="showPart[key]">
                  <span class="part-title">{{ key }}</span>
                </el-checkbox>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>

          <!--Add Note-->
          <!-- <el-popover
            ref="popoverNote"
            placement="bottom-start"
            trigger="click"
            width="250"
          >
            <div class="note-textarea">
              <el-input
                ref="note"
                v-model="note"
                type="textarea"
              ></el-input>
            </div>
          </el-popover>
          <el-button
            v-popover:popoverNote
            type="text"
            class="note-btn"
            @click="$_noteClick"
          >
            Add Note
          </el-button> -->
        </span>

        <!-- Print Tool -->
        <span class="header-right">
          <el-button
            type="text"
            @click="$_printReport"
          >
            <i class="fa fa-print"></i> Print
          </el-button>
          <!-- <el-button
            type="text"
            @click="$_exportCSV"
          >
            <i class="fa fa-download"></i> CSV
          </el-button> -->
        </span>
      </div>

      <!--REPORT BODY-->
      <div
        id="print-area"
        :class="'report-body ' + paperSize"
      >

        <!--REPORT HEADER-->
        <div
          v-if="showPart.header"
          class="header"
        >
          <div class="company-name kh-battambang">
            {{ company.general.name }}
          </div>
          <slot name="header"></slot>
        </div>

        <!--REPORT FILTER-->
        <div
          v-if="showPart.filter"
          class="filter"
        >
          <slot name="filter"></slot>
        </div>

        <!--REPORT CONTENT-->
        <div
          v-if="showPart.content"
          class="content"
        >
          <slot></slot>
        </div>

        <!--REPORT TIMESTAMP-->
        <div
          v-if="showPart.timestamp"
          class="timestamp"
        >
          By {{ userFullName }} ({{ timestamp }})
        </div>

        <!--REPORT FOOTER-->
        <div
          v-if="showPart.footer"
          class="footer"
        >
          <div>
            <!-- NOTE -->
            <!-- <div
              v-if="note"
              style="width: 30%; display: inline-block"
            >
              <fieldset class="note">
                <legend>Note:</legend>
                {{ note }}
              </fieldset>
            </div> -->

            <!-- FOOTER -->
            <!-- <div style="width: 100%; float: right; display: inline-block"> -->
            <div>
              <slot name="footer"></slot>
            </div>
          </div>
        </div>

        <!--REPORT SIGNATURE-->
        <div
          v-if="showPart.signature"
          class="signature"
        >
          <el-row
            :gutter="10"
            type="flex"
            justify="space-around"
          >
            <el-col class="colspan-8"> Approved </el-col>
            <el-col class="colspan-8"> Verified </el-col>
            <el-col class="colspan-8"> Prepared </el-col>
          </el-row>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import { Printd } from 'printd'
import toCss from 'to-css'
import { mapState } from 'vuex'

// CSV Export
import csvExportMixin from '/imports/ui/mixins/csv-export'
import cssPrinting from '/imports/ui/styles/report-printing'

export default {
  name: 'ReportLayout',
  mixins: [csvExportMixin],
  props: {
    paperSize: {
      type: String,
      default: 'a4-p',
    },
    exportCSV: {
      type: Object,
      default() {
        return {
          data: [],
          fields: [],
          fileName: 'ExportCSV',
        }
      },
    },
    cssText: {
      type: String,
      default: '',
    },
    trigger: {
      type: Boolean,
      default: false,
    },
    show: {
      type: Object,
      default: () => ({
        header: true,
        filter: true,
        content: true,
        footer: true,
        signature: false,
        timestamp: true,
      }),
    },
  },
  data() {
    return {
      loading: false,
      showPart: {
        header: true,
        filter: true,
        content: true,
        footer: true,
        signature: false,
        timestamp: true,
      },
      note: '',
      timestamp: moment().format('ddd DD/MM/YYYY HH:mm:ss'),
      d: null,
      cssTextPrinting: cssPrinting + this.cssText,
    }
  },
  computed: {
    ...mapState({
      company(state) {
        const company = {
          general: { name: '...' },
        }

        return state.app.company || company
      },
    }),
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
  },
  watch: {
    trigger(val) {
      if (val) {
        this.$_printReport()
      }
    },
    show: {
      handler: function(val) {
        this.showPart = {
          header: _.has(val, 'header') ? val.header : true,
          filter: _.has(val, 'filter') ? val.filter : true,
          content: _.has(val, 'content') ? val.content : true,
          footer: _.has(val, 'footer') ? val.footer : true,
          signature: _.has(val, 'signature') ? val.signature : false,
          timestamp: _.has(val, 'timestamp') ? val.timestamp : true,
        }
      },
      deep: true,
    },
  },
  mounted() {
    // Printd
    this.d = new Printd()

    // Print dialog events (v0.0.9+)
    const { contentWindow } = this.d.getIFrame()
    contentWindow.addEventListener('beforeprint', () => {
      this.$emit('beforeprint')
    })
    contentWindow.addEventListener('afterprint', () => {
      this.$emit('afterprint')
    })
  },
  methods: {
    $_noteClick() {
      setTimeout(() => {
        this.$refs.note.$el.querySelector('textarea').focus()
      }, 100)
    },
    $_printReport() {
      // Loading fonts, images
      const callback = (win, doc, node, launchPrint) => {
        setTimeout(() => launchPrint(win), 500)
      }

      this.d.print(
        document.getElementById('print-area'),
        this.cssTextPrinting,
        callback
      )
    },
    $_exportCSV() {
      const dateTime = moment().format('YYYY-MM-DD')
      this.exportCSV.fileName = `${this.exportCSV}_${dateTime}`
      this.$_csvExportMixin(this.exportCSV)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>
