<template>
  <el-dropdown
    trigger="click"
    class="dropdown header-item override-padding"
    @command="handleCommand"
  >
    <!-- <span class="el-dropdown-link"> -->
    <span class="user-avatar">
      <avatar
        :username="userFullName"
        :src="userProfileUrl"
        :size="40"
      ></avatar>
    </span>
    <!-- </span> -->
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item
        disabled
        class="username"
      >
        <i class="fa fa-user"></i> {{ userFullName }}
      </el-dropdown-item>
      <el-dropdown-item
        command="profile"
        divided
      >
        {{ $t('rest.menu.profile') }}
      </el-dropdown-item>
      <el-dropdown-item command="lang">
        {{ $t('rest.menu.en') }} - {{ $t('rest.menu.kh') }}
      </el-dropdown-item>
      <el-dropdown-item
        command="logout"
        class="logout"
      >
        <i class="fas fa-sign-out-alt"></i> {{ $t('rest.menu.logout') }}
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>

</template>

<script>
import Avatar from 'vue-avatar'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { mapState } from 'vuex'
import { updateCompany } from '/imports/api/company/methods'
import { findUserProfileImage } from '../../api/users/methods.js'
export default {
  name: 'UserSetting',
  components: { Avatar },
  data() {
    return {
      userProfileUrl: '',
    }
  },
  computed: {
    ...mapState({
      currentUser(state) {
        return state.app.currentUser // object
      },
      company(state) {
        return state.app.company
      },
    }),
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
    userProfilePic() {
      return this.$store.getters['app/userProfilePic']
    },
    // avatarStyle() {
    //   return { background: 'red' }
    // },
  },
  watch: {
    userProfilePic: {
      handler(val) {
        this.profilePic(val)
      },
      immediate: true,
    },
  },
  methods: {
    profilePic(_id) {
      if (_id) {
        findUserProfileImage
          .callPromise({ _id: _id })
          .then(result => {
            if (result) {
              this.userProfileUrl = result.url
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    },
    handleCommand(com) {
      this[com]()
    },
    lang() {
      this.$i18n.locale = this.$i18n.locale === 'en' ? 'km' : 'en'
      Notify.success({
        message: `${this.$t('rest.messages.langSwitchTo')} ${
          this.$i18n.locale === 'km' ? 'ខ្មែរ' : 'English'
        }`,
      })
    },
    profile() {
      this.$router.push({
        name: 'app.profile',
        params: { _id: this.currentUser._id },
      })
    },
    logout() {
      this.$store.commit('app/logout', this)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/header-menu.scss';

.override-padding {
  padding: 0px 0px 0px 7px;
}
.dropdown {
  height: 55px;
  width: 50px;
  float: right;
}

.user-avatar {
  position: absolute;

  top: 3px;
  margin-left: 0px;
  right: 0;
  margin-right: 0px;
  text-align: center;
  border: 3px solid rgba(29, 233, 182, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.username {
  font-weight: 700;
  color: #05c46b;
}

.logout {
  color: #f56c6c;
  font-weight: 500;
}
</style>