<template>
  <div class="aside-menu-layout">
    <el-menu
      :default-active="activeMenu"
      text-color="#fff"
      @select="handleMenuSelect"
    >
      <div class="aside-menu-group-title">Account</div>
      <el-menu-item index="app.journal">
        <i class="fas fa-money-bill-alt"></i>
        <span>Journal Entry</span>
      </el-menu-item>
      <el-menu-item index="app.exchange">
        <i class="fas fa-exchange-alt"></i>
        <span>Exchange</span>
      </el-menu-item>
      <el-menu-item index="app.employee">
        <i class="far fa-user"></i>
        <span>Employee</span>
      </el-menu-item>
      <el-menu-item index="app.report">
        <i class="fas fa-print aside-menu-icon"></i>
        <span>Report</span>
      </el-menu-item>
      <el-menu-item index="app.setting">
        <i class="fas fa-cogs aside-menu-icon"></i>
        <span>Setting</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'AccAsideMenu',
  props: {
    activeMenu: {
      type: String,
      default: '',
    },
  },
  computed: {
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['accountant'])
    },
  },
  methods: {
    handleMenuSelect(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>