<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
      :rules="rules"
      label-width="150px"
    >
      <el-form-item
        label="Account type"
        prop="accountType"
      >
        <el-select
          v-model="form.accountType"
          multiple
          style="width: 100%"
          placeholder="All"
        >
          <el-option
            v-for="item in accountTypeOpts"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <!-- <el-form-item
        label="Sort By"
        prop="sortBy"
      >
        <el-select
          v-model="form.sortBy"
          clearable
          multiple
          style="width: 100%"
        >
          <el-option
            v-for="item in sortByOpts"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item> -->

      <el-form-item>
        <el-button
          type="primary"
          @click="submitForm"
        >
          <i class="fa fa-search"></i> Submit
        </el-button>
      </el-form-item>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <!--<div class="report-period">-->
        <!--{{ reportPeriod }}-->
        <!--</div>-->
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-12">
            <span class="title">Account Type:</span> {{ accountTypeFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>#</th>
              <th>Num</th>
              <th>Account</th>
              <th>Type</th>
              <th>Memo</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td>
                <span v-html="doc.indent"></span>
                {{ doc.code }}
              </td>
              <td>{{ doc.name }}</td>
              <td>{{ doc.accountTypeDoc.name }}</td>
              <td>{{ doc.memo }}</td>
              <td>{{ doc.balance }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import Notify from '/imports/ui/lib/notify'

// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'

import { lookupAccountType } from '../../utils/lookup-methods'
import { reportAccountList } from '../../api/reports/account-list'

export default {
  name: 'AccountListReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      accountTypeOpts: [],
      sortByOpts: [
        {
          value: 'default',
          label: 'Default',
        },
        {
          value: 'test1',
          label: 'Test1',
        },
        {
          value: 'test2',
          label: 'Test2',
        },
      ],
      form: {
        accountType: [],
        // sortBy: [],
      },
      rules: {
        // accountType: [{ required: true, message: 'Account Type is required' }],
      },

      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Account List Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'Account List',
      },
      cssText: ``,
    }
  },
  computed: {
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
    sortByFilter() {
      let data = _.filter(this.sortByOpts, o => {
        return _.includes(this.form.sortBy, o.value)
      })
      return _.map(data, 'label')
    },
  },
  mounted() {
    this.getAccountTypes()
  },
  methods: {
    getAccountTypes() {
      lookupAccountType
        .callPromise()
        .then(result => {
          this.accountTypeOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          reportAccountList
            .callPromise(this.form)
            .then(result => {
              console.log(result)
              this.reportData = result
              this.loading = false
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>