<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item
            label="Branch"
            prop="branchId"
          >
            <el-select
              v-model="form.branchId"
              clearable
              multiple
              style="width: 100%"
            >
              <el-option
                v-for="item in branchOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item
            label="Currency"
            prop="currency"
          >
            <el-select
              v-model="form.currency"
              clearable
              multiple
              style="width: 100%"
            >
              <el-option
                v-for="item in currencyOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item
            label="Account type"
            prop="accountType"
          >
            <el-select
              v-model="form.accountType"
              clearable
              multiple
              style="width: 100%"
            >
              <el-option
                v-for="item in accountTypeOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

        </el-col>
        <el-col :span="12">
          <el-form-item
            label="Report period"
            prop="reportPeriod"
          >
            <el-date-picker
              v-model="form.reportPeriod"
              :format="pickerFormat"
              :picker-options="pickerOpts"
              type="daterange"
              start-placeholder="Start Date"
              end-placeholder="End Date"
            >
            </el-date-picker>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm"
            >
              <i class="fa fa-search"></i> Submit
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <div slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </div>

      <!--REPORT FILTER-->
      <div slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Currency:</span> {{ currencyFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Account Type:</span> {{ accountTypeFilter }}
          </el-col>
        </el-row>
      </div>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>Date</th>
              <th>Transaction Type</th>
              <th>Currency</th>
              <th>Ref Num</th>
              <th>Memo</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(doc, index) in reportData">
              <tr :key="index">
                <th colspan="7">
                  {{ doc.chartAccount.code }} : {{ doc.chartAccount.name }}
                </th>
                <th class="text-right">{{ $numeral(0).format('0,0.00') }}</th>
              </tr>
              <tr
                v-for="(detail, indexDetail) in doc.details"
                :key="indexDetail"
              >
                <td>
                  {{ $_.repeat('&nbsp;', 5) }} {{ $moment(detail.tranDate).format('DD-MM-YYYY') }}
                </td>
                <td>{{ detail.journalType }}</td>
                <td>{{ detail.currency }}</td>
                <td>{{ detail.refNum }}</td>
                <td>{{ detail.memo }}</td>
                <td class="text-right">{{ $numeral(detail.debit).format('0,0.00') }}</td>
                <td class="text-right">{{ $numeral(detail.credit).format('0,0.00') }}</td>
                <td class="text-right">{{ $numeral(detail.balance).format('0,0.00') }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div slot="footer">
        <el-row :gutter="20">
          <el-col class="colspan-12">
            <span class="title">Total Debit:</span>
          </el-col>
          <el-col class="colspan-12">
            <span class="title">Total Credit:</span>
          </el-col>
        </el-row>
      </div>

    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'

// Report Laout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'

import LookupValue from '../lib/lookup-value'
import { lookupBranch, lookupAccountType } from '../../utils/lookup-methods'
import { reportGeneralLedger_Group } from '../../api/reports/general-ledger'

export default {
  name: 'GeneralLedgerReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      branchOpts: [],
      currencyOpts: LookupValue.currency,
      accountTypeOpts: [],
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: {
        shortcuts: [
          {
            text: 'Today',
            onClick(picker) {
              const start = moment().toDate()
              const end = moment().toDate()
              picker.$emit('pick', [start, end])
            },
          },
          {
            text: 'This week',
            onClick(picker) {
              const start = moment()
                .startOf('isoWeek')
                .toDate()
              const end = moment()
                .endOf('isoWeek')
                .toDate()
              picker.$emit('pick', [start, end])
            },
          },
          {
            text: 'This month',
            onClick(picker) {
              const start = moment()
                .startOf('month')
                .toDate()
              const end = moment()
                .endOf('month')
                .toDate()
              picker.$emit('pick', [start, end])
            },
          },
          {
            text: 'Last month',
            onClick(picker) {
              const start = moment()
                .subtract(1, 'month')
                .startOf('month')
                .toDate()
              const end = moment(start)
                .endOf('month')
                .toDate()
              picker.$emit('pick', [start, end])
            },
          },
        ],
      },
      form: {
        branchId: [],
        currency: [],
        accountType: [],
        reportPeriod: [moment().toDate(), moment().toDate()],
      },
      rules: {
        reportPeriod: [
          { required: true, message: 'Report period is required' },
        ],
      },
      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'General Ledger Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'General Ledger',
      },
      cssText: ``,
    }
  },
  computed: {
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
    currencyFilter() {
      let data = _.filter(this.currencyOpts, o => {
        return _.includes(this.form.currency, o.value)
      })
      return _.map(data, 'label')
    },
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
    reportPeriod() {
      const period = `${moment(this.form.reportPeriod[0]).format('DD/MM/YYYY')} 
                  To ${moment(this.form.reportPeriod[1]).format('DD/MM/YYYY')}
                `
      return period
    },
  },
  mounted() {
    this.getBranches()
    this.getAccountTypes()
  },
  methods: {
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getAccountTypes() {
      lookupAccountType
        .callPromise()
        .then(result => {
          this.accountTypeOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          reportGeneralLedger_Group
            .callPromise(this.form)
            .then(result => {
              if (result) {
                console.log(result)
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>