<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item
            label="Date"
            prop="reportDate"
          >
            <el-date-picker
              v-model="form.reportDate"
              :format="pickerFormat"
              :picker-options="pickerOpts"
              type="daterange"
              start-placeholder="Start Date"
              end-placeholder="End Date"
            >
            </el-date-picker>
          </el-form-item>

          <el-form-item
            label="Branch"
            prop="branchId"
          >
            <el-select
              v-model="form.branchId"
              clearable
              placeholder="-- All --"
              style="width: 100%"
            >
              <el-option
                v-for="item in branchOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item
            label="Currency"
            prop="currency"
          >
            <el-select
              v-model="form.currency"
              clearable
              multiple
              placeholder="-- All --"
              style="width: 100%"
            >
              <el-option
                v-for="item in currencyOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item
            label="Account type"
            prop="accountType"
          >
            <el-select
              v-model="form.accountType"
              clearable
              multiple
              placeholder="-- All --"
              style="width: 100%"
            >
              <el-option
                v-for="item in accountTypeOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm"
            >
              <i class="fa fa-search"></i> Submit
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">{{ reportName }}</div>
        <div class="report-period">{{ reportDate }}</div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="10">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Currency:</span> {{ currencyFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Account Type:</span> {{ accountTypeFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Ref Num</th>
              <th>Type</th>
              <th>Currency</th>
              <th>Memo</th>
              <th class="text-right">Debit</th>
              <th class="text-right">Credit</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(doc, index) in reportData">
              <!-- Title -->
              <tr :key="`${doc._id}`">
                <td>{{ index + 1 }}</td>
                <td>{{ $moment(doc.tranDate).format('DD/MM/YYYY') }}</td>
                <td>{{ doc.refNum }}</td>
                <td>{{ doc.accountType }}</td>
                <td>{{ doc.currency }}</td>
                <td>{{ doc.memo }}</td>
                <td>{{ item.chartAccountDoc.name }}</td>
                <td class="text-right">{{ $numeral(item.dr).format('0,0.00') }}</td>
                <td class="text-right">{{ $numeral(item.cr).format('0,0.00') }}</td>
              </tr>
              <!-- Details -->
              <tr
                v-for="(item, itemIndex) in doc.details"
                :key="`${index}${itemIndex}`"
              >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ item.chartAccountDoc.name }}</td>
                <td class="text-right">{{ $numeral(item.dr).format('0,0.00') }}</td>
                <td class="text-right">{{ $numeral(item.cr).format('0,0.00') }}</td>
              </tr>

              <!-- Subtotal -->
              <tr :key="`subtotal:${index}`">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right text-bold">{{ $numeral(doc.total).format('0,0.00') }}</td>
                <td class="text-right text-bold">{{ $numeral(doc.total).format('0,0.00') }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <!-- <template slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-12">
            <span class="title">&nbsp;</span>
          </el-col>
          <el-col class="colspan-6">
            <span class="title">TOTAL DEBIT:</span>
          </el-col>
          <el-col class="colspan-6">
            <span class="title">TOTAL CREDIT:</span>
          </el-col>
        </el-row>
      </template> -->
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'
import wrapCurrentTime from '/imports/ui/lib/wrap-current-time'

// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'

import LookupValue from '../lib/lookup-value'
import { lookupBranch, lookupAccountType } from '../../utils/lookup-methods'
import reportGeneralLedger from '../../api/reports/generalLedger'

export default {
  name: 'JournalReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      branchOpts: [],
      currencyOpts: LookupValue.currency,
      accountTypeOpts: [],
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: dateRangePickerOpts,
      form: {
        branchId: '',
        currency: [],
        accountType: [],
        reportDate: [moment().toDate(), moment().toDate()],
      },
      rules: {
        reportDate: [{ required: true, message: 'Date is required' }],
      },

      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Journal Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [],
        fileName: 'Journal Report',
      },
      cssText: ``,
    }
  },
  computed: {
    reportDate() {
      const period = `${moment(this.form.reportDate[0]).format('DD/MM/YYYY')} 
                  To ${moment(this.form.reportDate[1]).format('DD/MM/YYYY')}
                `
      return period
    },
    branchFilter() {
      let data = _.find(this.branchOpts, { value: this.form.branchId })
      return data && data.label
    },
    currencyFilter() {
      let data = _.filter(this.currencyOpts, o => {
        return _.includes(this.form.currency, o.value)
      })
      return _.map(data, 'label')
    },
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
  },
  mounted() {
    this.getBranche()
    this.getAccountType()
  },
  methods: {
    getBranche() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getAccountType() {
      lookupAccountType
        .callPromise()
        .then(result => {
          this.accountTypeOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.reportDate = wrapCurrentTime(this.form.reportDate)

          reportGeneralLedger
            .callPromise(this.form)
            .then(result => {
              this.reportData = result
              this.loading = false
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>