<template>
  <div class="collapse-list">
    <el-collapse v-model="activeName">
      <!--General-->
      <el-collapse-item name="General">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-print"></i> General
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in generalReports"
            :span="6"
            :key="index"
          >
            <span
              class="list-title"
              @click="handleLink(item.route)"
            >
              {{ item.title }}
            </span>
            <div class="list-memo">{{ item.memo }}</div>
          </el-col>
        </el-row>
      </el-collapse-item>

      <!--Summary-->
      <el-collapse-item name="Summary">
        <template slot="title">
          <span class="collapse-title">
            <i class="fa fa-print"></i> Summary
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in summaryReports"
            :span="6"
            :key="index"
          >
            <div
              class="list-title"
              @click="handleLink(item.route)"
            >
              {{ item.title }}
            </div>
            <div class="list-memo">{{ item.memo }}</div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  name: 'Report',
  data() {
    return {
      activeName: ['General', 'Summary'],
      // General
      generalReports: [
        {
          route: 'app.accountListReport',
          title: 'Account List',
          memo: ``,
        },
        {
          route: 'app.journalReport',
          title: 'Journal',
          memo: ``,
        },
        {
          route: 'app.generalLedgerReport',
          title: 'General Ledger',
          memo: ``,
        },
        {
          route: 'app.trialBalanceReport',
          title: 'Trial Balance',
          memo: ``,
        },
        {
          route: 'app.profitLossReport',
          title: 'Profit & Loss',
          memo: ``,
        },
        {
          route: 'app.balanceSheetReport',
          title: 'Balance Sheet',
          memo: ``,
        },
      ],
      // Summary
      summaryReports: [
        {
          route: 'app.summaryReport',
          title: 'Summary',
          memo: ``,
        },
        {
          route: 'app.summaryReport',
          title: 'Summary',
          memo: ``,
        },
        {
          route: 'app.summaryReport',
          title: 'Summary',
          memo: ``,
        },
        {
          route: 'app.summaryReport',
          title: 'Summary',
          memo: ``,
        },
      ],
    }
  },
  computed: {
    routerView() {
      return this.$route.meta.routerView
    },
  },
  methods: {
    handleLink(route) {
      this.$router.push({ name: route })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/collapse-list.scss';
</style>
