<template>
  <div>
    <!-- FORM -->
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="180px"
    >
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item
            label="Report Period"
            prop="reportPeriod"
          >
            <el-date-picker
              v-model="form.reportPeriod"
              :format="pickerFormat"
              :picker-options="pickerOpts"
              type="daterange"
              start-placeholder="Start Date"
              end-placeholder="End Date"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item
            label="Branch"
            prop="branchId"
          >
            <el-select
              v-model="form.branchId"
              clearable
              multiple
              style="width: 100%"
            >
              <el-option
                v-for="item in branchOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

        </el-col>
        <el-col :span="12">
          <el-form-item label="Transaction Type">
            <el-select
              v-model="form.transactionType"
              clearable
              multiple
              style="width: 100%"
            >
              <el-option
                v-for="item in transactionTypeOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm"
            >
              <i class="fa fa-search"></i> Submit
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ reportPeriod }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Transaction Type:</span> {{ transactionTypeFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>#</th>
              <th>Account</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ doc.account }}</td>
              <td>{{ doc.Amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'

// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'

import { reportAccountList } from '../../api/reports/account-list'
import { lookupBranch, lookupAccountType } from '../../utils/lookup-methods'

export default {
  name: 'ProfitAndLossReport',
  components: { ReportLayout },
  data() {
    return {
      branchOpts: [],
      transactionTypeOpts: [
        {
          label: 'All',
          value: 'all',
        },
        {
          label: 'Active',
          value: 'active',
        },
        {
          label: 'None Zero',
          value: 'none-zero',
        },
      ],
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: {
        shortcuts: [
          {
            text: 'Today',
            onClick(picker) {
              const start = moment().toDate()
              const end = moment().toDate()
              picker.$emit('pick', [start, end])
            },
          },
          {
            text: 'This week',
            onClick(picker) {
              const start = moment()
                .startOf('isoWeek')
                .toDate()
              const end = moment()
                .endOf('isoWeek')
                .toDate()
              picker.$emit('pick', [start, end])
            },
          },
          {
            text: 'This month',
            onClick(picker) {
              const start = moment()
                .startOf('month')
                .toDate()
              const end = moment()
                .endOf('month')
                .toDate()
              picker.$emit('pick', [start, end])
            },
          },
          {
            text: 'Last month',
            onClick(picker) {
              const start = moment()
                .subtract(1, 'month')
                .startOf('month')
                .toDate()
              const end = moment(start)
                .endOf('month')
                .toDate()
              picker.$emit('pick', [start, end])
            },
          },
        ],
      },

      form: {
        branchId: [],
        transactionType: [],
        reportPeriod: [moment().toDate(), moment().toDate()],
      },
      rules: {
        reportDate: [{ required: true, message: 'Report period is required' }],
      },
      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Profit And Loss Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'Profit And Loss',
      },
      cssText: ``,
    }
  },
  computed: {
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
    transactionTypeFilter() {
      let data = _.filter(this.transactionTypeOpts, o => {
        return _.includes(this.form.transactionType, o.value)
      })
      return _.map(data, 'label')
    },
    reportPeriod() {
      const period = `${moment(this.form.reportPeriod[0]).format('DD/MM/YYYY')}
                  To ${moment(this.form.reportPeriod[1]).format('DD/MM/YYYY')}
                `
      return period
    },
  },
  mounted() {
    this.getBranches()
  },
  methods: {
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          reportAccountList
            .callPromise(this.form)
            .then(result => {
              if (result) {
                console.log(result)
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>