<template>
  <div>
    <!-- FORM -->
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="180px"
    >
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item
            label="Report Date"
            prop="reportDate"
          >
            <el-date-picker
              v-model="form.reportDate"
              type="date"
              placeholder="Pick a date"
              style="width: 100%;"
            ></el-date-picker>
          </el-form-item>
          <el-form-item
            label="Branch"
            prop="branchId"
          >
            <el-select
              v-model="form.branchId"
              clearable
              multiple
              style="width: 100%"
            >
              <el-option
                v-for="item in branchOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>

        </el-col>
        <el-col :span="12">
          <el-form-item label="Show non-zero or active">
            <el-select
              v-model="form.showNoneZero"
              clearable
              style="width: 100%"
            >
              <el-option
                v-for="item in showNoneZeroOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm"
            >
              <i class="fa fa-search"></i> Submit
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <div class="report-period">
          <!--{{ reportPeriod }}-->
        </div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> Date
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">None Zero:</span> {{ showNoneZeroFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>#</th>
              <th>Account</th>
              <th>Debit</th>
              <th>Credit</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ doc.account }}</td>
              <td>{{ doc.debit }}</td>
              <td>{{ doc.credit }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">Total:</td>
              <td>100</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <!--REPORT FOOTER-->
      <!--<div slot="footer">-->
      <!--<el-row :gutter="20">-->
      <!--<el-col-->
      <!--:span="12"-->
      <!--class="footer-span"-->
      <!--&gt;-->
      <!--<span class="title test">Total Debit:</span>-->
      <!--</el-col>-->
      <!--<el-col-->
      <!--:span="12"-->
      <!--class="footer-span"-->
      <!--&gt;-->
      <!--<span class="title">Total Credit:</span>-->
      <!--</el-col>-->
      <!--</el-row>-->
      <!--</div>-->
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'

// Report Laout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'
import { lookupBranch } from '../../utils/lookup-methods'
import { reportAccountList } from '../../api/reports/account-list'

export default {
  name: 'TrialBalanceReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      branchOpts: [],
      showNoneZeroOpts: [
        {
          label: 'All',
          value: 'all',
        },
        {
          label: 'Active',
          value: 'active',
        },
        {
          label: 'None Zero',
          value: 'none-zero',
        },
      ],
      pickerFormat: 'dd/MM/yyyy',
      form: {
        branchId: [],
        showNoneZero: [],
        reportDate: [moment().date()],
      },
      rules: {
        reportDate: [{ required: true, message: 'Report Date is required' }],
      },
      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Trial Balance Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'Trial Balance',
      },
      cssText: ``,
    }
  },
  computed: {
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
    showNoneZeroFilter() {
      let data = _.filter(this.showNoneZeroOpts, o => {
        return _.includes(this.form.showNoneZero, o.value)
      })
      return _.map(data, 'label')
    },
    // reportPeriod () {
    //   const period = `${moment(this.form.reportPeriod[0]).format('DD/MM/YYYY')}
    //             To ${moment(this.form.reportPeriod[1]).format('DD/MM/YYYY')}
    //           `
    //   return period
    // },
  },
  mounted() {
    this.getBranches()
  },
  methods: {
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          reportAccountList
            .callPromise(this.form)
            .then(result => {
              if (result) {
                console.log(result)
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>