<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
      :rules="rules"
      label-width="120px"
    >

      <el-form-item
        :label="$t('rest.report.formLabel.customer')"
        prop="guestId"
      >
        <el-select
          v-model="form.guestId"
          clearable
          placeholder="Select All"
          multiple
          style="width:400px"
        >
          <el-option
            v-for="item in guestOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.fromDate')"
        prop="date"
      >

        <el-date-picker
          v-model="form.date"
          type="date"
          placeholder="Pick a day"
          style="width:400px;"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item style="margin-left:120px;">
        <div style="width:400px;">
          <el-button
            type="primary"
            @click="submitForm"
          >
            <i class="fa fa-search"></i> Submit
          </el-button>
        </div>
      </el-form-item>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <div slot="header">
        <div class="report-name">
          {{ reportTitle }}
        </div>
        <div class="report-period">
          {{ $moment(form.date).format('DD/MM/YYYYY') }}
        </div>
      </div>

      <!--REPORT FILTER-->
      <div slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-24">
            <span class="label">Customers: {{ guestFilter }}</span>
          </el-col>
        </el-row>
      </div>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content table-center">
          <thead style="display:table-row-group">
            <tr>
              <th>#</th>
              <th>{{ $t('rest.report.tableLabel.invoice') }}</th>
              <th>{{ $t('rest.report.tableLabel.customer') }}</th>
              <th>{{ $t('rest.report.tableLabel.phoneNumber') }}</th>
              <th class="text-center">{{ $t('rest.report.tableLabel.sellDate') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.openAmount') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.receiveAmount') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.remainingAmount') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ doc.invoiceId }}</td>
              <td>{{ doc.guestName }}</td>
              <td>{{ doc.guestTel }}</td>
              <td class="text-center">{{ $moment(doc.saleDate).format('DD/MM/YYYY hh:mm') }}</td>
              <td class="text-right">{{ $numeral( doc.openAmount).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ $numeral( doc.receiveAmount).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ $numeral( doc.openAmount - doc.receiveAmount).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div slot="footer">

      </div>
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'
// Mapping
import { mapState } from 'vuex'
// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'
import {
  findOweCustomer,
  customerOweReport,
} from '../../api/reports/customerOweReport.js'

export default {
  name: 'CustomerOweReport',
  components: { ReportLayout },
  data() {
    return {
      // Form

      pickerOpts: dateRangePickerOpts,
      form: {
        date: new Date(),
        guestId: [],
      },
      rules: {
        date: [{ required: true, message: 'Report period is required' }],
      },
      guestOpts: [],
      // Report
      loading: false,
      reportTitle: `${this.$t('rest.report.fullTitle.customerOwe')}`,
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [
          { label: 'ID', value: '_id' },
          { label: 'Date', value: 'postDate' },
          { label: 'Status', value: 'status' },
        ],
        fileName: 'Post',
      },
      cssText: `.test { color: red }`,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
    guestFilter() {
      if (this.form.guestId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.guestOpts, o => {
          return _.includes(this.form.guestId, o._id)
        })
        return _.map(data, 'name')
      }
    },
  },
  mounted() {
    this.getGuests()
    this.submitForm()
  },
  methods: {
    getGuests() {
      this.loading = false
      findOweCustomer
        .callPromise({ status: ['Partial'] })
        .then(result => {
          if (result) {
            this.guestOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          // Pick doc
          customerOweReport
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: 'Submit failed' })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>