<template>
  <div class="collapse-list">
    <el-collapse v-model="activeName">
      <!--General-->
      <el-collapse-item name="1">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-print"></i> {{ $t('rest.report.general') }}
          </span>
        </template>

        <el-row :gutter="20">

          <el-col
            v-for="(item, index) in generalReports"
            :span="6"
            :key="index"
            class="list-tile"
          >
            <div
              v-if="item.disabled != false"
              @click="handleLink(item.route)"
            >
              <span class="list-title">
                {{ item.title }}
              </span>
              <div class="list-memo">{{ item.memo }}</div>
            </div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import _ from 'lodash'
// Mapping
import { mapState } from 'vuex'

export default {
  name: 'Report',
  data() {
    return {
      activeName: ['1'],
      // Summary
      summaryReports: [],
    }
  },
  computed: {
    // Mapping
    ...mapState({
      currentUser(state) {
        return state.app.currentUser
      },
    }),
    generalReports() {
      let list = [
        {
          route: 'rest.productReport',
          title: this.$t('rest.report.title.product'),
          memo: '_____________________',
        },
        {
          route: 'rest.purchaseReport',
          title: this.$t('rest.report.title.purchase'),
          memo: '_____________________',
        },
        {
          route: 'rest.purchasePaymentReport',
          title: this.$t('rest.report.title.purchasePayment'),
          memo: '_____________________',
        },
        {
          route: 'rest.saleReport',
          title: this.$t('rest.report.title.sale'),
          memo: '_____________________',
        },
        {
          route: 'rest.saleDetailReport',
          title: this.$t('rest.report.title.saleDetail'),
          memo: '_____________________',
        },
        {
          route: 'rest.saleDetailByItemReport',
          title: this.$t('rest.report.title.saleDetailItem'),
          memo: '_____________________',
        },
        {
          route: 'rest.saleReceiptReport',
          title: this.$t('rest.report.title.saleReceipt'),
          memo: '_____________________',
        },
        {
          route: 'rest.stockReport',
          title: this.$t('rest.report.title.stock'),
          memo: '_____________________',
        },
        {
          route: 'rest.customerOweReport',
          title: this.$t('rest.report.title.customerOwe'),
          memo: '_____________________',
        },
      ]
      return list
    },
  },
  mounted() {},
  methods: {
    handleLink(route) {
      this.$router.push({ name: route })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/collapse-list.scss';
</style>
