<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-form-item
        :label="$t('rest.report.formLabel.category')"
        prop="categoryId"
      >
        <el-select
          :placeholder="categoryLoading"
          v-model="form.categoryId"
          clearable
          multiple
          style="width: 400px"
        >
          <el-option
            v-for="item in categoryOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.status')"
        prop="status"
      >
        <el-select
          v-model="form.status"
          placeholder="Select All"
          clearable
          multiple
          style="width: 400px"
        >
          <el-option
            v-for="item in statusOpts"
            :key="item.label"
            :label="item.value"
            :value="item.label"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item style="margin-left:120px;">
        <div style="width:400px;">
          <el-button
            type="primary"
            @click="submitForm"
          >
            <i class="fa fa-search"></i> Submit
          </el-button>
        </div>
      </el-form-item>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <div slot="header">
        <div class="report-name">
          {{ reportTitle }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </div>

      <!--REPORT FILTER-->
      <div slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.category') }}: {{ categorieFilter }}</span>
          </el-col>
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.status') }}: {{ statusFilter }}</span>
          </el-col>
        </el-row>
      </div>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead style="display:table-row-group">
            <tr>
              <th>#</th>
              <th>{{ $t('rest.report.tableLabel.name') }}</th>
              <th>{{ $t('rest.report.tableLabel.category') }}</th>
              <th>{{ $t('rest.report.tableLabel.type') }}</th>
              <th>{{ $t('rest.report.tableLabel.status') }}</th>
              <th>{{ $t('rest.report.tableLabel.station') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.price') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ doc.name }}</td>
              <td>{{ doc.categoryName }}</td>
              <td>{{ doc.type }}</td>
              <td>{{ doc.status }}</td>
              <td>{{ doc.stationName }}</td>
              <td class="text-right">{{ $numeral( doc.price).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-8">

          </el-col>
        </el-row>
      </div>
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'
// Mapping
import { mapState } from 'vuex'
// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'
// Category Methods
import { findCategories } from '../../api/categories/methods'

import { productReport } from '../../api/reports/product'

export default {
  name: 'SampleReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      categoryLoading: 'Select All',
      categoryOpts: [],
      form: {
        categoryId: [],
        status: [],
      },
      rules: {
        // categoryId: [{ required: true, message: 'Category is required' }],
      },
      statusOpts: [
        { label: 'Active', value: 'Active' },
        { label: 'Inactive', value: 'Inactive' },
      ],
      // Report
      loading: false,
      reportTitle: `${this.$t('rest.report.fullTitle.product')}`,
      reportPeriod: moment().format('DD-MM-YYYY'),
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [
          { label: 'Code', value: 'code' },
          { label: 'Name', value: 'name' },
          { label: 'Gender', value: 'gender' },
          { label: 'category', value: 'category' },
          { label: 'Telephone', value: 'telephone' },
          { label: 'Salary', value: 'salary' },
        ],
      },
      cssText: ``,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
    categorieFilter() {
      if (this.form.categoryId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.categoryOpts, o => {
          return _.includes(this.form.categoryId, o._id)
        })
        let list = _.map(data, 'name')
        return list
      }
    },
    statusFilter() {
      if (this.form.status.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        return this.form.status
      }
    },
    sumTotal() {
      let total = 0
      _.forEach(this.reportData, o => {
        total += o.price
      })

      return total
    },
  },
  mounted() {
    this.getCategories()
    this.submitForm()
  },
  methods: {
    getCategories() {
      // Call meteor method
      findCategories
        .callPromise({
          selector: { productType: { $in: ['Product', 'Dish'] } },
        })
        .then(result => {
          if (result) {
            this.categoryOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Selector
          let params = this.form
          // Find

          productReport
            .callPromise(params)
            .then(result => {
              if (result) {
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: 'Submit failed' })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>