<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
      :rules="rules"
      label-width="120px"
    >

      <el-form-item
        :label="$t('rest.report.formLabel.supplier')"
        prop="supplierId"
      >
        <el-select
          v-model="form.supplierId"
          clearable
          multiple
          placeholder="Select All"
          style="width: 400px"
        >
          <el-option
            v-for="item in supplierOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.employee')"
        prop="employeeId"
      >
        <el-select
          v-model="form.employeeId"
          clearable
          placeholder="Select All"
          multiple
          style="width: 400px"
        >
          <el-option
            v-for="item in employeeOpts"
            :key="item._id"
            :label="item.profile.fullName"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.reportPeriod')"
        prop="reportPeriod"
      >
        <el-date-picker
          v-model="form.reportPeriod"
          :picker-options="pickerOpts"
          type="daterange"
          format="dd/MM/yyyy"
          start-placeholder="Start Date"
          end-placeholder="End Date"
          style="width: 400px"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item style="margin-left:120px;">
        <div style="width:400px;">
          <el-button
            type="primary"
            @click="submitForm"
          >
            <i class="fa fa-search"></i> Submit
          </el-button>
        </div>
      </el-form-item>

    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <div slot="header">
        <div class="report-name">
          {{ reportTitle }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </div>

      <!--REPORT FILTER-->
      <div slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.supplier') }}: {{ supplierFilter }}</span>
          </el-col>
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.employee') }}:{{ employeeFilter }}</span>
          </el-col>
        </el-row>
      </div>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content table-center">
          <thead style="display:table-row-group">
            <tr>
              <th>#</th>
              <th class="text-center">{{ $t('rest.report.tableLabel.date') }}</th>
              <th>{{ $t('rest.report.tableLabel.item') }}</th>
              <th>{{ $t('rest.report.tableLabel.supplier') }}</th>
              <th>{{ $t('rest.report.tableLabel.employee') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.cost') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.quantity') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.amount') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td class="text-center">{{ $moment(doc.date).format('DD/MM/YYYY') }}</td>
              <td>{{ doc.name }}</td>
              <td>{{ doc.supplierName }}</td>
              <td>{{ doc.employeeName }}</td>
              <td class="text-right">{{ $numeral( doc.cost).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ doc.qty }}</td>
              <td class="text-right">{{ $numeral( doc.amount).format('0,0.00') }} {{ baseCurrency.symbol }}</td>

            </tr>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-24 text-right">
            <span class="title">{{ $t('rest.report.total') }}: {{ $numeral( sumTotal).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
          </el-col>
        </el-row>
      </div>
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'
// Mapping
import { mapState } from 'vuex'
// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'
import { purchaseReport } from '../../api/reports/PurchaseReport'

// Supplier methods
import { findSuppliers } from '../../api/suppliers/methods'
// Employee methods
import { findUsers } from '../../../../api/users/methods'

export default {
  name: 'PostReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      categoryOpts: [],
      pickerOpts: dateRangePickerOpts,
      form: {
        reportPeriod: [
          moment()
            .startOf('day')
            .toDate(),
          moment()
            .endOf('day')
            .toDate(),
        ],
        supplierId: [],
        employeeId: [],
      },
      rules: {
        reportPeriod: [
          { required: true, message: 'Report period is required' },
        ],
      },
      supplierOpts: [],
      employeeOpts: [],

      // Report
      loading: false,
      reportTitle: `${this.$t('rest.report.fullTitle.purchase')}`,
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [
          { label: 'ID', value: '_id' },
          { label: 'Date', value: 'postDate' },
          { label: 'Status', value: 'status' },
        ],
        fileName: 'Post',
      },
      cssText: ``,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
    reportPeriod() {
      const period = `${moment(this.form.reportPeriod[0]).format('DD/MM/YYYY')} 
                  To ${moment(this.form.reportPeriod[1]).format('DD/MM/YYYY')}
                `
      return period
    },
    supplierFilter() {
      if (this.form.supplierId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.supplierOpts, o => {
          return _.includes(this.form.supplierId, o._id)
        })
        return _.map(data, 'name')
      }
    },
    employeeFilter() {
      if (this.form.employeeId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.employeeOpts, o => {
          return _.includes(this.form.employeeId, o._id)
        })
        return _.map(data, 'profile.fullName')
      }
    },
    sumTotal() {
      let sumTotal = 0
      _.forEach(this.reportData, o => {
        sumTotal += o.amount
      })
      return sumTotal
    },
  },
  mounted() {
    this.getSuppliers()
    this.getEmployees()
    this.submitForm()
  },
  methods: {
    getSuppliers() {
      this.loading = true
      findSuppliers
        .callPromise({})
        .then(result => {
          if (result) {
            this.supplierOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    getEmployees() {
      this.loading = true
      findUsers
        .callPromise({ selector: { username: { $ne: 'super' } } })
        .then(result => {
          if (result) {
            this.employeeOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          purchaseReport
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: 'Submit failed' })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>