<template>
  <div>
    <el-dialog
      v-loading="loading"
      :visible="visible"
      :before-close="handleModalClose"
      close-on-click-modal
      class="Invoice Details"
      width="60%"
      title="Sale Details"
    >
      <el-table :data="tableData">
        <el-table-column>
          <template
            slot="header"
            slot-scope="scope"
          >
            <span class="header">
              {{$t('rest.tableLabel.invoice')}}: {{invoice}}
            </span>
            <span class="header">
              {{$t('rest.tableLabel.date')}}: {{date}}
            </span>
            <span class="header">
              {{$t('rest.tableLabel.status')}}: {{status}}
            </span>
          </template>

          <el-table-column
            :label="$t('rest.tableLabel.name')"
            prop="itemName"
            :min-width="34"
          >
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.quantity')"
            prop="qty"
            align="center"
            :min-width="13"
          >
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.price')"
            align="right"
            :min-width="25"
          >
            <template slot-scope="scope">
              {{ $numeral( scope.row.price ).format('0,0.00') }} {{ baseCurrency.symbol }}
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.discount')"
            align="center"
            :min-width="13"
          >
            <template slot-scope="scope">
              {{scope.row.discount}} %
            </template>
          </el-table-column>

          <el-table-column
            :label="$t('rest.tableLabel.total')"
            align="right"
            :min-width="25"
          >
            <template slot-scope="scope">
              {{ $numeral( scope.row.amount ).format('0,0.00') }} {{ baseCurrency.symbol }}
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>

      <el-row
        :gutter="10"
        style="padding-top:15px"
      >

        <el-col
          :offset="8"
          :span="8"
          class="text-right"
        >
          <span class="title">{{ $t('rest.tableLabel.receive') }}: {{ $numeral( received ).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
        </el-col>
        <el-col
          :span="8"
          class="text-right"
        >
          <span class="title">{{ $t('rest.report.tableLabel.total') }}: {{ $numeral( total ).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findSales } from '../../api/sales/methods'
export default {
  name: 'SaleDetailDialog',

  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    saleId: {
      type: String,
      default: null,
    },
    baseCurrency: {
      type: Object,
      default: function() {
        return {}
      },
    },
  },
  data() {
    return {
      loading: false,
      saleDoc: null,
      tableData: [],
      invoice: '',
      status: '',
      date: '',
    }
  },

  // Computed
  computed: {
    total() {
      let total = 0
      if (this.saleDoc) total = this.saleDoc.total
      return total
    },
    received() {
      let received = 0
      if (this.saleDoc) received = this.saleDoc.totalReceived
      return received
    },
  },
  watch: {
    saleId: {
      handler(val) {
        this.getDataTable()
      },

      immediate: true,
    },
  },

  // Created
  created() {},

  // Mounted
  mounted() {},

  // Methods
  methods: {
    getDataTable() {
      findSales
        .callPromise({ selector: { _id: this.saleId } })
        .then(result => {
          if (result) {
            this.saleDoc = result[0]
            this.tableData = this.saleDoc.details
            this.invoice = this.saleDoc._id
            this.status = this.saleDoc.status
            this.date = this.getDateString(this.saleDoc)
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },
    getDateString(doc) {
      if (doc.statusDate.close) {
        return `${moment(doc.date).format('DD/MM/YYYY hh:mmA')} - ${moment(
          doc.statusDate.close
        ).format('DD/MM/YYYY hh:mmA')}`
      } else if (doc.statusDate.partial) {
        return `${moment(doc.date).format('DD/MM/YYYY hh:mmA')} - ${moment(
          doc.statusDate.partial
        ).format('DD/MM/YYYY hh:mmA')}`
      } else {
        return `${moment(doc.date).format('DD/MM/YYYY hh:mmA')}`
      }
    },

    // Close  model
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
.header {
  display: block;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
</style>
