<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
      :rules="rules"
      label-width="120px"
    >

      <el-form-item
        :label="$t('rest.report.formLabel.customer')"
        prop="guestId"
      >
        <el-select
          v-model="form.guestId"
          clearable
          placeholder="Select All"
          multiple
          style="width:400px"
        >
          <el-option
            v-for="item in guestOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.employee')"
        prop="employeeId"
      >
        <el-select
          v-model="form.employeeId"
          clearable
          multiple
          placeholder="Select All"
          style="width:400px"
        >
          <el-option
            v-for="item in employeeOpts"
            :key="item._id"
            :label="item.profile.fullName"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.status')"
        prop="status"
      >
        <el-select
          v-model="form.status"
          clearable
          placeholder="Select All"
          multiple
          style="width:400px"
        >
          <el-option
            v-for="item in statusOpts"
            :key="item.value"
            :label="item.name"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.reportPeriod')"
        prop="reportPeriod"
      >
        <el-date-picker
          v-model="form.reportPeriod"
          :default-time="['00:00:00', '23:59:00']"
          type="datetimerange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date"
          style="width:400px"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.paperSize')"
        prop="paperSize"
      >
        <div style="width:400px">
          <el-radio
            v-model="form.paperSize"
            label="a4p"
          >A4 Paper</el-radio>
          <el-radio
            v-model="form.paperSize"
            label="mini"
          >80mm Paper</el-radio>
        </div>
      </el-form-item>

      <el-form-item style="margin-left:120px;">
        <div style="width:400px;">
          <el-button
            type="primary"
            @click="submitForm"
          >
            <i class="fa fa-search"></i> Submit
          </el-button>
        </div>
      </el-form-item>
    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :export-csv="exportCSV"
      :css-text="cssText"
      :paper-size="form.paperSize"
    >

      <!--REPORT HEADER-->
      <div slot="header">
        <div class="report-name">
          {{ reportTitle }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </div>

      <!--REPORT FILTER-->
      <div slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.customer') }}: {{ guestFilter }}</span>
          </el-col>
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.status') }}:{{ statusFilter }}</span>
          </el-col>
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.employee') }}: {{ employeeFilter }}</span>
          </el-col>
        </el-row>
      </div>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table
          v-if="miniTable == false"
          class="table-content table-center"
        >
          <thead style="display:table-row-group">
            <tr>
              <th>#</th>
              <th>{{ $t('rest.report.tableLabel.table') }}</th>
              <th>{{ $t('rest.report.tableLabel.invoice') }}</th>
              <th>{{ $t('rest.report.tableLabel.refInvoice') }}</th>
              <th class="text-center">{{ $t('rest.report.tableLabel.date') }}</th>
              <th>{{ $t('rest.report.tableLabel.customer') }}</th>
              <th>{{ $t('rest.report.tableLabel.employee') }}</th>
              <th>{{ $t('rest.report.tableLabel.status') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.subTotal') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.discountRate') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.discountAmount') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.total') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ doc.tableName }}</td>
              <td
                @click="openDetailDialog(doc)"
                class="link"
              >{{ doc._id }}</td>
              <td
                @click="openDetailDialog(doc,true)"
                class="link"
              >{{ doc.refId }}</td>
              <td class="text-center">{{getDateString(doc)}}</td>
              <td>{{ doc.guestName }}</td>
              <td>{{ doc.employeeName }}</td>
              <td>{{ doc.status }}</td>
              <td class="text-right">{{ $numeral( doc.subTotal).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ doc.discountRate }}%</td>
              <td class="text-right"> {{ $numeral( doc.discountValue).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ $numeral( doc.total).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
            </tr>
          </tbody>
        </table>

        <!-- MINI TABLE -->
        <table
          v-else
          class="table-content table-center"
        >
          <thead style="display:table-row-group">
            <tr>
              <th class="mini-text">#</th>
              <th class="mini-text">{{ $t('rest.report.tableLabel.table') }}</th>
              <th class="mini-text">{{ $t('rest.report.tableLabel.invoice') }}</th>
              <th class="text-center mini-text">{{ $t('rest.report.tableLabel.date') }}</th>
              <th class="mini-text">{{ $t('rest.report.tableLabel.status') }}</th>
              <th class="text-right mini-text">{{ $t('rest.report.tableLabel.total') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData"
              :key="index"
            >
              <td class="mini-text">{{ index + 1 }}</td>
              <td class="mini-text">{{ doc.tableName }}</td>
              <td class="mini-text">{{ doc._id }}</td>
              <td class="text-center mini-text">{{ getDateString(doc) }}</td>
              <td class="mini-text">{{ doc.status }}</td>
              <td class="text-right mini-text">{{ $numeral( doc.total).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div slot="footer">
        <el-row :gutter="10">
          <el-col
            v-if="miniTable == false"
            class="colspan-8 text-right"
          >
            <span class="title">{{ $t('rest.report.tableLabel.subTotal') }}: {{ $numeral( sumSubTotal ).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
          </el-col>
          <el-col
            v-if="miniTable == false"
            class="colspan-8 text-right"
          >
            <span class="title">{{ $t('rest.report.tableLabel.discount') }}: {{ $numeral( sumDiscount ).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
          </el-col>
          <el-col
            v-if="miniTable == false"
            class="colspan-8 text-right"
          >
            <span class="title">{{ $t('rest.report.tableLabel.total') }}: {{ $numeral( sumTotal ).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
          </el-col>
          <el-col
            v-if="miniTable == true"
            class="colspan-24 text-right"
          >
            <span class="title">{{ $t('rest.report.tableLabel.total') }}: {{ $numeral( sumTotal ).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
          </el-col>
        </el-row>
      </div>
    </report-layout>

    <sale-detail-dialog
      :visible="modalVisible"
      :sale-id="saleId"
      :base-currency="baseCurrency"
      @modal-close="handleModalClose"
    ></sale-detail-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'
// Mapping
import { mapState } from 'vuex'
// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'
// Api
import { saleReport } from '../../api/reports/SaleReport'

// Employee methods
import { findUsers } from '../../../../api/users/methods'

// Guest method
import { findGuests } from '../../api/guests/methods'

// Component
import SaleDetailDialog from './SaleDetailDialog.vue'
export default {
  name: 'PostReport',
  components: { ReportLayout, SaleDetailDialog },
  data() {
    return {
      // Form
      miniTable: false,
      pickerOpts: dateRangePickerOpts,
      form: {
        reportPeriod: [
          moment()
            .startOf('day')
            .toDate(),
          moment()
            .endOf('day')
            .toDate(),
        ],
        guestId: [],
        status: [],
        employeeId: [],
        paperSize: 'a4p',
      },
      rules: {
        reportPeriod: [
          { required: true, message: 'Report period is required' },
        ],
      },
      guestOpts: [],
      employeeOpts: [],
      statusOpts: [
        { name: 'Open', value: 'Open' },
        { name: 'Partial', value: 'Partial' },
        { name: 'Closed', value: 'Closed' },
        { name: 'Cancel', value: 'Cancel' },
      ],
      modalVisible: false,
      saleId: null,
      // Report
      loading: false,
      reportTitle: `${this.$t('rest.report.fullTitle.sale')}`,
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [
          { label: 'ID', value: '_id' },
          { label: 'Date', value: 'postDate' },
          { label: 'Status', value: 'status' },
        ],
        fileName: 'Post',
      },
      cssText: `.mini-text {font-size: 11px !important; }`,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
    reportPeriod() {
      const period = `${moment(this.form.reportPeriod[0]).format(
        'DD/MM/YYYY HH:mm'
      )} 
                  To ${moment(this.form.reportPeriod[1]).format(
                    'DD/MM/YYYY HH:mm'
                  )}
                `
      return period
    },
    guestFilter() {
      if (this.form.guestId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.guestOpts, o => {
          return _.includes(this.form.guestId, o._id)
        })
        return _.map(data, 'name')
      }
    },

    statusFilter() {
      if (this.form.status.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.statusOpts, o => {
          return _.includes(this.form.status, o.value)
        })
        return _.map(data, 'name')
      }
    },
    employeeFilter() {
      if (this.form.employeeId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.employeeOpts, o => {
          return _.includes(this.form.employeeId, o._id)
        })
        return _.map(data, 'profile.fullName')
      }
    },

    sumSubTotal() {
      let subTotal = 0
      _.forEach(this.reportData, o => {
        subTotal += o.subTotal
      })
      return subTotal
    },
    sumDiscount() {
      let discountAmount = 0
      _.forEach(this.reportData, o => {
        discountAmount += o.discountValue
      })
      return discountAmount
    },
    sumTotal() {
      let total = 0
      _.forEach(this.reportData, o => {
        total += o.total
      })
      return total
    },
  },
  mounted() {
    this.getGuests()
    this.getEmployees()
    this.submitForm()
  },
  methods: {
    getDateString(doc) {
      if (doc.statusDate.close) {
        return `${moment(doc.date).format('DD/MM/YYYY HH:mm')} - ${moment(
          doc.statusDate.close
        ).format('DD/MM/YYYY HH:mm')}`
      } else if (doc.statusDate.partial) {
        return `${moment(doc.date).format('DD/MM/YYYY HH:mm')} - ${moment(
          doc.statusDate.partial
        ).format('DD/MM/YYYY HH:mm')}`
      } else {
        return `${moment(doc.date).format('DD/MM/YYYY HH:mm')}`
      }
    },
    refId(row) {
      if (_.isEmpty(row.refId)) {
        return ''
      } else {
        return row.refId
      }
    },
    getGuests() {
      this.loading = false
      findGuests
        .callPromise({})
        .then(result => {
          if (result) {
            this.guestOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getEmployees() {
      this.loading = false
      findUsers
        .callPromise({ selector: { username: { $ne: 'super' } } })
        .then(result => {
          if (result) {
            this.employeeOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    openDetailDialog(doc, ref = false) {
      if (!ref) {
        this.saleId = doc._id
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else {
        if (doc.refId) {
          this.saleId = doc.refId
          this.$nextTick(() => {
            this.modalVisible = true
          })
        }
      }
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          if (this.form.paperSize == 'a4p') {
            this.miniTable = false
          } else {
            this.miniTable = true
          }
          // Pick doc

          saleReport
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: 'Submit failed' })
              this.miniTable = false
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    // Mondel close
    handleModalClose() {
      this.modalVisible = false
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>