<template>
  <div>
    <!--FORM-->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
      :rules="rules"
      label-width="120px"
    >

      <el-form-item
        :label="$t('rest.report.formLabel.employee')"
        prop="employeeId"
      >
        <el-select
          v-model="form.employeeId"
          clearable
          multiple
          placeholder="Select All"
          style="width:400px"
        >
          <el-option
            v-for="item in employeeOpts"
            :key="item._id"
            :label="item.profile.fullName"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.category')"
        prop="categoryId"
      >
        <el-select
          v-model="form.categoryId"
          clearable
          multiple
          placeholder="Select All"
          style="width:400px"
        >
          <el-option
            v-for="item in categoryOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.reportPeriod')"
        prop="reportPeriod"
      >
        <el-date-picker
          v-model="form.reportPeriod"
          :default-time="['00:00:00', '23:59:00']"
          type="datetimerange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date"
          style="width:400px"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item
        :label="$t('rest.report.formLabel.paperSize')"
        prop="paperSize"
      >
        <div style="width:400px">
          <el-radio
            v-model="form.paperSize"
            label="a4p"
          >A4 Paper</el-radio>
          <el-radio
            v-model="form.paperSize"
            label="mini"
          >80mm Paper</el-radio>
        </div>
      </el-form-item>

      <el-form-item style="margin-left:120px;">
        <div style="width:400px;">
          <el-button
            type="primary"
            @click="submitForm"
          >
            <i class="fa fa-search"></i> Submit
          </el-button>
        </div>
      </el-form-item>

    </el-form>

    <!--REPORT Layout-->
    <report-layout
      :export-csv="exportCSV"
      :css-text="cssText"
      :paper-size="form.paperSize"
    >

      <!--REPORT HEADER-->
      <div slot="header">
        <div class="report-name">
          {{ reportTitle }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </div>

      <!--REPORT FILTER-->
      <div slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.employee') }}: {{ employeeFilter }}</span>
          </el-col>
          <el-col class="colspan-24">
            <span class="label">{{ $t('rest.report.filter.category') }}: {{ categoryFilter }}</span>
          </el-col>
        </el-row>
      </div>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table
          v-if="miniTable == false"
          class="table-content table-center"
        >
          <thead style="display:table-row-group">
            <tr>
              <th>#</th>
              <th>{{ $t('rest.report.tableLabel.name') }}</th>
              <th class="text-center">{{ $t('rest.report.tableLabel.date') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.quantity') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.price') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.discount') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.total') }}</th>

            </tr>
          </thead>
          <tbody
            v-for="(doc, index) in reportData.data"
            :key="index"
          >
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ doc.productName }}</td>
              <td> </td>
              <td class="text-right text-bold">{{ doc.qtyByItem }}</td>
              <td></td>
              <td></td>
              <td class="text-right text-bold">{{ $numeral(doc.totalByItem).format('0,0.00') }} {{ baseCurrency.symbol }}</td>

            </tr>
            <tr
              v-for="(item, key) in doc.saleDetail"
              :key="key"
            >
              <td></td>
              <td></td>
              <td class="text-center">{{ $moment(item.date).format('DD/MM/YYYY HH:mm') }}</td>
              <td class="text-right">{{ item.qty }}</td>
              <td class="text-right">{{ $numeral(item.price).format('0,0.00') }} {{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ item.discount }}%</td>
              <td class="text-right">{{ $numeral(item.amount).format('0,0.00') }} {{ baseCurrency.symbol }}</td>

            </tr>
          </tbody>
        </table>

        <!-- MINI TABLE -->
        <table
          v-else
          class="table-content table-center"
        >
          <thead style="display:table-row-group">
            <tr>
              <th>#</th>
              <th>{{ $t('rest.report.tableLabel.name') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.qty') }}</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.price') }}</th>
              <th class="text-right">%</th>
              <th class="text-right">{{ $t('rest.report.tableLabel.total') }}</th>

            </tr>
          </thead>
          <tbody
            v-for="(doc, index) in reportData.data"
            :key="index"
          >
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ doc._id }}</td>
              <td class="text-right text-bold">{{ doc.totalQty }}</td>
              <td></td>
              <td></td>
              <td class="text-right text-bold">{{ $numeral(doc.grandTotal).format('0,0.00') }}{{ baseCurrency.symbol }}</td>
            </tr>
            <tr
              v-for="(item, key) in doc.data"
              :key="key"
            >
              <td></td>
              <td></td>
              <td class="text-right">{{ item.qtyByItem }}</td>
              <td class="text-right">{{ $numeral(item._id.price).format('0,0.00') }}{{ baseCurrency.symbol }}</td>
              <td class="text-right">{{ item._id.discount }}%</td>
              <td class="text-right">{{ $numeral(item.totalByItem).format('0,0.00') }}{{ baseCurrency.symbol }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-24 text-right">
            <span
              :class="miniTable == true?'mini-text':''"
              class="title"
            > Total: {{ $numeral(reportData.grandTotal).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
          </el-col>
        </el-row>
      </div>
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'
// Mapping
import { mapState } from 'vuex'
// Report Layout
import ReportLayout from '/imports/ui/layouts/ReportLayout.vue'
import { saleDetailByItem } from '../../api/reports/SaleReport'
// Category Methods
import { findCategories } from '../../api/categories/methods'
// Employee methods
import { findUsers } from '../../../../api/users/methods'
// Exchange
import { findOneExchange } from '../../../../api/exchanges/methods'
export default {
  name: 'SaleDetailByItem',
  components: { ReportLayout },
  data() {
    return {
      // Form
      miniTable: false,
      pickerOpts: dateRangePickerOpts,
      form: {
        reportPeriod: [
          moment()
            .startOf('day')
            .toDate(),
          moment()
            .endOf('day')
            .toDate(),
        ],
        employeeId: [],
        categoryId: [],
        paperSize: 'a4p',
      },
      rules: {
        reportPeriod: [
          { required: true, message: 'Report period is required' },
        ],
      },
      employeeOpts: [],
      categoryOpts: [],
      exchange: {
        khr: 0,
        thb: 0,
        usd: 0,
      },
      // Report
      loading: false,
      reportTitle: `${this.$t('rest.report.fullTitle.saleDetailItem')}`,
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [
          { label: 'ID', value: '_id' },
          { label: 'Date', value: 'postDate' },
          { label: 'Status', value: 'status' },
        ],
        fileName: 'Post',
      },
      cssText: `.mini-text {font-size: 11px !important; }`,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
    reportPeriod() {
      const period = `${moment(this.form.reportPeriod[0]).format(
        'DD/MM/YYYY HH:mm'
      )} 
                  To ${moment(this.form.reportPeriod[1]).format(
                    'DD/MM/YYYY HH:mm'
                  )}
                `
      return period
    },
    employeeFilter() {
      if (this.form.employeeId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.employeeOpts, o => {
          return _.includes(this.form.employeeId, o._id)
        })
        return _.map(data, 'profile.fullName')
      }
    },
    categoryFilter() {
      if (this.form.categoryId.length == 0) {
        return ' [ "Selected All" ]'
      } else {
        let data = _.filter(this.categoryOpts, o => {
          return _.includes(this.form.categoryId, o._id)
        })
        return _.map(data, 'name')
      }
    },
  },
  mounted() {
    this.getCategories()
    this.getEmployees()
    this.getExchange()
    this.submitForm()
  },
  methods: {
    getCategories() {
      this.categoryLoading = 'Loading...'
      // Call meteor method
      findCategories
        .callPromise({
          selector: { productType: { $in: ['Product', 'Dish', 'ExtraFood'] } },
        })
        .then(result => {
          if (result) {
            this.categoryOpts = result
            this.categoryLoading = 'Select All'
          }
        })
        .catch(error => {
          this.categoryLoading = 'Select All'
          Notify.error({ message: error })
        })
    },
    getEmployees() {
      this.loading = false
      findUsers
        .callPromise({ selector: { username: { $ne: 'super' } } })
        .then(result => {
          if (result) {
            this.employeeOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getExchange() {
      this.loading = true
      findOneExchange
        .callPromise({}, { sort: { _id: -1 }, limit: 1 })
        .then(result => {
          if (result) {
            this.exchange = result

            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          if (this.form.paperSize == 'a4p') {
            this.miniTable = false
          } else {
            this.miniTable = true
          }
          // Pick doc

          saleDetailByItem
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: 'Submit failed' })
              this.miniTable = false
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/report.scss';
</style>