.aside-menu-layout {
  .el-menu {
    border-right: none !important;
    background-color: transparent !important;
  }

  .el-menu-item {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 12px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 3px;
    margin-top: 5px;
    padding-left: 20px !important;
  }

  .el-menu-item:focus,
  .el-menu-item:hover,
  .el-menu-item:active {
    opacity: 1;
    background: hsla(0, 0%, 100%, 0.23);
  }

  .el-menu-item-group {
    background: transparent;
  }

  .el-menu-item.is-active {
    color: #ffffff;
    background: hsla(0, 0%, 100%, 0.23);
  }

  .el-menu-item [class^='fa'],
  .el-submenu [class^='fa'] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
  }

  /* Menu Icon */
  .aside-menu-icon {
    color: #909399;
    margin-right: 5px;
  }

  // Group Title
  .aside-menu-group-title {
    padding: 7px 0px 3px 0px;
    margin: 0 15px 0 15px;
    line-height: normal;
    font-size: 12px;
    color: #909399;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    border-bottom: 1px solid #909399;
  }

  .el-menu-item,
  .el-submenu__title {
    height: 45px !important;
    line-height: 45px !important;
  }
  .el-submenu__title {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 12px !important;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    margin-top: 5px;
  }

  .el-submenu__title:hover {
    background-color: hsla(0, 0%, 100%, 0.23) !important;
  }

  .is-opened {
    .el-submenu__title {
      background-color: hsla(0, 0%, 100%, 0.23) !important;
    }
  }

  .el-submenu {
    .el-menu {
      background: transparent;
      margin-left: 15px;
    }
  }

  .el-menu-item-group {
    .el-submenu {
      margin-left: 15px;
    }
  }

  .is-opened {
    .el-submenu__title i {
      color: inherit;
    }
  }
}
