<template>
  <div>
    <!--Form-->
    <category-form
      :form-type="formType"
      :update-doc="updateDoc"
      @form-change="handleFormChange"
    ></category-form>

    <!--Data Table-->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span :class="softRemoveClassName(scope.row.removed)">
            {{ scope.row[title.prop] }}
          </span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>

  </div>
</template>

<script>
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

import {
  findCategories,
  softRemoveCategory,
  restoreCategory,
  removeCategory,
} from '../../api/categories/methods'
import CategoryForm from './CategoryForm.vue'

export default {
  name: 'Category',
  components: { TableAction, CategoryForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      updateDoc: null,

      // Datatable
      tableData: [],
      tableTitles: [
        { label: 'Ref No', prop: 'refNo' },
        { label: 'Name', prop: 'name' },
        { label: 'Memo', prop: 'memo' },
      ],
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'refNo',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findCategories
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        actions.push('restore')
        actions.push('remove')
      } else {
        // actions.push('remove')
        actions.push('softRemove')
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Update'
      this.updateDoc = row
    },
    softRemove(row) {
      this.$_softRemoveMixin({
        meteorMethod: softRemoveCategory,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    restore(row) {
      this.$_restoreMixin({
        meteorMethod: restoreCategory,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeCategory,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    handleFormChange() {
      this.formType = 'New'
      this.updateDoc = null
      this.getData()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
