<template>
  <div>
    <!-- Native Map -->
    <h3>Google Maps Demo</h3>
    <el-button
      type="primary"
      @click="centerOnUser"
    >
      User Position
    </el-button>

    <!-- Vue Googlemaps -->
    <googlemaps-map
      id="map"
      :center.sync="center"
      :zoom.sync="zoom"
    >
      <!-- User Position -->
      <googlemaps-user-position @update:position="setUserPosition">
      </googlemaps-user-position>

      <!-- Marker -->
      <googlemaps-marker
        :position="{ lat: 48.8735, lng: 2.2951 }"
        title="Paris"
      />
    </googlemaps-map>
  </div>
</template>

<script>
export default {
  name: 'Map',
  data() {
    return {
      // center: { lat: 13.090618, lng: 103.208516 },
      center: { lat: 48.8735, lng: 2.2951 },
      userPosition: null,
      zoom: 8,
    }
  },
  mounted() {},
  methods: {
    centerOnUser() {
      if (this.userPosition) {
        this.center = this.userPosition
      }
    },
    setUserPosition(position) {
      this.userPosition = position
    },
  },
}
</script>

<style lang="scss" scoped>
#map {
  width: 100%;
  height: 500px;
  background-color: #808080;
}
</style>