<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      title="New Post"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item
              label="Branch ID"
              prop="branchId"
            >
              <el-select v-model="form.branchId">
                <el-option
                  v-for="item in branchPermissionOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                  </el-option>
              </el-select>
              </el-form-item>

              <el-form-item
                label="Date"
                prop="postDate"
              >
                <el-date-picker
                  v-model="form.postDate"
                  type="date"
                  format="dd/MM/yyyy"
                >
                  </el-date-picker>
                  </el-form-item>

                  <el-form-item
                    label="Category"
                    prop="categoryId"
                  >
                    <el-select v-model="form.categoryId">
                      <el-option
                        v-for="item in categoryOpts"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                        </el-option>
                    </el-select>
                    </el-form-item>

                    <el-form-item
                      label="Title"
                      prop="title"
                    >
                      <el-input v-model="form.title"></el-input>
                      </el-form-item>
                      <el-form-item
                        label="Body"
                        prop="body"
                      >
                        <el-input v-model="form.body"></el-input>
                        </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="Status"
              prop="status"
            >
              <el-select v-model="form.status">
                <el-option
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                  </el-option>
              </el-select>
              </el-form-item>

              <el-form-item
                label="Memo"
                prop="memo"
              >
                <el-input
                  v-model="form.memo"
                  type="textarea"
                ></el-input>
                  </el-form-item>
          </el-col>
        </el-row>
        </el-form>

        <span slot="footer">
          <el-button
            type="primary"
            @click="submitForm"
          >Save</el-button>
            <el-button @click="handleModalClose">Cancel</el-button>
        </span>

        </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import wrapCurrentTiem from '/imports/ui/lib/wrap-current-time'

// Lookup
import { lookupCategory } from '../../utils/lookup-methods'
import Lookup from '../lib/lookup-value'

import { insertPost } from '../../api/posts/methods'

export default {
  name: 'PostNew',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      categoryOpts: [],
      statusOpts: Lookup.status,
      form: {
        branchId: '',
        postDate: moment().toDate(),
        categoryId: '',
        title: '',
        body: '',
        status: 'Public',
        memo: '',
      },
      rules: {
        postDate: [{ required: true, message: 'Date is required' }],
        categoryId: [{ required: true, message: 'Category is required' }],
        title: [{ required: true, message: 'Title is required' }],
        body: [{ required: true, message: 'Body is required' }],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  computed: {
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    branchPermissionOpts() {
      return this.$store.getters['app/branchPermissionOpts']
    },
  },
  created() {
    this.form.branchId = this.currentBranchId
  },
  mounted() {
    this.getCategoryOpts()
  },
  methods: {
    getCategoryOpts() {
      lookupCategory
        .callPromise({})
        .then(result => {
          if (result) {
            this.categoryOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.postDate = wrapCurrentTiem(this.form.postDate)

          insertPost
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.resetForm()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.$router.push({ name: 'blog.post' })
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
