<template>
  <div class="collapse-list">
    <el-collapse v-model="activeName">
      <!--General-->
      <el-collapse-item name="General">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-globe"></i> General
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in generalSetting"
            :span="6"
            :key="index"
          >
            <span
              class="list-title"
              @click="handleLink(item.route)"
            >
              {{ item.title }}
            </span>
            <div class="list-memo">{{ item.memo }}</div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  name: 'Setting',
  data() {
    return {
      activeName: ['General'],
      generalSetting: [
        {
          route: 'blog.category',
          title: 'Category',
          memo: `
            Category is ...
          `,
        },
        {
          route: 'blog.setting',
          title: 'Setting',
          memo: `Memo...`,
        },
        {
          route: 'blog.setting',
          title: 'Setting',
          memo: `Memo...`,
        },
        {
          route: 'blog.setting',
          title: 'Setting',
          memo: `Memo...`,
        },
      ],
    }
  },
  methods: {
    handleLink(route) {
      this.$router.push({ name: route })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/collapse-list.scss';
</style>