<template>
  <div>
    <fieldset>
      <legend>{{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }}</legend>
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        :inline="true"
        size="mini"
        label-width="110px"
      >
        <el-form-item
          :label="$t('rest.formLabel.productType')"
          prop="productType"
        >
          <el-select
            ref="productType"
            v-model="form.productType"
            :autofocus="true"
            :disabled="disabledType"
            :placeholder="$t('rest.formLabel.select')"
          >
            <el-option
              v-for="item in productTypeOpts"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item
          :label="$t('rest.formLabel.name')"
          prop="name"
        >
          <el-input
            ref="name"
            v-model="form.name"
            :autofocus="true"
          ></el-input>
        </el-form-item>

        <el-form-item
          :label="$t('rest.formLabel.color')"
          prop="color"
        >
          <el-color-picker
            ref="color"
            v-model="form.color"
            :autofocus="true"
            :predefine="predefineColors"
            show-alpha
            size="medium"
          >
          </el-color-picker>
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            @click="submitForm"
          > {{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }}</el-button>
          <el-button
            v-if="formType === 'Update'"
            @click="handleCancel"
          >{{ $t('rest.btn.cancel') }}</el-button>
        </el-form-item>
      </el-form>
    </fieldset>
    <!-- </el-dialog> -->
  </div>
</template>

<script>
import _ from 'lodash'
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Validate Method
import { validateCategoryExist } from '../../utils/validate-methods'

import { upsertCategory } from '../../api/categories/methods'

import LookupValue from '../lib/lookup-value.js'

export default {
  name: 'CategoryInsert',
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const validateName = (rule, value, callback) => {
      let selector = { name: value }
      // Check update form
      if (this.formType === 'Update') {
        selector._id = { $ne: this.updateDoc._id }
      }

      if (value) {
        validateCategoryExist
          .callPromise({
            selector,
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      disabledType: false,
      form: {
        productType: '',
        name: '',
        color: '',
      },
      rules: {
        name: [
          { required: true, trigger: 'change' },
          { validator: validateName, trigger: 'blur' },
        ],
        productType: [{ required: true, trigger: 'change' }],
      },
      productTypeOpts: LookupValue.productTypeOpts,
      predefineColors: [
        '#ff4500',
        '#ff8c00',
        '#ffd700',
        '#90ee90',
        '#00ced1',
        '#1e90ff',
      ],
    }
  },
  watch: {
    updateDoc(val) {
      if (val) {
        this.form = val
        this.focusForm('name')
        if (val.productType == 'ExtraFood') {
          this.disabledType = true
        } else {
          this.disabledType = false
        }
      } else {
        this.form = {
          name: '',
          productType: '',
          color: '',
        }
        this.disabledType = false
      }
    },
  },
  mounted() {
    this.focusForm('name')
  },
  methods: {
    focusForm(refName) {
      this.$refs[refName].$el.querySelector('input').focus()
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.formType === 'Update') {
            this.form = _.pick(this.form, [
              '_id',
              'name',
              'productType',
              'color',
            ])
          }

          // Upsert
          upsertCategory
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleCancel()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.resetForm()
      this.focusForm('name')
      this.$emit('form-change')
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';
</style>