<template>
  <div>
    <!--Form-->
    <category-form
      :form-type="formType"
      :update-doc="updateDoc"
      @form-change="handleFormChange"
    ></category-form>

    <!--Data Table-->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ scope.row[title.prop] }}
        </template>
      </el-table-column>

      <el-table-column
        v-for="title in colorTitle"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
      >
        <template slot-scope="scope">
          <span>
            <div
              :style="{ 'background-color':scope.row[title.prop] }"
              class="color-box"
            ></div>
          </span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>

  </div>
</template>

<script>
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
//import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

import {
  findCategories,
  removeCategory,
  usedCategory,
} from '../../api/categories/methods'

import CategoryForm from './CategoryForm.vue'

export default {
  name: 'Category',
  components: { TableAction, CategoryForm },
  mixins: [dataTablesMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      updateDoc: null,

      // Datatable
      tableData: [],
    }
  },
  computed: {
    tableTitles() {
      let list = [
        { label: this.$t('rest.tableLabel.name'), prop: 'name' },
        { label: this.$t('rest.tableLabel.productType'), prop: 'productType' },
      ]
      return list
    },

    colorTitle() {
      let list = [{ label: this.$t('rest.tableLabel.color'), prop: 'color' }]
      return list
    },
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'name',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findCategories
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Table Action
    actionsList(row) {
      let actions = [
        { label: this.$t('rest.tableLabel.edit'), value: 'edit' },
        { label: this.$t('rest.tableLabel.remove'), value: 'remove' },
      ]

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Update'
      this.updateDoc = row
    },
    remove(row) {
      if (row.productType != 'ExtraFood') {
        usedCategory.callPromise(row._id).then(result => {
          if (result.used == false) {
            this.$_removeMixin({
              meteorMethod: removeCategory,
              selector: { _id: row._id },
              successMethod: 'getData',
              loading: 'loading',
              title: row.name,
            })
          } else if (result.used == true) {
            this.$message({
              type: 'error',
              duration: 7000,
              showClose: true,
              message: this.$t('rest.messages.usedItem'),
            })
          }
        })
      } else {
        this.$message({
          type: 'error',
          duration: 7000,
          showClose: true,
          message: this.$t('rest.messages.notAbleRemoveItem'),
        })
      }
    },
    handleFormChange() {
      this.formType = 'New'
      this.updateDoc = null
      this.getData()
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';

.color-box {
  width: 20px;
  height: 20px;
  // border: 1px solid #ebeef5;
}
</style>
