<template>
  <div class="collapse-list">
    <el-collapse v-model="activeName">
      <!--Generalsmas-->
      <el-collapse-item name="1">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-database"></i> {{ $t('rest.general') }}
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in generalData"
            :span="6"
            :key="index"
            class="list-tile"
          >
            <div @click="handleLink(item.route)">
              <span class="list-title">
                {{ item.title }}
              </span>
              <div class="list-memo">{{ item.memo }}</div>
            </div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  name: 'Data',
  data() {
    return {
      activeName: ['1'],
    }
  },

  computed: {
    generalData() {
      let list = [
        {
          //supplier
          route: 'rest.supplier',
          title: this.$t('rest.data.title.supplier'),
          memo: '_____________________',
        },
        {
          //guest
          route: 'rest.guest',
          title: this.$t('rest.data.title.guest'),
          memo: '_____________________',
        },
        {
          //floor
          route: 'rest.floor',
          title: this.$t('rest.data.title.floor'),
          memo: '_____________________',
        },
        {
          //Table
          route: 'rest.table',
          title: this.$t('rest.data.title.table'),
          memo: '_____________________',
        },
        {
          //  Discount
          route: 'rest.discount',
          title: this.$t('rest.data.title.discount'),
          memo: '_____________________',
        },
        {
          // Purchase
          route: 'rest.purchase',
          title: this.$t('rest.data.title.purchase'),
          memo: '_____________________',
        },
      ]
      return list
    },
  },
  methods: {
    handleLink(route) {
      this.$router.push({ name: route })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/collapse-list.scss';
</style>