<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    >
    </component>

    <el-row
      :gutter="10"
      style="margin-bottom: 10px"
    >
      <el-col :span="5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="addNew"
        >{{ $t('rest.formLabel.new') }}</el-button>
      </el-col>
    </el-row>

    <!-- Data Table -->
    <data-tables-server
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :show-action-bar="false"
      :custom-filters="tableCustomFilters"
    >

      <el-table-column
        :label="$t('rest.tableLabel.startDate')"
        prop="startDate"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ $moment(scope.row.startDate).format('DD/MM/YYYY HH:mm') }}
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.endDate')"
        prop="endDate"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ $moment(scope.row.endDate).format('DD/MM/YYYY HH:mm') }}
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.event')"
        prop="eventName"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.type')"
        prop="type"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.discountType')"
        prop="discountType"
        sortable="custom"
      >

      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.discountValue')"
        prop="discountValue"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span v-if="scope.row.discountType == 'Rate'">{{ scope.row.discountValue }} %</span>
          <span v-else>{{ $numeral(scope.row.discountValue).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables-server>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import numeral from 'numeral'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mapping
import { mapState } from 'vuex'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
//import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'
// Component
import DiscountNew from './DiscountNew.vue'

import {
  findDiscountAggregate,
  removeDiscount,
} from '../../api/discounts/methods'

export default {
  name: 'Discount',
  components: { TableAction, DiscountNew },
  mixins: [dataTablesMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      saleDoc: null,
      tableData: [],
      tableCustomFilters: [{ props: 'tableSearch', vals: 0 }],
      // Modal
      currentModal: null,
      modalVisible: false,
    }
  },
  computed: {
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findDiscountAggregate
        .callPromise()
        .then(result => {
          if (result) {
            this.tableData = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // New sale
    addNew() {
      this.currentModal = DiscountNew
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    // Table Action
    actionsList(row) {
      let actions = [
        { label: this.$t('rest.tableLabel.remove'), value: 'remove' },
      ]

      return actions
    },
    // Action
    tableActionClick(command) {
      this[command.action](command.row)
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeDiscount,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    tableSearchClick() {
      this.tableCustomFilters[0].vals += 1
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>

<style lang="less" scoped>
</style>