<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      title="New Discount"
      width="60%"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="90px"
      >
        <el-row>
          <el-col :span="12">
            <el-form-item
              :label="$t('rest.formLabel.event')"
              prop="eventName"
              label-width="120px"
            >
              <el-input v-model="form.eventName"></el-input>
            </el-form-item>

            <el-form-item
              v-if="disabledTypeChange == false"
              :label="$t('rest.formLabel.discountType')"
              prop="discountType"
              label-width="120px"
            >
              <el-select
                v-model="form.discountType"
                style="width:100%"
                @change="handleDiscountTypeChange"
              >
                <el-option
                  v-for="item in discountTypeOpts"
                  :key="item.label"
                  :label="item.name"
                  :value="item.label"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              v-if="disabledTypeChange == false"
              :label="$t('rest.formLabel.discountValue')"
              prop="discountValue"
              label-width="120px"
            >
              <el-input-number
                v-model="form.discountValue"
                :autofocus="true"
                :min="0"
                :max="maxValue"
                :precision="precision"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
              ></el-input-number>
            </el-form-item>

            <el-form-item
              v-if="disabledTypeChange == true"
              :label="$t('rest.formLabel.discountValue')"
              prop="multiItemDiscount"
              label-width="120px"
            >
              <el-input-number
                v-model="multiItemDiscount"
                :autofocus="true"
                :min="0"
                :max="100"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              :label="$t('rest.formLabel.type')"
              prop="type"
            >
              <el-radio-group
                v-model="form.type"
                @change="handleTypeChange"
              >
                <el-radio label="Invoice">{{ $t('rest.formLabel.invoice') }}</el-radio>
                <el-radio label="Item">{{ $t('rest.formLabel.item') }}</el-radio>
              </el-radio-group>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.period')"
              prop="eventPeriod"
            >
              <el-date-picker
                v-model="form.eventPeriod"
                :default-time="['00:00:00', '23:59:00']"
                type="datetimerange"
                start-placeholder="Start Date"
                end-placeholder="End Date"
                style="width: 100%"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24">
            <discount-list
              :items="productInit"
              :product-opts="productOpts"
              :discount-doc="discountDoc"
              :multi-item-discount="multiItemDiscount"
              :hide-component="hideComponent"
              :submit-event="submitEvent"
              @submit-form="submitForm"
              @item-change="handleProductChange"
            >
            </discount-list>
          </el-col>
        </el-row>

        <el-form-item style="text-align: right">
          <el-button
            type="primary"
            @click="submitEvent++"
          >
            {{ $t('rest.btn.save') }}
          </el-button>
          <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import wrapTime from '/imports/ui/lib/wrap-current-time'

import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mapping
import { mapState } from 'vuex'

// Component
import DiscountList from '../components/DiscountList.vue'

// Product methods
import { findProducts } from '../../api/products/methods'
// Purchase methods
import { insertDiscounts } from '../../api/discounts/methods'

export default {
  name: 'PurchaseNew',
  components: {
    DiscountList,
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      hideComponent: true,
      disabledTypeChange: false,
      multiItemDiscount: 0,
      pickerOpts: dateRangePickerOpts,
      productInit: [],
      productData: [],
      productOpts: [],
      discountDoc: null,
      submitEvent: 0,
      precision: 2,
      maxValue: Infinity,
      form: {
        eventPeriod: [
          moment()
            .startOf('day')
            .toDate(),
          moment()
            .endOf('day')
            .toDate(),
        ],
        eventName: '',
        type: 'Invoice',
        discountType: '',
        discountValue: 0,
      },

      rules: {
        eventPeriod: [
          {
            required: true,
            message: 'Even period is required',
            trigger: 'blur',
          },
        ],
        eventName: [
          {
            required: true,
            message: 'Even name is required',
            trigger: 'blur',
          },
        ],
        type: [
          {
            required: true,
            message: 'Type is required',
            trigger: 'blur',
          },
        ],
        discountType: [
          {
            required: true,
            message: 'Discount type is required',
            trigger: 'blur',
          },
        ],
        discountValue: [
          {
            required: true,
            message: 'Discount value is required',
            trigger: 'blur',
          },
        ],
      },

      discountTypeOpts: [
        { label: 'Rate', value: 'Rate' },
        { label: 'Amount', value: 'Amount' },
      ],
    }
  },
  computed: {},
  watch: {
    'form.type': {
      handler(val) {
        if (val === 'Invoice') {
          this.disabledTypeChange = false
        } else {
          this.disabledTypeChange = true
        }
        this.form.discountType = ''
        this.form.discountValue = 0
      },
      deep: true,
    },
  },
  mounted() {
    this.getProducts()
    // get init
    this.initProducts()
  },
  methods: {
    // Get products
    getProducts() {
      this.loading = true
      findProducts
        .callPromise({
          selector: {
            type: { $in: ['Product', 'Dish', 'ExtraFood'] },
            status: 'Active',
          },
        })
        .then(result => {
          this.productOpts = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // get init
    initProducts() {
      this.productInit = [
        {
          productId: '',
          price: 0,
          discount: 0,
          amount: 0,
        },
      ]
    },
    // Child component change
    handleProductChange(items) {
      this.productData = items
    },
    // Focus
    onFocus(event) {
      event.target.select()
    },
    handleTypeChange(val) {
      if (val == 'Invoice') {
        this.hideComponent = true
      } else {
        this.hideComponent = false
      }
    },

    handleDiscountTypeChange(val) {
      this.form.discountValue = 0
      if (val == 'Rate') {
        this.maxValue = 100
        this.precision = 0
      } else if (val == 'Amount') {
        this.maxValue = Infinity
        this.precision = 2
      }
    },

    submitForm(childValidate) {
      if (this.form.type == 'Invoice') {
        this.$refs['form'].validate(valid => {
          if (valid) {
            this.loading = true
            // Insert
            insertDiscounts
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  Notify.success({ message: 'Success' })
                  this.handleModalClose()
                  this.loading = false
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          }
        })
      } else {
        this.$refs['form'].validate(valid => {
          if (valid && childValidate) {
            this.loading = true
            this.form.details = this.productData
            // Insert
            insertDiscounts
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  Notify.success({ message: 'Success' })
                  this.handleModalClose()
                  this.loading = false
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })

            // this.loading = false
          } else {
            this.loading = false
            return false
          }
        })
      }
    },
    resetForm() {
      this.$refs['form'].resetFields()
      this.form.total = 0
      this.initProducts()
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>


<style lang="less" scoped>
fieldset {
  margin-bottom: 5px;
}
</style>
