<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      class="product-dialog"
      title="New Dish"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-row>
          <el-col :span="11">
            <el-form-item
              :label="$t('rest.formLabel.category')"
              prop="categoryId"
            >
              <el-select
                v-model="form.categoryId"
                style="width:100%"
              >
                <el-option
                  v-for="item in categoryOpts"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.group')"
              prop="groupId"
            >
              <el-select
                v-model="form.groupId"
                :autofocus="true"
                style="width:100%"
              >
                <el-option
                  v-for="item in groupOpts"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.name')"
              prop="name"
            >
              <el-input
                v-model="form.name"
                :autofocus="true"
              ></el-input>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.station')"
              prop="stationId"
            >
              <el-select
                v-model="form.stationId"
                :autofocus="true"
                style="width:100%"
              >
                <el-option
                  v-for="item in stationOpts"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.status')"
              prop="status"
            >
              <el-select
                v-model="form.status"
                style="width:100%"
              >
                <el-option
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>

          </el-col>

          <el-col
            :span="11"
            :offset="2"
          >
            <el-form-item
              :label="$t('rest.formLabel.cookingTime')"
              prop="cookingTime"
            >
              <el-input-number
                v-model="form.cookingTime"
                :autofocus="true"
                :min="0"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
              ></el-input-number>
            </el-form-item>

            <!-- Image -->
            <el-form-item
              :label="$t('rest.formLabel.photo')"
              prop="photo"
            >
              <el-upload
                :auto-upload="false"
                v-model="form.photo"
                :on-remove="handleImageRemove"
                :file-list="fileImageList"
                :on-change="handleImageChange"
                action=""
                class="avatar-uploader"
              >
                <img
                  v-if="imageUrl"
                  :src="imageUrl"
                  class="avatar"
                >
                <i
                  v-else
                  class="el-icon-plus avatar-uploader-icon"
                ></i>
              </el-upload>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.color')"
              prop="color"
            >
              <el-color-picker
                ref="color"
                v-model="form.color"
                :autofocus="true"
                :predefine="predefineColors"
                class="custom-color-picker"
                show-alpha
                size="medium"
              >
              </el-color-picker>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.barcode')"
              prop="barcode"
            >
              <el-input
                v-model="form.barcode"
                :autofocus="true"
              ></el-input>
            </el-form-item>

          </el-col>

          <el-col :span="24">
            <!--Sub Items List-->
            <ingredient-list
              :items="ingredientInit"
              :ingredient-opts="ingredientOpts"
              :submit-event="submitEvent"
              @item-change="handleIngredientChange"
              @item-total="handleTotalChange"
              @submit-form="submitForm"
            >
            </ingredient-list>
          </el-col>

          <el-col
            :span="11"
            :offset="13"
          >
            <p
              v-if="ingredientData.length>0"
              class="total-text"
            >{{ $t('rest.formLabel.total') }}: {{ $numeral( form.cost).format('0,0.00') }}</p>

            <el-form-item
              v-else
              :label="$t('rest.formLabel.total')"
              prop="cost"
            >
              <el-input-number
                v-model="form.cost"
                :autofocus="true"
                :min="0"
                :precision="2"
                controls-position="right"
                style="width:100%"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col
            :span="11"
            :offset="13"
          >
            <el-form-item
              :label="$t('rest.formLabel.markupRate')"
              prop="markupPer"
            >
              <el-input-number
                v-model="form.markupPer"
                :autofocus="true"
                :min="0"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
                @change="handleMarkupPerChange"
              ></el-input-number>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.markupValue')"
              prop="markupVal"
            >
              <el-input-number
                v-model="form.markupVal"
                :autofocus="true"
                :min="0"
                :precision="2"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
                @change="handleMarkupValChange"
              ></el-input-number>
            </el-form-item>

            <p class="price-text">{{ $t('rest.formLabel.price') }}: {{ $numeral( form.price).format('0,0.00') }}</p>
          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitEvent++"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
      </span>

    </el-dialog>
  </div>
</template>


<script>
import Vue from 'vue'
import VueBarcodeScanner from 'vue-barcode-scanner'
// inject vue barcode scanner
Vue.use(VueBarcodeScanner)

import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Validate Method
import { validateProductExist } from '../../utils/validate-methods'

import Lookup from '../lib/lookup-value'

// Component
import IngredientList from '../components/IngredientList.vue'
// Category methods
import { findCategories } from '../../api/categories/methods'
// Group methods
import { findGroups } from '../../api/groups/methods'
// Station methods
import { findStations } from '../../api/stations/methods'

// Product methods
import {
  findProducts,
  findOneProduct,
  updateProduct,
} from '../../api/products/methods'
// Image methods
import { findProductImages } from '../../api/files/methods'
// Image Collection
import Images from '/imports/api/files/files'

export default {
  name: 'DishEdit',
  components: {
    IngredientList,
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const validateName = (rule, value, callback) => {
      let selector = {
        name: value,
      }
      // Check update form
      selector._id = { $ne: this.updateDoc._id }

      if (value) {
        validateProductExist
          .callPromise({
            selector,
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }
    const validateBarcode = (rule, value, callback) => {
      let selector = {
        barcode: value,
      }
      // Check update form
      selector._id = { $ne: this.updateDoc._id }

      if (value) {
        validateProductExist
          .callPromise({
            selector,
          })
          .then(result => {
            if (result) {
              callback(new Error('Barcode exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      } else {
        callback()
      }
    }

    return {
      loading: false,
      disabledSave: false,
      ingredientInit: [],
      ingredientData: [],
      ingredientOpts: [],
      form: this.updateDoc,
      submitEvent: 0,
      rules: {
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        categoryId: [{ required: true, message: 'Category is required' }],
        cost: [{ required: true, message: 'Cost is required' }],
        status: [{ required: true, message: 'Status is required' }],
        markupPer: [
          { required: true, message: 'Markup Percentage is required' },
        ],
        markupVal: [{ required: true, message: 'Markup Value is required' }],
        price: [{ required: true, message: 'Price Value is required' }],
        barcode: [{ validator: validateBarcode, trigger: 'blur' }],
      },
      imageUrl: '',
      categoryOpts: [],
      stationOpts: [],
      statusOpts: Lookup.productStatus,
      groupOpts: [],
      fileImageList: [],
      fileImage: null,
      originalImageFile: null,
      predefineColors: [
        '#ff4500',
        '#ff8c00',
        '#ffd700',
        '#90ee90',
        '#00ced1',
        '#1e90ff',
      ],
    }
  },
  computed: {},
  watch: {
    'form.cost'(val) {
      this.handleCostChange(val)
    },
    'form.markupPer': {
      handler: function(val) {
        if (val == undefined) {
          this.form.markupPer = 0
        }
      },
      deep: true,
    },
    'form.markupVal': {
      handler: function(val) {
        if (val == undefined) {
          this.form.markupVal = 0
        }
      },
      deep: true,
    },
  },
  created() {
    // Add barcode scan listener and pass the callback function
    this.$barcodeScanner.init(this.onBarcodeScanned)
  },
  mounted() {
    this.getDataUpdate()
    this.getCategories()
    this.getGroups()
    this.getStations()
    this.getIngredients()
    this.getImage()
  },
  destroyed() {
    // Remove listener when component is destroyed
    this.$barcodeScanner.destroy()
  },
  methods: {
    getDataUpdate() {
      this.loading = true
      const _id = this.updateDoc._id
      const type = 'Dish'
      findOneProduct
        .callPromise({ _id: _id, type: type })
        .then(result => {
          if (result) {
            if (result.ingredients.length) {
              this.ingredientInit = result.ingredients
            } else {
              this.ingredientData = []
            }
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getCategories() {
      findCategories
        .callPromise({ selector: { productType: 'Dish' } })
        .then(result => {
          if (result) {
            this.categoryOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getGroups() {
      findGroups
        .callPromise({})
        .then(result => {
          if (result) {
            this.groupOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getStations() {
      findStations
        .callPromise({})
        .then(result => {
          if (result) {
            this.stationOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getIngredients() {
      findProducts
        .callPromise({ selector: { type: 'Ingredient', status: 'Active' } })
        .then(result => {
          if (result) {
            this.ingredientOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // get Image
    getImage() {
      if (this.updateDoc.photo != undefined) {
        findProductImages
          .callPromise({ selector: { _id: this.updateDoc.photo } })
          .then(result => {
            if (result) {
              this.fileImageList = result
              _.forEach(result, o => {
                this.fileImage = o
                this.originalImageFile = o
                this.imageUrl = o.url
              })
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    },
    // Child component change
    handleIngredientChange(items) {
      this.ingredientData = items
    },
    // Child Amount change
    handleTotalChange(total) {
      this.form.cost = total
      this.handleCostChange(total)
    },
    childMarkupValChange(markupVal) {
      this.form.markupVal = markupVal
    },
    // Focus
    onFocus(event) {
      event.target.select()
    },
    // Calculate for price
    handleCostChange(val) {
      // ReCalculate markupVal
      if (this.form.markupPer != 0) {
        let markupVal = parseFloat((this.form.markupPer * val) / 100).toFixed(2)
        this.form.markupVal = parseFloat(markupVal)
      }
      // Set price
      let price = parseFloat(val + this.form.markupVal).toFixed(2)
      this.form.price = parseFloat(price)
    },
    handleMarkupPerChange(val) {
      if (val == undefined) {
        this.form.markupPer = 0
      }

      this.$nextTick(() => {
        let markupVal = (this.form.price = parseFloat(
          (this.form.markupPer * this.form.cost) / 100
        ).toFixed(2))
        this.form.markupVal = parseFloat(markupVal)
        let price = (this.form.price = parseFloat(
          this.form.cost + this.form.markupVal
        ).toFixed(2))
        this.form.price = parseFloat(price)
      })
    },
    handleMarkupValChange(val) {
      if (val == undefined) {
        val = 0
        this.form.markupVal = 0
      }
      this.form.markupPer = 0
      let price = parseFloat(val + this.form.cost).toFixed(2)
      this.form.price = parseFloat(price)
    },
    // Change Image
    handleImageChange(file) {
      const isJPG = file.raw.type === 'image/jpeg'
      const isLt1M = file.size / 1024 / 1024 < 1
      if (!isJPG) {
        this.$message.error('Image / picture must be JPG format!')
        this.imageUrl = ''
        this.fileImageList = []
        this.fileImage = null
      } else if (!isLt1M) {
        this.$message.error('Image / picture size must be smaller than 1MB!')
        this.imageUrl = ''
        this.fileImageList = []
        this.fileImage = null
      } else {
        this.imageUrl = URL.createObjectURL(file.raw)
        this.fileImageList = [file]
        this.fileImage = file.raw
      }
    },
    // Preview Image
    handleImagePreview() {},
    // Remove Image
    handleImageRemove() {
      this.imageUrl = ''
      this.fileImageList = []
      this.fileImage = null
    },
    // delete image
    deleteOriginalImage() {
      if (this.originalImageFile != null) {
        Images.remove({ _id: this.originalImageFile._id })
      }
    },
    // update
    update() {
      // Doc
      const doc = _.pick(this.form, [
        '_id',
        'categoryId',
        'groupId',
        'name',
        'unitId',
        'stationId',
        'status',
        'cost',
        'ingredients',
        'markupPer',
        'markupVal',
        'photo',
        'price',
        'type',
        'color',
        'barcode',
      ])

      updateProduct
        .callPromise({ doc: doc })
        .then(result => {
          if (result) {
            Msg.success()
            this.handleModalClose()
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: 'Update failed!' })
          Images.remove({ _id: this.form.photo })
        })
    },
    // Submit Form
    submitForm(childValidate) {
      // Sumbit form
      this.$refs['form'].validate(valid => {
        if (valid && childValidate) {
          this.loading = true

          this.form.cookingTime = parseInt(this.form.cookingTime)
          // get ingrendientList to doc
          this.form.ingredients = this.ingredientData || []

          // Check if image not empty
          if (this.fileImage != null) {
            if (this.fileImage._id == undefined) {
              Images.insert(this.fileImage, (error, result) => {
                if (!error) {
                  // Image Id and Url
                  this.form.photo = result._id
                  // Delete current image
                  this.deleteOriginalImage()
                  // Update
                  this.update()
                } else {
                  Notify.error({ message: 'Insert image failed!' })
                }
              })
            } else {
              // Update Data
              this.update()
            }
          } else {
            // Image Id and Url
            this.form.photo = ''
            // Delete current image
            this.deleteOriginalImage()
            // Update Data
            this.update()
          }
        } else {
          return false
        }
      })
    },
    // Get Barcode
    onBarcodeScanned(barcode) {
      // this.$refs.barcode.$el.children[0].focus()
      this.form.barcode = barcode
      if (this.form.name == '') {
        this.form.name = barcode
      }
      this.$nextTick(() => {
        this.submitEvent++
      })
    },

    handleCancel() {
      this.$router.push({ name: 'rest.product', params: { type: 'Product' } })
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';
</style>
