<template>
  <div>

    <guest-form
      :form-type="formType"
      :update-doc="updateDoc"
      @form-change="handleFormChange"
    >
    </guest-form>

    <!--Data Table-->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >

      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>

  </div>
</template>

<script>
import Notify from '/imports/ui/lib/notify'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'
import GuestForm from './GuestForm.vue'
import { findGuests, removeGuest, usedGuest } from '../../api/guests/methods'

export default {
  name: 'Guest',
  components: { TableAction, GuestForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      updateDoc: null,

      // Datatable
      tableData: [],
    }
  },
  computed: {
    tableTitles() {
      let list = [
        { label: this.$t('rest.tableLabel.name'), prop: 'name' },
        { label: this.$t('rest.tableLabel.telephone'), prop: 'telephone' },
        { label: this.$t('rest.tableLabel.address'), prop: 'address' },
      ]
      return list
    },
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'name',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findGuests
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Table Action
    actionsList(row) {
      let actions = [
        { label: this.$t('rest.tableLabel.edit'), value: 'edit' },
        { label: this.$t('rest.tableLabel.remove'), value: 'remove' },
      ]

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      if (row.name != 'General') {
        this.formType = 'Update'
        this.updateDoc = row
      } else {
        this.$message({
          type: 'error',
          duration: 7000,
          showClose: true,
          message: this.$t('rest.messages.notAbleEditItem'),
        })
      }
    },

    remove(row) {
      if (row.name != 'General') {
        usedGuest.callPromise(row._id).then(result => {
          if (result.used == false) {
            this.$_removeMixin({
              meteorMethod: removeGuest,
              selector: { _id: row._id },
              successMethod: 'getData',
              loading: 'loading',
              title: row.title,
            })
          } else if (result.used == true) {
            this.$message({
              type: 'error',
              duration: 7000,
              showClose: true,
              message: this.$t('rest.messages.usedItem'),
            })
          }
        })
      } else {
        this.$message({
          type: 'error',
          duration: 7000,
          showClose: true,
          message: this.$t('rest.messages.notAbleRemoveItem'),
        })
      }
    },
    handleFormChange() {
      this.formType = 'New'
      this.updateDoc = null
      this.getData()
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';
</style>
