<template>
  <div v-loading="loading">
    <!-- Type radio box -->

    <el-row>
      <el-col :span="18">
        <el-upload
          :auto-upload="false"
          :on-change="handleChange"
          :on-remove="handleRemove"
          :file-list="fileList"
          class="data-upload"
          drag
          action=""
          multiple
        >
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Drop file excel here or
            <em>Click to upload</em>
          </div>
        </el-upload>

        <div style="width:360px;margin-top:10px;">
          <a
            href="/data/Restuarent_Import.xlsx"
            download
          >
            <el-button type="success">Download Sample</el-button>
          </a>

          <el-button
            type="primary"
            style="float:right"
            @click="importData"
          >Import Data</el-button>
        </div>
      </el-col>

      <!-- <el-col :span="6">
        
      </el-col> -->
    </el-row>

  </div>
</template>

<script>
import _ from 'lodash'
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import { Meteor } from 'meteor/meteor'

import Files from '/imports/api/files/files'
// Methods
import { importData } from '../../api/files/methods'

export default {
  name: 'ImportData',
  data() {
    return {
      loading: false,
      fileList: [],
      fileRaw: null,
      importType: 'Product',
    }
  },
  watch: {},
  mounted() {},
  methods: {
    handleChange(file) {
      if (
        file.raw.type ==
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      ) {
        this.fileList = [file]
        this.fileRaw = file.raw
      } else {
        this.fileList = []
        this.fileRaw = null
        Notify.error({ message: `File must be an excel file(xlsx)` })
      }
    },
    handleRemove() {
      this.fileList = []
      this.fileRaw = null
    },
    importData() {
      if (!_.isEmpty(this.fileRaw)) {
        this.loading = true
        Files.insert(this.fileRaw, (error, fileResult) => {
          if (!error) {
            setTimeout(() => {
              // Insert file
              importData
                .callPromise({
                  type: this.importType,
                  fileName: fileResult._id,
                })
                .then(result => {
                  this.loading = false
                  this.fileList = []
                  Notify.success({
                    message: `Import data is success [${result}]`,
                  })
                })
                .catch(error => {
                  this.loading = false
                  this.fileList = []
                  Notify.error({ message: error })
                })
            }, 1500)
          } else {
            this.loading = false
            this.fileList = []
            Notify.error({ message: 'Insert excel failed!' })
          }
        })
      } else {
        Notify.error({ message: 'Excel file is required' })
      }
    },
  },
}
</script>


<style lang="less" scoped>
</style>

