<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :order-doc="saleDoc"
      :employee-id="employeeId"
      :from-sale-data="true"
      :base-currency="baseCurrency"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    >
    </component>

    <el-tabs
      v-if="userIsInRoleCashier"
      v-model="cardList"
      class="home-tab"
    >
      <!-- Tab -->
      <el-tab-pane
        v-for="item in cardListOpts"
        :key="item.name"
        :label="item.label"
        :name="item.name"
        class="table-tab-content"
      >
      </el-tab-pane>
    </el-tabs>
    <!-- End tab -->

    <!-- Table filter -->
    <el-row
      v-if="userIsInRoleCashier"
      :gutter="20"
      align="middle"
      type="flex"
      style="margin-top:10px;"
    >
      <el-col :span="6">
        <el-input
          v-model="filters[0].value"
          :placeholder="$t('rest.sale.search')"
        ></el-input>
      </el-col>
    </el-row>

    <div class="rest-card-list-scroller">
      <div class="rest-card-list">
        <!-- // If show card -->
        <div
          v-if="showCard === true"
          class="rest-card-container"
        >
          <!-- <transition-group name="bound"> -->
          <!-- Card -->
          <div
            v-for="row in tableData"
            :key="row._id"
            class="card"
            @click="handleDoubleClickRow(row)"
          >
            <el-card
              :class="cardContentColor(row)"
              class="card-content"
              shadow="hover"
            >
              <i class="table-text">{{ $t('rest.tableLabel.table') }}: <span>{{ row.tableName }} </span></i>
              <i class="invoice-text">{{ $t('rest.tableLabel.invoice') }}: <span>{{ row._id }}</span></i>
              <i class="date-text">{{ $t('rest.tableLabel.date') }}: <span>{{ $moment(row.date).format('DD/MM/YY hh:mm A') }}</span> </i>

              <el-button
                type="primary"
                class="receive-btn"
                @click.stop.prevent="receive(row)"
              >{{ $numeral(row.total).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }} {{ baseCurrency.symbol }}</el-button>
            </el-card>
          </div>
          <!-- </transition-group> -->

        </div>

        <!-- // If show table -->
        <div
          v-else
          class="rest-card-container"
        >
          <!-- Data Table -->

          <data-tables-server
            v-loading="loading"
            :data="tableData"
            :show-action-bar="false"
            :filters="filters"
            :total="total"
            :empty-text="$t('rest.noData')"
            :current-page="currenPage"
            :page-size="currenPageSize"
            :pagination-props="{ pageSizes: [5,10, 15,20,25] }"
            :table-props="tableProps"
            @query-change="tableQueryChange"
            @row-dblclick="handleDoubleClickRow"
            @cell-mouse-enter="mouseHoverRow"
          >
            <el-table-column
              :label="$t('rest.report.tableLabel.invoice')"
              prop="_id"
              sortable="custom"
            >
              <template slot-scope="scope">
                {{ scope.row._id }}

              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.report.tableLabel.date')"
              prop="date"
              width="150px"
            >
              <template slot-scope="scope">
                <span>
                  {{ getDate(scope.row.date) }}
                </span>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.report.tableLabel.table')"
              prop="tableName"
            ></el-table-column>

            <el-table-column
              :label="$t('rest.report.tableLabel.status')"
              prop="status"
            >
              <template slot-scope="scope">
                <span v-if="scope.row.status == 'Open'">
                  <el-tag
                    :hit="true"
                    type="success"
                    disable-transitions
                  >{{ scope.row.status }}</el-tag>
                </span>
                <span v-else-if="scope.row.status == 'Partial'">
                  <el-tag
                    :hit="true"
                    type="warning"
                    disable-transitions
                  >{{ scope.row.status }}</el-tag>
                </span>
                <span v-else-if="scope.row.status == 'Closed'">
                  <el-tag
                    :hit="true"
                    type="danger"
                    disable-transitions
                  >{{ scope.row.status }}</el-tag>
                </span>
                <span v-else-if="scope.row.status == 'Cancel'">
                  <el-tag
                    :hit="true"
                    type="info"
                    disable-transitions
                  >{{ scope.row.status }}</el-tag>
                </span>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.report.tableLabel.customer')"
              prop="guestDocs.name"
            >
            </el-table-column>

            <el-table-column
              :label="$t('rest.report.tableLabel.total')"
              prop="total"
            >
              <template slot-scope="scope">
                <span>
                  {{ $numeral(scope.row.total).format('0,0.00') }} {{ baseCurrency.symbol }}
                </span>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.report.tableLabel.receive')"
              prop="totalReceived"
            >
              <template slot-scope="scope">
                <span>
                  {{ $numeral(scope.row.totalReceived).format('0,0.00') }} {{ baseCurrency.symbol }}
                </span>
              </template>
            </el-table-column>

            <!-- Table Action -->

            <el-table-column
              v-if="cardList === '2'"
              :label="$t('rest.tableLabel.actions')"
              align="center"
              fixed="right"
            >

              <template slot-scope="scope">
                <el-button
                  type="success"
                  size="small"
                  style="padding: 5px"
                  @click="receive(scope.row)"
                >
                  {{ $t('rest.btn.receive') }}
                </el-button>
              </template>
            </el-table-column>
          </data-tables-server>
        </div>
      </div>
    </div>

    <!-- Nav Bottom -->
    <div class="feature-card">
      <div
        :value="true"
        absolute
        color="transparent"
        class="feature-bottom-nav"
      >
        <el-card
          v-if="userIsInRoleCashier"
          shadow=" feature-btn feature-btn-1 always"
        >
          <div
            class="feature-btn-content"
            @click="openSaleTable"
          >
            <i class="fas fa-cart-plus feature-btn-icon"></i>

            <div class="load">
              <div class="spinner">
                <div class="bubble-1"></div>
                <div class="bubble-2"></div>
              </div>
            </div>
            <p class="feature-btn-text">{{ $t('rest.dashboard.newSell') }} (F8)</p>
          </div>
        </el-card>

        <el-card
          v-if="userIsInRoleCashier"
          shadow=" feature-btn feature-btn-2  always"
        >
          <div
            class="feature-btn-content"
            @click="handleFastSale"
          >
            <i class="fas fa-rocket feature-btn-icon"></i>

            <div class="load">
              <div class="spinner">
                <div class="bubble-1"></div>
                <div class="bubble-2"></div>
              </div>
            </div>
            <p class="feature-btn-text">{{ $t('rest.dashboard.fastSell') }} (F9)</p>
          </div>
        </el-card>

        <el-card
          v-if="userIsInRoleReporter"
          shadow=" feature-btn feature-btn-3 always"
        >
          <div
            class="feature-btn-content"
            @click="handleOpenReport"
          >
            <i class="fas fa-book feature-btn-icon"></i>

            <div class="load">
              <div class="spinner">
                <div class="bubble-1"></div>
                <div class="bubble-2"></div>
              </div>
            </div>

            <p class="feature-btn-text">{{ $t('rest.dashboard.report') }}</p>
          </div>
        </el-card>

      </div>
    </div>

    <!-- Dialog -->
    <el-dialog
      :visible.sync="dialogVisible"
      title="Warning"
      width="60%"
    >
      <span>You need to insert more information.</span>

      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">Cancel</el-button>

        <el-button
          v-if="products===0"
          type="primary"
          @click="addProduct"
        >Add Product</el-button>

        <el-button
          v-if="exchange===0"
          type="primary"
          @click="addExhange"
        >Add Exchange</el-button>
      </span>
    </el-dialog>
  </div>
</template>


<script>
import moment from 'moment'
import _ from 'lodash'

// Notify
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
//import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'
// Component
import SaleReceipt from './SaleReceipt.vue'
// Mapping
import { mapState } from 'vuex'
// Product
import { saleRequire } from '../../utils/sale-required-methods'
// Receipt
import { findOneSaleReceipt } from '../../api/saleReceipts/methods'

// Guest methods
import { findTables } from '../../api/tables/methods'
// Guest
import { findOneGuest } from '../../api/guests/methods'
// Exchange
import { findOneExchange } from '../../../../api/exchanges/methods'
// Sale
import {
  removeEmptySale,
  findSaleAggregate,
  removeSale,
} from '../../api/sales/methods'

export default {
  name: 'SaleCard',
  components: { TableAction, SaleReceipt },
  mixins: [dataTablesMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      showCard: true,
      dialogVisible: false,
      tableData: [],
      // Filter
      filters: [
        {
          value: '',
          prop: ['_id', 'tableName'], // define search_prop for backend usage.
        },
      ],
      tableProps: {
        defaultSort: {
          prop: '_id',
          order: 'descending',
        },
      },
      total: 0,
      currenPage: 1,
      currenPageSize: 10,
      currentModal: null,
      tableRow: null,
      modalVisible: false,
      saleDoc: null,
      tableId: '',
      generalGuestId: '',
      products: 0,
      exchange: 0,
      cardList: '0',
      // cardListOpts: [

      // ],
    }
  },
  computed: {
    cardListOpts() {
      let cardListOpts = [
        { name: '0', label: this.$t('rest.dashboard.tabName.printed') },
        { name: '1', label: this.$t('rest.dashboard.tabName.open') },
        { name: '2', label: this.$t('rest.dashboard.tabName.partial') },
        { name: '3', label: this.$t('rest.dashboard.tabName.closed') },
        { name: '4', label: this.$t('rest.dashboard.tabName.canceled') },
      ]
      return cardListOpts
    },
    // Mapping
    ...mapState({
      employeeId(state) {
        if (state.app.currentUser) {
          return state.app.currentUser._id
        }
      },
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),

    // Check if user == admin || super
    userIsInRoleAdmin() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
    // Check if user == admin || super || cashier
    userIsInRoleCashier() {
      return this.$store.getters['app/userIsInRole']([
        'cashier',
        'admin',
        'super',
      ])
    },
    // Check if user == admin || super || report
    userIsInRoleReporter() {
      return this.$store.getters['app/userIsInRole']([
        'reporter',
        'admin',
        'super',
      ])
    },
  },
  watch: {
    cardList: {
      handler(val) {
        this.tableData = []
        this.total = 0

        if (val === '0' || val === '1') {
          this.showCard = true
        } else {
          this.showCard = false
        }

        this.getData(this.tableInitialQuery)
      },
    },
    filters: {
      handler(val) {
        if (this.showCard === true) {
          let tableQuery = {
            filters: val,
          }
          this.getData(tableQuery)
        }
      },
      deep: true,
    },
  },
  created() {
    window.addEventListener('keyup', this.handleKeyUp)
    // Table query sort init
    this.tableInitialQuery.sort = {
      prop: '_id',
      order: 'descending',
    }
    this.tableInitialQuery.pageSize = this.currenPageSize
  },
  mounted() {
    this.removeSale()
    this.getSaleRequire()
    this.getData(this.tableInitialQuery)
    this.getExchange()
    this.getGeneralGuest()
    this.getTable()
  },
  methods: {
    // remove empty invoice
    removeSale() {
      removeEmptySale
        .callPromise({ selector: { status: 'Open', totalReceived: 0 } })
        .then(result => {
          if (result) {
            return false
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    // Get data
    getData(tableQuery) {
      // Start loading
      this.loading = true

      let params = {}

      if (this.cardList === '0') {
        params.billed = 1
      } else if (this.cardList === '1') {
        params.status = 'Open'
      } else if (this.cardList === '2') {
        params.status = 'Partial'
      } else if (this.cardList === '3') {
        params.status = 'Closed'
      } else if (this.cardList === '4') {
        params.status = 'Cancel'
      }

      // Filter
      params.filters = tableQuery.filters[0]

      // update table query
      if (this.showCard === true) {
        tableQuery = {
          filters: null,
          page: 1,
          pageSize: Number.MAX_SAFE_INTEGER,
          sort: { prop: '_id', order: 'descending' },
          sortInfo: Object,
          type: 'init',
        }
      }

      // Get sale data
      findSaleAggregate
        .callPromise({ tableQuery: tableQuery, params: params })
        .then(result => {
          if (result) {
            this.tableData = result.data
            this.total = result.total
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Query change
    tableQueryChange(tableQuery) {
      this.tableInitialQuery.pageSize = tableQuery.pageSize
      // Get new data
      this.getData(tableQuery)
    },

    // Date filter
    getDate(date) {
      return moment(date).format('DD/MM/YY hh:mm A')
    },

    // Get General guest Id
    getGeneralGuest() {
      findOneGuest
        .callPromise({ selector: { name: 'General' } })
        .then(result => {
          if (result) {
            this.generalGuestId = result._id
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    // Find Exchange
    getExchange() {
      this.loading = true
      findOneExchange
        .callPromise({}, { sort: { _id: -1 }, limit: 1 })
        .then(result => {
          if (result) {
            this.exchange = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Get General guest Id
    getTable() {
      findTables
        .callPromise({})
        .then(result => {
          if (result) {
            this.tableId = result[0]._id
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    // Get product
    getSaleRequire() {
      saleRequire
        .callPromise({
          selector: { type: { $in: ['Product', 'Dish'] }, status: 'Active' },
        })
        .then(result => {
          if (result) {
            this.products = result.product
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    getSaleReceipt(order) {
      findOneSaleReceipt
        .callPromise({ selector: { invoiceId: order._id } })
        .then(result => {
          if (result) {
            this.$router.push({
              name: 'rest.invoice',
              params: {
                receiptId: result._id,
                orderDoc: order,
                exchange: this.exchange,
                employeeId: this.employeeId,
                baseCurrency: this.baseCurrency,
                receiptPrint: true,
                fromSaleData: true,
              },
            })
          }
        })
        .catch(error => {
          this.loading = false
          // Notify.error({ message: error })
        })
    },

    // Double Click Row
    handleDoubleClickRow(row) {
      if (row.status == 'Open') {
        if (this.products > 0 && this.exchange) {
          this.$router.push({
            name: 'rest.sale',
            params: {
              table: row.tableId,
              invoiceId: row._id,
              employeeId: this.employeeId,
              guestId: this.generalGuestId,
            },
          })
        } else {
          this.dialogVisible = true
        }
      } else if (row.status == 'Closed' || row.status == 'Partial') {
        this.getSaleReceipt(row)
      }
    },
    mouseHoverRow(row) {
      this.tableRow = row
    },
    // Action
    tableActionClick(command) {
      this[command](this.tableRow)
    },
    receive(row) {
      this.saleDoc = row
      // this.saleDoc.date
      this.currentModal = SaleReceipt
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeSale,
        selector: { _id: row._id },
        successMethod: 'getData',
        successParams: this.tableInitialQuery,
        loading: 'loading',
        title: row._id,
      })
    },
    // Open sale form
    clickPrintedOrder(order) {
      this.$router.push({
        name: 'rest.sale',
        params: {
          table: order.tableId,
          invoiceId: order._id,
          employeeId: this.employeeId,
          guestId: this.generalGuestId,
        },
      })
    },
    // Key up fuction
    handleKeyUp(event) {
      let evt = event
      if (evt.keyCode == 119) {
        this.openSaleTable()
      } else if (evt.keyCode == 120) {
        this.handleFastSale()
      }
    },
    openSaleTable() {
      this.$router.push({
        name: 'rest.saleTable',
      })
    },
    handleFastSale() {
      if (this.products > 0 && this.exchange) {
        this.$router.push({
          name: 'rest.sale',
          params: {
            table: this.tableId,
            employeeId: this.employeeId,
            guestId: this.generalGuestId,
            fastSale: true,
          },
        })
      } else {
        this.dialogVisible = true
      }
    },
    handleOpenReport() {
      this.$router.push({ name: 'rest.report' })
    },
    // Add imformation

    addProduct() {
      this.$router.push({
        name: 'rest.product',
      })
    },

    addExhange() {
      this.$router.push({
        name: 'app.exchange',
      })
    },
    cardContentColor(row) {
      if (row.billed > 0) {
        return 'printed'
      } else {
        return 'not-printed'
      }
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData(this.tableInitialQuery)
      })
    },
  },
}
</script>

<style lang="less" scoped>
@import '{}/../../styles/homeStyle.less';
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter {
  transform: translateY(-100%);
}

.fade-leave-to {
  // position: absolute;
  transform: translateY(-100%);
}

.bound-enter-active,
.bound-leave-active {
  transition: all 0.2s ease;
}

.bound-enter {
  transform: translateY(-100%);
}

.bound-leave-to {
  // position: absolute;
  transform: translateY(-100%);
}

.id-color {
  color: #409eff;
  &:hover {
    cursor: pointer;
  }
}
</style>
<style lang="css" scoped>
.spinner {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}
.load .spinner {
  animation: loadingI 2s linear infinite;
}
.load .bubble-1,
.load .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
.load .bubble-2 {
  animation-delay: -1s;
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 720px) and (max-width: 1025px) {
  .spinner {
    width: 20px;
    height: 20px;
  }

  .bubble-1,
  .bubble-2 {
    width: 11px;
    height: 11px;
  }
}
</style>