<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    >
    </component>

    <el-row
      :gutter="10"
      style="margin-bottom: 10px"
    >
      <el-col :span="10">
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="addNew"
        >{{ $t('rest.formLabel.new') }}</el-button>
      </el-col>
    </el-row>

    <!-- Table filter -->
    <el-row
      :gutter="20"
      align="middle"
      type="flex"
      style="margin-top:20px;"
    >
      <el-col :span="6">
        <el-input
          v-model="filters[0].value"
          :placeholder="$t('rest.formLabel.search')"
        ></el-input>
      </el-col>
    </el-row>

    <!-- Data Table -->
    <data-tables
      :data="tableData"
      :filters="filters"
    >
      <el-table-column
        :label="$t('rest.tableLabel.name')"
        prop="name"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.category')"
        prop="categoryName"
        sortable="custom"
      >
      </el-table-column>

      <el-table-column
        :label="$t('rest.tableLabel.status')"
        prop="status"
        sortable="custom"
      >
        <template slot-scope="scope">
          <el-button
            :type="scope.row.status == 'Active' ? 'primary':'danger' "
            size="mini"
            @click="handleStatusChange(scope.row)"
          >{{ scope.row.status }}</el-button>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.unit')"
        prop="unitName"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.cost')"
        prop="cost"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span>{{ $numeral(scope.row.cost).format('0.00') }} {{ baseCurrency.symbol }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.price')"
        prop="price"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span>{{ $numeral(scope.row.price).format('0.00') }} {{ baseCurrency.symbol }}</span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import numeral from 'numeral'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

// Mapping
import { mapState } from 'vuex'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

import {
  findProductAggregate,
  updateProductStatus,
  removeProduct,
  usedProduct,
} from '../../api/products/methods.js'

// Component(s)
import IngredientNew from './IngredientNew.vue'
import IngredientEdit from './IngredientEdit.vue'

export default {
  name: 'Ingredient',
  components: { TableAction, IngredientNew, IngredientEdit },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      // Filter
      filters: [
        {
          value: '',
          prop: ['name', 'categoryName', 'unitName'],
        },
      ],
      tableData: [],
      tableSearchDate: null,
      tableCustomFilters: [{ props: 'tableSearch', vals: 0 }],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
  },
  created() {
    // Extend data tables props (Mixin)
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      let params = {
        type: ['Ingredient'],
      }
      findProductAggregate
        .callPromise(params)
        .then(result => {
          if (result) {
            this.tableData = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Add new
    addNew() {
      this.currentModal = IngredientNew
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Table Action
    actionsList(row) {
      let actions = [
        { label: this.$t('rest.tableLabel.edit'), value: 'edit' },
        { label: this.$t('rest.tableLabel.remove'), value: 'remove' },
      ]

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.updateDoc = row
      this.currentModal = IngredientEdit
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    handleStatusChange(row) {
      let doc = {
        _id: row._id,
      }
      if (row.status == 'Active') {
        doc.status = 'Inactive'
      } else {
        doc.status = 'Active'
      }
      this.$confirm(
        `${this.$t('rest.messages.confirmStatusChange')} ${doc.status}${this.$t(
          'rest.messages.askForContinue'
        )}`,
        this.$t('rest.messages.warning'),
        {
          confirmButtonText: this.$t('rest.btn.ok'),
          cancelButtonText: this.$t('rest.btn.cancel'),
          type: 'warning',
        }
      )
        .then(() => {
          updateProductStatus
            .callPromise({ doc: doc })
            .then(result => {
              if (result) {
                this.getData()
                this.loading = false
                Msg.success('Success')
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        })
        .catch(() => {
          Msg.warning(this.$t('rest.messages.transactionCanceled'))
        })
    },
    remove(row) {
      usedProduct
        .callPromise(row)
        .then(result => {
          if (result) {
            if (result.used == false) {
              this.$_removeMixin({
                meteorMethod: removeProduct,
                selector: { _id: row._id },
                successMethod: 'getData',
                loading: 'loading',
                title: row.title,
              })
            } else if (result.used == true) {
              this.$message({
                type: 'error',
                duration: 7000,
                showClose: true,
                message: this.$t('rest.messages.usedItem'),
              })
            }
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';
</style>