<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      title="New Ingredient"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-row>
          <el-col :span="11">
            <el-form-item
              :label="$t('rest.formLabel.category')"
              prop="categoryId"
            >
              <el-select
                v-model="form.categoryId"
                style="width:100%"
              >
                <el-option
                  v-for="item in categoryOpts"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              :label="$t('rest.formLabel.group')"
              prop="groupId"
            >
              <el-select
                v-model="form.groupId"
                :autofocus="true"
                style="width:100%"
              >
                <el-option
                  v-for="item in groupOpts"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              :label="$t('rest.formLabel.name')"
              prop="name"
            >
              <el-input
                v-model="form.name"
                :autofocus="true"
              ></el-input>
            </el-form-item>
            <el-form-item
              :label="$t('rest.formLabel.unit')"
              prop="unitId"
            >
              <el-select
                v-model="form.unitId"
                :autofocus="true"
                style="width:100%"
              >
                <el-option
                  v-for="item in unitOpts"
                  :key="item._id"
                  :label="item.name"
                  :value="item._id"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.status')"
              prop="status"
            >
              <el-select
                v-model="form.status"
                style="width:100%"
              >
                <el-option
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col
            :span="11"
            :offset="2"
          >
            <el-form-item
              :label="$t('rest.formLabel.cost')"
              prop="cost"
            >
              <el-input-number
                v-model="form.cost"
                :autofocus="true"
                :min="0"
                :precision="2"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
                @change="handleCostChange"
              ></el-input-number>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.markupRate')"
              prop="markupPer"
            >
              <el-input-number
                v-model="form.markupPer"
                :autofocus="true"
                :min="0"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
                @change="handleMarkupPerChange"
              ></el-input-number>
            </el-form-item>
            <el-form-item
              :label="$t('rest.formLabel.markupValue')"
              prop="markupVal"
            >
              <el-input-number
                v-model="form.markupVal"
                :autofocus="true"
                :min="0"
                :precision="2"
                controls-position="right"
                style="width:100%"
                @focus="onFocus"
                @change="handleMarkupValChange"
              ></el-input-number>
            </el-form-item>

            <el-form-item
              :label="$t('rest.formLabel.price')"
              prop="price"
            >
              <div class="readonly-input">
                <span class="text">{{ $numeral( form.price ).format('0,0.00') }}</span>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
      </span>

    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Validate Method
import { validateProductExist } from '../../utils/validate-methods'

// Look up value
import Lookup from '../lib/lookup-value'
// Category methods
import { findCategories } from '../../api/categories/methods'
// Station methods
import { findGroups } from '../../api/groups/methods'
// Unit methods
import { findUnits } from '../../api/units/methods'

// Product methods
import { insertProduct } from '../../api/products/methods'

export default {
  name: 'EmployeeNew',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const validateName = (rule, value, callback) => {
      let selector = {
        name: value,
        type: 'Ingredient',
      }
      // Check update form
      //   selector._id = { $ne: this.updateDoc._id }

      if (value) {
        validateProductExist
          .callPromise({
            selector,
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }
    return {
      loading: false,
      form: {
        categoryId: '',
        groupId: '',
        name: '',
        unitId: '',
        status: 'Active',
        cost: 0,
        markupPer: 0,
        markupVal: 0,
        price: 0,
      },
      rules: {
        categoryId: [{ required: true, message: 'Category is required' }],
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        unitId: [{ required: true, message: 'Unit Value is required' }],
        cost: [{ required: true, message: 'Cost is required' }],
        markupPer: [
          { required: true, message: 'Markup Percentage is required' },
        ],
        markupVal: [{ required: true, message: 'Markup Value is required' }],
        price: [{ required: true, message: 'Price is required' }],
      },
      categoryOpts: [],
      groupOpts: [],
      unitOpts: [],
      statusOpts: Lookup.productStatus,
    }
  },
  mounted() {
    this.getCategories()
    this.getGroups()
    this.getUnits()
  },
  methods: {
    getCategories() {
      findCategories
        .callPromise({ selector: { productType: 'Ingredient' } })
        .then(result => {
          if (result) {
            this.categoryOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getGroups() {
      findGroups
        .callPromise({})
        .then(result => {
          if (result) {
            this.groupOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getUnits() {
      findUnits
        .callPromise({})
        .then(result => {
          if (result) {
            this.unitOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Focus
    onFocus(event) {
      event.target.select()
    },
    // Calculate for price
    handleCostChange(val) {
      let price = parseFloat(val + this.form.markupVal).toFixed(2)
      this.form.price = parseFloat(price)
    },
    handleMarkupPerChange(val) {
      let markupVal = parseFloat((val * this.form.cost) / 100).toFixed(2)
      this.form.markupVal = parseFloat(markupVal)
      let price = parseFloat(this.form.cost + this.form.markupVal).toFixed(2)
      this.form.price = parseFloat(price)
    },
    handleMarkupValChange(val) {
      this.form.markupPer = 0
      let price = parseFloat(val + this.form.cost).toFixed(2)
      this.form.price = parseFloat(price)
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          this.form.type = 'Ingredient'

          insertProduct
            .callPromise({ doc: this.form })
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.resetForm()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.$router.push({ name: 'blog.post' })
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
</style>
