<template>
  <div>
    <div
      id="print-area"
      class="invoice-container"
    >
      <div class="header">
        <h1 class="company-name">{{ companyInfo.general.name }}</h1>
        <p class="location-name">{{ companyInfo.general.address }}</p>
        <p class="tel-text">Tel: {{ companyInfo.general.telephone }}</p>
        <p
          v-if="companyInfo.other.facebookPage"
          class="tel-text"
        >Facebook Page: {{ companyInfo.other.facebookPage }}</p>
        <h1
          class="invoice-text"
          @click="handlePrint"
        >{{ $t('rest.invoiceReport.invoice') }}</h1>
      </div>

      <hr style="	border-top: 1px solid #8c8b8b;">

      <div class="table-content ">
        <div class="left-side">
          <p class="text left-size-text">
            {{ $t('rest.invoiceReport.invoiceNumber') }}:
            <span class="span-text">{{ orderDoc._id }}</span>
          </p>

          <p class="text left-size-text">
            {{ $t('rest.invoiceReport.timeIn') }}:
            <span class="span-text">{{ inDate }}</span>
          </p>
          <p class="text left-size-text">
            {{ $t('rest.invoiceReport.timeOut') }}:
            <span class="span-text">{{ outDate }}</span>
          </p>
          <p class="text left-size-text">
            {{ $t('rest.invoiceReport.exchangeRate') }}:
            <span class="span-text">{{ exchange.khr }}៛ = {{ exchange.usd }}$</span>
          </p>
        </div>

        <div class="right-side">
          <p class="text right-size-text">
            {{ $t('rest.invoiceReport.table') }}:
            <span class="span-text">{{ tableName }}</span>
          </p>
          <p class="text right-size-text">
            {{ $t('rest.invoiceReport.customer') }}:
            <span class="span-text">{{ guestName }}</span>
          </p>
          <p class="text right-size-text">
            {{ $t('rest.invoiceReport.cashier') }}:
            <span class="span-text">{{ employeeName }}</span>
          </p>
          <p
            v-if="companyInfo.other.wifiPass"
            class="text right-size-text"
          >
            Wifi:
            <span class="span-text">{{ companyInfo.other.wifiPass }}</span>
          </p>
        </div>

        <hr style="	border-top: 1px solid #8c8b8b;">
        <el-table
          :data="orderListFilter"
          :header-row-class-name="headerTableRowClass"
          :header-cell-class-name="headerTableCellClass"
          :row-class-name="rowClassName"
          :cell-class-name="cellClassName"
          class="invoice-table"
        >
          <el-table-column
            :label=" $t('rest.invoiceReport.item')"
            prop="itemName"
            width="145px"
          >
            <template slot-scope="scope">
              <!-- Name -->
              <p class="order-name-text">{{ scope.row.itemName }}
                <!-- If Extra Food -->
                <span v-if="scope.row.extraItemDoc && scope.row.extraItemDoc.length">
                  <span
                    v-for="item in scope.row.extraItemDoc"
                    :key="item._id"
                  > + {{ item.itemName }}
                  </span>
                </span>
              </p>
            </template>
          </el-table-column>
          <el-table-column
            :label=" $t('rest.invoiceReport.qty') "
            prop="qty"
            width="40px"
          ></el-table-column>
          <el-table-column
            :label=" $t('rest.invoiceReport.price')"
            prop="price"
            width="70px"
          >
            <template slot-scope="scope">
              {{ $numeral(scope.row.price ).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }}{{ baseCurrency.symbol }}
            </template>
          </el-table-column>
          <el-table-column
            :label=" $t('rest.invoiceReport.dis') "
            prop="discount"
            width="50px"
          >
            <template slot-scope="scope">
              {{ scope.row.discount }}%
            </template>
          </el-table-column>
          <el-table-column
            :label=" $t('rest.invoiceReport.amount') "
            prop="amount"
            width="70px"
          >
            <template slot-scope="scope">
              {{ $numeral(itemAmount(scope.row) ).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }}{{ baseCurrency.symbol }}
            </template>
          </el-table-column>
        </el-table>

      </div>

      <div class="detail-content">
        <div class="content">

          <hr style="	border-top: 1px solid #8c8b8b;">

          <!--  សរុប -->
          <div class="text-panel">
            <p class="text detail-print-text">{{ $t('rest.invoiceReport.total') }}:
              <span class="sub-text">{{ $numeral(subTotal).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }}{{ baseCurrency.symbol }}</span>
            </p>
          </div>

          <!-- បញ្ចុះ -->
          <div class="text-panel">
            <p class="text detail-print-text">{{ $t('rest.invoiceReport.discount') }}:
              <span class="sub-text">{{ $numeral(orderDoc.discountValue).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }}{{ baseCurrency.symbol }}</span>
            </p>
          </div>

          <!-- សរុបរួម -->
          <div
            v-if="receiptPrint === true"
            class=" text-panel pay-text"
          >
            <p class="text detail-print-text">{{ $t('rest.invoiceReport.payAmount') }}:
              <span
                v-if="baseCurrency.base == 'KHR'"
                class="sub-text"
              >{{ $numeral(total.khr).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(total.usd).format('0,0.00') }}$</span>

              <span
                v-else-if="baseCurrency.base == 'USD'"
                class="sub-text"
              >{{ $numeral(total.usd).format('0,0.00') }}{{ baseCurrency.symbol }} = {{ $numeral(total.khr).format('0,0') }}៛</span>
              <span
                v-else-if="baseCurrency.base == 'THB'"
                class="sub-text"
              >{{ $numeral(total.thb).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(total.khr).format('0,0') }}៛</span>

            </p>
          </div>

          <!-- សរុបរួម -->
          <div
            v-if="receiptPrint === false"
            class=" text-panel"
          >
            <p class="text pay-amount-text">{{ $t('rest.invoiceReport.payAmount') }} (៛):
              <span class="pay-amount-sub-text">{{ $numeral(total.khr).format('0,0') }}៛</span>
            </p>

            <p class="text pay-amount-text">{{ $t('rest.invoiceReport.payAmount') }} ($):
              <span class="pay-amount-sub-text">{{ $numeral(total.usd).format('0,0.00') }}$</span>
            </p>
          </div>

          <hr
            v-if="receiptPrint == true"
            style="	border-top: 1px solid #8c8b8b;"
          >
          <!-- Check when print  -->
          <div
            v-if="receiptPrint == true"
            class="text-panel"
          >
            <p class="text detail-print-text">{{ $t('rest.invoiceReport.receiveAmount') }}:
              <span
                v-if="baseCurrency.base == 'KHR'"
                class="sub-text"
              >{{ $numeral(paidAmount.khr).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(paidAmount.usd).format('0,0.00') }}$</span>
              <span
                v-else-if="baseCurrency.base == 'USD'"
                class="sub-text"
              >{{ $numeral(paidAmount.usd).format('0,0.00') }}{{ baseCurrency.symbol }} = {{ $numeral(paidAmount.khr).format('0,0') }}៛</span>
              <span
                v-else-if="baseCurrency.base == 'THB'"
                class="sub-text"
              >{{ $numeral(paidAmount.thb).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(paidAmount.khr).format('0,0.00') }}៛</span>
            </p>

            <!--លុយអាប់ ឬ លុយជំពាក់ -->
            <p
              v-if="receiptDoc.receiveAmount>=receiptDoc.openAmount"
              class="text detail-print-text"
            >{{ $t('rest.invoiceReport.change') }}:
              <span
                v-if="baseCurrency.base == 'KHR'"
                class="sub-text"
              >{{ $numeral(returnAmount.khr).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(returnAmount.usd).format('0,0.00') }}$</span>
              <span
                v-else-if="baseCurrency.base == 'USD'"
                class="sub-text"
              >{{ $numeral(returnAmount.usd).format('0,0.00') }}{{ baseCurrency.symbol }} = {{ $numeral(returnAmount.khr).format('0,0') }}៛</span>
              <span
                v-else-if="baseCurrency.base == 'THB'"
                class="sub-text"
              >{{ $numeral(returnAmount.thb).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(returnAmount.khr).format('0,0') }}៛</span>
            </p>
            <p
              v-else
              class="text detail-print-text"
            >{{ $t('rest.invoiceReport.owed') }}:
              <span
                v-if="baseCurrency.base == 'KHR'"
                class="sub-text"
              >{{ $numeral(owedAmount.khr).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(owedAmount.usd).format('0,0.00') }}$</span>
              <span
                v-else-if="baseCurrency.base == 'USD'"
                class="sub-text"
              >{{ $numeral(owedAmount.usd).format('0,0.00') }}{{ baseCurrency.symbol }} = {{ $numeral(owedAmount.khr).format('0,0') }}៛</span>
              <span
                v-else-if="baseCurrency.base == 'THB'"
                class="sub-text"
              >{{ $numeral(owedAmount.thb).format('0,0') }}{{ baseCurrency.symbol }} = {{ $numeral(owedAmount.khr).format('0,0.') }}៛</span>
            </p>

          </div>
          <hr
            v-if="receiptPrint == true"
            style="	border-top: 1px solid #8c8b8b;"
          >
        </div>
      </div>
      <div class="footer">
        <p class="thank-text">{{ companyInfo.other.thankText ? companyInfo.other.thankText:'សូមអរគុណ!' }}</p>
        <p class="footer-address">{{ companyInfo.other.footerAddress }}</p>
        <hr class="hr-bottom">
        <p class="power-by-text">Powered by Rabbit, Tel: 053 50 66 777</p>
      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import Printd from 'printd'

import reportPrintStyle from '../styles/report-print.js'

// Find methods
import { findOneGuest } from '../../api/guests/methods'
import { findOneTable } from '../../api/tables/methods'
import { findOneFloor } from '../../api//floors/methods'
import { findOneUser } from '../../../../api/users/methods'
import { findOneSaleReceipt } from '../../api/saleReceipts/methods'
// import Company info
import { findOneCompany } from '../../../../api/company/methods'

export default {
  name: 'Invocie',
  data() {
    return {
      //Dilog
      closeDialogButton: true,
      fullScreenDialog: true,
      // Doc
      receiptId: '',
      orderDoc: [],
      receiptDoc: '',
      receiptPrint: '',
      fromSaleData: null,
      exchange: '',
      baseCurrency: null,
      guestName: '',
      tableName: '',
      floorName: '',
      employeeName: '',
      orderList: [],
      inDate: '',
      outDate: '',
      // Company info
      companyInfo: {
        general: {
          name: '',
          telephone: '',
          address: '',
        },
        other: {
          footerAddress: '',
          thankText: '',
          wifiPass: '',
          facebookPage: '',
        },
      },
      employeeId: '',
      d: null,
      printStyle: reportPrintStyle,
    }
  },
  computed: {
    orderListFilter() {
      let orderList = _.cloneDeep(this.orderList)

      _.remove(orderList, o => {
        return o.child === true
      })

      return orderList
    },
    subTotal() {
      let subTotal = 0
      this.orderList.forEach(o => {
        subTotal += o.amount
      })
      if (this.baseCurrency.base == 'KHR') {
        return _.ceil(subTotal, -2)
      } else {
        return subTotal
      }
    },
    total() {
      let total = {}
      // If currency = KHR
      if (this.baseCurrency.base == 'KHR') {
        total.khr = this.orderDoc.total
        let usd = total.khr / (this.exchange.usd * this.exchange.khr)
        total.usd = _.round(usd, 2)
      } else if (this.baseCurrency.base == 'USD') {
        // If currency = USD
        total.usd = this.orderDoc.total
        let khr = total.usd * this.exchange.khr
        total.khr = _.ceil(khr, -2)
      } else if (this.baseCurrency.base == 'THB') {
        // If currency = THB
        total.thb = this.orderDoc.total
        // USD
        total.usd = parseFloat(total.thb / this.exchange.thb).toFixed(2)
        // KHR
        total.khr = total.usd * (this.exchange.usd * this.exchange.khr)
      }
      return total
    },
    paidAmount() {
      let paidAmount = {}
      // If currency = KHR
      if (this.baseCurrency.base == 'KHR') {
        paidAmount.khr = this.receiptDoc.receiveAmount
        let usd = paidAmount.khr / (this.exchange.usd * this.exchange.khr)
        paidAmount.usd = _.round(usd, 2)
      } else if (this.baseCurrency.base == 'USD') {
        // If currency = USD
        paidAmount.usd = this.receiptDoc.receiveAmount
        let khr = paidAmount.usd * this.exchange.khr
        paidAmount.khr = _.ceil(khr, -2)
      } else if (this.baseCurrency.base == 'THB') {
        // If currency = THB
        paidAmount.thb = this.receiptDoc.receiveAmount
        // USD
        paidAmount.usd = parseFloat(paidAmount.thb / this.exchange.thb).toFixed(
          2
        )
        // KHR
        paidAmount.khr =
          paidAmount.usd * (this.exchange.usd * this.exchange.khr)
      }

      return paidAmount
    },

    // លុយអាប់
    returnAmount() {
      let returnAmount = {}
      // If currency = KHR
      if (this.baseCurrency.base == 'KHR') {
        returnAmount.khr =
          this.receiptDoc.receiveAmount - this.receiptDoc.openAmount
        let usd = returnAmount.khr / (this.exchange.usd * this.exchange.khr)
        returnAmount.usd = _.round(usd, 2)
      } else if (this.baseCurrency.base == 'USD') {
        // If currency = USD
        returnAmount.usd =
          this.receiptDoc.receiveAmount - this.receiptDoc.openAmount
        let khr = returnAmount.usd * this.exchange.khr
        returnAmount.khr = _.round(khr, -2)
      } else if (this.baseCurrency.base == 'THB') {
        // If currency = THB
        returnAmount.thb =
          this.receiptDoc.receiveAmount - this.receiptDoc.openAmount
        // USD
        returnAmount.usd = parseFloat(
          returnAmount.thb / this.exchange.thb
        ).toFixed(2)
        // KHR
        returnAmount.khr =
          returnAmount.usd * (this.exchange.usd * this.exchange.khr)
      }
      return returnAmount
    },

    // លុយជំពាក់ owed amount
    owedAmount() {
      let owedAmount = {}
      // If currency = KHR
      if (this.baseCurrency.base == 'KHR') {
        owedAmount.khr =
          this.receiptDoc.openAmount - this.receiptDoc.receiveAmount
        let usd = owedAmount.khr / (this.exchange.usd * this.exchange.khr)
        owedAmount.usd = _.round(usd, 2)
      } else if (this.baseCurrency.base == 'USD') {
        // If currency = USD
        owedAmount.usd =
          this.receiptDoc.openAmount - this.receiptDoc.receiveAmount
        let khr = owedAmount.usd * this.exchange.khr
        owedAmount.khr = _.ceil(khr, -2)
      } else if (this.baseCurrency.base == 'THB') {
        // If currency = THB
        owedAmount.thb =
          this.receiptDoc.openAmount - this.receiptDoc.receiveAmount
        // USD
        owedAmount.usd = parseFloat(owedAmount.thb / this.exchange.thb).toFixed(
          2
        )
        // KHR
        owedAmount.khr =
          owedAmount.usd * (this.exchange.usd * this.exchange.khr)
      }

      return owedAmount
    },
  },
  created() {
    this.receiptId = this.$route.params.receiptId
    this.orderDoc = this.$route.params.orderDoc
    this.exchange = this.$route.params.exchange
    this.baseCurrency = this.$route.params.baseCurrency
    this.receiptPrint = this.$route.params.receiptPrint
    this.employeeId = this.$route.params.employeeId
    this.orderList = this.$route.params.orderDoc.details

    this.fromSaleData = this.$route.params.fromSaleData

    if (this.receiptPrint == false) {
      this.inDate = moment(this.orderDoc.date).format('DD/MM/YY hh:mm A')
      this.outDate = moment(new Date()).format('DD/MM/YY hh:mm A')
    } else if (this.receiptPrint == true) {
      this.inDate = moment(this.orderDoc.date).format('DD/MM/YY hh:mm A')
      this.getReceipt(this.receiptId)
    }
  },
  mounted() {
    // Get getCurrentGuest
    this.getCurrentGuest(this.orderDoc.guestId)
    // Get getCurrentTable
    this.getCurrentTable(this.orderDoc.tableId)
    // Get getCurrentEmployee
    this.getCurrentEmployee(this.employeeId)
    // Gety company info
    this.getCompany()

    // Printd
    this.d = new Printd()
    const { contentWindow } = this.d.getIFrame()
    contentWindow.addEventListener('afterprint', () => {
      if (this.fromSaleData == true) {
        this.$router.push({ name: 'home' })
      } else if (this.receiptPrint == true) {
        this.$router.push({ name: 'rest.saleTable' })
      } else {
        this.$router.push({
          name: 'rest.sale',
          params: {
            table: this.orderDoc.tableId,
            invoiceId: this.orderDoc._id,
            employeeId: this.employeeId,
            guestId: this.$route.params.guestId,
          },
        })
      }
    })
    // Handle Print
    this.handlePrint()
  },
  methods: {
    //  Table row total
    itemAmount(row) {
      let newAmount = row.amount
      if (row.extraItemDoc && row.extraItemDoc.length) {
        row.extraItemDoc.forEach(o => {
          newAmount += o.amount
        })
      }

      return newAmount
    },
    // Get Customer
    getCurrentGuest(guestId) {
      findOneGuest
        .callPromise({ selector: { _id: guestId } })
        .then(result => {
          if (result) {
            this.guestName = result.name
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Table & Floor
    getCurrentTable(tableId) {
      findOneTable
        .callPromise({ _id: tableId })
        .then(result => {
          if (result) {
            this.tableName = result.name
            this.getCurrentFloor(result.floorId)
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Floor
    getCurrentFloor(floorId) {
      findOneFloor
        .callPromise({ _id: floorId })
        .then(result => {
          if (result) {
            this.floorName = result.name
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Employee
    getCurrentEmployee(employeeId) {
      findOneUser
        .callPromise({ _id: employeeId })
        .then(result => {
          if (result) {
            this.employeeName = result.profile.fullName
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Company Detail
    getCompany() {
      findOneCompany
        .callPromise({})
        .then(result => {
          if (result) {
            this.companyInfo = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Receipt
    getReceipt(receiptId) {
      if (this.receiptPrint == true) {
        findOneSaleReceipt
          .callPromise({ selector: { _id: receiptId } })
          .then(result => {
            if (result) {
              this.outDate = moment(result.date).format('DD/MM/YY hh:mm A')
              this.receiptDoc = result
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    },
    // Print
    handlePrint() {
      this.$nextTick(() => {
        let loadingInstance = this.$loading({
          target: '.el-dialog',
        })
        setTimeout(() => {
          this.d.print(document.getElementById('print-area'), this.printStyle)
          loadingInstance.close()
        }, 500)
      })
    },

    headerTableRowClass() {
      return 'header-row-table-invoice'
    },

    headerTableCellClass({ column }) {
      if (column.property == 'itemName') {
        return 'text-left'
      } else if (column.property == 'qty') {
        return 'text-center'
      } else {
        return 'text-right'
      }
    },

    rowClassName() {
      return 'row-table-invoice'
    },

    cellClassName({ column }) {
      if (column.property == 'itemName') {
        return ''
      } else if (column.property == 'qty') {
        return 'cell-table-invoice-center'
      } else {
        return 'cell-table-invoice'
      }
    },
  },
}
</script>

<style lang="less" scoped>
@import '{}/../../styles/invoiceStyle.less';
</style>
