<template>
  <div>
    <div
      id="print-area"
      class="invoice-container"
    >
      <div class="table-content ">
        <div class="left-side">
          <p class="text left-size-text">
            លេខ:
            <span class="span-text">{{ orderDoc._id }}</span>
          </p>
          <p class="text left-size-text">
            អតិថិជន:
            <span class="span-text">{{ guestName }}</span>
          </p>
          <p class="text left-size-text">
            កាលបរិច្ឆេទ:
            <span class="span-text">{{ date }}</span>
          </p>
        </div>

        <div class="right-side">
          <p class="text right-size-text">
            ជាន់:
            <span class="span-text">{{ floorName }}</span>
          </p>
          <p class="text right-size-text">
            តុ:
            <span class="span-text">{{ tableName }}</span>
          </p>
          <p class="text right-size-text">
            បុគ្គលិក:
            <span class="span-text">{{ employeeName }}</span>
          </p>
        </div>

        <hr style="	border-top: 1px solid #8c8b8b;">
        <el-table
          :data="orderList"
          :header-row-class-name="headerTableRowClass"
          :header-cell-class-name="headerTableCellClass"
          :row-class-name="rowClassName"
          :cell-class-name="cellClassName"
        >
          <el-table-column
            label="ឈ្មោះ"
            prop="itemName"
          >
            <template slot-scope="scope">
              <!-- Name -->
              <p class="order-name-text">{{ scope.row.itemName }}
                <!-- If Extra Food -->
                <span v-if="scope.row.extraItemDoc && scope.row.extraItemDoc.length">
                  <span
                    v-for="item in scope.row.extraItemDoc"
                    :key="item._id"
                  > + {{ item.itemName }}
                  </span>
                </span>
              </p>
            </template>
          </el-table-column>
          <el-table-column
            label="ចំនួន"
            prop="qty"
            width="40px"
          ></el-table-column>
        </el-table>
      </div>

      <div class="footer">
        <hr class="hr-bottom">
        <p
          class="power-by-text"
          @click="handlePrint"
        >Powered by Rabbit, Tel: 053 50 66 777</p>
      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import Printd from 'printd'

import reportKitchenPrintStyle from '../styles/report-kitchen-print.js'

// Find methods
import { findOneGuest } from '../../api/guests/methods'
import { findOneTable } from '../../api/tables/methods'
import { findOneFloor } from '../../api//floors/methods'
import { findOneUser } from '../../../../api/users/methods'
// import Company info
import { findOneCompany } from '../../../../api/company/methods'

export default {
  name: 'Invocie',
  data() {
    return {
      //Dilog
      closeDialogButton: true,
      fullScreenDialog: true,

      // Doc
      receiptId: '',
      orderDoc: [],
      receiptDoc: '',
      receiptPrint: '',
      fromSaleData: null,
      exchange: '',
      baseCurrency: null,
      guestName: '',
      tableName: '',
      floorName: '',
      employeeName: '',
      orderList: [],
      date: moment(new Date()).format('DD/MM/YY HH:mm'),
      // Company info
      companyInfo: {
        general: {
          name: '',
          telephone: '',
          address: '',
        },
      },
      d: null,
      printStyle: reportKitchenPrintStyle,
    }
  },
  computed: {},
  created() {
    this.orderDoc = this.$route.params.orderDoc
    this.orderList = this.$route.params.orderList
  },
  mounted() {
    // Get getCurrentGuest
    this.getCurrentGuest(this.orderDoc.guestId)
    // Get getCurrentTable
    this.getCurrentTable(this.orderDoc.tableId)
    // Get getCurrentEmployee
    this.getCurrentEmployee(this.orderDoc.employeeId)
    // Gety company info
    this.getCompany()

    // Printd
    this.d = new Printd()
    const { contentWindow } = this.d.getIFrame()
    contentWindow.addEventListener('afterprint', () => {
      this.$router.push({
        name: 'rest.sale',
        params: {
          table: this.orderDoc.tableId,
          invoiceId: this.orderDoc._id,
          employeeId: this.orderDoc.employeeId,
          guestId: this.$route.params.guestId,
        },
      })
    })

    // Handle Print
    this.handlePrint()
  },
  methods: {
    // Get Customer
    getCurrentGuest(guestId) {
      findOneGuest
        .callPromise({ selector: { _id: guestId } })
        .then(result => {
          if (result) {
            this.guestName = result.name
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Table & Floor
    getCurrentTable(tableId) {
      findOneTable
        .callPromise({ _id: tableId })
        .then(result => {
          if (result) {
            this.tableName = result.name
            this.getCurrentFloor(result.floorId)
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Floor
    getCurrentFloor(floorId) {
      findOneFloor
        .callPromise({ _id: floorId })
        .then(result => {
          if (result) {
            this.floorName = result.name
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Employee
    getCurrentEmployee(employeeId) {
      findOneUser
        .callPromise({ _id: employeeId })
        .then(result => {
          if (result) {
            this.employeeName = result.profile.fullName
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get Company Detail
    getCompany() {
      findOneCompany
        .callPromise({})
        .then(result => {
          if (result) {
            this.companyInfo = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    // Print
    handlePrint() {
      this.$nextTick(() => {
        let loadingInstance = this.$loading({
          target: '.el-dialog',
        })
        setTimeout(() => {
          this.d.print(document.getElementById('print-area'), this.printStyle)
          loadingInstance.close()
        }, 500)
      })
    },

    headerTableRowClass() {
      return 'header-row-table-invoice'
    },

    headerTableCellClass({ column }) {
      if (column.property == 'itemName') {
        return 'text-left'
      } else {
        return 'text-right'
      }
    },

    rowClassName() {
      return 'row-table-invoice'
    },

    cellClassName({ column }) {
      if (column.property == 'itemName') {
        return ''
      } else {
        return 'cell-table-invoice'
      }
    },
  },
}
</script>

<style lang="less" scoped>
@import '{}/../../styles/invoiceStyle.less';
</style>
