<template>
  <div>
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      :inline="true"
      label-width="100px"
    >

      <el-form-item
        :label="$t('rest.formLabel.supplier')"
        prop="supplierId"
      >
        <el-select
          v-model="form.supplierId"
          placeholder="Select"
          filterable
          @change="handleSupplierChange"
        >
          <el-option
            v-for="item in supplierOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.formLabel.date')"
        prop="date"
        label-width="110px"
      >
        <el-date-picker
          v-model="form.date"
          placeholder="Pick date"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item
        :label="$t('rest.formLabel.employee')"
        prop="employeeId"
      >
        <el-select
          v-model="form.employeeId"
          placeholder="Select"
          filterable
        >
          <el-option
            v-for="item in employeeOpts"
            :key="item._id"
            :label="item.profile.fullName"
            :value="item._id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-row>
        <el-col :span="24">

          <!--Sub Items List-->
          <purchase-list
            :items="purchaseInit"
            @item-change="handlePurchaseChange"
          >
          </purchase-list>

        </el-col>
      </el-row>

      <el-form-item style="text-align: right">
        <el-button
          type="primary"
          @click="submitForm"
        >
          {{ $t('rest.btn.save') }}
        </el-button>
        <el-button @click="handleCancel">{{ $t('rest.btn.cancel') }}</el-button>
      </el-form-item>
    </el-form>

  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mapping
import { mapState } from 'vuex'

// Component
import PurchaseList from '../components/PurchaseList.vue'

// Supplier
import { findSuppliers } from '../../api/suppliers/methods'
// Employee
import { findOneUser, findUsers } from '../../../../api/users/methods'
// Purchase
import { findPurchases } from '../../api/purchases/methods'
// Purchase Payment
import { insertPurchasePayments } from '../../api/purchasePayments/methods'

export default {
  name: 'PaymentQuick',
  components: {
    PurchaseList,
  },
  data() {
    return {
      loading: false,
      purchaseInit: [],
      purchaseData: [],
      form: {
        supplierId: '',
        date: new Date(),
        employeeId: '',
      },
      rules: {
        supplierId: [{ required: true, message: 'Supplier is required' }],
        date: [{ required: true, message: 'Date is required' }],
        employeeId: [{ required: true, message: 'Employee is required' }],
      },
      supplierOpts: [],
      employeeOpts: [],
    }
  },
  // Computed
  computed: {
    ...mapState({
      employeeId(state) {
        return state.app.currentUser._id
      },
    }),
  },
  // Watched
  watch: {
    employeeId: {
      handler() {
        this.getEmployee()
      },
      deep: true,
    },
  },
  // Mounted
  mounted() {
    this.getPurchaseData()
    this.getEmployees()
    this.getEmployee()
  },
  // Methods
  methods: {
    // Get Purchase Data
    getPurchaseData() {
      findPurchases
        .callPromise({ selector: { status: { $ne: 'Closed' } } })
        .then(result => {
          if (result) {
            let _ids = []
            _.forEach(result, o => {
              _ids.push(o.supplierId)
            })
            _ids = _.uniq(_ids)
            this.getSuppliers(_ids)
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Get Supplier
    getSuppliers(_ids) {
      this.loading = true
      findSuppliers
        .callPromise({ selector: { _id: { $in: _ids } } })
        .then(result => {
          if (result) {
            this.supplierOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Get Employees
    getEmployees() {
      this.loading = true
      findUsers
        .callPromise({ selector: { username: { $ne: 'super' } } })
        .then(result => {
          if (result) {
            this.employeeOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Get Employee
    getEmployee() {
      this.loading = true
      findOneUser
        .callPromise({ _id: this.employeeId })
        .then(result => {
          if (result) {
            this.form.employeeId = result._id
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Supplier Change
    handleSupplierChange(_id) {
      this.loading = true
      findPurchases
        .callPromise({
          selector: { supplierId: _id, status: { $ne: 'Closed' } },
        })
        .then(result => {
          if (result) {
            this.loading = false
            _.forEach(result, o => {
              o.openAmount = o.total - o.totalPaid
              o.payAmount = 0
              o.memo = ''
              o.date
            })
            result = _.map(
              result,
              _.partialRight(_.pick, ['_id', 'openAmount', 'payAmount', 'memo'])
            )

            this.purchaseInit = result

            if (result.length == 0) {
              this.$message.warning({
                message: "Supplier's invoice are closed",
              })
            }
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Child component change
    handlePurchaseChange(items) {
      this.purchaseData = items
    },
    // Submit
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          // Purchase
          this.purchaseData
          // this form
          this.form.status = ''
          this.form.purchaseId = ''
          // Pick data
          const doc = _.pick(this.form, [
            'date',
            'openAmount',
            'payAmount',
            'status',
            'memo',
            'purchaseId',
            'supplierId',
            'employeeId',
          ])

          this.loading = true
          insertPurchasePayments
            .callPromise({
              doc: doc,
              purchase: this.purchaseData,
            })
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleCancel()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    handleCancel() {
      this.$router.push({ name: 'rest.purchase' })
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';

fieldset {
  margin-bottom: 5px;
}
</style>
