<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      :title="$t('rest.data.title.payment')"
      class="purchase-payment-dialog"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="110px"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item
              :label="$t('rest.tableLabel.date')"
              prop="date"
            >
              <el-date-picker
                v-model="form.date"
                placeholder="Pick date"
                style="width:100%"
              >
              </el-date-picker>
            </el-form-item>

            <el-form-item
              :label="$t('rest.tableLabel.openAmount')"
              class="div-wraper"
            >
              <div class="custom-input">
                <p class="text"> {{ $numeral(form.openAmount).format('0,0.00') }}</p>
              </div>
            </el-form-item>

            <el-form-item
              :label="$t('rest.tableLabel.payAmount')"
              prop="payAmount"
            >
              <el-input-number
                v-model="form.payAmount"
                :autofocus="true"
                :precision="2"
                :min="0"
                :max="form.openAmount"
                controls-position="right"
                style="width:100%"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              :label="$t('rest.tableLabel.employee')"
              prop="employeeId"
            >
              <el-select
                v-model="form.employeeId"
                filterable
                style="width:100%"
              >
                <el-option
                  v-for="list in employeeOpts"
                  :key="list._id"
                  :label="list.profile.fullName"
                  :value="list._id"
                ></el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              :label="$t('rest.tableLabel.memo')"
              prop="memo"
            >
              <el-input
                v-model="form.memo"
                :autosize="{ minRows:5, maxRows: 5}"
                :placeholder="$t('rest.formLabel.descriptionAboutWaive')"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >Save</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>

    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mapping
import { mapState } from 'vuex'

// Purchase methods
import { findOnePurchase } from '../../api/purchases/methods'
// Employee
import { findOneUser, findUsers } from '../../../../api/users/methods'
// Purchase Payment
import { insertPurchasePayment } from '../../api/purchasePayments/methods'

export default {
  name: 'Payment',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    purchaseDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      loading: false,
      form: {
        date: new Date(),
        openAmount: 0,
        payAmount: 0,
        memo: '',
        supplierId: '',
        employeeId: '',
      },
      rules: {
        date: [{ required: true, message: 'Date is required' }],
        openAmount: [{ required: true, message: 'Open amount is required' }],
        payAmount: [
          { required: true, message: 'Pay amount is requirproductDataed' },
        ],
        employeeId: [
          { required: true, message: 'Employee Maping is required' },
        ],
      },
      employeeOpts: [],
    }
  },
  // Computed
  computed: {
    ...mapState({
      employeeId(state) {
        return state.app.currentUser._id
      },
    }),
  },
  // Watched
  watch: {
    employeeId: {
      handler() {
        this.getEmployee()
      },
      deep: true,
    },
  },
  // Mounted
  mounted() {
    this.getPurchaseData()
    this.getEmployees()
    this.getEmployee()
  },
  methods: {
    // Get Purchase Data
    getPurchaseData() {
      this.loading = true
      findOnePurchase
        .callPromise({ _id: this.purchaseDoc._id })
        .then(result => {
          if (result) {
            this.form.supplierId = result.purchase.supplierId
            this.form.purchaseId = result.purchase._id
            this.form.openAmount =
              result.purchase.total - result.purchase.totalPaid
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Get Employee
    getEmployees() {
      this.loading = true
      findUsers
        .callPromise({ selector: { username: { $ne: 'super' } } })
        .then(result => {
          if (result) {
            this.employeeOpts = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Get Employee
    getEmployee() {
      this.loading = true
      findOneUser
        .callPromise({ _id: this.employeeId })
        .then(result => {
          if (result) {
            this.form.employeeId = result._id
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Submit form
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          if (this.form.memo != '') {
            this.form.status = 'Waive'
          } else if (this.form.payAmount >= this.form.openAmount) {
            this.form.status = 'Closed'
          } else if (this.form.payAmount == '0' || this.form.payAmount > 0) {
            this.form.status = 'Partial'
          }

          insertPurchasePayment
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleModalClose()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.$router.push({ name: 'rest.purchase' })
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';

fieldset {
  margin-bottom: 5px;
}
.div-wraper {
  height: 34px;
  overflow: hidden;
  margin-bottom: 30px;

  .custom-input {
    border-bottom: 1px solid #dcdfe6;
  }
  .text {
    height: 100%;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
    padding-right: 50px;
    margin: 0;
  }
}
</style>
