<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    >
    </component>

    <!-- Data Table -->
    <data-tables-server
      :data="tableData"
      :total="tableTotal"
      :loading="loading"
      :table-props="tableProps"
      :show-action-bar="false"
      :custom-filters="tableCustomFilters"
      @query-change="tableQueryChange"
    >
      <el-row
        slot="custom-tool-bar"
        :gutter="10"
        style="margin-bottom: 10px"
      >
        <el-col :span="10">
          <el-button
            type="primary"
            icon="el-icon-plus"
            @click="addNew"
          >New</el-button>
        </el-col>
        <el-col
          :span="14"
          style="text-align: right"
        >
          <el-date-picker
            v-model="tableSearchDate"
            :picker-options="pickerOpts"
            type="daterange"
            format="dd/MM/yyyy"
            start-placeholder="Start"
            end-placeholder="End"
          >
          </el-date-picker>
          <el-button
            type="default"
            icon="el-icon-search"
            @click="tableSearchClick"
          >Search</el-button>
        </el-col>
      </el-row>

      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span :class="softRemoveClassName(scope.row.removed)">
            <span v-if="title.prop === 'postDate'">
              {{ $moment(scope.row.postDate).format('DD/MM/YYY') }}
            </span>
            <span v-else>{{ scope.row[title.prop] }}</span>
          </span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables-server>
  </div>
</template>

<script>
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
//import softRemoveMixin from '/imports/ui/mixins/soft-remove'
//import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

import {
  dataTablePosts,
  //softRemovePost,
  //restorePost,
  removePost,
} from '../../api/posts/methods'

import PostNew from './PostNew.vue'
import PostEdit from './PostEdit.vue'

export default {
  name: 'Post',
  components: { TableAction, PostNew, PostEdit },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      tableTotal: 0,
      tableSearchDate: null,
      pickerOpts: dateRangePickerOpts,
      tableCustomFilters: [{ props: 'tableSearch', vals: 0 }],
      tableTitles: [
        { prop: '_id', label: 'ID' },
        { prop: 'postDate', label: 'Date' },
        { prop: 'title', label: 'Title' },
        { prop: 'body', label: 'Body' },
        { prop: 'memo', label: 'Memo' },
        { prop: 'categoryIds', label: 'Category' },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'postDate',
      order: 'descending',
    }
    this.tableInitialQuery.sortInfo = {
      prop: 'postDate',
      order: 'descending',
    }
  },
  mounted() {
    this.getData(this.tableInitialQuery)
  },
  methods: {
    getData(tableQuery) {
      this.loading = true
      // Additional params
      const params = {
        date: this.tableSearchDate,
      }
      console.log('getData -> query, params', tableQuery, params)

      dataTablePosts
        .callPromise({ tableQuery, params })
        .then(result => {
          this.tableData = result.data
          this.tableTotal = result.total
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    tableSearchClick() {
      this.tableCustomFilters[0].vals += 1
    },
    tableQueryChange(tableQuery) {
      this.getData(tableQuery)
    },
    // Add new
    addNew() {
      this.currentModal = PostNew
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        // actions.push('restore')
        actions.push('remove')
      } else {
        actions.push('remove')
        // actions.push('softRemove')
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.updateDoc = row
      this.currentModal = PostEdit
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    // softRemove(row) {
    //   this.$_softRemoveMixin({
    //     meteorMethod: softRemovePost,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     successParams: this.tableInitialQuery,
    //     loading: 'loading',
    //     title: row.title,
    //   })
    // },
    // restore(row) {
    //   this.$_restoreMixin({
    //     meteorMethod: restorePost,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     successParams: this.tableInitialQuery,
    //     loading: 'loading',
    //     title: row.title,
    //   })
    // },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removePost,
        selector: { _id: row._id },
        successMethod: 'getData',
        successParams: this.tableInitialQuery,
        loading: 'loading',
        title: row.title,
      })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData(this.tableInitialQuery)
      })
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
</style>