<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    >
    </component>

    <el-row
      :gutter="10"
      style="margin-bottom: 10px"
    >
      <el-col :span="24">
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleNew('Product')"
        >{{ $t('rest.setting.title.product') }}</el-button>

        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleNew('Dish')"
        >{{ $t('rest.setting.title.dish') }}</el-button>
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleNew('Catalog')"
        >{{ $t('rest.setting.title.catalog') }}</el-button>

        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleNew('ExtraFood')"
        >{{ $t('rest.setting.title.extraFood') }}</el-button>

        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleNew('Service')"
        >{{ $t('rest.setting.title.service') }}</el-button>
      </el-col>
    </el-row>

    <!-- Table filter -->
    <el-row
      :gutter="20"
      align="middle"
      type="flex"
      style="margin-top:20px;"
    >
      <el-col :span="6">
        <el-input
          v-model="filters[0].value"
          :placeholder="$t('rest.formLabel.search')"
        ></el-input>
      </el-col>

      <el-col :span="15">
        <el-checkbox-group v-model="filters[1].value">
          <el-checkbox
            v-for="item in filterProduct"
            :label="item.label"
            :key="item.label"
          >{{ item.value }}</el-checkbox>
        </el-checkbox-group>
      </el-col>
    </el-row>

    <!-- Data Table -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :filters="filters"
    >

      <el-table-column
        :label="$t('rest.tableLabel.name')"
        prop="name"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.category')"
        prop="categoryName"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.type')"
        prop="type"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.status')"
        prop="status"
        sortable="custom"
      >
        <template slot-scope="scope">
          <el-button
            :type="scope.row.status == 'Active' ? 'primary':'danger' "
            size="mini"
            @click="handleStatusChange(scope.row)"
          >{{ scope.row.status }}</el-button>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.cost')"
        prop="cost"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span>{{ $numeral(scope.row.cost).format('0.00') }} {{ baseCurrency.symbol }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.price')"
        prop="price"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span>{{ $numeral(scope.row.price).format('0.00') }} {{ baseCurrency.symbol }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.barcode')"
        prop="barcode"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.color')"
        prop="color"
      >
        <template slot-scope="scope">
          <div
            :style="{ 'background-color':scope.row.color }"
            class="color-box"
          ></div>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <el-dropdown
            trigger="click"
            @command="handleCommand"
          >
            <span class="el-dropdown-link">
              <i class="fa fa-bars"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <span v-if="scope.row.removed">
              </span>
              <span v-else>
                <el-dropdown-item :command="{action: 'edit', row: scope.row}">{{ $t('rest.tableLabel.edit') }}</el-dropdown-item>
                <el-dropdown-item :command="{action: 'remove', row: scope.row}">
                  {{ $t('rest.tableLabel.remove') }}
                </el-dropdown-item>
              </span>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import numeral from 'numeral'
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

// Mapping
import { mapState } from 'vuex'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

// Component(s)
import ProductNew from './ProductNew.vue'
import ProductEdit from './ProductEdit.vue'
import DishNew from './DishNew.vue'
import DishEdit from './DishEdit.vue'
import ServiceNew from './ServiceNew.vue'
import ServiceEdit from './ServiceEdit.vue'
import CatalogNew from './CatalogNew.vue'
import CatalogEdit from './CatalogEdit.vue'
import ExtraFoodNew from './ExtraFoodNew.vue'
import ExtraFoodEdit from './ExtraFoodEdit.vue'

import {
  findProductAggregate,
  updateProductStatus,
  removeProduct,
  usedProduct,
} from '../../api/products/methods.js'

export default {
  name: 'Product',
  components: {
    TableAction,
    ProductNew,
    ProductEdit,
    DishNew,
    DishEdit,
    ServiceNew,
    ServiceEdit,
    CatalogNew,
    CatalogEdit,
    ExtraFoodNew,
    ExtraFoodEdit,
  },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      // Table filter
      filters: [
        {
          value: '',
          prop: ['name', 'categoryName'],
        },
        {
          value: [],
          prop: ['type'],
        },
      ],
      tableSearchDate: null,
      tableCustomFilters: [{ props: 'tableSearch', vals: 0 }],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
    filterProduct() {
      let list = [
        { label: 'Product', value: this.$t('rest.setting.title.product') },
        { label: 'Dish', value: this.$t('rest.setting.title.dish') },
        { label: 'Catalog', value: this.$t('rest.setting.title.catalog') },
        { label: 'ExtraFood', value: this.$t('rest.setting.title.extraFood') },
        { label: 'Service', value: this.$t('rest.setting.title.service') },
      ]
      return list
    },
  },
  created() {},
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      let params = {
        type: ['Product', 'Catalog', 'Dish', 'Service', 'ExtraFood'],
      }
      findProductAggregate
        .callPromise(params)
        .then(result => {
          if (result) {
            this.tableData = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    tableSearchClick() {
      this.tableCustomFilters[0].vals += 1
    },
    // Add new
    handleNew(type) {
      if (type == 'Product') {
        this.currentModal = ProductNew
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (type == 'Dish') {
        this.currentModal = DishNew
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (type == 'Service') {
        this.currentModal = ServiceNew
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (type == 'Catalog') {
        this.currentModal = CatalogNew
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (type == 'ExtraFood') {
        this.currentModal = ExtraFoodNew
        this.$nextTick(() => {
          this.modalVisible = true
        })
      }
    },

    // Action
    handleCommand(command) {
      this[command.action](command.row)
    },
    edit(row) {
      if (row.type == 'Product') {
        this.updateDoc = row
        this.currentModal = ProductEdit
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (row.type == 'Dish') {
        this.updateDoc = row

        this.currentModal = DishEdit
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (row.type == 'Service') {
        this.updateDoc = row
        this.currentModal = ServiceEdit
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (row.type == 'Catalog') {
        this.updateDoc = row
        this.currentModal = CatalogEdit
        this.$nextTick(() => {
          this.modalVisible = true
        })
      } else if (row.type == 'ExtraFood') {
        this.updateDoc = row
        this.currentModal = ExtraFoodEdit
        this.$nextTick(() => {
          this.modalVisible = true
        })
      }
    },
    handleStatusChange(row) {
      let doc = {
        _id: row._id,
      }
      if (row.status == 'Active') {
        doc.status = 'Inactive'
      } else {
        doc.status = 'Active'
      }
      this.$confirm(
        `${this.$t('rest.messages.confirmStatusChange')} ${doc.status}${this.$t(
          'rest.messages.askForContinue'
        )}`,
        this.$t('rest.messages.warning'),
        {
          confirmButtonText: this.$t('rest.btn.ok'),
          cancelButtonText: this.$t('rest.btn.cancel'),
          type: 'warning',
        }
      )
        .then(() => {
          updateProductStatus
            .callPromise({ doc: doc })
            .then(result => {
              if (result) {
                this.getData()
                this.loading = false
                Msg.success('Success')
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        })
        .catch(() => {
          Msg.warning(this.$t('rest.messages.transactionCanceled'))
        })
    },
    remove(row) {
      usedProduct
        .callPromise(row)
        .then(result => {
          if (result) {
            if (result.used == false) {
              this.$_removeMixin({
                meteorMethod: removeProduct,
                selector: { _id: row._id, photo: row.photo },
                successMethod: 'getData',
                loading: 'loading',
                title: row.code,
              })
            } else if (result.used == true) {
              this.$message({
                type: 'error',
                duration: 7000,
                showClose: true,
                message: this.$t('rest.messages.usedItem'),
              })
            }
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';

.color-box {
  width: 20px;
  height: 20px;
}
</style>