<template>
  <div>
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      :inline="true"
      label-width="120px"
    >
      <el-form-item
        :label="$t('rest.formLabel.date')"
        prop="date"
      >
        <el-date-picker
          v-model="form.date"
          type="datetime"
          style="width:400px"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item
        :label="$t('rest.formLabel.type')"
        prop="type"
      >
        <el-select
          v-model="form.type"
          style="width:400px"
        >
          <el-option
            v-for="item in typeOpts"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.formLabel.supplier')"
        prop="supplierId"
      >
        <el-select
          v-model="form.supplierId"
          filterable
          style="width:400px"
        >
          <el-option
            v-for="item in supplierOpts"
            :key="item._id"
            :label="item.name"
            :value="item._id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item
        :label="$t('rest.formLabel.employee')"
        prop="employeeId"
      >
        <el-select
          v-model="form.employeeId"
          style="width:400px"
        >
          <el-option
            v-for="item in employeeOpts"
            :key="item._id"
            :label="item.profile.fullName"
            :value="item._id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-row>
        <el-col :span="24">
          <!--Sub Items List-->
          <product-list
            :items="productInit"
            :product-opts="productOpts"
            :submit-event="submitEvent"
            @item-change="handleProductChange"
            @item-total="handleTotalChange"
            @submit-form="submitForm"
          >
          </product-list>
        </el-col>

        <el-col
          :span="4"
          :offset="20"
        >
          <p class="total-text-purchase">{{ $t('rest.formLabel.total') }}: {{ $numeral(form.total).format('0,0.00') }} </p>
        </el-col>
      </el-row>

      <el-form-item style="text-align: right;width:100%;margin-top:10px;">
        <el-button
          type="primary"
          @click="submitEvent++"
        >
          {{ $t('rest.btn.save') }}
        </el-button>
        <el-button @click="handleCancel">{{ $t('rest.btn.cancel') }}</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mapping
import { mapState } from 'vuex'

// Component
import ProductList from '../components/ProductList.vue'

//Supplier
import { findSuppliers } from '../../api/suppliers/methods'

// Employee methods
import { findOneUser, findUsers } from '../../../../api/users/methods'
// Product methods
import { findProducts } from '../../api/products/methods'
// Purchase methods
import { insertPurchase } from '../../api/purchases/methods'

export default {
  name: 'PurchaseNew',
  components: {
    ProductList,
  },
  data() {
    return {
      loading: false,
      productInit: [],
      productOpts: [],
      submitEvent: 0,
      form: {
        date: new Date(),
        type: '',
        statusDate: {},

        total: 0,
        totalPaid: 0,
        supplierId: '',
        employeeId: this.employeeId,
      },

      rules: {
        date: [{ required: true, message: 'Date is required' }],
        type: [{ required: true, message: 'Type is required' }],

        total: [{ required: true, message: 'Total is required' }],
        supplierId: [{ required: true, message: 'Supplier is required' }],
        employeeId: [
          { required: true, message: 'Employee Maping is required' },
        ],
      },
      typeOpts: [
        { label: 'Cash', value: 'Cash' },
        { label: 'Bill', value: 'Bill' },
      ],
      supplierOpts: [],
      employeeOpts: [],
    }
  },
  computed: {
    ...mapState({
      employeeId(state) {
        return state.app.currentUser._id
      },
    }),
  },
  watch: {
    employeeId: {
      handler(val) {
        this.getEmployee()
      },
      deep: true,
    },
  },
  mounted() {
    this.getSuppliers()
    this.getEmployees()
    this.getEmployee()
    this.getProducts()
    // get init
    this.initProducts()
  },
  methods: {
    getSuppliers() {
      this.loading = true
      findSuppliers
        .callPromise({})
        .then(result => {
          this.supplierOpts = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Get employees
    getEmployees() {
      findUsers
        .callPromise({ selector: { username: { $ne: 'super' } } })
        .then(result => {
          if (result) {
            this.employeeOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    // Get employee
    getEmployee() {
      findOneUser
        .callPromise({ _id: this.employeeId })
        .then(result => {
          if (result) {
            this.form.employeeId = result._id
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    // Get products
    getProducts() {
      this.loading = true
      findProducts
        .callPromise({
          selector: {
            type: { $in: ['Product', 'Ingredient'] },
            status: 'Active',
          },
        })
        .then(result => {
          this.productOpts = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // get init
    initProducts() {
      this.productInit = [
        {
          productId: '',
          qty: 1,
          cost: 0,
          amount: 0,
        },
      ]
    },
    // Child component change
    handleProductChange(items) {
      this.productData = items
    },
    // Child Amount change
    handleTotalChange(total) {
      this.form.total = total
    },
    submitForm(childValidate) {
      this.$refs['form'].validate(valid => {
        if (valid && childValidate) {
          this.loading = true

          // Purchase
          if (
            this.form.totalPaid >= this.form.total ||
            this.form.type == 'Cash'
          ) {
            this.form.status = 'Closed'
            this.form.statusDate.close = this.form.date
            this.form.totalPaid = this.form.total
          } else if (this.form.totalPaid > 0) {
            this.form.status = 'Partial'
            this.form.statusDate.partial = this.form.date
            this.form.totalPaid = 0
          } else if (this.form.totalPaid == 0) {
            this.form.status = 'Open'
            this.form.statusDate.open = this.form.date
            this.form.totalPaid = 0
          }
          this.productData = this.productData || []

          // Insert
          insertPurchase
            .callPromise({
              doc: this.form,
              details: this.productData,
            })
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.resetForm()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          this.loading = false
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
      this.form.total = 0
      this.initProducts()
    },
    handleCancel() {
      this.$router.push({ name: 'rest.purchase' })
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';

fieldset {
  margin-bottom: 5px;
}
</style>
