<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :update-doc="updateDoc"
      :purchase-doc="purchaseDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    >
    </component>

    <el-row
      slot="custom-tool-bar"
      :gutter="10"
      style="margin-bottom: 10px"
    >
      <el-col :span="12">
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="handleAddNew"
        >{{ $t('rest.formLabel.new') }}</el-button>
        <!-- Payment -->
        <el-button
          type="primary"
          icon="el-icon-document"
          @click="handlePayment"
        >{{ $t('rest.data.title.payment') }}</el-button>
      </el-col>
    </el-row>

    <!-- Table filter -->
    <el-row
      :gutter="20"
      align="middle"
      type="flex"
      style="margin-top:20px;"
    >
      <el-col :span="6">
        <el-input
          v-model="filters[0].value"
          :placeholder="$t('rest.formLabel.search')"
        ></el-input>
      </el-col>
    </el-row>

    <!-- Data Table -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :filters="filters"
    >
      <el-table-column
        :label="$t('rest.tableLabel.purchase')"
        prop="_id"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.date')"
        prop="date"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ getDate(scope.row.date) }}
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.status')"
        prop="status"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span v-if="scope.row.status == 'Open'">
            <el-tag
              :hit="true"
              type="success"
              disable-transitions
            >{{ scope.row.status }}</el-tag>
          </span>
          <span v-else-if="scope.row.status == 'Partial'">
            <el-tag
              :hit="true"
              type="warning"
              disable-transitions
            >{{ scope.row.status }}</el-tag>
          </span>
          <span v-else-if="scope.row.status == 'Closed'">
            <el-tag
              :hit="true"
              type="danger"
              disable-transitions
            >{{ scope.row.status }}</el-tag>
          </span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.supplier')"
        prop="supplierName"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.type')"
        prop="type"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.total')"
        prop="total"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ $numeral(scope.row.total).format('0,0.00') }} {{ baseCurrency.symbol }}
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('rest.tableLabel.totalPaid')"
        prop="totalPaid"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ $numeral(scope.row.totalPaid).format('0,0.00') }} {{ baseCurrency.symbol }}
        </template>
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import numeral from 'numeral'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// import { dateRangePickerOpts } from '/imports/ui/lib/date-picker-opts'

// Mapping
import { mapState } from 'vuex'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
//import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'

import {
  findPurchaseAggregate,
  removePurchase,
} from '../../api/purchases/methods.js'

// Component(s)
import PurchaseNew from './PurchaseNew.vue'
import PurchaseEdit from './PurchaseEdit.vue'
import Payment from './Payment.vue'

export default {
  name: 'Purchase',
  components: { TableAction, PurchaseNew, PurchaseEdit, Payment },
  mixins: [dataTablesMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      // Filter
      filters: [
        {
          value: '',
          filterFn: (row, filter) => {
            return Object.keys(row).some(prop => {
              if (prop === 'date') {
                return this.getDate(row.date).indexOf(filter.value) > -1
              } else if (
                prop === '_id' ||
                prop === 'supplierName' ||
                prop === 'type'
              ) {
                return (
                  row[prop].toLowerCase().indexOf(filter.value.toLowerCase()) >
                  -1
                )
              }
            })
          },
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
      purchaseDoc: null,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),

    // Check if user == admin || super
    userIsInRole() {
      return this.$store.getters['app/userIsInRole'](['super', 'admin'])
    },
  },
  created() {
    // Extend data tables props (Mixin)
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findPurchaseAggregate
        .callPromise({}, { sort: { date: 1, _id: 1 } })
        .then(result => {
          if (result) {
            this.tableData = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Date filter
    getDate(date) {
      let elDate = new Date(date)
      return `${elDate.getFullYear()}/${elDate.getMonth() +
        1}/${elDate.getDate()} ${elDate.getHours()}:${elDate.getMinutes()}`
    },

    // Add new
    handleAddNew() {
      this.loading = false
      this.$router.push({ name: 'rest.purchaseNew' })
    },
    // Payment
    handlePayment() {
      this.$router.push({ name: 'rest.paymentQuick' })
    },

    // Table Action
    actionsList(row) {
      let actions = []
      if (row.status != 'Closed') {
        actions.push({
          label: this.$t('rest.tableLabel.payment'),
          value: 'payment',
        })
      }
      if (row.status != 'Closed') {
        actions.push({ label: this.$t('rest.tableLabel.edit'), value: 'edit' })
      }

      actions.push({
        label: this.$t('rest.tableLabel.remove'),
        value: 'remove',
      })

      return actions
    },

    tableActionClick(command) {
      this[command.action](command.row)
    },
    payment(row) {
      this.purchaseDoc = row
      this.currentModal = Payment
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    edit(row) {
      this.$router.push({ name: 'rest.purchaseEdit', params: { _id: row._id } })
    },
    remove(row) {
      if (this.userIsInRole == true) {
        this.$_removeMixin({
          meteorMethod: removePurchase,
          selector: row._id,
          successMethod: 'getData',
          loading: 'loading',
          title: row.title,
        })
      } else {
        Notify.error({ message: this.$t('rest.messages.accessDenied') })
      }
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';
</style>