<template>
  <div>
    <div class="content-container">
      <el-tabs v-model="floorList">
        <!-- Tab -->
        <el-tab-pane
          :label="$t('rest.saleTable.all')"
          name="All Floor"
          class="table-tab-content"
        >
          <div class="table-list-scroller">
            <!-- Card -->
            <div
              v-for="table in filterTables"
              :key="table._id"
              class="table"
              @click="clickTable(table)"
            >
              <el-card
                :class="tableCard(table)"
                class="table-card"
                shadow="hover"
              >
                <div
                  :class="tableStatus(table)"
                  class="table-header"
                >
                  <i :class="tableIconStatus(table)"></i>
                  <i class="table-header-text"> {{ statusText(table) }} ({{ table.numOfGuest }})</i>
                  <i class="guest-count">
                    <i class="fas fa-users"></i>{{ table.guestCount }}</i>
                </div>
                <div class="table-name-panel">
                  <span class="table-name">{{ table.floorName }} : {{ table.name }}</span>
                </div>
              </el-card>
            </div>

          </div>
        </el-tab-pane>

        <el-tab-pane
          v-for="floor in filterFloors"
          :key="floor._id"
          :label="floor.name"
          :name="floor.name"
          class="table-tab-content"
        >
          <div class="table-list-scroller">

            <div
              v-for="table in floor.tableDocs"
              :key="table._id"
              class="table"
              @click="clickTable(table)"
            >
              <el-card
                :class="tableCard(table)"
                class="table-card"
                shadow="hover"
              >
                <div
                  :class="tableStatus(table)"
                  class="table-header"
                >
                  <i :class="tableIconStatus(table)"></i>
                  <i class="table-header-text"> {{ statusText(table) }} ({{ table.numOfGuest }})</i>
                  <i class="guest-count">
                    <i class="fas fa-users"></i>{{ table.guestCount }}</i>

                </div>
                <div class="table-name-panel">
                  <span class="table-name"> {{ table.name }}</span>
                </div>
              </el-card>
            </div>
            <!-- End card -->

          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- Dialog -->
    <el-dialog
      :visible.sync="dialogVisible"
      title="Warning"
      width="60%"
    >
      <span>You need to insert more information.</span>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">Cancel</el-button>

        <el-button
          v-if="products === 0"
          type="primary"
          @click="addProduct"
        >Add Product</el-button>

        <el-button
          v-if="exchange === 0"
          type="primary"
          @click="addExhange"
        >Add Exchange</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// Mapping
import { mapState } from 'vuex'

// Floor Methods
import { findTableAndFloor } from '../../api/tables/methods.js'
// Product
import { saleRequire } from '../../utils/sale-required-methods'
// Guest
import { findOneGuest } from '../../api/guests/methods'

export default {
  name: 'SaleTable',
  data() {
    return {
      dialogVisible: false,
      loading: false,
      // Employee
      generalGuestId: '',
      products: 0,
      exchange: 0,
      floorList: 'All Floor',
      filterFloors: [],
      filterTables: [],
    }
  },
  computed: {
    ...mapState({
      employeeId(state) {
        if (state.app.currentUser._id) {
          return state.app.currentUser._id
        }
      },
    }),
  },
  watch: {},
  mounted() {
    this.getSaleRequire()
    this.getGeneralGuest()
    this.getTablesAndFloors()
  },
  destroyed() {},
  methods: {
    // Get General guest Id
    getGeneralGuest() {
      findOneGuest
        .callPromise({ selector: { name: 'General' } })
        .then(result => {
          if (result) {
            this.generalGuestId = result._id
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    // Get product
    getSaleRequire() {
      saleRequire
        .callPromise({
          selector: { type: { $in: ['Product', 'Dish'] }, status: 'Active' },
        })
        .then(result => {
          if (result) {
            this.products = result.product
            this.exchange = result.exchange
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    // Get table and Floor
    getTablesAndFloors() {
      this.loading = true
      findTableAndFloor
        .callPromise({})
        .then(result => {
          if (result && result.filterFloors) {
            this.filterFloors = result.filterFloors
            this.filterTables = result.filterTables
            // Stop loading
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          // Notify.error({ message: error })
        })
    },

    clickTable(table) {
      if (this.products > 0 && this.exchange > 0) {
        this.$router.push({
          name: 'rest.sale',
          params: {
            table: table._id,
            employeeId: this.employeeId,
            guestId: this.generalGuestId,
          },
        })
      } else {
        this.dialogVisible = true
      }
    },

    addProduct() {
      this.$router.push({
        name: 'rest.product',
      })
    },

    addExhange() {
      this.$router.push({
        name: 'app.exchange',
      })
    },
    // Table style

    tableCard(table) {
      if (table.guestCount > 0) {
        return 'table-card-close'
      } else if (table.total > 0) {
        return 'table-card-busy'
      } else {
        return 'table-card-open'
      }
    },

    statusText(table) {
      if (table.guestCount > 0) {
        return this.$t('rest.saleTable.card.full')
      } else if (table.total > 0) {
        return this.$t('rest.saleTable.card.busy')
      } else {
        return this.$t('rest.saleTable.card.free')
      }
    },

    tableStatus(table) {
      if (table.guestCount > 0) {
        return 'status-close'
      } else if (table.total > 0) {
        return 'status-busy'
      } else {
        return 'status-open'
      }
    },

    tableIconStatus(table) {
      if (table.guestCount > 0) {
        return 'el-icon-error table-icon'
      } else if (table.total > 0) {
        return 'el-icon-warning  table-icon'
      } else {
        return 'el-icon-success table-icon'
      }
    },
  },
}
</script>

<style lang="less" scoped>
// Style
@import '{}/../../styles/tableStyle.less';
</style>