<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      :title="$t('rest.sale.customerCount')"
      width="40%"
    >
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="60px"
        label-position="left"
      >
        <el-row>
          <el-col
            :span="12"
            :offset="6"
          >
            <el-form-item
              :label=" $t('rest.tableLabel.customer')"
              prop="numOfGuest"
            >
              <el-input-number
                v-model="form.numOfGuest"
                :min="1"
                controls-position="right"
                style="width:100%"
              ></el-input-number>
            </el-form-item>

          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { updateSale } from '../../api/sales/methods'

export default {
  name: 'SaleGuestCount',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
  },
  data() {
    return {
      form: {
        numOfGuest: this.orderDoc.numOfGuest,
      },
      rules: {
        numOfGuest: [
          {
            required: true,
            message: 'Number of guest is required',
            trigger: 'blur',
          },
        ],
      },
    }
  },

  watch: {
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
        this.form.numOfGuest = val.numOfGuest
      },
      deep: true,
    },
  },

  mounted() {},

  methods: {
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          let doc = {
            _id: this.orderDoc._id,
            numOfGuest: this.form.numOfGuest,
          }

          updateSale
            .callPromise({ doc: doc })
            .then(result => {
              if (result) {
                this.getDataChange(result)

                this.handleModalClose()
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          this.loading = false
          return false
        }
      })
    },

    getDataChange(val) {
      this.$emit('get-data', val)
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
</style>
