<template>
  <div>
    <div class="rest-card-list-scroller">
      <div class="rest-card-list">
        <div class="rest-card-container">
          <el-tabs v-model="cardList">
            <!-- Tab -->
            <el-tab-pane
              v-for="item in cardListOpts"
              :key="item.name"
              :label="item.label"
              :name="item.name"
              class="table-tab-content"
            >
              <!-- <transition-group name="bound"> -->
              <!-- ====Printed Sale==== -->
              <div
                v-for="order in cardDoc"
                v-if="cardList == '0'"
                :key="order._id"
                class="table"
                @click="clickPrintedOrder(order)"
              >

                <el-card
                  class="rest-card"
                  shadow="hover"
                >
                  <p class="invoice-text">{{ order._id }}</p>
                  <div class="content">
                    <div class="wrapper">
                      <span class="label">ជាន់​:​
                        <span>{{ order.floorDoc.name }}</span>
                      </span>
                    </div>
                    <div class="wrapper">
                      <span class="label">តុ:​
                        <span>{{ order.tableDoc.name }}</span>
                      </span>
                    </div>
                    <div class="wrapper">
                      <span class="label">សរុប:
                        <span>{{ $numeral(order.total).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
                      </span>
                    </div>
                  </div>
                  <!-- End content -->
                </el-card>
              </div>
              <!-- <end loop -->

              <!-- ====Open Sale==== -->
              <div
                v-for="order in cardDoc"
                v-if="cardList == '1'"
                :key="order._id"
                class="table"
                @click="clickPrintedOrder(order)"
              >

                <el-card
                  class="rest-card border-open"
                  shadow="hover"
                >
                  <p class="invoice-text background-open">{{ order._id }}</p>
                  <div class="content">
                    <div class="wrapper">
                      <span class="label">ជាន់​:​
                        <span class="open-text">{{ order.floorDoc.name }}</span>
                      </span>
                    </div>
                    <div class="wrapper">
                      <span class="label">តុ:​
                        <span class="open-text">{{ order.tableDoc.name }}</span>
                      </span>
                    </div>
                    <div class="wrapper">
                      <span class="label">សរុប:
                        <span class="open-text">{{ $numeral(order.total).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
                      </span>
                    </div>
                  </div>
                  <!-- End content -->
                </el-card>
              </div>
              <!-- <end loop -->

              <!-- ====Closed Sale==== -->
              <div
                v-for="order in cardDoc"
                v-if="cardList == '2'"
                :key="order._id"
                class="table"
                @click="clickClosedOrder(order)"
              >

                <el-card
                  class="rest-card border-closed"
                  shadow="hover"
                >
                  <p class="invoice-text background-closed">{{ order._id }}</p>
                  <div class="content">
                    <div class="wrapper">
                      <span class="label">ជាន់​:​
                        <span class="closed-text">{{ order.floorDoc.name }}</span>
                      </span>
                    </div>
                    <div class="wrapper">
                      <span class="label">តុ:​
                        <span class="closed-text">{{ order.tableDoc.name }}</span>
                      </span>
                    </div>
                    <div class="wrapper">
                      <span class="label">សរុប:
                        <span class="closed-text">{{ $numeral(order.total).format('0,0.00') }} {{ baseCurrency.symbol }}</span>
                      </span>
                    </div>
                  </div>
                  <!-- End content -->
                </el-card>
              </div>
              <!-- <end loop -->
              <!-- </transition-group> -->
              <!-- End transition -->
            </el-tab-pane>
          </el-tabs>
          <!-- End tab -->
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import moment from 'moment'
import _ from 'lodash'

// Notify
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// Mapping
import { mapState } from 'vuex'
// Sale
import { findFilterSale } from '../../api/sales/methods'
// Exchange
import { findOneExchange } from '../../../../api/exchanges/methods'
// Receipt
import { findOneSaleReceipt } from '../../api/saleReceipts/methods'

export default {
  name: 'SaleCard',

  data() {
    return {
      exchange: null,
      cardDoc: [],
      cardList: '0',
      cardListOpts: [
        { name: '0', label: 'បានព្រីនរួច' },
        { name: '1', label: 'កំពុងលក់' },
        { name: '2', label: 'បង់លុយរួច' },
      ],
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
  },
  watch: {
    cardList(val) {
      if (val == '0') {
        this.getPrintedSale()
      } else if (val == '1') {
        this.getOpenSale()
      } else if (val == '2') {
        this.getClosedSale()
      }
    },
  },
  created() {},
  mounted() {
    this.getExchange()
    this.getPrintedSale()
  },
  methods: {
    getExchange() {
      this.loading = true
      findOneExchange
        .callPromise({}, { sort: { _id: -1 }, limit: 1 })
        .then(result => {
          if (result) {
            this.exchange = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getPrintedSale() {
      findFilterSale
        .callPromise({ params: { status: 'Open', billed: { $gt: 0 } } })
        .then(result => {
          if (result) {
            this.cardDoc = result
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getOpenSale() {
      findFilterSale
        .callPromise({ params: { status: 'Open', billed: { $eq: 0 } } })
        .then(result => {
          if (result) {
            this.cardDoc = result
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getClosedSale() {
      findFilterSale
        .callPromise({ params: { status: 'Closed' } })
        .then(result => {
          if (result) {
            this.cardDoc = result.slice(Math.max(result.length - 15, 0))
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    getSaleReceipt(order) {
      findOneSaleReceipt
        .callPromise({ selector: { invoiceId: order._id } })
        .then(result => {
          if (result) {
            this.$router.push({
              name: 'rest.invoice',
              params: {
                receiptId: result._id,
                orderDoc: order,
                exchange: this.exchange,
                baseCurrency: this.baseCurrency,
                receiptPrint: true,
              },
            })
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    clickPrintedOrder(order) {
      this.$router.push({
        name: 'rest.sale',
        params: {
          table: order.tableId,
          invoiceId: order._id,
          employeeId: order.employeeId,
        },
      })
    },
    clickClosedOrder(order) {
      this.getSaleReceipt(order)
    },
  },
}
</script>

<style lang="less" scoped>
.rest-card-list-scroller {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  .rest-card-list {
    padding: 0 0;
    text-align: left;
    margin: 10px 0;
    @media (max-width: 1025px) {
      margin: 0px 0;
    }
    .rest-card-container {
      margin: 10px 0px;
      @media (max-width: 1025px) {
        margin: 0px 0;
      }
    }
  }
}

.table {
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-size: 11px;
  margin: 10px 20px;
  margin-left: 0;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 1025px) {
    margin: 10px 10px;
    margin-left: 0;
  }

  .rest-card {
    position: relative;
    width: 170px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid rgba(255, 140, 0, 0.9);

    @media (max-width: 1025px) {
      width: 150px;
    }
    .invoice-text {
      height: 30px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: 0;
      color: #fff;
      line-height: 30px;
      background-color: rgba(255, 140, 0, 0.9);
    }
    .background-open {
      background-color: #17c964 !important;
    }

    .background-closed {
      background-color: #ff1a0296 !important;
    }
    .content {
      height: 100%;
      padding: 10px;
      @media (max-width: 1025px) {
        padding: 5px 5px;
      }
      .wrapper {
        width: 100%;
        line-height: 20px;
        .label {
          font-size: 14px;
          span {
            position: absolute;
            left: 55px;
            font-size: 14px;
            color: rgba(255, 140, 0, 0.9);
            word-break: break-all;
          }
          .open-text {
            color: #17c964 !important;
          }
          .closed-text {
            color: #ff1a0296 !important;
          }
        }
      }
    }
  }
  .border-open {
    border: 1px solid #17c964 !important;
  }
  .border-closed {
    border: 1px solid #ff1a0296 !important;
  }
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: all 0.2s ease;
// }

// .fade-enter {
//   transform: translateY(-100%);
// }

// .fade-leave-to {
//   // position: absolute;
//   transform: translateY(100%);
// }

// .bound-enter-active,
// .bound-leave-active {
//   transition: all 0.2s ease;
// }

// .bound-enter {
//   transform: translateY(-100%);
// }

// .bound-leave-to {
//   position: absolute;
//   transform: translateY(-100%);
// }
</style>