<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      :title="$t('rest.sale.newCustomer')"
    >
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-row>
          <el-col
            :span="16"
            :offset="3"
          >
            <el-form-item
              :label=" $t('rest.tableLabel.name')"
              prop="name"
            >
              <el-input v-model="form.name"></el-input>
            </el-form-item>

            <el-form-item
              :label=" $t('rest.tableLabel.telephone')"
              prop="telephone"
            >
              <el-input v-model="form.telephone"></el-input>
            </el-form-item>

            <el-form-item
              :label=" $t('rest.tableLabel.address')"
              prop="address"
            >
              <el-input
                v-model="form.address"
                :autosize="{ minRows: 3, maxRows: 4}"
                type="textarea"
              >
              </el-input>
            </el-form-item>

          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { insertGuest } from '../../api/guests/methods'
import { updateSale } from '../../api/sales/methods'

export default {
  name: 'SaleGuestName',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
  },
  data() {
    return {
      form: {
        name: '',
        tel: '',
        address: '',
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Name is required',
            trigger: 'blur',
          },
        ],
      },
    }
  },

  watch: {
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
      },
      deep: true,
    },
  },

  mounted() {},

  methods: {
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          insertGuest
            .callPromise({ doc: this.form })
            .then(result => {
              if (result) {
                this.loading = false
                this.updateCustomer(result)
                Msg.success()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },

    // Update GuestId
    updateCustomer(guestId) {
      this.loading = true

      let doc = {
        _id: this.orderDoc._id,
        guestId: guestId,
      }

      updateSale
        .callPromise({ doc: doc })
        .then(result => {
          if (result) {
            this.getDataChange(result)
            this.handleModalClose()
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    getDataChange(val) {
      this.$emit('get-data', val)
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
</style>
