<template>
  <div>
    <!-- ===== Left Coponent===== -->
    <sale-list
      :order-doc="orderDoc"
      :order-list="orderList"
      :general-guest-id="generalGuestId"
      :employee-id="employeeId"
      :base-currency="baseCurrency"
      :current-guest-name="currentGuestName"
      @active-tab="handleActiveTabChange"
      @selected-item="handleSelectedItem"
      @calculated="handleCalculated"
    ></sale-list>

    <!-- right -->
    <div class="right-side">
      <!-- Item tab -->
      <div class="table-panel">
        <el-button
          :plain="true"
          class="table-btn"
          @click="handleClickTable"
        >{{ currentFloor }}: {{ currentTable }}</el-button>
      </div>

      <el-tabs
        v-model="activeTab"
        type="card"
        class="invoice-tab"
        editable
        @edit="handleTabsEdit"
      >
        <el-tab-pane
          v-for="order in orders"
          :key="order._id"
          :label="order._id"
          :name="order._id"
          class="order-tab-pane"
        >
          <!-- home panel-->
          <div class="right-header-panel">
            <div class="all-category-panel">
              <el-button
                :class="categoryButtonColor"
                type="primary"
                class="all-category-btn raise"
                @click="handleClickAllCategory"
              >{{ $t('rest.sale.all') }}</el-button>
            </div>

            <!-- Search -->
            <div class="search-panel">
              <el-input
                ref="searchInput"
                v-model="search"
                :placeholder="$t('rest.sale.search')"
                prefix-icon="el-icon-search"
                @focus="handleFocusSearch"
              ></el-input>
            </div>

            <div class="category-wrapper">
              <el-tabs
                v-model="activeCategory"
                class="category-tab"
              >
                <el-tab-pane
                  v-for="(item, index) in categoryList"
                  :key="index"
                  :label="item.name"
                  :name="item._id"
                  style="height:0;"
                ></el-tab-pane>
              </el-tabs>
            </div>
          </div>
          <!-- category tab -->
        </el-tab-pane>
      </el-tabs>

      <!-- Items -->
      <div class="content-container">
        <div
          id="scrollProduct"
          class="product-list-scroll product-list-container"
        >
          <div
            v-if="visibleProductList"
            class="product-list"
          >
            <!-- // Transition -->
            <transition-group name="fade">
              <div
                v-for="(item,index) in products"
                :key="index"
                class="product"
                @click="handleItemAdd(item)"
              >
                <!-- Image wrapper -->
                <div class="image-wrapper">
                  <img
                    :src="item.photoUrl!= undefined ? item.photoUrl : '/sale-images/No_Image_Available.jpg'"
                    class="image"
                  >
                  <!-- Discount tag -->
                  <div
                    v-if="item.discounts"
                    class="product-discount-tag"
                  >{{ item.discounts.discount }}%</div>
                </div>

                <!-- Content -->
                <div class="product-name-content">
                  <!-- Name -->
                  <div class="product-name">{{ item.name }}</div>
                </div>
                <!-- Price tag -->
                <div class="product-price-tag">{{ $numeral(item.price).format(baseCurrency.base ==='USD' ?'0,0.00':'0,0') }} {{ baseCurrency.symbol }}</div>
              </div>
            </transition-group>
          </div>
          <!-- // Product list   -->
          <infinite-loading
            ref="loadingRef"
            :distance="200"
            :identifier="infiniteId"
            @infinite="infiniteHandler"
          >
            <div slot="no-more">{{ $t('rest.sale.noMoreItem') }} </div>
            <div slot="no-results">{{ $t('rest.sale.noItem') }} </div>

          </infinite-loading>
        </div>
      </div>
      <!-- Items -->
    </div>
  </div>
</template>

<script>
// Vue
import Vue from 'vue'
import VueBarcodeScanner from 'vue-barcode-scanner'
// inject vue barcode scanner
Vue.use(VueBarcodeScanner)
import InfiniteLoading from 'vue-infinite-loading'
import moment from 'moment'
import _ from 'lodash'
// Notify
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Mapping
import { mapState } from 'vuex'
// Sale List Compoenent
import SaleList from '../components/SaleList.vue'

// Category methods
import { findCategoriesForSale } from '../../api/categories/methods'
// Product methods
import { findProducts, findProductForSale } from '../../api/products/methods'
// Guest
import { findOneGuest } from '../../api/guests/methods'
//
// Sale methods
import {
  findSales,
  insertSale,
  updateSale,
  insertSaleDetail,
  insertSaleDetailList,
  insertSaleDetailExtra,
  findCurrentTableAndFloor,
  removeSale,
} from '../../api/sales/methods'

export default {
  name: 'Sale',
  components: {
    SaleList,
    InfiniteLoading,
  },

  data() {
    return {
      loading: false,
      // Table Id
      tableId: '',
      // Table & Floor
      currentFloor: '',
      currentTable: '',
      // Guest
      currentGuestId: null,
      currentGuestName: 'General',
      generalGuestId: '',
      // Employee
      employeeId: '',
      // Tab Category
      activeCategory: '0',
      categoryButtonColor: 'primary-color',
      // Tab invoice
      activeTab: '0',
      tabIndex: '',
      orders: [{ _id: '' }],
      // cate
      categoryList: [],
      // Search
      search: '',

      // Product list
      products: [],
      orderDoc: null,
      orderList: [],
      // From child
      // Selected item
      selectedItem: [],
      // calculated
      calculated: false,
      // Infinite load
      limit: 0,
      disabledInfiniteScroll: false,
      infiniteId: new Date(),
      visibleProductList: true,
    }
  },
  computed: {
    // Mapping
    ...mapState({
      baseCurrency(state) {
        let currency = {}
        if (state.app.company) {
          let baseCurrency = state.app.company.accounting.baseCurrency
          // base current
          currency.base = baseCurrency
          // currency symbol
          if (baseCurrency == 'KHR') {
            currency.symbol = '៛'
          } else if (baseCurrency == 'USD') {
            currency.symbol = '$'
          } else if (baseCurrency == 'THB') {
            currency.symbol = '฿'
          }
        }

        return currency
      },
    }),
  },
  watch: {
    // Active tab change
    activeTab(val) {
      this.visibleProductList = false
      setTimeout(() => {
        this.visibleProductList = true
      }, 100)
      // Disabled infinite loading
      this.disabledInfiniteScroll = false
      // Set scroll bar from top to 0
      document.getElementById('scrollProduct').scrollTop = 0
      // Clear search
      this.search = ''
      // Clear limit product
      this.limit = 0
      // Clear Products
      this.products = []
      // Update infinite identify
      this.infiniteId += 1
      this.changeOrderList(val)
      this.handleClickAllCategory()
      this.categoryButtonColor = 'primary-color'
    },
    // Active category change
    activeCategory(val) {
      this.visibleProductList = false
      setTimeout(() => {
        this.visibleProductList = true
      }, 100)

      // Disabled infinite loading
      this.disabledInfiniteScroll = false
      // Set scroll bar from top to 0
      document.getElementById('scrollProduct').scrollTop = 0
      // Clear limit product
      this.limit = 0
      // Clear Products
      this.products = []
      // Update infinite identify
      this.infiniteId += 1
      if (val == '0') {
        this.categoryButtonColor = 'primary-color'
        this.limit = 50
        this.handleClickAllCategory()
      } else {
        this.categoryButtonColor = ''
        this.limit = 50
        this.handleClickCategory(val)
      }
    },
    // Products change
    search(searchStr) {
      this.infiniteId += 1
      this.limit = 50
      // Disabled div
      this.visibleProductList = false
      setTimeout(() => {
        this.visibleProductList = true
      }, 100)
      // Disabled infinite loading
      this.disabledInfiniteScroll = false
      // Set scroll bar from top to 0
      document.getElementById('scrollProduct').scrollTop = 0
      // Get product params
      let params = {
        selector: {
          type: { $in: ['Product', 'Dish', 'Catalog', 'ExtraFood'] },
          status: 'Active',
        },
        options: { sort: { name: 1 }, limit: this.limit },
        fromSale: { findPhoto: true },
      }

      // If category filter
      if (this.activeCategory !== '0') {
        params.selector.categoryId = this.activeCategory
      }
      // If search filter
      if (searchStr) {
        params.selector.name = { $regex: searchStr, $options: '$i' }
      }
      // Get products
      this.getProducts(params)
    },
  },
  created() {
    // Add key functions
    window.addEventListener('keyup', this.handleKeyUp)
    // Add barcode scan listener and pass the callback function
    this.$barcodeScanner.init(this.addItemByBarcode)
    // Router params
    this.tableId = this.$route.params.table
    this.generalGuestId = this.$route.params.guestId
    this.employeeId = this.$route.params.employeeId
  },

  mounted() {
    if (this.$route.params.fastSale == true) {
      this.addNewOrder()
    } else {
      this.getOrders()
    }
    this.getCurrentTable()
    this.getCategories()
    // Auto focus search
    setTimeout(() => {
      this.$refs.searchInput[0].focus()
    }, 100)
  },
  destroyed() {
    // Remove key functions
    window.removeEventListener('keyup', this.handleKeyUp)
    // Remove listener when component is destroyed
    this.$barcodeScanner.destroy()
  },
  methods: {
    // Get Invoice
    getOrders() {
      // find
      findSales
        .callPromise({
          selector: {
            tableId: this.$route.params.table,
            status: 'Open',
          },
          options: { sort: { _id: 1 } },
        })
        .then(result => {
          if (result.length) {
            this.orders = result
            // Active tab
            const route = this.$route.params
            if (route.invoiceId != undefined) {
              if (this.activeTab == '0') {
                this.activeTab = route.invoiceId
              } else {
                this.activeTab = route.invoiceId
                this.changeOrderList(route.invoiceId)
              }
              // Router Invoice Undefined
              delete this.$route.params.invoiceId
            } else {
              this.$nextTick(() => {
                if (this.activeTab == '0') {
                  this.activeTab = result[0]._id
                } else {
                  this.changeOrderList(this.activeTab)
                }
              })
            }
          } else {
            // Add new sale
            this.addNewOrder()
          }
        })
        .catch(error => {})
    },

    // Order list change
    changeOrderList(orderId) {
      let currentDoc = _.find(this.orders, { _id: orderId })

      // Reverse
      if (currentDoc != undefined) {
        // Order doc
        this.orderDoc = currentDoc
        // Detail
        this.orderList =
          currentDoc && currentDoc.details ? currentDoc.details : []

        // Remove child detail
        let details = _.cloneDeep(this.orderList)
        _.remove(details, o => {
          return o.child === true
        })
        this.orderList = details

        // Get Current Guest
        this.getCurrentGuest()
        this.currentGuestId = currentDoc.guestId
      }
    },

    // Get current guest
    getCurrentGuest() {
      findOneGuest
        .callPromise({ selector: { _id: this.orderDoc.guestId } })
        .then(result => {
          if (result) {
            this.currentGuestName = result.name
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    // Get Current Table
    getCurrentTable() {
      this.loading = true
      findCurrentTableAndFloor
        .callPromise(this.tableId)
        .then(result => {
          if (result) {
            this.currentFloor = result.floorName
            this.currentTable = result.tableName
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
        })
    },
    // Get category
    getCategories() {
      this.loading = false
      findCategoriesForSale
        .callPromise({
          selector: {
            productType: { $in: ['Product', 'Dish', 'Catalog', 'ExtraFood'] },
          },
          options: { sort: { name: 1 } },
        })
        .then(result => {
          if (result) {
            this.categoryList = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = true
        })
    },

    // Get products
    getProducts(params) {
      this.loading = true
      findProductForSale
        .callPromise(params)
        .then(result => {
          if (result && result.data) {
            // Assign product
            this.products = result.data

            // Check infinite scroll to stop
            if (this.limit >= result.dataCount) {
              this.disabledInfiniteScroll = true
            }
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
        })
    },

    infiniteHandler($state) {
      if (this.disabledInfiniteScroll === false) {
        this.limit += 50

        // Assign param
        let params = {
          selector: {
            type: { $in: ['Product', 'Dish', 'Catalog', 'ExtraFood'] },
            status: 'Active',
          },
          options: { sort: { name: 1 }, limit: this.limit },
          fromSale: { findPhoto: true },
        }

        // If category filter
        if (this.activeCategory !== '0') {
          params.selector.categoryId = this.activeCategory
        }

        // Is search filter
        if (this.search) {
          params.selector.name = { $regex: this.search, $options: '$i' }
        }

        // Get products
        findProductForSale
          .callPromise(params)
          .then(result => {
            if (result && result.data) {
              $state.loaded()
              // Assign product

              this.products = result.data

              // Check infinite scroll to stop
              if (this.limit >= result.dataCount) {
                this.disabledInfiniteScroll = true
              }
              if (this.result.length >= result.dataCount) {
                $state.complete()
              }
              this.loading = false
            } else {
              $state.complete()
            }
          })
          .catch(error => {
            this.loading = false
          })
      } else {
        $state.complete()
      }
    },

    //AddNew
    addNewOrder() {
      const doc = {
        date: new Date(),
        type: 'Invoice',
        status: 'Open',
        statusDate: {
          open: new Date(),
        },
        discountRate: 0,
        discountValue: 0,
        total: 0,
        totalReceived: 0,
        tableId: this.tableId,
        employeeId: this.employeeId,
        guestId: this.generalGuestId,
        numOfGuest: 0,
        billed: 0,
      }

      // Insert
      insertSale
        .callPromise({ doc })
        .then(result => {
          if (result) {
            this.activeTab = result
            this.getOrders()
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },

    // Add Items
    handleItemAdd(val) {
      // console.log(val)
      let baseCurrency = this.baseCurrency
      if (val.catalogType && val.catalogType == 'Set') {
        let doc = val
        doc.invoiceId = this.activeTab

        if (this.calculated == true) {
          setTimeout(() => {
            this.addItemList(doc, baseCurrency)
          }, 150)
        } else {
          this.addItemList(doc, baseCurrency)
        }
      } else if (val.type == 'ExtraFood' && this.selectedItem.length) {
        let doc = {
          itemId: val._id,
          itemName: val.name,
          qty: 1,
          price: val.price,
          discount: 0,
          amount: 0,
          invoiceId: this.activeTab,
          checkPrint: false,
        }

        // Assign value
        let itemList = this.selectedItem
        console.log(itemList)
        // Check if calculate not ready
        if (this.calculated == true) {
          setTimeout(() => {
            this.addExtraItem(doc, itemList, baseCurrency)
          }, 150)
        } else {
          this.addExtraItem(doc, itemList, baseCurrency)
        }
      } else {
        let doc = {
          itemId: val._id,
          qty: 1,
          price: val.price,
          discount: 0,
          amount: 0,
          invoiceId: this.activeTab,
          checkPrint: false,
        }

        let baseCurrency = this.baseCurrency

        // Check if calculate not ready
        if (this.calculated == true) {
          setTimeout(() => {
            this.addItem(doc, baseCurrency)
          }, 150)
        } else {
          this.addItem(doc, baseCurrency)
        }
      }
    },

    // Add item match barcode
    addItemByBarcode(barcode) {
      findProducts
        .callPromise({
          selector: {
            type: { $in: ['Product', 'Dish', 'Catalog'] },
            status: 'Active',
            barcode: barcode,
          },
        })
        .then(result => {
          if (result && result[0]) {
            this.handleItemAdd(result[0])
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },
    // Add item
    addExtraItem(doc, itemList, baseCurrency) {
      insertSaleDetailExtra
        .callPromise({ doc, itemList, baseCurrency })
        .then(result => {
          if (result) {
            this.getOrders()
            this.$emit('newItemDoc', result)
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },
    // Add item
    addItem(doc, baseCurrency) {
      insertSaleDetail
        .callPromise({ doc, baseCurrency })
        .then(result => {
          if (result) {
            this.getOrders()
            this.$emit('newItemDoc', result)
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },
    // Add Item List
    addItemList(doc, baseCurrency) {
      insertSaleDetailList
        .callPromise({ doc, baseCurrency })
        .then(result => {
          if (result) {
            this.getOrders()
            this.$emit('newItemList', result)
          }
        })
        .catch(error => {
          // Notify.error({ message: error })
        })
    },
    // Tab Add/Remove
    handleTabsEdit(targetName, action) {
      if (action === 'add') {
        this.addNewOrder()
      }
      if (action === 'remove') {
        this.$confirm(
          `Invoice ${targetName} will be ${
            this.orderList.length ? 'cancel' : 'remove'
          }, Continue?`,
          'Warning',
          {
            confirmButtonText: 'Ok',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            if (this.orderList.length) {
              let doc = {
                _id: this.orderDoc._id,
                status: 'Cancel',
                'statusDate.cancel': new Date(),
              }

              // Cancel
              updateSale
                .callPromise({
                  doc: doc,
                })
                .then(result => {
                  if (result) {
                    this.activeTab = '0'
                    this.getOrders()
                  }
                })
                .catch(error => {
                  Notify.error({ message: error })
                })
            } else {
              let _id = targetName

              removeSale
                .callPromise({ _id: _id })
                .then(result => {
                  if (result) {
                    this.activeTab = '0'
                    this.getOrders()
                  }
                })
                .catch(error => {
                  Notify.error({ message: error })
                })
            }
          })
          .catch(() => {
            return false
          })
      }
    },
    // Seach focus
    handleFocusSearch(event) {
      setTimeout(() => {
        event.target.select()
      }, 50)
    },
    // Get all Product./nosqlbooster4mongo*.AppImage
    handleClickAllCategory() {
      let params = {
        selector: {
          type: { $in: ['Product', 'Dish', 'Catalog', 'ExtraFood'] },
          status: 'Active',
        },
        options: { sort: { name: 1 }, limit: 50 },
        fromSale: { findPhoto: true },
      }

      // If search filter
      if (this.search) {
        params.selector.name = { $regex: this.search, $options: '$i' }
      }
      // Get products
      this.getProducts(params)
      // Set category to all
      this.activeCategory = '0'
    },

    // Get Products by category
    handleClickCategory(category) {
      if (category != undefined) {
        let params = {
          selector: {
            categoryId: category,
            type: { $in: ['Product', 'Dish', 'Catalog', 'ExtraFood'] },
            status: 'Active',
          },
          options: { sort: { name: 1 }, limit: 50 },
          fromSale: { findPhoto: true },
        }
        // If search filter
        if (this.search) {
          params.selector.name = { $regex: this.search, $options: '$i' }
        }
        // Get products
        this.getProducts(params)
      }
    },

    // ==== From Child =======//

    // activeTab change
    handleActiveTabChange(val) {
      this.activeTab = val
    },
    // If child component change value
    handleSelectedItem(val) {
      this.selectedItem = val
    },

    handleCalculated(val) {
      this.calculated = val
    },

    // Click table button and go back to table page
    handleClickTable() {
      this.$router.push({ name: 'rest.saleTable' })
    },
    // On keyup function
    handleKeyUp(event) {
      if (event.keyCode == 27) {
        this.$router.push({
          name: 'rest.saleTable',
        })
      }
    },
  },
}
</script>

<style lang="less" scoped>
// Sale
@import '{}/../../styles/saleStyle.less';
.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.fade-enter-active {
  transition: all 0.3s ease-in-out;
}
.fade-leave-active {
  transition: all 0s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  position: absolute;
  opacity: 0;
}

// .fade-move {
//   // transform: translateX(100%);
// }
</style>


