<template>
  <div>
    <el-dialog
      v-loading="loading"
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      class="receipt-dialog"
      top="30px"
      title="Sale Receipt"
    >
      <!-- Form -->
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="90px"
        label-position="top"
      >
        <el-row>
          <el-col :span="24">
            <!--Fieldset-->
            <fieldset class="field-set">
              <el-col :span="8">
                <div
                  class="header-panel"
                  style="padding-left:10px"
                >
                  <span class="header-title">
                    {{ $t('rest.sale.invoice') }}:
                  </span>
                  <span class="header-text">
                    {{ orderDoc._id }}
                  </span>
                </div>
              </el-col>

              <el-col :span="8">
                <div
                  class="header-panel"
                  style="text-align:center"
                >
                  <span class="header-title">
                    {{ $t('rest.sale.date') }}:
                  </span>
                  <span class="header-text">
                    {{ date }}
                  </span>
                </div>
              </el-col>

              <el-col :span="8">
                <div
                  class="header-panel"
                  style="right:10px;text-align:right"
                >
                  <span class="header-title">
                    {{ $t('rest.sale.customer') }}:
                  </span>
                  <span class="header-text">
                    {{ guestName }}

                    <el-popover
                      v-model="visiblePopup"
                      placement="bottom-end"
                      popper-class="popover-customer"
                      title="New Customer"
                      width="auto"
                      trigger="click"
                    >
                      <add-customer
                        @customer-doc="handleGetCustomer"
                        @close-popup="handleClosePopup"
                      ></add-customer>

                      <el-button
                        v-show="visibleAddCustomer == true"
                        slot="reference"
                        type="primary"
                        icon="el-icon-plus"
                        class="btn-customer-add"
                      ></el-button>
                    </el-popover>
                  </span>
                </div>
              </el-col>

              <el-col :span="16">
                <div
                  class="header-panel"
                  style="padding-left:10px"
                >
                  <span class="header-title">
                    {{ $t('rest.sale.exchangeRate') }}:
                  </span>

                  <span
                    class="header-text"
                    style="padding:0 5px"
                  >{{ $numeral(exchange.khr).format('0,0.00') }}៛ =</span>
                  <span
                    class="header-text"
                    style="padding:0 5px"
                  >{{ $numeral(exchange.usd).format('0,0.00') }}$ =</span>
                  <span
                    class="header-text"
                    style="padding:0 5px"
                  >{{ $numeral(exchange.thb).format('0,0.00') }}฿</span>
                </div>
              </el-col>

            </fieldset>
          </el-col>

          <el-col
            v-click-outside="handleOutsideCalculator"
            :span="8"
            class="left-side"
          >
            <div class="wrap-numpad">
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('1')"
              >1</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('2')"
              >2</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('3')"
              >3</button>
              <br>
            </div>
            <div class="wrap-numpad">
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('4')"
              >4</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('5')"
              >5</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('6')"
              >6</button>
              <br>
            </div>

            <div class="wrap-numpad">
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('7')"
              >7</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('8')"
              >8</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('9')"
              >9</button>
              <br>
            </div>

            <div class="wrap-numpad">
              <button
                type="button"
                class="numpad btn-delete"
                @click="handleClickNumpad('delete')"
              >
                <i class="el-icon-delete"></i>
              </button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('0')"
              >0</button>
              <button
                type="button"
                class="numpad"
                @click="handleClickNumpad('.')"
              >.</button>
              <br>
            </div>
          </el-col>

          <el-col
            :span="16"
            class="right-side"
          >
            <div class="panel">

              <el-form-item
                :label=" `${$t('rest.formLabel.date')}:`"
                prop="date"
              >
                <el-date-picker
                  v-model="form.date"
                  :default-time="`${new Date().getHours()}:${new Date().getMinutes()} :${new Date().getSeconds()}`"
                  style="width:50%"
                  class="input"
                  type="datetime"
                  placeholder="Select date and time"
                >
                </el-date-picker>
              </el-form-item>
            </div>
            <div class="panel">
              <el-form-item :label="`${$t('rest.formLabel.total')}:`">
                <el-col :span="10">
                  <p class="text">៛ {{ $numeral(openAmountExchange.khr).format('0,0') }}</p>
                </el-col>
                <el-col :span="4">
                  <p class="wrap">{{ $t('rest.formLabel.or') }}</p>
                </el-col>
                <el-col :span="10">
                  <p class="text right">$ {{ $numeral(openAmountExchange.usd).format('0,0.00') }}</p>
                </el-col>
              </el-form-item>
            </div>

            <div class="panel">
              <el-form-item :label="`${$t('rest.formLabel.receive')}:`">
                <el-col :span="10">
                  <vue-numeric
                    id="input-khr"
                    v-model="receiveKHR"
                    :precision="0"
                    currency="៛"
                    class="receive-input"
                    separator=","
                    @focus.native="handleFocusReceiveKHR"
                    @input.native="handleChangeReceiveKHR"
                  ></vue-numeric>

                </el-col>
                <el-col :span="4">
                  <p class="wrap">{{ $t('rest.formLabel.or') }}</p>
                </el-col>
                <el-col :span="10">

                  <vue-numeric
                    id="input-usd"
                    v-model="receiveUSD"
                    :precision="2"
                    currency="$"
                    class="receive-input"
                    separator=","
                    @focus.native="handleFocusReceiveUSD"
                    @input.native="handleChangeReceiveUSD"
                  ></vue-numeric>

                </el-col>
              </el-form-item>
            </div>

            <div class="panel">
              <el-form-item :label="`${$t('rest.formLabel.return')}:`">
                <el-col :span="10">
                  <p class="text">៛ {{ $numeral(returnAmount.khr).format('0,0') }}</p>
                </el-col>
                <el-col :span="4">
                  <p class="wrap">{{ $t('rest.formLabel.or') }}</p>
                </el-col>
                <el-col :span="10">
                  <p class="text right">$ {{ $numeral(returnAmount.usd).format('0,0.00') }}</p>
                </el-col>
              </el-form-item>
            </div>
          </el-col>
        </el-row>

        <el-form-item style="text-align: right;margin-top:20px">
          <el-button
            class="receipt-btn"
            type="primary"
            @click="submitForm(true)"
          >
            {{ $t('rest.btn.saveAndPrint') }}
          </el-button>
          <el-button
            class="save-receipt-btn"
            type="success"
            @click="submitForm(false)"
          >
            {{ $t('rest.btn.save') }}
          </el-button>
          <el-button
            class="receipt-btn"
            @click="handleModalClose"
          > {{ $t('rest.btn.cancel') }}</el-button>
        </el-form-item>

      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import VueNumeric from 'vue-numeric'

import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

// Component
import AddCustomer from '../components/AddCustomer.vue'

// Guest
import { findOneGuest } from '../../api/guests/methods'
// Exchange
import { findOneExchange } from '../../../../api/exchanges/methods'

//Sale Receipt
import { insertSaleReceipt } from '../../api/saleReceipts/methods'

export default {
  name: 'SaleReceipt',
  components: {
    AddCustomer,
    VueNumeric,
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    visibleAddCustomer: {
      type: Boolean,
      default: false,
    },
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
    baseCurrency: {
      type: Object,
      default: function() {
        return {}
      },
    },
    employeeId: {
      type: String,
      default: function() {
        return ''
      },
    },
    updateTotalReceipt: {
      type: Boolean,
      default: false,
    },
    fromSaleData: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      labelPosition: 'top',
      loading: false,
      // payment numpad
      calcValue: '',
      payment: '',

      // Model
      currentModal: null,
      modalVisible: false,
      // Visible
      visibleAddButtom: this.visibleAddCustomer,
      visiblePopup: false,
      inputControls: false,
      guestDoc: '',
      guestName: '',
      date: moment(this.orderDoc.date).format('DD/MM/YY hh:mm A'),
      form: {
        date: new Date(),
        openAmount: 0,
        receiveAmount: 0,
        memo: '',
        invoiceId: this.orderDoc._id,
        employeeId: this.employeeId,
      },
      rules: {
        // date: [{ required: true, message: 'Date is required' }],
        date: [
          {
            required: true,
            message: 'Date is required',
          },
        ],
      },

      receiveKHR: 0,
      receiveUSD: 0,
      receiveTHB: 0,
      exchange: {
        khr: 0,
        thb: 0,
        usd: 0,
      },
    }
  },

  // Computed
  computed: {
    // Object of exchange open amount
    openAmountExchange() {
      let exchangeAmount = {}
      if (this.baseCurrency.base == 'KHR') {
        // KHR
        let khr = parseFloat(
          (exchangeAmount.khr =
            this.orderDoc.total - this.orderDoc.totalReceived)
        ).toFixed(2)
        exchangeAmount.khr = _.ceil(khr, -2)
        // USD
        let usd = parseFloat(
          exchangeAmount.khr / (this.exchange.usd * this.exchange.khr)
        ).toFixed(2)
        exchangeAmount.usd = parseFloat(usd)
        // THB
        let thb = parseFloat(exchangeAmount.usd * this.exchange.thb).toFixed(2)
        exchangeAmount.thb = parseFloat(thb)
      } else if (this.baseCurrency.base == 'USD') {
        // USD
        let usd = parseFloat(
          this.orderDoc.total - this.orderDoc.totalReceived
        ).toFixed(2)

        exchangeAmount.usd = parseFloat(usd)
        // KHR
        let khr = parseFloat(
          exchangeAmount.usd * (this.exchange.usd * this.exchange.khr)
        ).toFixed(2)
        exchangeAmount.khr = _.ceil(khr, -2)
        // THB
        let thb = parseFloat(exchangeAmount.usd * this.exchange.thb).toFixed(2)
        exchangeAmount.thb = parseFloat(thb)
      } else if (this.baseCurrency.base == 'THB') {
        // THB
        let thb = parseFloat(
          this.orderDoc.total - this.orderDoc.totalReceived
        ).toFixed(2)
        exchangeAmount.thb = parseFloat(thb)
        // USD
        let usd = parseFloat(exchangeAmount.thb / this.exchange.thb).toFixed(2)
        exchangeAmount.thb = parseFloat(thb)
        exchangeAmount.usd = parseFloat(usd)
        // KHR
        let khr = parseFloat(
          exchangeAmount.usd * (this.exchange.usd * this.exchange.khr)
        ).toFixed(2)
        exchangeAmount.khr = _.ceil(khr, -2)
      }

      return exchangeAmount
    },

    // Object of return amount
    returnAmount() {
      let returnAmount = {}
      // KHR
      returnAmount.khr = this.receiveKHR - this.openAmountExchange.khr
      // USD
      let returnUsd = parseFloat(
        this.receiveUSD - this.openAmountExchange.usd
      ).toFixed(2)
      returnAmount.usd = parseFloat(returnUsd)
      // THB
      let returnThb = parseFloat(
        this.receiveTHB - this.openAmountExchange.thb
      ).toFixed(2)
      returnAmount.thb = parseFloat(returnThb)
      if (returnAmount.khr > 0) {
        return returnAmount
      } else {
        returnAmount.khr = 0
        returnAmount.usd = 0
        returnAmount.thb = 0
        return returnAmount
      }
    },
  },
  watch: {
    // When orderDoc is changed
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
      },
      deep: true,
    },
    // When Exchange is changed
    exchange: {
      handler: function(val) {
        this.exchange = val
      },
      deep: true,
    },
    employeeId: {
      handler: function(val) {
        this.employeeId = val
      },
      deep: true,
    },
    // When Base Currency is changed
    baseCurrency: {
      handler: function(val) {
        this.baseCurrency = val
      },
      deep: true,
    },
    // When receiveKHR is changed
    receiveKHR: {
      handler: function(val) {
        // this.handleChangeReceiveKHR(val)
      },
      deep: true,
    },
    // When receiveUSD is changed
    receiveUSD: {
      handler: function(val) {
        // this.handleChangeReceiveUSD(val)
      },
      deep: true,
    },
    // When receiveTHB is changed
    receiveTHB: {
      handler: function(val) {
        if (val == undefined) {
          this.receiveKHR = 0
          this.receiveUSD = 0
          this.receiveTHB = 0
        }
      },
      deep: true,
    },
  },
  // Created
  created() {
    if (this.baseCurrency.base == 'KHR') {
      this.payment = 'khr'
    } else if (this.baseCurrency.base == 'USD') {
      this.payment = 'usd'
    } else if (this.baseCurrency.base == 'THB') {
      this.payment = 'thb'
    }
  },

  // Mounted
  mounted() {
    // set loading to dialog
    this.$nextTick(() => {
      let loadingInstance = this.$loading({
        target: '.el-dialog',
      })

      setTimeout(() => {
        this.autoFocusReceiveInput()
        loadingInstance.close()
      }, 500)
    })
    this.getCurrentGuest()
    this.getExchange()
  },

  // Methods
  methods: {
    // Get guest
    getCurrentGuest() {
      this.loading = true
      let guestId = this.orderDoc.guestId
      findOneGuest
        .callPromise({ selector: { _id: guestId } })
        .then(result => {
          if (result) {
            this.guestName = result.name
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Find Exchange
    getExchange() {
      this.loading = true
      findOneExchange
        .callPromise({}, { sort: { _id: -1 }, limit: 1 })
        .then(result => {
          if (result) {
            this.exchange = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Auto focus input
    autoFocusReceiveInput() {
      this.receiveKHR = this.openAmountExchange.khr
      this.receiveUSD = this.openAmountExchange.usd
      this.receiveTHB = this.openAmountExchange.thb

      this.$nextTick(() => {
        if (this.baseCurrency.base == 'KHR') {
          document.getElementById('input-khr').focus()
        } else if (this.baseCurrency.base == 'USD') {
          document.getElementById('input-usd').focus()
        } else if (this.baseCurrency.base == 'THB') {
          document.getElementById('input-thb').focus()
        }
      })
    },
    handleFocusReceiveKHR(event) {
      this.calcValue = ''
      this.payment = 'khr'

      setTimeout(() => {
        event.target.select()
      }, 100)
    },
    handleFocusReceiveUSD(event) {
      this.calcValue = ''
      this.payment = 'usd'

      setTimeout(() => {
        event.target.select()
      }, 100)
    },
    handleFocusReceiveTHB(event) {
      this.calcValue = ''
      this.payment = 'thb'

      setTimeout(() => {
        event.target.select()
      }, 100)
    },

    // Receive KHR Changed
    handleChangeReceiveKHR() {
      if (this.receiveKHR === '.') {
        this.receiveKHR = 0
      } else if (this.receiveKHR === '..') {
        this.receiveKHR = 0
        this.calcValue = '.'
        Notify.warning({ message: this.$t('rest.messages.calculateCarefully') })
      }

      if (this.receiveKHR === this.openAmountExchange.khr) {
        // USD
        this.receiveUSD = this.openAmountExchange.usd
        // THB
        this.receiveTHB = this.openAmountExchange.thb
      } else {
        // USD
        let receiveUSD = parseFloat(
          this.receiveKHR / (this.exchange.usd * this.exchange.khr)
        ).toFixed(2)
        this.receiveUSD = parseFloat(receiveUSD)
        // THB
        let receiveTHB = parseFloat(
          this.receiveUSD * this.exchange.thb
        ).toFixed(0)
        this.receiveTHB = parseFloat(receiveTHB)
      }
    },

    // Receive USD Changed
    handleChangeReceiveUSD() {
      if (this.receiveUSD === this.openAmountExchange.usd) {
        // KHR
        this.receiveKHR = this.openAmountExchange.khr
        // THB
        this.receiveTHB = this.openAmountExchange.thb
      } else {
        //KHR
        let receiveKHR =
          this.receiveUSD * (this.exchange.usd * this.exchange.khr)
        this.receiveKHR = _.ceil(receiveKHR, -2)
        // THB
        let receiveTHB = parseFloat(
          this.receiveUSD * this.exchange.thb
        ).toFixed(2)
        this.receiveTHB = parseFloat(receiveTHB)
      }
    },

    // Receive THB Changed
    handleChangeReceiveTHB() {
      if (this.receiveTHB === '.') {
        this.receiveTHB = 0
      } else if (this.receiveTHB === '..') {
        this.receiveTHB = 0
        this.calcValue = '.'
        Notify.warning({ message: this.$t('rest.messages.calculateCarefully') })
      }
      if (this.receiveTHB === this.openAmountExchange.thb) {
        // KHR
        this.receiveKHR = this.openAmountExchange.khr
        // USD
        this.receiveUSD = this.openAmountExchange.usd
      } else {
        // USD
        let receiveUSD = parseFloat(
          this.receiveTHB / this.exchange.thb
        ).toFixed(2)
        this.receiveUSD = parseFloat(receiveUSD)
        // KHR
        let receiveKHR =
          this.receiveUSD * (this.exchange.usd * this.exchange.khr)
        this.receiveKHR = _.ceil(receiveKHR, -2)
      }
    },

    // Numpad
    handleClickNumpad(val) {
      if (val !== 'delete') {
        let firstValue = val
        this.calcValue += firstValue
        if (this.payment == 'khr') {
          this.receiveKHR = parseFloat(this.calcValue)
          // Check error NaN
          if (isNaN(this.receiveKHR) === true) {
            this.receiveKHR = 0
          }
          // Call function
          this.handleChangeReceiveKHR()
        } else if (this.payment == 'usd') {
          this.receiveUSD = parseFloat(this.calcValue)
          // Check error NaN
          if (isNaN(this.receiveUSD) === true) {
            this.receiveUSD = 0
          }
          // Call function
          this.handleChangeReceiveUSD()
        } else if (this.payment == 'thb') {
          this.receiveTHB = parseFloat(this.calcValue)
          // Check error NaN
          if (isNaN(this.receiveTHB) === true) {
            this.receiveTHB = 0
          }
          // Call function
          this.handleChangeReceiveTHB()
        }
      } else {
        if (this.calcValue !== '') {
          let checkLastString = ''
          this.calcValue = this.calcValue.slice(0, -1)
          checkLastString = this.calcValue[this.calcValue.length - 1]

          if (checkLastString == '.') {
            this.calcValue = this.calcValue.slice(0, -1)
          }
          if (this.calcValue == '') {
            checkLastString = ''
          }

          // Base currency
          if (this.payment == 'khr') {
            this.receiveKHR = parseFloat(this.calcValue)
            // Check error NaN
            if (isNaN(this.receiveKHR) === true) {
              this.receiveKHR = 0
            }
            // Call function
            this.handleChangeReceiveKHR()
          } else if (this.payment == 'usd') {
            this.receiveUSD = parseFloat(this.calcValue)
            // Check error NaN
            if (isNaN(this.receiveUSD) === true) {
              this.receiveUSD = 0
            }
            // Call function
            this.handleChangeReceiveUSD()
          } else if (this.payment == 'thb') {
            this.receiveTHB = parseFloat(this.calcValue)
            // Check error NaN
            if (isNaN(this.receiveTHB) === true) {
              this.receiveTHB = 0
            }
            // Call function
            this.handleChangeReceiveTHB()
          }
        }
      }
    },

    // Out-side event
    handleOutsideCalculator() {
      this.calcValue = ''
    },

    // submitForm
    submitForm(print) {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          // Form data
          this.form.status = ''
          this.form.invoiceId = this.orderDoc._id

          if (this.baseCurrency.base == 'KHR') {
            this.form.openAmount = this.openAmountExchange.khr
            this.form.receiveAmount = this.receiveKHR
          } else if (this.baseCurrency.base == 'USD') {
            this.form.openAmount = this.openAmountExchange.usd
            this.form.receiveAmount = this.receiveUSD
          } else if (this.baseCurrency.base == 'THB') {
            this.form.openAmount = this.openAmountExchange.thb
            this.form.receiveAmount = this.receiveTHB
          }

          // Check if customerId change or not
          let customerId = this.guestDoc
            ? this.guestDoc._id
            : this.orderDoc.guestId

          // Insert
          insertSaleReceipt
            .callPromise({
              doc: this.form,
              saleDoc: this.orderDoc,
              customerId: customerId,
              checkInventoryInsert: this.fromSaleData == false ? true : false,
              baseCurrency: this.baseCurrency,
              updateTotal: this.updateTotalReceipt,
            })
            .then(result => {
              if (result) {
                this.loading = false
                // Save & Print
                if (print == true) {
                  this.$router.push({
                    name: 'rest.invoice',
                    params: {
                      receiptId: result,
                      employeeId: this.employeeId,
                      orderDoc: this.orderDoc,
                      exchange: this.exchange,
                      baseCurrency: this.baseCurrency,
                      fromSaleData: this.fromSaleData,
                      receiptPrint: true,
                    },
                  })
                } else {
                  if (this.fromSaleData == true) {
                    this.handleModalClose()
                  } else {
                    this.$router.push({ name: 'rest.saleTable' })
                  }
                }
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },

    // Active tab
    activeTabChange(val) {
      this.$emit('active-tab', val)
    },

    // Data Change
    getDataChange() {
      this.$emit('get-data')
    },
    // Get customer after add
    handleGetCustomer(customer) {
      this.$emit('get-guest')
      this.guestDoc = customer
      this.guestName = customer.name
    },
    // Open new cutomer add popup
    handleClosePopup() {
      this.visiblePopup = false
    },
    // Close current model
    handleModalClose() {
      this.$emit('modal-close')
    },
    // Close add new customer add model
    handleChildModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
      })
    },
  },
}
</script>

<style lang="less" scoped>
@import '{}/../../styles/saleReceiptStyle.less';
</style>
