<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      :title="`${$t('rest.sale.tableChange')}`"
      width="40%"
    >
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
      >
        <el-row>
          <el-col
            :span="12"
            :offset="6"
          >
            <el-form-item
              :label="$t('rest.tableLabel.table')"
              prop="tableId"
            >
              <el-select
                v-model="form.tableId"
                filterable
              >
                <el-option
                  v-for="table in tableOpts"
                  :key="table._id"
                  :label="table.name"
                  :value="table._id"
                >
                </el-option>
              </el-select>
            </el-form-item>

          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { updateSale } from '../../api/sales/methods'
import { findTables } from '../../api/tables/methods.js'

export default {
  name: 'SaleMerge',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
    generalGuest: {
      type: String,
      default: function() {
        return ''
      },
    },
    employeeId: {
      type: String,
      default: function() {
        return ''
      },
    },
  },
  data() {
    return {
      form: {
        tableId: '',
      },
      rules: {
        tableId: [
          {
            required: true,
            message: 'Table is required',
            trigger: 'blur',
          },
        ],
      },

      tableOpts: [],
      orderList: [],
    }
  },
  watch: {
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
      },
      deep: true,
    },
    generalGuest(val) {
      this.generalGuest = val
    },
    employeeId(val) {
      this.generalGuest = val
    },
  },
  mounted() {
    this.getTablesAndSale()
  },
  methods: {
    getTablesAndSale() {
      findTables
        .callPromise({
          selector: {
            _id: { $ne: this.orderDoc.tableId },
          },
          options: { sort: { _id: 1 } },
        })
        .then(result => {
          if (result) {
            this.tableOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    // Submit
    submitForm() {
      this.$refs.form.validate(valid => {
        if (valid) {
          let doc = {}
          doc.tableId = this.form.tableId
          doc._id = this.orderDoc._id
          updateSale
            .callPromise({
              doc: doc,
            })
            .then(result => {
              if (result) {
                this.$router.push({
                  name: 'rest.sale',
                  params: {
                    table: doc.tableId,
                    employeeId: this.employeeId,
                    guestId: this.generalGuest,
                  },
                })
                this.activeTabChange(result)
                this.getDataChange('success')
                this.handleModalClose()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    activeTabChange(val) {
      this.$emit('active-tab', val)
    },
    getDataChange(val) {
      this.$emit('get-data', val)
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
</style>
