<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      :title="$t('rest.sale.merge')"
      width="50%"
    >
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-row>
          <el-col
            :span="12"
            :offset="6"
          >
            <el-form-item
              :label="$t('rest.tableLabel.invoice')"
              prop="invoice"
            >
              <el-select
                v-model="form.invoice"
                filterable
              >
                <el-option-group
                  v-for="table in tableAndSaleOpts"
                  :key="table._id"
                  :label="table.name"
                >
                  <el-option
                    v-for="invoice in table.invoiceDoc"
                    :key="invoice._id"
                    :label="invoice._id"
                    :value="invoice._id"
                  >
                  </el-option>
                </el-option-group>
              </el-select>
            </el-form-item>

          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }} </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { findTableSaleGroup, updateOnMerge } from '../../api/sales/methods'

export default {
  name: 'SaleMerge',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
    generalGuest: {
      type: String,
      default: function() {
        return ''
      },
    },
    employeeId: {
      type: String,
      default: function() {
        return ''
      },
    },
  },
  data() {
    return {
      form: {
        invoice: '',
      },
      rules: {
        invoice: [
          {
            required: true,
            message: 'Invoice is required',
            trigger: 'blur',
          },
        ],
      },

      tableAndSaleOpts: [],
      orderList: [],
    }
  },
  watch: {
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
      },
      deep: true,
    },
    generalGuest(val) {
      this.generalGuest = val
    },
    employeeId(val) {
      this.generalGuest = val
    },
  },
  mounted() {
    this.getTablesAndSale()
  },
  methods: {
    getTablesAndSale() {
      findTableSaleGroup
        .callPromise({
          selector: {
            status: 'Open',
            _id: { $ne: this.orderDoc._id },
          },
          options: { sort: { _id: 1 } },
        })
        .then(result => {
          if (result) {
            this.tableAndSaleOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    // Submit
    submitForm() {
      this.$refs.form.validate(valid => {
        if (valid) {
          updateOnMerge
            .callPromise({
              currentInvoice: this.orderDoc._id,
              mergeInvoice: this.form.invoice,
            })
            .then(result => {
              if (result) {
                this.$router.push({
                  name: 'rest.sale',
                  params: {
                    table: result.tableId,
                    employeeId: this.employeeId,
                    guestId: this.generalGuest,
                  },
                })
                this.activeTabChange(result._id)
                this.getDataChange('success')
                this.handleModalClose()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    activeTabChange(val) {
      this.$emit('active-tab', val)
    },
    getDataChange(val) {
      this.$emit('get-data', val)
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
</style>
