<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :close-on-click-modal="false"
      :title="$t('rest.sale.splite')"
      width="75%"
    >

      <!--Fieldset-->
      <fieldset class="total-fieldset">
        <!--Table List-->
        <legend>{{ $t('rest.sale.item') }}:</legend>
        <el-form
          v-loading.body="loading"
          ref="form"
          :model="form"
          :rules="rules"
        >

          <el-form-item
            :label="$t('rest.tableLabel.table')"
            prop="tableId"
          >
            <el-select
              v-model="form.tableId"
              filterable
            >
              <el-option
                v-for="table in tableOpts"
                :key="table._id"
                :label="table.name"
                :value="table._id"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-table
            :data="form.items"
            highlight-current-row
            style="width: 100%"
          >
            <el-table-column
              :label="$t('rest.tableLabel.no')"
              type="index"
              width="40px"
            >
            </el-table-column>

            <el-table-column
              :label="$t('rest.tableLabel.name')"
              prop="itemId"
            >
              <template slot-scope="scope">
                <el-form-item
                  :key="scope.$index + '.itemId'"
                  :prop="'items.' + scope.$index + '.itemId'"
                  class="form-item"
                >
                  <p class="bold-text">{{ scope.row.itemName }}
                    <!-- If Extra Food -->
                    <span v-if="scope.row.extraItemDoc && scope.row.extraItemDoc.length">
                      <span
                        v-for="item in scope.row.extraItemDoc"
                        :key="item._id"
                      > + {{ item.itemName }}
                      </span>
                    </span>
                  </p>
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.tableLabel.quantity')"
              prop="qty"
            >
              <template slot-scope="scope">
                <el-form-item
                  :key="scope.$index + '.qty'"
                  :prop="'items.' + scope.$index + '.qty'"
                  class="form-item"
                >
                  <el-input-number
                    v-model="scope.row.qty"
                    :min="1"
                    :max="scope.row.maxQty"
                    controls-position="right"
                    size="mini"
                    style="width:100%"
                    @change="handleQtyChange(scope.row)"
                  ></el-input-number>
                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.tableLabel.price')"
              prop="price"
            >
              <template slot-scope="scope">
                <el-form-item
                  :key="scope.$index + '.price'"
                  :prop="'items.' + scope.$index + '.price'"
                  class="form-item"
                >
                  <p class="bold-text">
                    {{ $numeral(scope.row.price).format('0,0.00') }}
                  </p>

                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.tableLabel.discount')"
              prop="discount"
            >
              <template slot-scope="scope">
                <el-form-item
                  :key="scope.$index + '.discount'"
                  :prop="'items.' + scope.$index + '.discount'"
                  class="form-item"
                >
                  <p class="bold-text">
                    {{ scope.row.discount }}
                  </p>

                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column
              :label="$t('rest.tableLabel.amount')"
              prop="amount"
            >
              <template slot-scope="scope">
                <el-form-item
                  :key="scope.$index + '.amount'"
                  :prop="'items.' + scope.$index + '.amount'"
                  class="form-item"
                >
                  <p class="bold-text">
                    {{ $numeral(itemAmount(scope.row) ).format('0,0.00') }}
                  </p>

                </el-form-item>
              </template>
            </el-table-column>

            <el-table-column
              v-if="form.items.length>=2"
              :label="$t('rest.tableLabel.actions')"
              prop="itemId"
              width="70px"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-delete"
                  class="remove-icon"
                  @click="removeItem(scope.row)"
                >
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-form>
      </fieldset>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >{{ $t('rest.btn.save') }}</el-button>
        <el-button @click="handleModalClose">{{ $t('rest.btn.cancel') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'

import { splitSale } from '../../api/sales/methods'
import { findTables } from '../../api/tables/methods.js'

export default {
  name: 'SaleSplit',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    orderDoc: {
      type: Object,
      default: function() {
        return {}
      },
    },
    selectOrderList: {
      type: Array,
      default: function() {
        return []
      },
    },
    generalGuest: {
      type: String,
      default: '',
    },
    employeeId: {
      type: String,
      default: function() {
        return ''
      },
    },
  },
  data() {
    this.selectItemList = _.cloneDeep(this.selectOrderList)
    // Max qty for compare qty
    this.selectItemList = _.forEach(this.selectItemList, o => {
      o.maxQty = _.cloneDeep(o.qty)
    })
    // Set select item to 0
    this.selectOrderList.forEach(o => {
      o.qty = 0
      o.amount = o.qty * o.amount
      if (o.extraItemDoc && o.extraItemDoc.length) {
        o.extraItemDoc.forEach(e => {
          e.amount = o.qty * e.amount
        })
      }
    })

    return {
      loading: false,
      selectItemList: [],
      form: {
        tableId: '',
        items: this.selectItemList,
      },
      orderList: [],
      tableOpts: [],
      rules: {
        tableId: [
          { required: true, message: 'Table is required', trigger: 'blur' },
        ],
      },
    }
  },
  watch: {
    orderDoc: {
      handler: function(val) {
        this.orderDoc = val
      },
      deep: true,
    },
    generalGuest(val) {
      this.generalGuest = val
    },
    employeeId(val) {
      this.generalGuest = val
    },
  },
  mounted() {
    this.getTablesAndSale()
  },
  methods: {
    //  Table row total
    itemAmount(row) {
      let newAmount = row.amount
      if (row.extraItemDoc && row.extraItemDoc.length) {
        row.extraItemDoc.forEach(o => {
          newAmount += o.amount
        })
      }
      return newAmount
    },
    // Find tables
    getTablesAndSale() {
      findTables
        .callPromise({
          selector: {},
          options: { sort: { _id: 1 } },
        })
        .then(result => {
          if (result) {
            this.tableOpts = result
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    // On qty chnage
    handleQtyChange(row) {
      this.$nextTick(() => {
        if (row.qty == undefined) {
          row.qty = 1
        }
        let amountBeforeDiscount = row.qty * row.price
        let discount = (amountBeforeDiscount * row.discount) / 100
        row.amount = amountBeforeDiscount - discount

        // if extra detail
        if (row.extraItemDoc && row.extraItemDoc.length) {
          row.extraItemDoc.forEach(e => {
            let discountEachPrice = (e.price * e.discount) / 100
            let priceAfterDiscount = parseFloat(
              e.price - discountEachPrice
            ).toFixed(2)
            priceAfterDiscount = parseFloat(priceAfterDiscount)
            // Update amount
            e.amount = row.qty * priceAfterDiscount
          })
        }
        // Update current detail
        // Find item index using _.findIndex
        var index = _.findIndex(this.selectOrderList, { _id: row._id })
        let detail = _.find(this.selectOrderList, function(item) {
          return item._id === row._id
        })
        if (index !== -1 && detail) {
          // Update detail doc
          detail.qty = row.maxQty - row.qty
          let itemAmountBeforeDiscount = detail.qty * detail.price
          let itemDiscount = (itemAmountBeforeDiscount * detail.discount) / 100
          detail.amount = itemAmountBeforeDiscount - itemDiscount
          // if extra detail
          if (detail.extraItemDoc && detail.extraItemDoc.length) {
            detail.extraItemDoc.forEach(e => {
              let discountEachPrice = (e.price * e.discount) / 100
              let priceAfterDiscount = parseFloat(
                e.price - discountEachPrice
              ).toFixed(2)
              priceAfterDiscount = parseFloat(priceAfterDiscount)
              // Update amount
              e.amount = detail.qty * priceAfterDiscount
            })
          }

          // Replace item at index using native splice
          this.selectOrderList.splice(index, 1, detail)
        }
      })
    },

    // Subit Form
    submitForm() {
      this.$refs.form.validate(valid => {
        if (valid) {
          let total = 0

          // Details
          let details = []

          _.forEach(this.form.items, o => {
            total += o.amount
            // If Extrafood
            if (o.extraItemDoc && o.extraItemDoc.length) {
              o.extraItemDoc.forEach(e => {
                total += e.amount
              })
            }

            // Pick doc
            let pickDoc = _.pick(o, [
              'itemId',
              'qty',
              'discount',
              'price',
              'amount',
              'invoiceId',
              'checkPrint',
              'originalPrice',
              'discountDetail',
              'extraItemDoc',
            ])
            details.push(pickDoc)
          })

          // No discount
          const doc = {
            date: new Date(),
            type: 'Invoice',
            status: 'Open',
            statusDate: {
              open: new Date(),
            },
            discountRate: 0,
            discountValue: 0,
            total: total,
            totalReceived: 0,
            tableId: this.form.tableId,
            employeeId: this.employeeId,
            guestId: this.generalGuest,
            numOfGuest: 0,
            billed: 0,
          }

          // Call method
          splitSale
            .callPromise({
              doc: doc,
              details: details,
              currentDetails: this.selectOrderList,
              currentInvoice: this.orderDoc._id,
            })
            .then(result => {
              if (result) {
                this.$router.push({
                  name: 'rest.sale',
                  params: {
                    table: doc.tableId,
                    employeeId: this.employeeId,
                    guestId: this.generalGuest,
                  },
                })
                this.$emit('active-tab', result)
                this.$emit('get-data', 'success')
                this.handleModalClose()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },

    removeItem(item) {
      const index = this.form.items.indexOf(item)

      if (index !== -1) {
        this.removeAction = index < this.form.items.length - 1 ? true : false

        this.$nextTick(() => {
          this.form.items.splice(index, 1)
          this.selectOrderList.splice(index, 1)
        })
      }
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style  lang="less"  scoped>
.bold-text {
  font-weight: bold;
}
.el-form-item--small {
  .el-form-item {
    margin-bottom: 0;
  }
}

.form-item {
  margin-bottom: 0px;
}

.remove-icon {
  color: #f56c6c;
  text-align: center;
}

.invoice-field {
  margin-top: 20px;
  margin-bottom: 10px !important;
}
</style>