<template>
  <div class="collapse-list">
    <el-collapse v-model="activeName">
      <!--General-->
      <el-collapse-item name="1">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-cog"></i> {{ $t('rest.general') }}
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in generalSetting"
            :span="6"
            :key="index"
            class="list-tile"
          >
            <div @click="handleLink(item.route)">
              <span class="list-title">
                {{ item.title }}
              </span>
              <div class="list-memo">{{ item.memo }}</div>
            </div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  name: 'Setting',
  data() {
    return {
      activeName: ['1'],
    }
  },
  computed: {
    generalSetting() {
      let list = [
        {
          route: 'rest.category',
          title: this.$t('rest.setting.title.category'),
          memo: '_____________________',
        },
        {
          route: 'rest.group',
          title: this.$t('rest.setting.title.group'),
          memo: '_____________________',
        },
        {
          route: 'rest.unit',
          title: this.$t('rest.setting.title.unit'),
          memo: '_____________________',
        },
        {
          route: 'rest.station',
          title: this.$t('rest.setting.title.station'),
          memo: '_____________________',
        },

        {
          route: 'rest.ingredient',
          title: this.$t('rest.setting.title.ingredient'),
          memo: '_____________________',
        },
        {
          route: 'rest.product',
          title: this.$t('rest.setting.title.product'),
          memo: '_____________________',
        },
        {
          route: 'app.exchange',
          title: this.$t('rest.setting.title.exchange'),
          memo: '_____________________',
        },
        {
          route: 'rest.importData',
          title: this.$t('rest.setting.title.importData'),
          memo: '_____________________',
        },
      ]
      return list
    },
  },
  methods: {
    handleLink(route) {
      this.$router.push({ name: route })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/ui/styles/collapse-list.scss';
</style>