<template>
  <div>
    <fieldset>
      <legend>{{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }}</legend>
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        :inline="true"
        size="mini"
        label-width="110px"
      >

        <el-form-item
          :label="$t('rest.formLabel.name')"
          prop="name"
        >
          <el-input
            ref="name"
            v-model="form.name"
            :autofocus="true"
          ></el-input>
        </el-form-item>

        <el-form-item
          :label="$t('rest.formLabel.telephone')"
          prop="telephone"
        >
          <el-input
            v-model="form.telephone"
            placeholder=""
          >

          </el-input>
        </el-form-item>

        <el-form-item
          :label="$t('rest.formLabel.address')"
          prop="address"
        >
          <el-input
            v-model="form.address"
            placeholder=""
          ></el-input>
        </el-form-item>

        <el-form-item>
          <el-button
            class="btnNew"
            type="primary"
            @click="submitForm"
          > {{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }} </el-button>
          <el-button
            v-if="formType === 'Update'"
            @click="handleCancel"
          >{{ $t('rest.btn.cancel') }}</el-button>
        </el-form-item>
      </el-form>
    </fieldset>
    <!-- </el-dialog> -->
  </div>
</template>

<script>
import _ from 'lodash'
// Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// Validate Method
import { validateSupplierExist } from '../../utils/validate-methods'

import { upsertSupplier } from '../../api/suppliers/methods'

export default {
  name: 'SupplierInsert',
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const validateName = (rule, value, callback) => {
      let selector = { name: value }
      // Check update form
      if (this.formType === 'Update') {
        selector._id = { $ne: this.updateDoc._id }
      }

      if (value) {
        validateSupplierExist
          .callPromise({
            selector,
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }
    return {
      form: {
        name: '',
        telephone: '',
        address: '',
      },
      rules: {
        name: [
          { required: true, trigger: 'change' },
          { validator: validateName, trigger: 'blur' },
        ],
        telephone: [{ required: true, trigger: 'change' }],
      },
    }
  },
  watch: {
    updateDoc(val) {
      if (val) {
        this.form = val
        this.focusForm('name')
      } else {
        this.form = {
          name: '',
          telephone: '',
          address: '',
        }
      }
    },
  },
  mounted() {
    this.focusForm('name')
  },
  methods: {
    focusForm(refName) {
      this.$refs[refName].$el.querySelector('input').focus()
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.formType === 'Update') {
            this.form = _.pick(this.form, [
              '_id',
              'name',
              'telephone',
              'address',
            ])
          }

          upsertSupplier
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleCancel()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.resetForm()
      this.focusForm('name')
      this.$emit('form-change')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';
.btnNew {
  margin-left: 110px;
}
</style>

