<template>
  <div>
    <fieldset>
      <legend>{{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }}</legend>
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        :inline="true"
        size="mini"
        label-width="110px"
      >

        <el-form-item
          :label="$t('rest.formLabel.name')"
          prop="name"
        >
          <el-input
            ref="name"
            v-model="form.name"
            :autofocus="true"
          ></el-input>
        </el-form-item>

        <el-form-item
          :label="$t('rest.formLabel.numOfGuest')"
          prop="numOfGuest"
          label-width="150px"
        >
          <el-input-number
            v-model.number="form.numOfGuest"
            :min="1"
            controls-position="right"
          >

          </el-input-number>
        </el-form-item>

        <el-form-item
          :label="$t('rest.formLabel.floor')"
          prop="floorId"
        >
          <el-select
            v-model="form.floorId"
            placeholder=""
          >
            <el-option
              v-for="floor in floorDoc"
              :key="floor._id"
              :label="floor.name"
              :value="floor._id"
            >
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            @click="submitForm"
          > {{ formType === 'New'?$t('rest.formLabel.new'):$t('rest.formLabel.update') }} </el-button>
          <el-button
            v-if="formType === 'Update'"
            @click="handleCancel"
          >{{ $t('rest.btn.cancel') }}</el-button>
        </el-form-item>

      </el-form>
    </fieldset>
    <!-- </el-dialog> -->
  </div>
</template>

<script>
import _ from 'lodash'
//Message
import Msg from '/imports/ui/lib/message'
import Notify from '/imports/ui/lib/notify'
// Validate Method
import { validateTableExist } from '../../utils/validate-methods'

import { findFloors } from '../../api/floors/methods'
import { upsertTable } from '../../api/tables/methods'
export default {
  name: 'TableInsert',
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const validateName = (rule, value, callback) => {
      let selector = { name: value }
      // Check update form
      if (this.formType === 'Update') {
        selector._id = { $ne: this.updateDoc._id }
      }

      if (value) {
        validateTableExist
          .callPromise({
            selector,
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }
    return {
      floorDoc: [],
      form: {
        name: '',
        numOfGuest: '',
        floorId: '',
      },
      rules: {
        name: [
          { required: true, trigger: 'change' },
          { validator: validateName, trigger: 'blur' },
        ],
        numOfGuest: [
          {
            type: 'number',
            required: true,
            message: 'Please input number',
            trigger: 'change',
          },
        ],
        floorId: [{ required: true, trigger: 'change' }],
      },
    }
  },
  watch: {
    updateDoc(val) {
      if (val) {
        this.form = val
        this.focusForm('name')
      } else {
        this.form = {
          name: '',
          numOfGuest: '',
          floorId: '',
        }
      }
    },
  },
  mounted() {
    this.focusForm('name')
    this.getFloor()
  },
  methods: {
    // Focus Form
    focusForm(refName) {
      this.$refs[refName].$el.querySelector('input').focus()
    },

    //Get Floor
    getFloor() {
      this.loading = true
      findFloors
        .callPromise({})
        .then(result => {
          this.floorDoc = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Submit form
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.form.numOfGuest = parseInt(this.form.numOfGuest)

          if (this.formType === 'Update') {
            this.form = _.pick(this.form, [
              '_id',
              'name',
              'floorId',
              'numOfGuest',
            ])
          }

          upsertTable
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.loading = false
                Msg.success()
                this.handleCancel()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },

    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleCancel() {
      this.resetForm()
      this.focusForm('name')
      this.$emit('form-change')
    },
  },
}
</script>

<style lang="less" scoped>
@import '../styles/main.less';

fieldset {
  width: 95%;
}
</style>

