<template>
  <div>
    <table-form
      :form-type="formType"
      :update-doc="updateDoc"
      @form-change="handleFormChange"
    >
    </table-form>

    <!--Data Table-->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
      </el-table-column>

      <!-- Table Action -->
      <el-table-column
        :label="$t('rest.tableLabel.actions')"
        align="center"
        fixed="right"
        width="80"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables>

  </div>
</template>

<script>
import Notify from '/imports/ui/lib/notify'

// Mixin
import dataTablesMixin from '/imports/ui/mixins/data-tables'
import softRemoveMixin from '/imports/ui/mixins/soft-remove'
import restoreMixin from '/imports/ui/mixins/restore'
import removeMixin from '/imports/ui/mixins/remove'

// Table Action
import TableAction from '/imports/ui/components/TableAction.vue'
import TableForm from './TableForm.vue'
import {
  findTableAggregate,
  removeTable,
  usedTable,
} from '../../api/tables/methods'

export default {
  name: 'Table',
  components: { TableAction, TableForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      updateDoc: null,

      // Datatable
      tableData: [],
    }
  },
  computed: {
    tableTitles() {
      let list = [
        { label: this.$t('rest.tableLabel.name'), prop: 'name' },
        { label: this.$t('rest.tableLabel.numOfGuest'), prop: 'numOfGuest' },
        { label: this.$t('rest.tableLabel.floor'), prop: 'floorName' },
      ]
      return list
    },
  },
  created() {},
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findTableAggregate
        .callPromise({})
        .then(result => {
          if (result) {
            result.sort(function(a, b) {
              return a.name.localeCompare(b.name, undefined, {
                numeric: true,
                sensitivity: 'base',
              })
            })
            this.tableData = result
            this.loading = false
          }
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Table Action
    actionsList(row) {
      let actions = [
        { label: this.$t('rest.tableLabel.edit'), value: 'edit' },
        { label: this.$t('rest.tableLabel.remove'), value: 'remove' },
      ]

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Update'
      this.updateDoc = row
    },

    remove(row) {
      usedTable.callPromise(row._id).then(result => {
        if (result.used == false) {
          this.$_removeMixin({
            meteorMethod: removeTable,
            selector: { _id: row._id },
            successMethod: 'getData',
            loading: 'loading',
            title: row.title,
          })
        } else if (result.used == true) {
          this.$message({
            type: 'error',
            duration: 7000,
            showClose: true,
            message: this.$t('rest.messages.usedItem'),
          })
        }
      })
    },
    handleFormChange() {
      this.formType = 'New'
      this.updateDoc = null
      this.getData()
    },
  },
}
</script>


<style lang="less" scoped>
@import '../styles/main.less';
</style>

